@model Esfa.Recruit.Employer.Web.ViewModels.AboutEmployer.AboutEmployerViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-about-employer";
    ViewBag.ZenDeskLabel = "recruit-about-employer";
    ViewBag.Title = "Employer information";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
        <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.EmployerName_Get" esfa-automation="link-back" class="govuk-back-link">Back</a>
        <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Information about @Model.EmployerTitle
        </h1>
        <p class="govuk-body">Updating the employer information will also update the employer information on any unapproved vacancies eg. draft, pending review or rejected vacancies.</p>
        <form asp-route="@RouteNames.AboutEmployer_Get">
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
                <div class="govuk-form-group" esfa-validation-marker-for="EmployerDescription">
                    <label asp-for="EmployerDescription" class="govuk-label">Tell us about your organisation</label>
                    <span esfa-validation-message-for="EmployerDescription" class="govuk-error-message"></span>
                    <textarea class="govuk-textarea govuk-js-character-count" asp-for="EmployerDescription" rows="5" aria-describedby="EmployerDescription-info"></textarea>
                </div>
                <div id="EmployerDescription-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 500 characters
                </div>
            </div>
            <div esfa-validation-marker-for="EmployerWebsiteUrl" class="govuk-form-group">
                <label asp-for="EmployerWebsiteUrl" class="govuk-label">Website for organisation (optional)</label>
                <span esfa-validation-message-for="EmployerWebsiteUrl" class="govuk-error-message"></span>
                <div asp-show="@Model.IsAnonymous" class="govuk-hint">The website will not be shown as the employer is anonymous</div>
                <input asp-for="EmployerWebsiteUrl" class="govuk-input govuk-!-width-three-quarters" maxlength="100" />
            </div>
            <div class="govuk-button-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                    <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>    
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                    <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>    
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>