@model Esfa.Recruit.Employer.Web.ViewModels.AboutEmployer.AboutEmployerViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-about-employer";
    ViewBag.ZenDeskLabel = "recruit-about-employer";
    ViewBag.Title = "Add some information about your organisation";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
            <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.EmployerName_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
            <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </esfaFeatureEnabled>
        
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Add some information about @Model.EmployerTitle
        </h1>
        
        <form asp-route="@RouteNames.AboutEmployer_Get">
            <div esfa-validation-marker-for="EmployerDescription" class="govuk-form-group">
                <label asp-for="EmployerDescription" class="govuk-label govuk-!-font-weight-bold">Tell us about your organisation</label>
                <span esfa-validation-message-for="EmployerDescription" class="govuk-error-message"></span>
                <textarea asp-for="EmployerDescription" class="govuk-textarea character-count" rows="5" data-val-length-max="500"></textarea>
                <span class="govuk-body maxchar-count">500</span>
                <span class="govuk-body maxchar-text"> characters remaining</span>
            </div>
            <div esfa-validation-marker-for="EmployerWebsiteUrl" class="govuk-form-group">
                <label asp-for="EmployerWebsiteUrl" class="govuk-label govuk-!-font-weight-bold">Website for organisation (optional)</label>
                <span esfa-validation-message-for="EmployerWebsiteUrl" class="govuk-error-message"></span>
                <div asp-show="@Model.IsAnonymous" class="govuk-hint">The website will not be shown as the employer is anonymous</div>
                <input asp-for="EmployerWebsiteUrl" class="govuk-input govuk-!-width-three-quarters" maxlength="100" />
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <div class="govuk-body">
                    <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                        <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Cancel</a>
                        <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="cancel" class="govuk-link">Cancel</a>    
                    </esfaFeatureEnabled>
                    <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                        <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="cancel" class="govuk-link">Cancel</a>    
                    </esfaFeatureDisabled>
                </div>
            </div>
        </form>
    </div>
</div>