@model Esfa.Recruit.Employer.Web.ViewModels.AboutEmployerViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">@Model.Title</h1>
        <hr>
        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames })
        <form asp-route="@RouteNames.AboutEmployer_Get">
            <div esfa-validation-marker-for="EmployerDescription" class="form-group">
                <label asp-for="EmployerDescription" class="form-label-bold">Tell us about your organisation</label>
                <span esfa-validation-message-for="EmployerDescription" class="error-message"></span>
                <textarea asp-for="EmployerDescription" class="form-control form-control-3-4" rows="5" maxlength="500"></textarea>
            </div>
            <div esfa-validation-marker-for="EmployerWebsiteUrl" class="form-group">
                <label asp-for="EmployerWebsiteUrl" class="form-label-bold">Your organisation's website (optional)</label>
                <span esfa-validation-message-for="EmployerWebsiteUrl" class="error-message"></span>
                <input asp-for="EmployerWebsiteUrl" class="form-control" maxlength="100" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="button" />
                <a asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@AboutEmployerViewModel.PreviewSectionAnchor" esfa-automation="cancel" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>