@using Esfa.Recruit.Provider.Web.RouteModel

@model Esfa.Recruit.Provider.Web.ViewModels.Dashboard.DashboardViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-dashboard";
    ViewBag.Title = "Recruitment";

    var vacancyRouteModel = new VacancyRouteModel {Ukprn = Model.Ukprn};
    var vacanciesSearchSuggestionsEndpointUrl = @Url.RouteUrl(RouteNames.VacanciesSearchSuggestions_Get, vacancyRouteModel.RouteDictionary, Context.Request.Scheme);
}


    <div asp-show="@(_serviceParameters.VacancyType is VacancyType.Traineeship)" class="govuk-notification-banner govuk-notification-banner--information" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3>
                Find a traineeship will now close on 31 December 2023.
            </h3>
            <p>
                After this date, you will not be able to advertise your traineeship courses on GOV.UK.
            </p>
            <p>
                Read <a href="https://www.gov.uk/guidance/traineeship-information-for-training-providers" target="_blank" rel="noreferrer">traineeship information for training providers</a> and learn more about how traineeships are changing.
            </p>
        </div>
    </div>


<partial asp-hide="@Model.HasAnyVacancies" name="_ProviderNoVacanciesContent" model="@vacancyRouteModel" />

<div asp-show="@Model.HasAnyVacancies">

    <partial name="@PartialNames.Alerts" for="Alerts" />

    <div class="govuk-grid-row" asp-show="@Model.HasAnyVacancies">
        <div class="govuk-grid-column-one-half">
            @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
            {
                <h1 class="govuk-heading-xl">Recruitment</h1>
            }
            else
            {
                <h1 class="govuk-heading-xl">Your traineeship vacancies </h1>
            }
            
        </div>
        <div class="govuk-grid-column-one-half ">
            <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                <a asp-route="@RouteNames.CreateVacancyStart"  asp-route-ukprn="@Model.Ukprn" class="govuk-button das-float-right govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create vacancy</a>
            </esfaFeatureEnabled>
            <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                <a asp-route="@RouteNames.Employer_Get" asp-route-ukprn="@Model.Ukprn"  class="govuk-button das-float-right govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create vacancy</a>    
            </esfaFeatureDisabled>
        </div>
    </div>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-route="@RouteNames.Vacancies_Get" asp-all-route-data="@vacancyRouteModel.RouteDictionary" method="get" autocomplete="off">
                <div class="govuk-form-group">
                    <label for="search-input" class="govuk-label">
                        Search by vacancy title or reference number
                    </label>
                    <div class="das-search-form__group">
                        <input id="search-input" name="searchTerm" title="Search" class="govuk-input das-search-form__input app-vacancy-autocomplete" type="text" maxlength="200" data-apiurl="@vacanciesSearchSuggestionsEndpointUrl" />
                        <div class="das-search-form__button-wrap">
                            <button class="govuk-button das-search-form__button" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="govuk-grid-row app-card__row">
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountDraft</span>
                        <a asp-route="@RouteNames.Vacancies_Get"  asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.Draft" class="govuk-link  govuk-link--no-visited-state">
                            @FilteringOptions.Draft @Model.VacancyTextDraft
                        </a>
                    </h3>
                    <p class="govuk-body app-card__description">Vacancies that you need to complete and send for review.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountSubmitted</span>
                        <a asp-route="@RouteNames.Vacancies_Get"  asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.Submitted" class="govuk-link  govuk-link--no-visited-state">
                            @FilteringOptions.Submitted.GetDisplayName(UserType.Provider)
                        </a>
                    </h3>
                    <p class="govuk-body app-card__description">Vacancies that have been sent for review.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountReferred</span>
                        <a asp-route="@RouteNames.Vacancies_Get"  asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.Referred" class="govuk-link  govuk-link--no-visited-state">
                            @FilteringOptions.Referred.GetDisplayName() @Model.VacancyTextReferred
                        </a>
                    </h3>
                    <p class="govuk-body app-card__description">Rejected vacancies will need to be edited and resubmitted.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row app-card__row">
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountLive</span>
                        <a asp-route="@RouteNames.Vacancies_Get"  asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.Live" class="govuk-link  govuk-link--no-visited-state">
                            @FilteringOptions.Live @Model.VacancyTextLive
                        </a>
                    </h3>
                    @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
                    {
                        <p class="govuk-body app-card__description">Vacancies on Find an apprenticeship service.</p>

                    }
                    else
                    {
                        <p class="govuk-body app-card__description">Vacancies on Find a traineeship.</p>
        
                    }
                    <ul class="govuk-list app-card__tasks" asp-show="@(Model.ShowNoOfVacanciesClosingSoon || Model.ShowNoOfVacanciesClosingSoonWithNoApplications)">
                        <li asp-show="@Model.ShowNoOfVacanciesClosingSoon">
                            <a class="govuk-link  govuk-link--no-visited-state" asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.ClosingSoon">@Model.NoOfVacanciesClosingSoon live @Model.VacancyTextClosingSoon closing soon</a>
                        </li>
                        <li asp-show="@Model.ShowNoOfVacanciesClosingSoonWithNoApplications">
                            <a class="govuk-link  govuk-link--no-visited-state" asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.ClosingSoonWithNoApplications">
                                @Model.NoOfVacanciesClosingSoonWithNoApplications live @Model.VacancyTextClosingSoonWithNoApplications closing soon with no applications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.NoOfNewApplications</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.NewApplications" class="govuk-link  govuk-link--no-visited-state">
                            New @Model.ApplicationTextLive
                        </a>
                    </h3>
                    @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
                    {
                        <p class="govuk-body app-card__description">Applications from Find an apprenticeship service.</p>

                    }
                    else
                    {
                        <p class="govuk-body app-card__description">Applications from Find a traineeship. </p>
        
                    }
                    <ul class="govuk-list app-card__tasks" asp-show="@Model.ShowAllApplications">
                        <li>
                            <a class="govuk-link ga-track-anchor-click" asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.AllApplications" data-ga-event-category="link - click">
                                View all applications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountClosed</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.Closed" class="govuk-link  govuk-link--no-visited-state">
                            @FilteringOptions.Closed @Model.VacancyTextClosed
                        </a>
                    </h3>
                    @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
                    {
                        <p class="govuk-body app-card__description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</p>

                    }
                    else
                    {
                        <p class="govuk-body app-card__description">Vacancies that have passed the closing date.</p>
        
                    }
                </div>
            </div>
        </div>
    </div>

    <a asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn"  asp-route-filter="@FilteringOptions.All" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state">
        View all your vacancies (@Model.NumberOfVacancies)
    </a>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
    <div class="govuk-grid-row">
    
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                <a class="govuk-link  govuk-link--no-visited-state" asp-route="@RouteNames.ReportDashboard_Get" asp-route-ukprn="@Model.Ukprn">Reports</a>
            </h3>
            <p class="govuk-body">Create a report about applicants or vacancies</p>
        </div>
    
        <esfaFeatureEnabled name="@FeatureNames.SetNotificationPreferences">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ManageNotifications_Get" asp-route-ukprn="@Model.Ukprn" >Manage your recruitment emails</a>
                </h3>
                <p class="govuk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>
            </div>
        </esfaFeatureEnabled>
        @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
        {
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Dashboard_ProviderRecruitmentApi" asp-route-ukprn="@Model.Ukprn" >Recruitment APIs</a>
                </h3>
                <p class="govuk-body">Integrate our APIs to create vacancies using your own systems and display adverts on multiple sites.</p>
            </div>
        }
    </div>
</div>