@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model DashboardViewModel
@{
    string GetLinkText(VacancySummaryViewModel vacancySummary)
    {
        switch (vacancySummary.Status)
        {
            case VacancyStatus.Referred:
                return "Edit and resubmit";
            case VacancyStatus.Draft:
                return "Edit and submit";
        }

        return "Manage";
    }
}

<div asp-hide="@Model.HasVacancies" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your vacancies</h1>
        <p class="govuk-body">Your dashboard is empty, start by creating your first vacancy</p>
        <p class="govuk-body">Vacancies will be approved or rejected within 24 hours.</p>
        <a asp-route="@RouteNames.Employer_Get" class="govuk-button">Create vacancy</a>
    </div>
</div>

<div asp-show="@Model.HasVacancies" class="govuk-grid-row">
    <div asp-show="Model.HasWarning" class="warning-summary govuk-!-margin-bottom-0">
        <p>@Model.WarningMessage</p>
    </div>
    <div asp-show="Model.HasInfo" class="info-summary govuk-!-margin-bottom-0">
        <p>@Model.InfoMessage</p>
    </div>
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Vacancies</h1>
    </div>

    <div class="govuk-grid-column-one-half das-header-actions">
        <a asp-route="@RouteNames.Employer_Get" class="govuk-button" esfa-automation="create-vacancy">Create vacancy</a>
        <br>
        <p class="govuk-body">
            <a href="#" class="govuk-link">Create a report</a>
        </p>
    </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-2">
    <div asp-show="@Model.ShowFilter" class="govuk-grid-column-one-half">
        <form method="get">
            <div class="govuk-form-group">
                <label for="filter" class="govuk-label">Filter vacancies by</label>
                <select id="filter" name="filter" asp-items="@Model.FilterOptions" class="govuk-select"></select>
                <button type="submit" id="filter-submit" class="das-button-filter das-button-secondary govuk-button">Filter</button>
            </div>
        </form>
    </div>
    <div asp-show="@Model.HasVacancies" class="govuk-grid-column-full">
        <h3 class="govuk-heading-m">
            @Model.ResultsHeading <a asp-show="@Model.IsFiltered" asp-route="@RouteNames.Dashboard_Index_Get" class="govuk-!-font-weight-regular govuk-component__link govuk-!-font-size-19">Show all vacancies</a>
        </h3>
        <div asp-hide="@Model.ShowResultsTable">
            <p class="govuk-body">You have 0 "@Model.FilterAsText" vacancies</p>
        </div>
    </div>
</div>

<div asp-show="@Model.ShowResultsTable">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table responsive">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Vacancy</th>
                    <th class="govuk-table__header">Employer</th>
                    <th class="govuk-table__header">Applications</th>
                    <th class="govuk-table__header">Closing</th>
                    <th class="govuk-table__header">Status</th>
                    <th class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                @foreach (var vacancy in Model.Vacancies)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Vacancy title">
                            <div>@vacancy.Title</div>
                            <span asp-show="@vacancy.HasVacancyReference"><span>VAC</span>@vacancy.VacancyReference</span>
                        </td>
                        <td class="govuk-table__cell" data-label="Employer">
                            <span>@vacancy.EmployerName</span>
                        </td>
                        <td asp-show="@vacancy.CanShowVacancyApplicationsCount" class="govuk-table__cell dashboard-applications" data-label="Applications">
                            <span asp-show="@vacancy.HasNoApplications">0</span>
                            <span asp-show="@vacancy.HasApplications">@vacancy.NoOfApplications</span>
                            <span asp-show="@vacancy.HasNewApplications" class="govuk-!-font-weight-bold"> (@vacancy.NoOfNewApplications new)</span>
                        </td>
                        <td asp-hide="@vacancy.CanShowVacancyApplicationsCount" class="govuk-table__cell dashboard-applications" data-label="Applications">-</td>
                        <td class="govuk-table__cell dashboard-closingdate" data-label="Closing date"><span>@vacancy.ClosingDate?.AsGdsDate()</span></td>
                        <td class="govuk-table__cell dashboard-status" data-label="Status"><span class="tag tag-@vacancy.Status.ToString().ToLower()">@vacancy.Status.GetDisplayName()</span></td>
                        <td class="govuk-table__cell dashboard-action" data-label="Action">
                            <a asp-show="@vacancy.IsNotSubmittable" asp-route="@RouteNames.VacancyManage_Get" asp-route-vacancyId="@vacancy.Id" class="govuk-link">@GetLinkText(vacancy)</a>
                            <a asp-show="@vacancy.IsSubmittable" asp-route="@RouteNames.DisplayVacancy_Get" asp-route-vacancyId="@vacancy.Id" class="govuk-link">@GetLinkText(vacancy)</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <partial name="@PartialNames.Pager" model="@Model.Pager" />
        </div>
    </div>
</div>

<script nws-csp-add-nonce="true">
    $(function () {
        $("#filter-submit").hide();

        $("#filter").on("change",
            function () {
                var $filterForm = $(this).parents("form");
                $(window).off("beforeunload");
                $filterForm.submit();
            });
    });
</script>