@using Esfa.Recruit.Vacancies.Client.Domain.Entities

@model Esfa.Recruit.Provider.Web.ViewModels.Dashboard.DashboardViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-dashboard";

    var vacanciesSearchSuggestionsEndpointUrl = @Url.RouteUrl(RouteNames.VacanciesSearchSuggestions_Get, null, Context.Request.Scheme);
}

<div asp-hide="@Model.HasAnyVacancies">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-xl">Recruitment</h1>
            <p class="govuk-body">Your dashboard is empty, start by creating your first vacancy</p>
            <p class="govuk-body">Vacancies will be approved or rejected within 24 hours.</p>
        </div>

        <div class="govuk-grid-column-one-half ">
            <a asp-route="@RouteNames.Employer_Get" class="govuk-button float-right clear govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create vacancy</a>
        </div>
    </div>
</div>

<div asp-show="@Model.HasAnyVacancies">

    <partial name="@PartialNames.Alerts" for="Alerts" />

    <div class="govuk-grid-row" asp-show="@Model.HasAnyVacancies">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-xl">Recruitment</h1>
        </div>
        <div class="govuk-grid-column-one-half ">
            <a asp-route="@RouteNames.Employer_Get" class="govuk-button float-right clear govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create vacancy</a>
        </div>
    </div>
    <div class="govuk-grid-row">
        <form asp-route="@RouteNames.Vacancies_Get" method="get" autocomplete="off">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <div class="form-group search-field">
                            <div class="search-input-with-button">
                                <label class="govuk-label" for="search">
                                    Search vacancies
                                </label>
                                <input id="search-input" name="searchTerm" placeholder="Search by title, reference number or employer" class="govuk-input search-input" maxlength="200">
                            </div>
                            <div class="search-submit">
                                <!-- hide button for no js version -->
                                <button type="submit" id="search-submit-button">Search</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
    </div>
    <div class="govuk-grid-row das-card--row">
        <div class="govuk-grid-column-one-third">
            <div class="das-card">
                <div class="das-card--content">
                    <h3 class="govuk-heading-m das-card--heading">
                        <span class="das-card--stat">@Model.VacancyCountDraft</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.Draft" class="govuk-link">
                            @FilteringOptions.Draft @Model.VacancyTextDraft
                        </a>
                    </h3>
                    <p class="govuk-body das-card--description">Vacancies that need completing and sending for review.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="das-card">
                <div class="das-card--content">
                    <h3 class="govuk-heading-m das-card--heading">
                        <span class="das-card--stat">@Model.VacancyCountSubmitted</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.Submitted" class="govuk-link">
                            @FilteringOptions.Submitted.GetDisplayName(UserType.Provider)
                        </a>
                    </h3>
                    <p class="govuk-body das-card--description">Vacancies that have been sent for review.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="das-card">
                <div class="das-card--content">
                    <h3 class="govuk-heading-m das-card--heading">
                        <span class="das-card--stat">@Model.VacancyCountReferred</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.Referred" class="govuk-link">
                            @FilteringOptions.Referred.GetDisplayName() @Model.VacancyTextReferred
                        </a>
                    </h3>
                    <p class="govuk-body das-card--description">Rejected vacancies will need to be edited and resubmitted.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row das-card--row">
        <div class="govuk-grid-column-one-third">
            <div class="das-card">
                <div class="das-card--content">
                    <h3 class="govuk-heading-m das-card--heading">
                        <span class="das-card--stat">@Model.VacancyCountLive</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.Live" class="govuk-link">
                            @FilteringOptions.Live @Model.VacancyTextLive
                        </a>
                    </h3>
                    <span class="govuk-body das-card--description">Vacancies on Find an apprenticeship service.</span>
                    <p class="govuk-body das-card--description"></p>
                    <ul class="das-card--tasks govuk-list">
                        <li asp-show="@Model.ShowNoOfVacanciesClosingSoon">
                            <a class="govuk-link" asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.ClosingSoon">@Model.NoOfVacanciesClosingSoon live @Model.VacancyTextClosingSoon closing soon</a>
                        </li>
                        <li asp-show="@Model.ShowNoOfVacanciesClosingSoonWithNoApplications">
                            <a class="govuk-link" asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.ClosingSoonWithNoApplications">
                                @Model.NoOfVacanciesClosingSoonWithNoApplications live @Model.VacancyTextClosingSoonWithNoApplications closing soon with no applications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="das-card">
                <div class="das-card--content">
                    <h3 class="govuk-heading-m das-card--heading">
                        <span class="das-card--stat">@Model.NoOfNewApplications</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.NewApplications" class="govuk-link">
                            New @Model.ApplicationTextLive
                        </a>
                    </h3>
                    <span class="govuk-body das-card--description">Applications from Find an apprenticeship service.</span>
                    <ul class="das-card--tasks govuk-list" asp-show="@Model.ShowAllApplications">
                        <li>
                            <a class="govuk-link ga-track-anchor-click" asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.AllApplications" data-ga-event-category="link - click">
                                View all applications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="das-card">
                <div class="das-card--content">
                    <h3 class="govuk-heading-m das-card--heading">
                        <span class="das-card--stat">@Model.VacancyCountClosed</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.Closed" class="govuk-link">
                            @FilteringOptions.Closed @Model.VacancyTextClosed
                        </a>
                    </h3>
                    <span class="govuk-body das-card--description">Vacancies that have passed the closing date. You can clone these vacancies to republish them.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div asp-show="@Model.HasOneVacancy" class="govuk-grid-column-full">
            <a asp-route="@RouteNames.VacancyManage_Get" asp-route-vacancyId="@Model.CurrentVacancyId" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button">
                View your vacancy
            </a>
        </div>
        <div asp-hide="@Model.HasOneVacancy" class="govuk-grid-column-full">
            <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.All" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button">
                View all your vacancies (@Model.Vacancies.Count)
            </a>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">
                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
                <a class="govuk-link  govuk-link--no-visited-state" asp-route="@RouteNames.ReportDashboard_Get">Reports</a>
            </h3>
            <p class="govuk-body">Create a report about applicants or vacancies</p>
        </div>
        <esfaFeatureEnabled name="@FeatureNames.SetNotificationPreferences">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s">
                    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ManageNotifications_Get">Manage your recruitment emails</a>
                </h3>
                <p class="govuk-body">Set up and manage the emails you’re sent about your vacancies and applications</p>
            </div>
        </esfaFeatureEnabled>
        <esfaFeatureEnabled name="@FeatureNames.ShowRecruitmentApiLink">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s">
                    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Dashboard_ProviderRecruitmentApi">Recruitment API</a>
                </h3>
                <p class="govuk-body">Integrate our API to create adverts using your own systems and display adverts on multiple sites.</p>
            </div>
        </esfaFeatureEnabled>
    </div>
</div>

@section FooterJS
{
    <script src="/lib/jquery-ui/dist/jquery-ui.min.js"></script>
    <script asp-append-version="true" src="/lib/esfa-search-suggestions/searchSuggestionsService.js"></script>
    <script nws-csp-add-nonce="true">
        searchSuggestions.init("#search-input", "@vacanciesSearchSuggestionsEndpointUrl");
    </script>
}