@using Esfa.Recruit.Provider.Web.RouteModel
@using Esfa.Recruit.Provider.Web.ViewModels.Dashboard
@model Esfa.Recruit.Provider.Web.ViewModels.Dashboard.DashboardViewModel
@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-dashboard";
    ViewBag.Title = "Recruitment";
    var vacancyRouteModel = new VacancyRouteModel { Ukprn = Model.Ukprn };
}
<partial asp-hide="@Model.HasAnyVacancies" name="_ProviderNoVacanciesContent" model="@vacancyRouteModel" />
<div asp-show="@Model.HasAnyVacancies">
    <partial name="@PartialNames.Alerts" for="Alerts" />
    <partial name="@PartialNames.DashboardSearchBoxPartial" for="@Model" />
    <div class="govuk-grid-row app-card__row">
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountDraft,
            HeadingText = $"{FilteringOptions.Draft} {Model.VacancyTextDraft}",
            Description = "Vacancies need completing and sending for review.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.Draft
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountReview,
            HeadingText = FilteringOptions.Review.GetDisplayName(UserType.Provider),
            Description = "Vacancies that have been sent for review.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.Review
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountSubmitted,
            HeadingText = FilteringOptions.Submitted.GetDisplayName(UserType.Provider),
            Description = "Vacancies that have been sent for review.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.Submitted
        }))
    </div>
    <div class="govuk-grid-row app-card__row">
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountReferred,
            HeadingText = $"{FilteringOptions.Referred.GetDisplayName()} {Model.VacancyTextReferred}",
            Description = "Rejected vacancies will need to be edited and resubmitted.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.Referred
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountLive,
            HeadingText = $"{FilteringOptions.Live} {Model.VacancyTextLive}",
            Description = "Vacancies on Find an apprenticeship service.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.Live,
            Tasks = new[]
            {
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowNoOfVacanciesClosingSoon,
                    Filter = FilteringOptions.ClosingSoon,
                    Text = $"{Model.NoOfVacanciesClosingSoon} live {Model.VacancyTextClosingSoon} closing soon"
                },
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowNoOfVacanciesClosingSoonWithNoApplications,
                    Filter = FilteringOptions.ClosingSoonWithNoApplications,
                    Text = $"{Model.NoOfVacanciesClosingSoonWithNoApplications} live {Model.VacancyTextClosingSoonWithNoApplications} closing soon with no applications"
                }
            }
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.NoOfNewApplications,
            HeadingText = $"New {Model.ApplicationTextLive}",
            Description = "Applications from Find an apprenticeship service.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.NewApplications,
            Tasks = new[]
            {
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowAllApplications,
                    Filter = FilteringOptions.AllApplications,
                    Text = "View all applications"
                }
            }
        }))
    </div>
    <div class="govuk-grid-row app-card__row">
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.NumberOfEmployerReviewedApplications,
            HeadingText = @Model.ApplicationTextEmployerReviewedApplication,
            Description = "Vacancies with applications that have been reviewed by an employer.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.EmployerReviewedApplications
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountClosed,
            HeadingText = $"{FilteringOptions.Closed} {Model.VacancyTextClosed}",
            Description = "Vacancies that have passed the closing date. You can clone these vacancies to republish them.",
            RouteName = RouteNames.Vacancies_Get,
            Ukprn = Model.Ukprn,
            Filter = FilteringOptions.Closed
        }))
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
    <partial name="@PartialNames.DashboardNavigationPartial" />
</div>