@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Esfa.Recruit.Vacancies.Client.Infrastructure.QueryStore.Projections
@model DashboardViewModel

@{
    string GetLinkText(VacancySummary vacancySummary)
    {
        switch (vacancySummary.Status)
        {
            case VacancyStatus.Referred:
                return "Edit and resubmit";
            case VacancyStatus.Draft:
                return "Edit and submit";
        }

        return "Manage";
    }
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div asp-show="Model.HasWarning" class="warning-summary govuk-!-margin-bottom-0">
            <p>@Model.WarningMessage</p>
        </div>
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Your vacancies</h1>
        <div asp-show="Model.HasInfo" class="info-summary govuk-!-margin-bottom-0">
            <p>@Model.InfoMessage</p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body">
            You must be a levy-paying employer to post a vacancy.
        </p>
        <p class="govuk-body">
            You can clone vacancies once they've been submitted.
            Vacancies will be approved or rejected within 24 hours.
        </p>
        <a asp-route="@RouteNames.CreateVacancy_Get" class="govuk-button">Create vacancy</a>
    </div>
    <br>
</div>

<div asp-show="@Model.HasVacancies">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table responsive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header">Vacancy</th>
                        <th class="govuk-table__header">Employer</th>
                        <th class="govuk-table__header">Closing</th>
                        <th class="govuk-table__header">Status</th>
                        <th class="govuk-table__header"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                @foreach (var vacancy in Model.Vacancies)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Vacancy title">
                            <div>@vacancy.Title</div>
                            <div asp-show="@vacancy.IsApplicationsVacancy">
                                <span asp-show="@vacancy.HasNoApplications" class="govuk-!-font-weight-bold">0 applications</span>
                                <span asp-show="@vacancy.HasApplications">@("application".ToQuantity(vacancy.AllApplicationsCount))</span>
                                <span asp-show="@vacancy.HasNewApplications" class="govuk-!-font-weight-bold"> (@vacancy.NewApplicationsCount new)</span>
                            </div>
                            <span asp-show="@vacancy.HasVacancyReference"><span>VAC</span>@vacancy.VacancyReference</span>
                        </td>
                        <td class="govuk-table__cell" data-label="Employer">
                            <span>@vacancy.EmployerName</span>
                        </td>
                        <td class="govuk-table__cell dashboard-closingdate" data-label="Closing date"><span>@vacancy.ClosingDate?.AsGdsDate()</span></td>
                        <td class="govuk-table__cell dashboard-status" data-label="Status"><span class="tag tag-@vacancy.Status.ToString().ToLower()">@vacancy.Status.GetDisplayName()</span></td>
                        <td class="govuk-table__cell dashboard-action" data-label="Action">
                            <a asp-show="@vacancy.IsNotSubmittable" asp-route="@RouteNames.VacancyManage_Get" asp-route-vacancyId="@vacancy.Id">Manage</a>
                            <a asp-show="@vacancy.IsSubmittable" asp-route="@RouteNames.DisplayVacancy_Get" asp-route-vacancyId="@vacancy.Id">@GetLinkText(vacancy)</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>