@using Esfa.Recruit.Shared.Web.Mappers
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Wage.WageViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-pay";
    ViewBag.Title = "How much will the apprentice be paid?";
}

@section BackLink {
    <a asp-route="@RouteNames.Duration_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            How much will the apprentice be paid?
        </h1>
        <form asp-route="@RouteNames.Wage_Post" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>

            <div esfa-validation-marker-for="WageType" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="WageType" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input asp-for="WageType" value="@WageType.FixedWage" type="radio" class="govuk-radios__input" id="wage-type-fixed" data-aria-controls="custom-wage-fixed-panel">
                            <label for="wage-type-fixed" class="govuk-label govuk-radios__label">Set wage yourself</label>
                            <p class="govuk-body govuk-hint govuk-radios__hint">
                                This must be more than the National Minimum Wage for apprentices
                            </p>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="WageType" value="@WageType.NationalMinimumWage" type="radio" class="govuk-radios__input" id="wage-type-national-minimum-wage" data-aria-controls="wage-type-national-minimum-wage-panel">
                            <label for="wage-type-national-minimum-wage" class="govuk-label govuk-radios__label">National Minimum Wage</label>
                            <p class="govuk-body govuk-hint govuk-radios__hint">
                                Displayed as a yearly wage of @Model.NationalMinimumWageYearly
                            </p>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="WageType" value="@WageType.NationalMinimumWageForApprentices" type="radio" class="govuk-radios__input" id="wage-type-national-minimum-wage-for-apprentices" data-aria-controls="wage-type-national-minimum-wage-for-apprentices-panel">
                            <label for="wage-type-national-minimum-wage-for-apprentices" class="govuk-label govuk-radios__label">National Minimum Wage for apprentices</label>
                            <p class="govuk-body govuk-hint govuk-radios__hint">
                                Displayed as a yearly wage of @Model.ApprenticeshipMinimumWageYearly
                            </p>
                        </div>
                        <esfaFeatureEnabled name="@FeatureNames.CompetitiveSalary">
                            <div class="govuk-radios__item">
                                <input asp-for="WageType" value="@WageType.CompetitiveSalary" type="radio" class="govuk-radios__input" id="wage-type-set-as-competitive" data-aria-controls="wage-type-set-as-competitive-panel">
                                <label for="wage-type-set-as-competitive" class="govuk-label govuk-radios__label">Set as competitive</label>
                                <p class="govuk-body govuk-hint govuk-radios__hint">
                                    Not providing a salary may limit applications for this apprenticeship
                                </p>
                            </div>
                        </esfaFeatureEnabled>
                    </div>
                </fieldset>
            </div>
            
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get"asp-all-route-data="@Model.RouteDictionary"  asp-fragment="@Anchors.ApprenticeshipSummarySection" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureDisabled>
            </div>
            
        </form>
    </div>
</div>