@model Esfa.Recruit.Employer.Web.ViewModels.ArchiveVacancy.ArchiveViewModel
@{
    ViewBag.Title = "Confirm archive advert";
}
@section BackLink
{
    <a asp-route="@RouteNames.VacancyManage_Get" asp-route-vacancyId="@Model.VacancyId" asp-route-employerAccountId="@Model.EmployerAccountId" esfa-automation="link-back" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <partial name="@PartialNames.ValidationSummary" model="new ValidationSummaryViewModel { ModelState = ViewData.ModelState }" />
        <h1 class="govuk-heading-l">Do you want to archive this advert?</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body">
            <p>You've responded to every applicant and can archive this advert.</p>
        </div>
        <div class="das-pane">
            <h3 class="govuk-heading-s">@Model.Title</h3>
            <div class="govuk-!-margin-bottom-3">
                <p class="govuk-body-s das-!-color-dark-grey">@Model.EmployerName</p>
            </div>
            <div class="govuk-!-margin-bottom-3">
                <p class="govuk-body-s das-!-color-dark-grey">Advert reference: @Model.VacancyReferenceDisplay</p>
            </div>
        </div>
        <govuk-inset>
            This advert will be moved from closed to archived. You can clone an archived advert to list it again.
        </govuk-inset>
        <form asp-route="@RouteNames.ArchiveVacancy_Post" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-vacancyId="@Model.VacancyId">
            <input type="hidden" name="Status" value="@Model.Status" />
            <div esfa-validation-marker-for="ConfirmArchive" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="ConfirmArchive" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="@Model.ConfirmArchive" type="radio" value="true" class="govuk-radios__input" id="archive-yes" />
                            <label class="govuk-label govuk-radios__label" for="archive-yes">Yes, archive this advert now</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="@Model.ConfirmArchive" type="radio" value="false" class="govuk-radios__input" id="archive-no" />
                            <label class="govuk-label govuk-radios__label" for="archive-no">No, I want to archive this later</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Submit" class="govuk-button" />
            </div>
        </form>
    </div>
</div>