@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.TrainingProvider.ConfirmTrainingProviderViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-confirm-training-provider";
    ViewBag.ZenDeskLabel = "recruit-confirm-the-training-provider";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.TrainingProvider_Select_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Confirm the training provider
        </h1>
        <div class="verification-summary">
            <h2 class="govuk-heading-m">
                @Model.ProviderName
                <span class="govuk-caption-m">
                    @Model.ProviderAddress
                    <br />UKPRN: @Model.Ukprn
                </span>
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a asp-route="@RouteNames.TrainingProvider_Select_Get" asp-route-ukprn="@Model.Ukprn" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-change" class="govuk-link">Change training provider</a><br>
            </p>
        </div>
        <form asp-route="@RouteNames.TrainingProvider_Confirm_Post" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <input asp-for="Ukprn" type="hidden" />
            <div class="govuk-form-group">
                <input asp-show="@Model.PageInfo.IsWizard" type="submit" value="Confirm and continue" esfa-automation="btn-continue" class="govuk-button" />
                <input asp-show="@Model.PageInfo.IsNotWizard" type="submit" value="Confirm and preview" esfa-automation="btn-continue" class="govuk-button" />

                <div class="govuk-body">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" class="govuk-link" esfa-automation="cancel-link">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link" esfa-automation="cancel-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>