@using Esfa.Recruit.Employer.Web.ViewModels.Part1.TrainingProvider
@using Esfa.Recruit.Shared.Web.TagHelpers
@using Newtonsoft.Json

@model SelectTrainingProviderViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-select-training-provider";
    ViewBag.Title = "Have you found a training provider?";
    ViewBag.ZenDeskLabel = "recruit-have-you-found-a-training-provider";
}

@section BackLink {
    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <govuk-banner asp-show="@Model.ProviderDoesNotSupportCourse" type="BannerStyle.Important">
            <govuk-banner-heading>
                Enter a training provider who offers @(Model.Programme.Name).
            </govuk-banner-heading>
            <p>
                <b>@Model.CurrentSelectedTrainingProvider</b> was entered as your provider, but they do not offer this course. If they’ve agreed to deliver it, tell them about this message. They can help you to continue.
            </p>
        </govuk-banner>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Who is your training provider?
        </h1>
        <form asp-route="@RouteNames.TrainingProvider_Select_Post" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>

            <p class="govuk-inset-text govuk-body">
                You must have agreed with this provider that they will deliver <b>@Model.Programme.Name</b>
            </p>

            <noscript>
                <div class="govuk-form-group" id="non-js-search" esfa-validation-marker-for="Ukprn">
                    <label class="govuk-label" asp-for="Ukprn">
                        Training provider name or UKPRN
                    </label>
                    <span esfa-validation-message-for="Ukprn" class="govuk-error-message"></span>
                    <input asp-for="Ukprn" type="text" maxlength="8" class="govuk-input govuk-input--width-10"/>
                </div>
            </noscript>
            <div class="govuk-form-group das-js-show" id="js-search" esfa-validation-marker-for="TrainingProviderSearch">
                <label class="govuk-label" asp-for="TrainingProviderSearch">
                    Training provider name or UKPRN
                </label>
                <span esfa-validation-message-for="TrainingProviderSearch" class="govuk-error-message"></span>
                <input asp-for="TrainingProviderSearch" type="text" class="govuk-input app-provider-autocomplete"/>
            </div>

            <div class="govuk-button-group">
                <input type="hidden" name="@nameof(SelectTrainingProviderEditModel.SelectionType)" id="selection-type" value="@TrainingProviderSelectionType.Ukprn"/>
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button"/>
                <div class="govuk-body">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section FooterPreJS
{
    <script nws-csp-add-nonce="true">
        var providerArray = @(Html.Raw(JsonConvert.SerializeObject(Model.TrainingProviders)));
        document.getElementById('selection-type').value = '@TrainingProviderSelectionType.TrainingProviderSearch'
    </script>
}