@using Esfa.Recruit.Employer.Web.ViewModels.Part1.TrainingProvider
@using Esfa.Recruit.Shared.Web.Mappers
@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@inject IOptions<ExternalLinksConfiguration> _externalLinks;

@model SelectTrainingProviderViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-select-training-provider";
    ViewBag.Title = "Have you found a training provider?";
    ViewBag.ZenDeskLabel = "recruit-have-you-found-a-training-provider";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Training_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
        <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
    <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@Model.BackLinkRoute" esfa-automation="link-back" class="govuk-back-link">Back</a>    
    </esfaFeatureDisabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Enter the name of the training provider or UKPRN
        </h1>
        <form asp-route="@RouteNames.TrainingProvider_Select_Post" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>

            <p class="govuk-body">
                You'll need to use a registered training provider who offers
                <span class="govuk-!-font-weight-bold">&quot;@Model.Programme.Name&quot;</span>
                training
            </p>

            <noscript>
                <div class="govuk-form-group" id="non-js-search" esfa-validation-marker-for="Ukprn">
                    <label class="govuk-visually-hidden" asp-for="Ukprn">
                        Enter the training provider reference number (UKPRN)
                    </label>
                    <span esfa-validation-message-for="Ukprn" class="govuk-error-message"></span>
                    <input asp-for="Ukprn" type="text" maxlength="8" class="govuk-input govuk-input--width-10" />
                </div>
            </noscript>
            <div class="govuk-form-group das-js-show" id="js-search" esfa-validation-marker-for="TrainingProviderSearch">
                <label class="govuk-visually-hidden" asp-for="TrainingProviderSearch">
                    Enter the training provider name or reference number (UKPRN)
                </label>
                <span esfa-validation-message-for="TrainingProviderSearch" class="govuk-error-message"></span>
                <input asp-for="TrainingProviderSearch" type="text" class="govuk-input app-provider-autocomplete" />
                <p class="govuk-body govuk-!-margin-top-1">
                    <a asp-route="@RouteNames.TrainingProvider_Select_Get" asp-route-clear="true" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link govuk-link--no-visited-state">Clear search</a>
                </p>
            </div>
     
            <details class="govuk-details">
                  <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                          What is a UK Provider Reference Number?
                      </span>
                  </summary>
                  <div class="govuk-details__text">
                      A UK Provider Reference Number (UKPRN) is a unique, 8-digit number that identifies a training provider. Your training provider can tell you their UKPRN.
                  </div>
            </details>
        
            <div class="govuk-button-group">
                <input type="hidden" name="@nameof(SelectTrainingProviderEditModel.SelectionType)" id="selection-type" value="@TrainingProviderSelectionType.Ukprn" />
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button" />
                <div class="govuk-body">
                    <span asp-show="@Model.ReferredFromSavedFavourites">
                        <a href="@_externalLinks.Value.EmployerFavouritesUrl" class="govuk-link" esfa-automation="cancel-link">Cancel</a>
                        @*<a asp-show="@Model.PageInfo.IsNotWizard" href="@_externalLinksHelper.EmployerFavouritesAccounts" asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link" esfa-automation="cancel-link">Cancel</a>*@
                    </span>
                    <span asp-hide="@Model.ReferredFromSavedFavourites">
                        <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                            <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                        </esfaFeatureEnabled>
                        <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                            <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                        </esfaFeatureDisabled>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>

@section FooterPreJS
{
    <script nws-csp-add-nonce="true">
        var providerArray = @(Html.Raw(JsonConvert.SerializeObject(Model.TrainingProviders)));
        document.getElementById('selection-type').value = '@TrainingProviderSelectionType.TrainingProviderSearch'
    </script>
}