@model SubmittedVacancyViewModel
@{ 
    ViewBag.Vpv = "/page-vacancy-submitted";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" id="vacancy-header">
            @Model.Title
            <span class="govuk-caption-xl">@Model.EmployerName</span>
        </h1>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="govuk-!-margin-top-6">Submitted for review on @Model.SubmittedDate</div>
    </div>
</div>

<partial name="@PartialNames.NonEditableVacancyDisplay" model="Model" />

<div class="govuk-form-group inline">
    <div class="govuk-form-group govuk-!-margin-top-6">
        <a asp-route="@RouteNames.Vacancies_Get" class="govuk-button">Return to dashboard</a>
    </div>
</div>