@model Esfa.Recruit.Provider.Web.ViewModels.Submitted.VacancySubmittedConfirmationViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-submitted-for-approval";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 asp-hide="@Model.IsResubmit" class="govuk-panel__title">
                Vacancy submitted to ESFA
            </h1>
            <h1 asp-show="@Model.IsResubmit" class="govuk-panel__title">
                Vacancy resubmitted to ESFA
            </h1>
            <div class="govuk-panel__body">
                <p asp-show="@Model.HasVacancyReference">
                    Your reference number <br>
                    <strong class="govuk-!-font-weight-bold">VAC@(Model.VacancyReference)</strong>
                </p>
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        @if (Model.IsVacancyRejectedByESFANotificationSelected)
        {
            <p class="govuk-body">
                The <abbr>ESFA</abbr> will check the vacancy and let you know by email, within one working day, if you need to make and edits.
            </p>
        }
        else
        {
            <p class="govuk-body">
                The <abbr>ESFA</abbr> will check the vacancy and will tell you within one working day, on the Recruitment dashboard within rejected vacancies, if you need to make any edits.
            </p>
        }

        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.ManageNotifications_Get">Manage the frequency of your recruitment emails</a>
        </p>

        <p class="govuk-body">
            When the vacancy is approved, it will appear on Find an apprenticeship.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.Vacancies_Get">Return to recruitment</a>
        </p>

        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.Employer_Get">Create another vacancy</a>
        </p>
    </div>
</div>