@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Duration.DurationViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-duration";
    ViewBag.Title = "Duration and working hours";
    ViewBag.ZenDeskLabel = "recruit-duration-and-working-hours";
}
@section BackLink
{
    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dates_Get"  asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet"  asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Duration and working hours</h1>

        <form asp-route="@RouteNames.Duration_Post"  asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div esfa-validation-marker-for="Duration" class="govuk-form-group">
                <label asp-for="Duration" class="govuk-label govuk-label--s">
                    How long is the whole apprenticeship, including work and training?
                    <span class="govuk-visually-hidden"> (enter a numeric value and then select Month(s) or Year(s) in the next field)</span>
                </label>
                <div class="govuk-hint">
                    The apprenticeship must last for at least 8 months.
                </div>
                <div asp-show="@Model.ShowTraining" class="govuk-hint">
                    For @Model.TrainingTitle, typical length is @Model.TrainingDurationMonths months.
                </div>
                <span esfa-validation-message-for="Duration" class="govuk-error-message"></span>
                <input asp-for="Duration" class="govuk-input govuk-input--width-2" type="number" min="1" >
                <label asp-for="DurationUnit" class="govuk-visually-hidden">
                    Months or years
                </label>
                <select asp-for="DurationUnit" class="govuk-select duration-unit-select">
                    <option value="@DurationUnit.Month">Months</option>
                    <option value="@DurationUnit.Year">Year(s)</option>
                </select>
            </div>

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
                <div esfa-validation-marker-for="WorkingWeekDescription" class="govuk-form-group">
                    <label asp-for="WorkingWeekDescription" class="govuk-label govuk-label--s">Details of working week</label>
                    <div class="govuk-hint">For example, Monday to Friday 9am to 5pm, shifts, may work evenings and weekends.</div>
                    <span esfa-validation-message-for="WorkingWeekDescription" class="govuk-error-message"></span>
                    <textarea asp-for="WorkingWeekDescription" class="govuk-textarea govuk-js-character-count" rows="5" data-val-length-max="250"></textarea>
                     <div id="WorkingWeekDescription-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 250 characters
                    </div>
                </div>
            </div>

            
            <div esfa-validation-marker-for="WeeklyHours" class="govuk-form-group">
                <label asp-for="WeeklyHours" class="govuk-label govuk-label--s">How many hours will the apprentice work each week, including training?</label>
                <span esfa-validation-message-for="WeeklyHours" class="govuk-error-message"></span>
                <div class="govuk-input__wrapper">
                    <input asp-for="WeeklyHours" class="govuk-input govuk-input--width-2" type="number" step=".25" min="16" max="48">
                    <div class="govuk-input__suffix" aria-hidden="true">hours</div>
                </div>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>
                <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>