@using Esfa.Recruit.Employer.Web.ViewModels.Part2.Qualifications
@using Esfa.Recruit.Vacancies.Client.Domain.Enums
@model QualificationsViewModel


<div class="grid-row">
    <div class="column-full">

        <h1 class="heading-xlarge small-bottom-margin">Qualifications</h1>

        <div asp-validation-summary="All" class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
            <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
                Please fix these errors
            </h2>
        </div>

        <hr>

        <form asp-route="@RouteNames.Qualifications_Post">

            <div class="form-group form-group-compound">
                <label asp-for="QualificationType" class="form-label-bold">Type of qualification</label>
                <span asp-validation-for="QualificationType" class="error-message"></span>
                <select asp-for="QualificationType" class="form-control sfa-form-control-auto">
                    <option value="">Select from list</option>

                    @foreach (var qualificationType in Model.QualificationTypes)
                    {
                    <option value="@qualificationType">@qualificationType</option>
                    }
                </select>
            </div>

            <div class="form-group form-group-compound">
                <label asp-for="Subject" class="form-label-bold">Subject</label>
                <span asp-validation-for="Subject" class="error-message"></span>
                <input asp-for="Subject" type="text" class="form-control" maxlength="50">
            </div>

            <div class="form-group" data-bind="parentvalElement:grade">
                <label asp-for="Grade" class="form-label-bold">Grade</label>
                <span asp-validation-for="Grade" class="error-message"></span>
                <input asp-for="Grade" type="text" class="form-control form-control-1-3" maxlength="15">
            </div>

            <div class="form-group">
                <fieldset class="inline">
                    <legend>
                        <h1 class="form-label-bold">Is this qualification essential?</h1>
                    </legend>
                    <span asp-validation-for="Weighting" class="error-message"></span>
                    <div class="multiple-choice">
                        <input asp-for="Weighting" type="radio" value="@QualificationWeighting.Essential">
                        <label asp-for="Weighting">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input asp-for="Weighting" type="radio" value="@QualificationWeighting.Desired">
                        <label asp-for="Weighting">No</label>
                    </div>
                </fieldset>
            </div>

            <div class="form-group">
                <button type="submit" name="AddQualificationAction" class="button-link">+ Add this qualification</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>
                            <span class="heading-span">Qualification</span>
                        </th>
                        <th>
                            <span class="heading-span">Subject</span>
                        </th>
                        <th>
                            <span class="heading-span">Grade</span>
                        </th>
                        <th>
                            <span class="heading-span">Essential or desired</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="qualifications-summary">
                    @for(var i = 0; i < Model.Qualifications.Count; i++)
                    {
                        var qualification = Model.Qualifications[i];
                        <tr>
                            <td>@qualification.QualificationType</td>
                            <td>@qualification.Subject</td>
                            <td>@qualification.Grade</td>
                            <td>@qualification.Weighting</td>
                            <td>
                                <input asp-for="@qualification.QualificationType" type="hidden" value="@qualification.QualificationType" />
                                <input asp-for="@qualification.Subject" type="hidden" value="@qualification.Subject" />
                                <input asp-for="@qualification.Grade" type="hidden" value="@qualification.Grade" />
                                <input asp-for="@qualification.Weighting" type="hidden" value="@qualification.Weighting" />

                                <button type="submit" name="RemoveQualification" value="@i">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <br />

            <button type="submit" class="button">Save and continue</button>
            <a asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Cancel</a>
        </form>
        <hr>
    </div>

</div>