@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part2.Qualifications.QualificationsViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-qualifications";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <div asp-show="Model.HasInfo" class="info-summary">
            <p class="govuk-body">@Model.InfoMessage</p>
        </div>

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Qualifications
        </h1>

        <table class="govuk-table responsive-table">
            <tbody class="govuk-table__body">
                @for (var i = 0; i < Model.Qualifications.Count; i++)
                {
                    var qualification = Model.Qualifications[i];

                    <tr class="govuk-table__row" role="row">
                        <td class="govuk-table__cell" role="gridcell">
                            <span class="govuk-visually-hidden" aria-hidden="true">Qualification</span>
                            @qualification.QualificationType in @qualification.Subject
                        </td>
                        <td class="govuk-table__cell" role="gridcell">
                            <span class="govuk-visually-hidden" aria-hidden="true">Grade</span>
                            @qualification.Grade
                        </td>
                        <td class="govuk-table__cell" role="gridcell">
                            <span class="govuk-visually-hidden" aria-hidden="true">Essential or Desirable</span>
                            @qualification.Weighting.GetDisplayName()
                        </td>
                        <td class="govuk-table__cell" role="gridcell">
                            <form asp-route="@RouteNames.Qualification_Delete_Post" class="govuk-!-display-inline">
                                <input type="hidden" name="index" value="@i" />
                                <button type="submit" class="button-fake-link govuk-link">Remove</button>
                            </form>
                            <a asp-route="@RouteNames.Qualification_Edit_Get" asp-route-index="@i" class="govuk-link govuk-!-margin-left-1">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="govuk-form-group">
            <a asp-route="@RouteNames.Qualification_Add_Get" class="govuk-button">Add another qualification</a>

            <a asp-route="@RouteNames.Vacancy_Preview_Get" class="govuk-link">Preview</a>
        </div>

    </div>
</div>