    @using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part2.Qualifications.QualificationsViewModel
@{ 
    ViewBag.Title = "Qualifications";
    ViewBag.Vpv = "/recruitment/employer/page-part2-qualifications";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
        <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Skills_Get" esfa-automation="link-back" class="govuk-back-link">Back</a>
        <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <div asp-show="Model.HasInfo" class="info-summary">
            <p class="govuk-body">@Model.InfoMessage</p>
        </div>

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Qualifications
        </h1>

        <table class="govuk-table">
            <thead>
                <tr>
                    <th class="govuk-table__header" scope="col">Qualification</th>
                    <th class="govuk-table__header" scope="col">Grade</th>
                    <th class="govuk-table__header" scope="col">Essential or desirable</th>
                    <th class="govuk-table__header" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @for (var i = 0; i < Model.Qualifications.Count; i++)
                {
                    var qualification = Model.Qualifications[i];

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @qualification.QualificationType in @qualification.Subject
                        </td>
                        <td class="govuk-table__cell">
                            @qualification.Grade
                        </td>
                        <td class="govuk-table__cell">
                            @qualification.Weighting.GetDisplayName()
                        </td>
                        <td class="govuk-table__cell">
                            <form asp-route="@RouteNames.Qualification_Delete_Post" class="govuk-!-display-inline">
                                <input type="hidden" name="index" value="@i" />
                                <button type="submit" class="das-button--inline-link">Remove</button>
                            </form>
                            <a asp-route="@RouteNames.Qualification_Edit_Get" asp-route-index="@i" class="govuk-link govuk-!-margin-left-1">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a asp-route="@RouteNames.Qualification_Add_Get" class="govuk-link">Add another qualification</a>

        <div class="govuk-button-group">
            <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Considerations_Get" class="govuk-button">Save and continue</a>
                <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" class="govuk-button">Save and continue</a>
            </esfaFeatureEnabled>
            <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                <a asp-route="@RouteNames.Vacancy_Preview_Get" class="govuk-link">Preview advert</a>
            </esfaFeatureDisabled>
        </div>
    </div>
</div>