@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationProcessViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-application-process";
    ViewBag.ZenDeskLabel = "recruit-how-would-you-like-to-receive-applications";
    ViewBag.Title = "How would you like to receive applications?";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            How would you like to receive applications?
        </h1>
        <form asp-route="@RouteNames.ApplicationProcess_Post" novalidate>

            <div esfa-validation-marker-for="ApplicationMethod" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <label class="govuk-hint" id="@Anchors.ApplicationMethodHeading">
                        We'll publish all adverts on <a href="@Model.FindAnApprenticeshipUrl" class="govuk-body govuk-link" rel="noopener" target="_blank">Find an apprenticeship service (opens in a new tab or window)</a>.
                    </label>
                    <span esfa-validation-message-for="ApplicationMethod" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input asp-for="ApplicationMethod" value="@ApplicationMethod.ThroughFindAnApprenticeship" class="govuk-radios__input" id="application-method-faa" type="radio">
                            <label for="application-method-faa" class="govuk-label govuk-radios__label">
                                Through the <a href="@Model.FindAnApprenticeshipUrl" class="govuk-body govuk-link" rel="noopener" target="_blank">Find an apprenticeship (opens in a new tab or window)</a>
                            </label>
                        </div>
                        <div class="govuk-radios__item" data-target="application-method-external-panel">
                            <input asp-for="ApplicationMethod" value="@ApplicationMethod.ThroughExternalApplicationSite" class="govuk-radios__input" id="application-method-external" type="radio" data-aria-controls="application-method-external-panel">
                            <label for="application-method-external" class="govuk-label govuk-radios__label">
                                Through an external website
                            </label>
                        </div>
                        <div id="application-method-external-panel" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                            <div esfa-validation-marker-for="ApplicationUrl" class="govuk-form-group">
                                <label asp-for="ApplicationUrl" class="govuk-label govuk-!-font-weight-bold">Enter the web address applicants should use to apply for this apprenticeship</label>
                                <span esfa-validation-message-for="ApplicationUrl" class="govuk-error-message"></span>
                                <input asp-for="ApplicationUrl" class="govuk-input govuk-!-width-two-thirds" maxlength="200" />
                            </div>
                            <div esfa-validation-marker-for="ApplicationInstructions" class="govuk-form-group">
                                <label asp-for="ApplicationInstructions" class="govuk-label govuk-!-font-weight-bold">Explain the application process (optional)</label>
                                <span esfa-validation-message-for="ApplicationInstructions" class="govuk-error-message"></span>
                                <textarea asp-for="ApplicationInstructions" class="govuk-textarea character-count" rows="5" data-val-length-max="500"></textarea>
                                <span class="govuk-body maxchar-count">500</span>
                                <span class="govuk-body maxchar-text"> characters remaining</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>


            <div class="govuk-form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <div class="govuk-body">
                    <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="govuk-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>