@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Location.AddOneLocationViewModel

@{
    var groupedLocations = Model.AvailableLocations.GroupByLastFilledAddressLine();
    var index = 0;
    foreach (var group in groupedLocations)
    {
        <h3 class="govuk-heading-s govuk-!-padding-top-3">@group.Key</h3>
        foreach (var location in group.Select(x => x.Value))
        {
            var address = location.ToAddressString();
            var controlId = $"selectedLocation_{index++}";
            
            <div class="govuk-radios__item">
                <input
                    id="@controlId"
                    class="govuk-radios__input"
                    name="@nameof(Model.SelectedLocation)"
                    value="@address"
                    type="radio"
                    checked="@(Model.SelectedLocation == address)">
                <label for="@controlId" class="govuk-label govuk-radios__label">
                    <address value="@location" flat="true" />
                </label>
            </div>
        }                                                  
    }
}