@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Dates.DatesViewModel
@{
    var exampleClosingDate = DateTime.Now.AddMonths(2);
    var exampleStartingDate = exampleClosingDate.AddDays(14);
    ViewBag.Vpv = "/recruitment/employer/page-part1-dates";
    ViewBag.Title = "Important dates";
    ViewBag.ZenDeskLabel = "recruit-important-dates";
}

@section BackLink
{
    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.EmployerTaskListGet" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            <span class="govuk-caption-l">@Model.Title</span>
            Closing and start date
        </h1>
        <form asp-route="@RouteNames.Dates_Post" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>

            <div esfa-validation-marker-for="ClosingDate" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Application closing date<span class="govuk-visually-hidden"> (in numeric format DD MM YYYY)</span></legend>
                    <div class="govuk-hint">For example, @exampleClosingDate.AsInputHintDisplayDate()</div>

                    <span esfa-validation-message-for="ClosingDate" class="govuk-error-message"></span>

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="ClosingDay" class="govuk-label govuk-date-input__label">Day</label>
                                <input asp-for="ClosingDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="31" >
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="ClosingMonth" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="ClosingMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="12" >
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="ClosingYear" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="ClosingYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" min="@Model.CurrentYear" >
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div esfa-validation-marker-for="StartDate" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Apprenticeship start date<span class="govuk-visually-hidden"> (in numeric format DD MM YYYY)</span></legend>

                    <p asp-show="@Model.CanShowTrainingHint" class="govuk-hint">
                        Start date must be on or before @Model.TrainingEffectiveToDate as this is the last day for new starters for the training course you have selected.
                    </p>
                    <p asp-show="@Model.CanShowTrainingErrorHint" class="govuk-hint">
                        If you don’t want to change the start date, you can change the <a asp-route="@RouteNames.Training_Get" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link">training course.</a>.
                    </p>

                    <div class="govuk-hint">For example, @exampleStartingDate.AsInputHintDisplayDate()</div>

                    <span esfa-validation-message-for="StartDate" class="govuk-error-message"></span>

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartDay" class="govuk-label govuk-date-input__label">Day</label>
                                <input asp-for="StartDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="31">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartMonth" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="StartMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="12">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartYear" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="StartYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" min="@Model.CurrentYear">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>
                <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get"  asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
