@model Esfa.Recruit.Employer.Web.ViewModels.EmployerContactDetailsViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-employer-contact-details";
    ViewBag.Title = "Contact details";
    ViewBag.ZenDeskLabel = "recruit-add-contact-information";
}

@section BackLink {
    <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.AboutEmployer_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Contact details for @Model.EmployerTitle (optional)
        </h1>
        <p class="govuk-body">This should be someone an applicant can contact to ask questions about the apprenticeship position.</p>
        <form asp-route="@RouteNames.EmployerContactDetails_Post" asp-all-route-data="@Model.RouteDictionary" novalidate>
            <div esfa-validation-marker-for="EmployerContactName" class="govuk-form-group">
                <label asp-for="EmployerContactName" class="govuk-label govuk-label--s">Contact name (optional)</label>
                <span esfa-validation-message-for="EmployerContactName" class="govuk-error-message"></span>
                <input asp-for="EmployerContactName" class="govuk-input govuk-!-width-two-thirds" maxlength="100" />
            </div>
            <div esfa-validation-marker-for="EmployerContactEmail" class="govuk-form-group">
                <label asp-for="EmployerContactEmail" class="govuk-label govuk-label--s">Contact email (optional)</label>
                <span esfa-validation-message-for="EmployerContactEmail" class="govuk-error-message"></span>
                <input asp-for="EmployerContactEmail" class="govuk-input govuk-!-width-two-thirds" maxlength="100" />
            </div>
            <div esfa-validation-marker-for="EmployerContactPhone" class="govuk-form-group">
                <label asp-for="EmployerContactPhone" class="govuk-label govuk-label--s">Contact number (optional)</label>
                <span esfa-validation-message-for="EmployerContactPhone" class="govuk-error-message"></span>
                <input asp-for="EmployerContactPhone" class="govuk-input govuk-!-width-one-half" type="tel" maxlength="16" />
            </div>
            <div class="govuk-button-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>