@model Esfa.Recruit.Employer.Web.ViewModels.Part1.SearchResultPreview.SearchResultPreviewViewModel
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge small-bottom-margin">Your vacancy summary</h1>
        <div asp-validation-summary="All" class="error-summary" role="alert" tabindex="-1">
            <h2 class="heading-medium error-summary-heading">
                Please fix these errors
            </h2>
        </div>
        <div class="todo">
            <h3 class="heading-medium no-top-margin">Step 6 of 6</h3>
            <h2 class="heading-medium small-top-margin">@Model.Title</h2>
            <ul class="list">
                <li class="secondary-text">@Model.EmployerName</li>

                <li class="font-xsmall secondary-text">
                    <span id="date-and-positions">@Model.NumberOfPositionsCaption</span>
                </li>
            </ul>
            
            <p id="preview_short_description">@Model.ShortDescription</p>
            
            <div class="grid-row">
                <div class="column-two-thirds">
                    <ul class="list sfa-no-margins vacancy-details-list">
                        <li>
                            <span class="bold-small">Closing date:</span>
                            <span>@Model.ClosingDate</span>
                        </li>
                        <li>
                            <span class="bold-small">Possible start date:</span>
                            <span>@Model.StartDate</span>
                        </li>
                        <li>
                            <span class="bold-small">Apprenticeship level:</span>
                            <span>@Model.LevelName</span>
                        </li>
                        <li>
                            <span class="bold-small">Wage:</span>
                            <span>@Model.Wage</span><span asp-condition="@Model.HasYearlyWage"> yearly</span>
                        </li>
                    </ul>

                    <img asp-condition="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" alt="This vacancy is disability confident" class="disability-confident-logo-big" />
                    @Html.Partial(PartialNames.DisabilityConfident, @Model.IsDisabilityConfident)

                </div>
                <div class="column-one-third map-container hide-nojs toggle-content--mob">
                    @if (!string.IsNullOrWhiteSpace(Model.MapUrl))
                    {
                    <img id="static-map" class="static-map" src="@Model.MapUrl">
                    }
                </div>
            </div> 
        </div>
        <div class="form-group inline">
                <div class="form-group small-top-margin">
                    <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-continue" class="button">Add full vacancy details</a>
                    <a asp-route="@RouteNames.Title_Get" esfa-automation="link-change" class="button-link">Make changes</a>
                    <a asp-route="@RouteNames.Dashboard_Index_Get" asp-route-statusFilter="@Context.Request.Cookies[CookieNames.VacancyStatusFilter]" esfa-automation="link-dashboard" class="button-link">Return to dashboard</a>
                </div>
            </div>
    </div>
</div>
