@model Esfa.Recruit.Employer.Web.ViewModels.LegalEntityAgreement.LegalEntityAgreementSoftStopViewModel
@{ ViewBag.Vpv = "/recruitment/employer/page-legal-entity-agreement-soft-stop";
    ViewBag.Title = "Agreement not accepted"; }

<div class="govuk-grid-row employer-agreement-container">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">Agreement not accepted</h1>

        <div class="govuk-!-margin-bottom-8 govuk-warning-text">
            <span class="govuk-warning-text__icon das-warning-text__icon--top" aria-hidden="true">!</span>

            <span class="govuk-warning-text__assistive">Warning</span>
            <p>
                <strong class="govuk-warning-text__text">
                    @Model.LegalEntityName does not have an accepted agreement with the 
                    Department for Education (DfE). Without an accepted agreement,
                    you can create a draft advert, but cannot post it on Find an apprenticeship.
                </strong>
            </p>
            <p>
                <strong class="govuk-warning-text__text">
                    Only account owners can accept DfE agreements. If you’re not sure who the owner is, you can
                    <a asp-route="@RouteNames.Dashboard_AccountsAgreements" asp-route-employerAccountId="@Model.EmployerAccountId"  class="govuk-link">check your team details.</a>
                </strong>
            </p>
        </div>
        <div class="govuk-button-group">
            <a asp-route="@RouteNames.Dashboard_AccountsAgreements" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-button">Review agreement</a>
            <a asp-route="@RouteNames.Location_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Continue anyway</a>
        </div>
    </div>
</div>