@model Esfa.Recruit.Employer.Web.ViewModels.EditVacancyDates.EditVacancyDatesViewModel
@{
    ViewBag.Vpv = "/recruitment/employer/page-edit-vacancy-dates";
    ViewBag.Title = "Edit advert dates";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Edit advert dates</h1>
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <div class="govuk-form-group govuk-!-margin-top-6">
            <form asp-route="@RouteNames.VacancyEditDates_Post" novalidate>
                <div esfa-validation-marker-for="ClosingDate" class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="closing-hint" role="group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
                            Closing date for applications
                        </label>
                        <span esfa-validation-message-for="ClosingDate" class="govuk-error-message"></span>
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label asp-for="ClosingDay" class="govuk-label govuk-date-input__label">Day</label>
                                    <input asp-for="ClosingDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="31">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label asp-for="ClosingMonth" class="govuk-label govuk-date-input__label">Month</label>
                                    <input asp-for="ClosingMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="12">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label asp-for="ClosingYear" class="govuk-label govuk-date-input__label">Year</label>
                                    <input asp-for="ClosingYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" min="@Model.CurrentYear">
                                </div>
                            </div>
                        </div>
                        <br>
                        <details class="govuk-details govuk-!-margin-bottom-0">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    Information about extending closing dates
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p>Before you extend the closing date remember that:</p>
                                <ul class="list list-bullet">
                                    <li>the apprenticeship training you chose may no longer be available</li>
                                    <li>the fixed wage may no longer be valid, depending on National Minimum Wage changes</li>
                                </ul>
                                <p>To change the apprenticeship training or wage on the advert, you will need to create a new advert.</p>
                            </div>
                        </details>
                    </fieldset>
                </div>
                <div esfa-validation-marker-for="StartDate" class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="closing-hint" role="group">
                        <label class="govuk-label govuk-!-font-weight-bold" for="shortDescription">
                            Possible start date
                        </label>
                        <span esfa-validation-message-for="StartDate" class="govuk-error-message"></span>
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label asp-for="StartDay" class="govuk-label govuk-date-input__label">Day</label>
                                    <input asp-for="StartDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="31">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label asp-for="StartMonth" class="govuk-label govuk-date-input__label">Month</label>
                                    <input asp-for="StartMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="12">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label asp-for="StartYear" class="govuk-label govuk-date-input__label">Year</label>
                                    <input asp-for="StartYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" min="@Model.CurrentYear">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-!-font-weight-bold" for="apprenticeship-type">Apprenticeship training</label>
                    <p class="govuk-body">@Model.ProgrammeName</p>
                </div>
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Preview changes</button>
                <div class="govuk-body">
                    <a asp-route="@RouteNames.VacancyEdit_Get" class="govuk-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>