@model Esfa.Recruit.Provider.Web.ViewModels.Part1.LegalEntity.LegalEntityViewModel;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-which-organisation";
    ViewBag.Title = "Which organisation do you want to create a vacancy for?";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
        <a asp-route="@RouteNames.Title_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
    <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.NumberOfPositions_Get" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn"  asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>    
    </esfaFeatureDisabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review" />
        
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            Which organisation do you want to create a vacancy for?
        </h1>


        <form asp-show="@Model.CanShowSearchPanel" method="GET" asp-route="@RouteNames.LegalEntity_Get" asp-route-wizard="@Model.PageInfo.IsWizard">
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="SearchTerm">
                    Search for the organisation
                </label>
                <div class="das-search-form__group">
                    <input asp-for="SearchTerm" class="govuk-input das-search-form__input" maxlength="100" title="Search" />
                    <div class="das-search-form__button-wrap">
                        <button class="govuk-button das-search-form__button" type="submit">Search</button>
                    </div>
                </div>
                <p class="govuk-body govuk-!-margin-top-1">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.LegalEntity_Get">Clear search</a>
                </p>
            </div>
        </form>

        <form asp-route="@RouteNames.LegalEntity_Post" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId">
            <div esfa-validation-marker-for="SelectedOrganisationId" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">Select an organisation</legend>
                    <span esfa-validation-message-for="SelectedOrganisationId" class="govuk-error-message"></span>
                    <input type="hidden" asp-for="SearchTerm" />
                    <input type="hidden" asp-for="Page" />
                    <span asp-show="@Model.HasNoSearchResults" class="govuk-body">@Model.NoSearchResultsCaption</span>
                    <div class="govuk-radios">
                        @foreach (var organisation in Model.Organisations)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="SelectedOrganisationId" type="radio" value="@organisation.Id" class="govuk-radios__input" id="org-@organisation.Id" esfa-automation="selected-organisation-id">
                                <label for="org-@organisation.Id" class="govuk-label govuk-radios__label">@organisation.Name</label>
                            </div>
                        }
                        <input asp-show="@Model.CanOutputHiddenSelectedOrganisationIdField" type="hidden" asp-for="SelectedOrganisationId" />
                    </div>
                </fieldset>
            </div>

            <nav role="navigation" aria-label="Pagination" asp-show="@Model.Pager.ShowPager" >
                <div class="das-pagination__summary">
                    @Model.Pager.Caption
                </div>
                <ul class="das-pagination">
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowPrevious">
                    <a class="das-pagination__link" asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.PreviousPageRouteData" aria-label="Previous page">Previous</a>
                    </li>
                    @for (var pageIndex = 1; pageIndex <= Model.Pager.TotalPages; pageIndex++)
                    {
                        <li class="das-pagination__item">
                            @if (pageIndex == Model.Pager.CurrentPage) {
                                <a class="das-pagination__link current" asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-current="true" aria-label="Page @pageIndex, current page">@pageIndex</a>
                            } 
                            else 
                            {
                                <a class="das-pagination__link asp-route="  asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-label="Page @pageIndex">@pageIndex</a>
                            }
                        </li>
                    }
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowNext">
                    <a class="das-pagination__link"  asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.NextPageRouteData" aria-label="Next page">Next</a>
                    </li>
                </ul>
            </nav>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        The organisation I want to select is not listed
                    </span>
                </summary>
                <div class="govuk-details__text">
                    The organisation is not listed because you do not have the permission to create a vacancy for them. You'll need to contact them to set this permission.
                </div>
            </details>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and continue</button>
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.LegalEntity_Cancel" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureDisabled>
            </div>
            
        </form>
    </div>
</div>
