@model Esfa.Recruit.Provider.Web.ViewModels.Reviewed.VacancyReviewedConfirmationViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-submitted-for-review";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 asp-hide="@Model.IsResubmit" class="govuk-panel__title">
                Vacancy submitted to employer
            </h1>
            <h1 asp-show="@Model.IsResubmit" class="govuk-panel__title">
                Vacancy resubmitted to employer
            </h1>
            <div class="govuk-panel__body">
                <p asp-show="@Model.HasVacancyReference">
                    Your reference number <br>
                    <strong class="govuk-!-font-weight-bold">VAC@(Model.VacancyReference)</strong>
                </p>
            </div>
        </div>
        
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
            @Model.EmployerName needs to approve the vacancy.
        </p>
        
        <p class="govuk-body">
            If they approve the vacancy, we’ll do a final review and then post it on ‘Find an apprenticeship’.
        </p>
        
        <p class="govuk-body">
            If they reject the vacancy, it will come back to you to edit and resubmit.
        </p>
        
        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.Vacancies_Get">Return to recruitment dashboard</a>
        </p>
        
        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.Employer_Get">Create another vacancy</a>
        </p>
    </div>
</div>