@model Esfa.Recruit.Provider.Web.ViewModels.Reviewed.VacancyReviewedConfirmationViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-submitted-for-review";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 asp-hide="@Model.IsResubmit" class="govuk-panel__title">
                Vacancy submitted to employer
            </h1>
            <h1 asp-show="@Model.IsResubmit" class="govuk-panel__title">
                Vacancy resubmitted to employer
            </h1>
            <div class="govuk-panel__body">
                <p asp-show="@Model.HasVacancyReference">
                    The vacancy reference number is <br>
                    <strong class="govuk-!-font-weight-bold">VAC@(Model.VacancyReference)</strong>
                </p>
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
            @Model.EmployerName needs to approve the vacancy.
        </p>

        <p class="govuk-body">
            If the employer approves the vacancy, <abbr>DfE</abbr> will then review the vacancy. If the vacancy is approved by <abbr>DfE</abbr>, it will go live on Find an apprenticeship.
        </p>

        @if (Model.IsVacancyRejectedByEmployerNotificationSelected)
        {
            <p class="govuk-body">
                We'll email you if the employer rejects this vacancy. You'll need to edit the vacancy and resubmit it.
            </p>
        }
        else
        {
            <p class="govuk-body">
                If the employer rejects the vacancy, you will need to edit the vacancy and resubmit. <a class="govuk-link" asp-route="@RouteNames.ManageNotifications_Get" asp-route-ukprn="@Model.Ukprn">Manage your recruitment emails</a> to get an email when an employer rejects a vacancy.
            </p>
        }

        
        <p class="govuk-body">
            <a class="govuk-button" asp-route="@RouteNames.CreateVacancyStart" asp-route-ukprn="@Model.Ukprn">Create another vacancy</a>
        </p>

        <p class="govuk-body">
            <a class="govuk-link" asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn">Return to dashboard</a>
        </p>
    </div>
</div>