@model Esfa.Recruit.Shared.Web.ViewModels.ApplicationReview.ApplicationStatusConfirmationViewModel

@{
    var vacancyType = _serviceParameters.VacancyType.GetValueOrDefault() == VacancyType.Apprenticeship ? "apprenticeship" : "traineeship";
}

@section BackLink {
    <a asp-route="@RouteNames.VacancyManage_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <div asp-show="@Model.ShowStatusSuccessful">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Are you sure you want to make @Model.Name's application successful?
            </h1>
            <p>
                This will notify @Model.Name that they have been offered this @vacancyType.
            </p>
        </div>
        <div asp-show="@Model.ShowStatusUnsuccessful">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                Are you sure you want to make @Model.Name's application unsuccessful?
            </h1>
            <p>
                This will notify @Model.Name that they won't be offered the @vacancyType.
            </p>
            <h2 class="govuk-heading-s">Your message to the applicant</h2>
            <div class="govuk-details__text govuk-!-margin-bottom-6">
                <p class="govuk-body">@Model.CandidateFeedback</p>
            </div>
        </div>
        <div asp-show="@Model.ShowStatusEmployerUnsuccessful">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Make this application unsuccessful
            </h1>
            <p>
                You will make this application unsuccessful:
            </p>
            <div class="govuk-details__text govuk-!-margin-bottom-6">
                <p class="govuk-body">@Model.Name : @Model.FriendlyId</p>
            </div>
            <p>
                This applicant will be notified with this message:
            </p>
            <div class="govuk-details__text govuk-!-margin-bottom-6">
                <p class="govuk-body">@Model.CandidateFeedback</p>
            </div>
        </div>
        <form asp-route="@RouteNames.ApplicationReviewConfirmation_Post" asp-route-applicationReviewId="@Model.ApplicationReviewId" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId">
            @Html.HiddenFor(model => model.Outcome)
            @Html.HiddenFor(model => model.CandidateFeedback)
            @Html.HiddenFor(model => model.Name)
            <div esfa-validation-marker-for="NotifyCandidate" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend asp-show="@Model.ShowStatusEmployerUnsuccessful" class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h3 class="govuk-fieldset__heading">Do you want to make this application unsuccessful?</h3>
                    </legend>
                    <span esfa-validation-message-for="NotifyCandidate" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="NotifyCandidate" class="govuk-radios__input" id="notify-candidate-yes" type="radio" value="true">
                            <label for="notify-candidate-yes" class="govuk-label govuk-radios__label">@Model.YesMessageText</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="NotifyCandidate" class="govuk-radios__input" id="notify-candidate-no" type="radio" value="false">
                            <label for="notify-candidate-no" class="govuk-label govuk-radios__label">@Model.NoMessageText</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    This action cannot be undone.
                </strong>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Confirm" class="govuk-button" />
            </div>
        </form>
    </div>
</div>