@using System.Net
@model Esfa.Recruit.Shared.Web.ViewModels.ApplicationReview.ApplicationReviewViewModel

@section BackLink {
    <a asp-route="@RouteNames.VacancyManage_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div asp-show="@Model.ShowDisabilityStatusAlert" class="info-summary govuk-!-margin-top-6" role="alert" tabindex="-1">
            <h3 class="govuk-heading-m govuk-!-margin-top-0">Disability Confident - Alert</h3>
            <p class="govuk-body">This applicant has stated that they have either a learning difficulty, disability or medical condition.</p>
        </div>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">@Model.Name</h1>
        <p class="govuk-body govuk-!-margin-bottom-6">
            <span class="govuk-!-font-weight-bold">Application ID: </span>@Model.FriendlyId
        </p>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

        <div class="panel panel-border-narrow">
            <p class="govuk-body">
                @Html.Raw(
                string.Join("<br>",
                new[]
                {
                @Model.Name,
                @Model.AddressLine1,
                @Model.AddressLine2,
                @Model.AddressLine3,
                @Model.AddressLine4,
                @Model.Postcode
                }.Where(s => !string.IsNullOrWhiteSpace(s))
                .Select(WebUtility.HtmlEncode)))
            </p>
            <p class="govuk-body">
                @Model.Phone
                <br> <a class="govuk-link" href="mailto:@Model.Email">@Model.Email</a>
            </p>
        </div>

        <h2 class="govuk-heading-l govuk-!-margin-top-6">About you</h2>

        <div class="govuk-form-group">
            <span class="govuk-label govuk-!-font-weight-bold">What are your main strengths?</span>
            <span class="govuk-body">@Model.Strengths</span>
        </div>
        <div class="govuk-form-group">
            <span class="govuk-label govuk-!-font-weight-bold">What skills would you like to improve during this @(_serviceParameters.VacancyType.GetValueOrDefault() == VacancyType.Apprenticeship ? "apprenticeship" : "traineeship")?</span>
            <span class="govuk-body">@Model.Improvements</span>
        </div>
        <div class="govuk-form-group">
            <span class="govuk-label govuk-!-font-weight-bold">What are your hobbies and interests?</span>
            <span class="govuk-body">@Model.HobbiesAndInterests</span>
        </div>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Education</h2>

        <h3 class="govuk-heading-s">Name of most recent school/college</h3>
        <p class="govuk-body">@Model.EducationInstitution</p>

        <table class="govuk-table">
            <caption class="govuk-table__caption">Years attended</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Started</th>
                    <th class="govuk-table__header">Finished</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Model.EducationFromYear</td>
                    <td class="govuk-table__cell">@Model.EducationToYear</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Qualifications</h2>

        <p asp-show="@Model.HasNoQualifications" class="govuk-body">I don't have any qualifications</p>
        <hr asp-show="@Model.HasNoQualifications" class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

        @foreach (var group in Model.Qualifications.GroupBy(item => item.QualificationType))
        {

            <table class="govuk-table">
                <caption class="govuk-table__caption">@Html.Encode(group.Key)</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header govuk-!-width-one-half">Subject</th>
                        <th class="govuk-table__header govuk-!-width-one-quarter">Grade</th>
                        <th class="govuk-table__header govuk-!-width-one-quarter">Year</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var item in group)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">@item.Subject</td>
                            <td class="govuk-table__cell">@item.Grade <span asp-show="@item.IsPredicted">(Predicted)</span></td>
                            <td class="govuk-table__cell">@item.Year</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Work experience</h2>

        <p asp-show="@Model.HasNoWorkExperience">I don't have any work experience</p>

        <table asp-hide="@Model.HasNoWorkExperience" class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-half">Work experience</th>
                    <th class="govuk-table__header govuk-!-width-one-quarter">From</th>
                    <th class="govuk-table__header govuk-!-width-one-quarter">To</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var experience in Model.WorkExperiences)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @experience.Employer - @experience.JobTitle
                            <div>@experience.Description</div>
                        </td>
                        <td class="govuk-table__cell">@experience.FromDateAsText</td>
                        <td class="govuk-table__cell">@experience.ToDateAsText</td>
                    </tr>
                }
            </tbody>
        </table>

        <hr asp-show="@Model.HasNoWorkExperience" class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Training courses</h2>

        <p asp-show="@Model.HasNoTrainingCourses">I have not been on any training courses</p>

        <table asp-hide="@Model.HasNoTrainingCourses" class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-half">Training course</th>
                    <th class="govuk-table__header govuk-!-width-one-quarter">From</th>
                    <th class="govuk-table__header govuk-!-width-one-quarter">To</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">

                @foreach (var trainingCourse in Model.TrainingCourses)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            @trainingCourse.Provider - @trainingCourse.Title
                        </td>
                        <td class="govuk-table__cell">@trainingCourse.FromDateAsText</td>
                        <td class="govuk-table__cell">@trainingCourse.ToDateAsText</td>
                    </tr>
                }
            </tbody>
        </table>

        <hr asp-show="@Model.HasNoTrainingCourses" class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

        <h2 class="govuk-heading-l govuk-!-margin-top-6">Skills the Employer wants</h2>

        <p asp-show="@Model.HasNoSkills" class="govuk-body">I don't have the skills the employer wants</p>

        <p asp-show="@Model.HasSkills" class="govuk-body">
            @Html.Raw(string.Join(", ", Model.Skills.Select(s => Html.Encode(s))))
        </p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        @if (Model.HasAdditionalQuestions)
        {
            <h2 class="govuk-heading-l govuk-!-margin-top-6">Additional Questions</h2>
            <h3 class="govuk-heading-s">@Model.AdditionalQuestion1</h3>
            <p class="govuk-body">@Model.AdditionalQuestionAnswer1</p>

            @if (Model.HasAdditionalSecondQuestion)
            {
                <h3 class="govuk-heading-s">@Model.AdditionalQuestion2</h3>
                <p class="govuk-body">@Model.AdditionalQuestionAnswer2</p>
            }
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        }


        <h2 class="govuk-heading-l govuk-!-margin-top-6">Equality questions</h2>
        <h3 class="govuk-heading-s">Do you have a learning difficulty, disability or health problem?</h3>
        <p class="govuk-body">@Model.DisabilityStatus.GetDisplayName()</p>

        <h3 class="govuk-heading-s">Is there anything we can do to support your interview?</h3>
        <p class="govuk-body" asp-show="@Model.HasNoSupportRequirements">I don't have any interview support requirements</p>
        <p class="govuk-body" asp-hide="@Model.HasNoSupportRequirements">@Model.Support</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <div asp-show="@Model.CanNotChangeOutcome">
            <h3 class="govuk-heading-l govuk-!-margin-top-6">Outcome</h3>
            <p class="govuk-body">@Model.Status.Value.GetDisplayName()</p>
            <p class="govuk-body">@Model.CandidateFeedback</p>

            <a asp-route="@RouteNames.VacancyManage_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" class="govuk-button">Return to vacancy</a>
        </div>

        <form asp-show="@Model.CanChangeOutcome" asp-route="@RouteNames.ApplicationReview_Post"
              asp-route-applicationReviewId="@Model.ApplicationReviewId" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId"
              class="govuk-!-margin-top-6">

            <div asp-show="@Model.CanChangeOutcomeEmployerUnsuccessful" esfa-validation-marker-for="Outcome" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-heading-l govuk-!-margin-top-6">Make this application unsuccessful</h2>
                        <h3 class="govuk-heading-s">Employer's response</h3>
                        <p class="govuk-body">The employer <span class="govuk-!-font-weight-bold">does not want to interview</span> this applicant. They wrote:</p>
                        <div class="govuk-details__text">
                            <p class="govuk-body">@Model.EmployerFeedback</p>
                        </div>
                    </legend>
                    <input asp-for="Outcome" class="govuk-radios__input" id="Employer-outcome-unsuccessful" type="hidden" value="@ApplicationReviewStatus.Unsuccessful.ToString()" data-aria-controls="unsuccessful-candidate-feedback">
                    <span esfa-validation-message-for="Outcome" class="govuk-error-message"></span>
                    <div esfa-validation-marker-for="CandidateFeedback" id="Employer-unsuccessful-candidate-feedback" class="govuk-form-group">
                        <div class="govuk-character-count"
                             id="conditional-contact-3" data-module="govuk-character-count" data-maxwords="200">
                            <label asp-for="CandidateFeedback" class="govuk-label govuk-!-font-weight-bold govuk-!-margin-bottom-4">Respond to the applicant</label>
                            <span esfa-validation-message-for="CandidateFeedback" class="govuk-error-message"></span>
                            <span class="govuk-hint">Help the applicant understand why their application was unsuccessful. Your comment will be sent to the applicant.</span>
                            <textarea asp-for="CandidateFeedback" class="govuk-textarea govuk-js-character-count govuk-!-margin-top-4" id="CandidateFeedbackEmployerUnsuccessful" name="CandidateFeedback" rows="6"></textarea>
                            <div id="CandidateFeedbackEmployerUnsuccessful-info" class="govuk-hint govuk-character-count__message">
                                You have 200 words remaining
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div asp-show="@Model.CanChangeOutcomeDefault" esfa-validation-marker-for="Outcome" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h3 class="govuk-fieldset__heading">What do you want to do with this application?</h3>
                    </legend>
                    <span esfa-validation-message-for="Outcome" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <esfaFeatureEnabled name="@FeatureNames.ShareApplicationsFeature">
                            <div asp-show="@Model.CanShowRadioButtonReview" class="govuk-radios__item">
                                <input asp-for="Outcome" class="govuk-radios__input" id="outcome-reviewed" type="radio" value="@ApplicationReviewStatus.InReview.ToString()" checked="@(Model.Outcome == ApplicationReviewStatus.InReview ? "checked" : null)">
                                <label for="outcome-reviewed" class="govuk-label govuk-radios__label">Review</label>
                                <div class="govuk-hint govuk-radios__hint" id="radio-status-reviewed">
                                    Change this application's status to 'in review' and make a decision later. Does not notify the applicant.
                                </div>
                            </div>
                            <div asp-show="@Model.CanShowRadioButtonShared" class="govuk-radios__item">
                                <input asp-for="Outcome" class="govuk-radios__input" id="outcome-shared" type="radio" value="@ApplicationReviewStatus.Shared.ToString()" checked="@(Model.Outcome == ApplicationReviewStatus.Shared ? "checked" : null)">
                                <label for="outcome-shared" class="govuk-label govuk-radios__label">Share with the employer</label>
                                <div class="govuk-hint govuk-radios__hint" id="radio-status-shared">
                                    Share this application to the employer's apprenticeship service account. Does not notify the applicant.
                                </div>
                            </div>
                            <div asp-show="@Model.CanShowRadioButtonInterviewing" class="govuk-radios__item">
                                <input asp-for="Outcome" class="govuk-radios__input" id="outcome-interviewing" type="radio" value="@ApplicationReviewStatus.Interviewing.ToString()" checked="@(Model.Outcome == ApplicationReviewStatus.Interviewing ? "checked" : null)">
                                <label for="outcome-interviewing" class="govuk-label govuk-radios__label">Mark application for interviewing with the employer</label>
                                <div class="govuk-hint govuk-radios__hint" id="radio-status-interviewing">
                                    Change this application's status to 'interviewing' because the employer will interview this applicant. Does not notify the applicant.
                                </div>
                            </div>
                        </esfaFeatureEnabled>
                        <div class="govuk-radios__item">
                            <input asp-for="Outcome" class="govuk-radios__input" id="outcome-successful" type="radio" value="@ApplicationReviewStatus.Successful.ToString()" checked="@(Model.Outcome == ApplicationReviewStatus.Successful ? "checked" : null)">
                            <label for="outcome-successful" class="govuk-label govuk-radios__label">Make successful</label>
                            <div class="govuk-hint govuk-radios__hint" id="radio-status-successful">
                                Send a notification to the applicant offering them this apprenticeship.
                            </div>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="NavigateToFeedBackPage" class="govuk-radios__input" id="outcome-unsuccessful" type="radio" value="true" data-aria-controls="unsuccessful-candidate-feedback">
                            <label for="outcome-unsuccessful" class="govuk-label govuk-radios__label">Make unsuccessful and give feedback</label>
                            <div class="govuk-hint govuk-radios__hint" id="radio-status-unsuccessful">
                                Send a notification to the applicant telling them they won't be offered this apprenticeship.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-button-group hide-print">
                <button type="submit" class="govuk-button">Continue</button>
                <a asp-route="@RouteNames.VacancyManage_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script nws-csp-add-nonce="true">
    $(function () {
        var showHideContent = new GOVUK.ShowHideContent();
        showHideContent.init();
    });
</script>