@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.CustomWage.CustomWageViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-custom-wage";
    ViewBag.Title = "Set wage yourself";
    ViewBag.ZenDeskLabel = "recruit-set-wage-yourself";
}

@section BackLink {
    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Wage_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <form asp-route="@RouteNames.CustomWage_Post" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
        
            <div esfa-validation-marker-for="WageType" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Set wage yourself
                        </h1>
                    </legend>
            
                    <p class="govuk-body govuk-hint">
                        From @Model.MinimumWageStartFrom, <a href="@externalLinks.Value.NationalMinimumWageRates" rel="noopener" target="_blank" class="govuk-link">National Minimum Wage for apprentices (opens in a new tab)​</a> is @Model.ApprenticeshipMinimumWageHourly an hour.<br /><br />
                        You must pay more than this figure. Since your apprenticeship will be @Model.WeeklyHours per week, you'll need to pay a yearly wage of at least @Model.ApprenticeshipMinimumWageYearly.
                    </p>
                
                    <h2 class="govuk-fieldset__heading">
                        How much will the apprentice be paid?
                    </h2>

                    <span esfa-validation-message-for="FixedWageYearlyAmount" class="govuk-error-message"></span>
                    <div class="govuk-input__wrapper">
                        <input asp-for="FixedWageYearlyAmount" class="govuk-input govuk-!-width-one-quarter" type="text">
                        <div class="govuk-input__suffix" aria-hidden="true">yearly</div>
                    </div>

                </fieldset>
            </div>
            
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>
                <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>

        </form>

    </div>
</div>
