@using Esfa.Recruit.Provider.Web.ViewModels.Part2.Qualifications
@using Esfa.Recruit.Shared.Web.Mappers
@model QualificationViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-applicant-qualifications";
    ViewBag.Title = "What qualifications would you like the applicant to have?";
}

@section BackLink {

}


<partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

<h1 class="govuk-heading-xl">
    <span class="govuk-caption-l">@Model.Title</span>
    What qualifications would you like the applicant to have?
</h1>

<p class="govuk-hint govuk-!-margin-bottom-6">
    <a class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener" href="https://www.gov.uk/what-different-qualification-levels-mean/list-of-qualification-levels" rel="noopener"> What's the GCSE grading system? (opens in a new tab)</a>
</p>

<form method="post" 
      asp-route="@(Model.EditIndex != null ? RouteNames.Qualification_Edit_Post : RouteNames.Qualification_Add_Post)"
      asp-route-vacancyId="@Model.VacancyId"
      asp-route-ukprn="@Model.Ukprn"
      asp-route-index="@Model.EditIndex">
    <input asp-for="EditIndex" type="hidden" />

    <div esfa-validation-marker-for="QualificationType" class="govuk-form-group">
        <label asp-for="QualificationType" class="govuk-label" id="@Anchors.QualificationsHeading">Add qualifications applicants should have</label>
        <span esfa-validation-message-for="QualificationType" class="govuk-error-message"></span>
        <select asp-for="QualificationType" class="govuk-select">
            <option value="">Select from list</option>

            @foreach (var qualificationType in Model.QualificationTypes)
            {
                <option value="@qualificationType" selected="@(Model.QualificationType == @qualificationType)">@qualificationType</option>
            }
        </select>
    </div>

    <div esfa-validation-marker-for="Subject" class="govuk-form-group">
        <label asp-for="Subject" class="govuk-label">Subject</label>
        <span esfa-validation-message-for="Subject" class="govuk-error-message"></span>
        <input asp-for="Subject" value="@Model.Subject" type="text" class="govuk-input govuk-input--width-20" maxlength="50">
    </div>

    <div esfa-validation-marker-for="Grade" class="govuk-form-group">
        <label asp-for="Grade" class="govuk-label">Grade</label>
        <span esfa-validation-message-for="Grade" class="govuk-error-message"></span>
        <input asp-for="Grade" value="@Model.Grade" type="text" class="govuk-input govuk-input--width-20" maxlength="30">
    </div>

    <div esfa-validation-marker-for="Weighting" class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Is this qualification essential or desirable?
            </legend>
            <span esfa-validation-message-for="Weighting" class="govuk-error-message"></span>
            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input asp-for="Weighting" class="govuk-radios__input" id="WeightingYes" esfa-automation="radio-weighting-yes" type="radio" value="@QualificationWeighting.Essential" data-display="@QualificationWeighting.Essential.GetDisplayName()">
                    <label class="govuk-label govuk-radios__label" for="WeightingYes">
                        Essential
                    </label>
                    <span class="govuk-hint govuk-radios__hint">The applicant must have this qualification to be considered</span>
                </div>
                <div class="govuk-radios__item">
                    <input asp-for="Weighting" class="govuk-radios__input" id="WeightingNo" esfa-automation="radio-weighting-no" type="radio" value="@QualificationWeighting.Desired" data-display="@QualificationWeighting.Desired.GetDisplayName()">
                    <label class="govuk-label govuk-radios__label" for="WeightingNo">
                        Desirable
                    </label>
                    <span class="govuk-hint govuk-radios__hint">This qualification would be a nice to have, but is not required</span>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="govuk-button-group">
        <button type="submit" esfa-automation="btn-continue" class="govuk-button save-button">Save and continue</button>
        <a asp-route="@Model.CancelRoute" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>            
    </div>
</form>
