@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Provider.Web.ViewModels.Part2.Qualifications.QualificationsViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        
        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            What qualifications would you like the applicant to have?
        </h1>

        <form asp-route="@RouteNames.Qualifications_Post">
            <span esfa-validation-message-for="Qualifications" class="govuk-error-message"></span>

            <div esfa-validation-marker-for="QualificationType" class="govuk-form-group">
                <label asp-for="QualificationType" class="govuk-label govuk-!-font-weight-bold" id="@Anchors.QualificationsHeading">Add desired qualifications</label>
                <span esfa-validation-message-for="QualificationType" class="govuk-error-message"></span>
                <select asp-for="QualificationType" class="govuk-select govuk-!-width-one-half">
                    <option value="">Select from list</option>

                    @foreach (var qualificationType in Model.QualificationTypes)
                    {
                        <option value="@qualificationType" selected="@(Model.QualificationType == @qualificationType)">@qualificationType</option>
                    }
                </select>
            </div>

            <div esfa-validation-marker-for="Subject" class="govuk-form-group">
                <label asp-for="Subject" class="govuk-label govuk-!-font-weight-bold">Subject</label>
                <span esfa-validation-message-for="Subject" class="govuk-error-message"></span>
                <input asp-for="Subject" value="@Model.Subject" type="text" class="govuk-input govuk-!-width-one-half" maxlength="50">
            </div>

            <div esfa-validation-marker-for="Grade" class="govuk-form-group">
                <label asp-for="Grade" class="govuk-label govuk-!-font-weight-bold">Grade</label>
                <span esfa-validation-message-for="Grade" class="govuk-error-message"></span>
                <input asp-for="Grade" value="@Model.Grade" type="text" class="govuk-input govuk-!-width-one-third" maxlength="30">
            </div>

            <div esfa-validation-marker-for="Weighting" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend>
                        <h1 class="govuk-label govuk-!-font-weight-bold">Is this qualification essential?</h1>
                    </legend>
                    <span esfa-validation-message-for="Weighting" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input asp-for="Weighting" class="govuk-radios__input" id="WeightingYes" esfa-automation="radio-weighting-yes" type="radio" value="@QualificationWeighting.Essential" data-display="@QualificationWeighting.Essential.GetDisplayName()">
                            <label class="govuk-label govuk-radios__label" for="WeightingYes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="Weighting" class="govuk-radios__input" id="WeightingNo" esfa-automation="radio-weighting-no" type="radio" value="@QualificationWeighting.Desired" data-display="@QualificationWeighting.Desired.GetDisplayName()">
                            <label class="govuk-label govuk-radios__label" for="WeightingNo">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <button type="submit" name="AddQualificationAction" id="add-qualification" value="AddQualification" class="govuk-button govuk-!-margin-bottom-0 button-secondary save-button">+ Add this qualification</button>
            </div>

            <table asp-show="@Model.HasQualifications" id="qualifications-container" class="govuk-table responsive">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        <span class="heading-span">Qualification</span>
                    </th>
                    <th class="govuk-table__header">
                        <span class="heading-span">Subject</span>
                    </th>
                    <th class="govuk-table__header">
                        <span class="heading-span">Grade</span>
                    </th>
                    <th class="govuk-table__header">
                        <span class="heading-span">Essential or desired</span>
                    </th>
                    <th class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body" id="qualifications-summary">
                @for(var i = 0; i < Model.Qualifications.Count; i++)
                {
                    var qualification = Model.Qualifications[i];
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="Qualification">@qualification.QualificationType</td>
                        <td class="govuk-table__cell" data-label="Subject">@qualification.Subject</td>
                        <td class="govuk-table__cell" data-label="Grade">@qualification.Grade</td>
                        <td class="govuk-table__cell" data-label="Essential or desired">@qualification.Weighting.GetDisplayName()</td>
                        <td class="govuk-table__cell" data-label="Action">
                            <input name="Qualifications[@i].QualificationType" type="hidden" value="@qualification.QualificationType" />
                            <input name="Qualifications[@i].Subject" type="hidden" value="@qualification.Subject" />
                            <input name="Qualifications[@i].Grade" type="hidden" value="@qualification.Grade" />
                            <input name="Qualifications[@i].Weighting" type="hidden" value="@qualification.Weighting" />

                            <button type="submit" name="RemoveQualification" class="button-fake-link" value="@i">Remove</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="govuk-form-group">
                <button type="submit" esfa-automation="btn-continue" class="govuk-button save-button">Save and continue</button>
                <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="govuk-link das-button-link">Cancel</a>
            </div>
        </form>
    </div>

</div>
