@using Esfa.Recruit.Provider.Web.ViewModels.Part1.Employer;

@model EmployersViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-employer";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.LegalEntity_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            <span class="govuk-caption-l">@Model.Title</span>
            Which employer is this vacancy for?
        </h1>

        <form asp-route="@RouteNames.Employer_Post">
            <div esfa-validation-marker-for="SelectedEmployerId" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="SelectedEmployerId" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        @foreach (var employer in Model.Employers)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="SelectedEmployerId" type="radio" value="@employer.Id" class="govuk-radios__input" id="emp-@employer.Id">
                                <label for="emp-@employer.Id" class="govuk-label govuk-radios__label">@employer.Name</label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button save-button">@PartOnePageInfoViewModel.SubmitButtonCaptionForWizard</button>

            <a asp-route="@RouteNames.Vacancies_Get" class="govuk-link das-button-link">Cancel</a>
        </form>
    </div>
</div>
