@using Esfa.Recruit.Provider.Web.ViewModels.Part1.Employer;

@model EmployersViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-employer";
    ViewBag.Title = "Which employer do you want to create a vacancy for?";
}

@section BackLink {
    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>
        <form asp-route="@RouteNames.Employer_Post"  asp-all-route-data="@Model.RouteDictionary">
            <div esfa-validation-marker-for="SelectedEmployerId" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which employer is this vacancy for?
                        </h1>
                    </legend>
                    <span esfa-validation-message-for="SelectedEmployerId" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        @foreach (var employer in Model.Employers)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="SelectedEmployerId" type="radio" value="@employer.Id" class="govuk-radios__input" id="emp-@employer.Id">
                                <label for="emp-@employer.Id" class="govuk-label govuk-radios__label">@employer.Name</label>
                            </div>
                        }
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button">@PartOnePageInfoViewModel.SubmitButtonCaptionForWizard</button>
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Vacancies_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>    
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>
