@using Esfa.Recruit.Shared.Web.Mappers

@model (ReviewViewModel ViewModel, bool ReadOnly)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="@Model.ViewModel.EmployerAddressClass" id="@FieldIdentifiers.EmployerAddress">
            <h3 class="govuk-heading-s">Location</h3>
            <address class="govuk-body" value="@Model.ViewModel.EmployerLocations[0]" anonymised="@Model.ViewModel.IsAnonymous"></address>
            @if (!Model.ReadOnly)
            {
                <esfa-review-checkbox asp-for="@Model.ViewModel.SelectedFieldIdentifiers" asp-value="@FieldIdentifiers.EmployerAddress" asp-items="@Model.ViewModel.FieldIdentifiers"></esfa-review-checkbox>
            }
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <img id="static-map" src="@Model.ViewModel.MapUrl" alt="Location map" />
    </div>
</div>