@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model ReviewViewModel
<div class="review-container">

    <partial name="_ReviewHeader" />

    <div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h1 class="heading-xlarge small-bottom-margin">
                    @Model.Title
                    <span class="heading-secondary">@Model.EmployerName</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h3 class="heading-small sfa-no-top-margin">Brief overview</h3>
                <p>@Model.ShortDescription</p>
            </div>
        </div>
        <div class="column-one-third">
            <div>
                <h3 class="heading-small sfa-no-top-margin">Closing Date</h3>
                <p>@Model.ClosingDate</p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Apprenticeship summary</h2>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-one-third">
            <ul class="list">
                <li>
                    <div>
                        <h3 class="heading-small">Working week</h3>
                        <p>@Model.WorkingWeekDescription</p>
                        <p>Total hours per week: @Model.HoursPerWeek</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="heading-small">Yearly wage</h3>
                        <p>@Model.WageText</p>
                        <p>@Model.WageInfo</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="heading-small">Expected duration</h3>
                        <p>@Model.ExpectedDuration</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="heading-small">Possible start date</h3>
                        <p>@Model.PossibleStartDate</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="heading-small">Apprenticeship level</h3>
                        <p>@Model.TrainingLevel Level Apprenticeship</p>
                    </div>
                </li>
                <li>
                    <h3 class="heading-small">Reference number</h3>
                    <p>@Model.VacancyReferenceNumber</p>
                </li>
                <li>
                    <div>
                        <h3 class="heading-small">Positions</h3>
                        <p>@Model.NumberOfPositionsCaption</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="column-two-thirds vacancy-descriptions">
            <div>

                <h3 class="heading-small">Typical working day</h3>
                <div class="preserve-format">@Html.Raw(Model.VacancyDescription)</div>
            </div>
            <div>
                <h3 class="heading-small">Training to be provided</h3>
                <div class="preserve-format">@Html.Raw(Model.TrainingDescription)</div>
            </div>
            <div>
                <h3 class="heading-small">Future prospects</h3>
                <div class="preserve-format">@Html.Raw(Model.OutcomeDescription)</div>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Requirements and prospects</h2>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <div>
                <h3 class="heading-small">Desired skills and personal qualities</h3>
                <p>@string.Join(", ", Model.Skills)</p>
            </div>
            <div>
                <h3 class="heading-small">Qualifications</h3>
                <p>
                    @foreach (var qualification in Model.Qualifications)
                    {
                        @qualification<br />
                    }
                </p>
            </div>
        </div>
        <div class="column-half">
            <div>
                <h3 class="heading-small">Things to consider (optional)</h3>
                <p>@Model.ThingsToConsider</p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">About the employer</h2>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h3 class="heading-small">Description</h3>
                <p>@Model.EmployerDescription</p>
            </div>
            <div>
                <h3 class="heading-small">Employer</h3>
                <p>@Model.EmployerName</p>
            </div>
            <div>
                <h3 class="heading-small">Disability Confident (optional)</h3>
                <img asp-show="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" class="disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident" />
                <p asp-show="@Model.IsNotDisabilityConfident">This vacancy is not Disability Confident</p>
            </div>
            <div>
                <h3 class="heading-small">Website (optional)</h3>
                <p>@Model.EmployerWebsiteUrl</p>
            </div>
        </div>
        <div class="column-one-third">
            <div>
                <h3 class="heading-small">Contact details (optional)</h3>
                <p>@Model.ContactName</p>
                <p>@Model.ContactEmail</p>
                <p>@Model.ContactTelephone</p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-half">
            <div>
                <h3 class="heading-small">Location</h3>
                <ul class="list">
                    @foreach (var addrLine in Model.EmployerAddressElements)
                    {
                        <li>@addrLine</li>
                    }
                </ul>
            </div>
        </div>
        <div class="column-half">
            <img id="static-map" src="@Model.MapUrl" alt="Location map" />
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Training provider</h2>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <div>
                <h3 class="heading-small">Training provider</h3>
                <p>@Model.ProviderName</p>
            </div>
            <div>
                <h3 class="heading-small">Apprenticeship @Model.TrainingType</h3>
                <p>@Model.TrainingTitle</p>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large" id="@VacancyReview.FieldIdentifiers.ApplicationMethod">Application process</h2>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-full">
            <p asp-show="@Model.HasSpecifiedThroughFaaApplicationMethod">
                Candidates will apply through the Find an apprenticeship service
            </p>
            <p asp-show="@Model.HasSpecifiedThroughExternalApplicationSiteMethod">
                Candidates will apply through the employer's website
            </p>

            <div asp-show="@Model.HasApplicationUrl">
                <h2 class="heading-small">Employer's application website</h2>
                <p>@Model.ApplicationUrl</p>
            </div>
            <div asp-show="@Model.HasApplicationInstructions">
                <h2 class="heading-small">Employer's application instructions (optional)</h2>
                <p>@Model.ApplicationInstructions</p>
            </div>
        </div>
    </div>
    <hr>

    <partial name="_ReviewHistories" for="ReviewHistories" />

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-medium">Reviewer's Comments</h2>
            <ul class="small-bottom-margin">
                @foreach (var automatedQaResult in Model.AutomatedQaResults.Where(r => r.Checked))
                {
                <li>@automatedQaResult.Text</li>
                }
            </ul>
            <p>@Model.ReviewerComment</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <div class="form-group inline">
                <div class="form-group small-top-margin">
                    <a asp-route="@RouteNames.Dashboard_Index_Get" class="button">Back</a>
                </div>
            </div>
        </div>
    </div>

</div>
<script nws-csp-add-nonce="true">
    $(function () {
        hookupHistory();
    });
</script>