@using Esfa.Recruit.Vacancies.Client.Application.Validation.Fluent
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model ReviewViewModel
<div class="review-container">
    <form asp-route="@RouteNames.Vacancy_Review_Post">
        <partial name="_ReviewHeader" />
        <div class="grid-row">
            <div class="column-full">
                <div asp-validation-summary="All" class="error-summary" asp-show="@ViewData.ModelState.IsValid == false"></div>
            </div>
        </div>

        <div class="grid-row" asp-show="@Model.IsResubmission">
            <div class="column-full">
                <div class="error-summary review-summary" tabindex="-1">
                    <h2 class="heading-medium error-summary-heading">
                        This is a re-submitted vacancy
                    </h2>
                    <div asp-show="@Model.HasChangedFields">
                        <p>Fields updated by the employer</p>
                        <ul class="error-summary-list">
                            @foreach (var field in Model.FieldIdentifiers.Where(f => f.FieldValueHasChanged))
                            {
                                <li>
                                    <a asp-fragment="@field.FieldIdentifier">@field.Text</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-row" asp-show="@Model.HasAutomatedQaResults">
            <div class="column-full">
                <div class="error-summary review-summary">
                    <h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
                        Automated QA Results
                    </h2>
                    <p>Uncheck to exclude from QA Results that are referred to the employer</p>
                    @foreach (var automatedQaResult in Model.AutomatedQaResults)
                    {
                        <div class="form-group">
                            <div class="multiple-choice">
                                <input name="@nameof(Model.SelectedAutomatedQaResults)" 
                                       id="automatedqaresults-@automatedQaResult.OutcomeId"
                                       type="checkbox"
                                       checked="@(automatedQaResult.Checked ? "checked" : null)"
                                       value="@automatedQaResult.OutcomeId"
                                       class="automatedqaresults-checkbox"
                                       data-text="@automatedQaResult.Text">
                                <label for="automatedqaresults-@automatedQaResult.OutcomeId">@automatedQaResult.Text</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="grid-row">
            <div class="column-two-thirds">
                <div class=" @Model.TitleClass" id="@VacancyReview.FieldIdentifiers.Title">
                    <h1 class="heading-xlarge no-bottom-margin">
                        @Model.Title
                    </h1>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.Title"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <h2 class="heading-xlarge small-bottom-margin">
                    <span class="heading-secondary">@Model.EmployerName</span>
                </h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="@Model.ShortDescriptionClass" id="@VacancyReview.FieldIdentifiers.ShortDescription">
                    <h3 class="heading-small sfa-no-top-margin">Brief overview</h3>

                    <p>@Model.ShortDescription</p>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.ShortDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="column-one-third">
                <div class="@Model.ClosingDateClass" id="@VacancyReview.FieldIdentifiers.ClosingDate">
                    <h3 class="heading-small sfa-no-top-margin">Closing Date</h3>
                    <p>@Model.ClosingDate</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.ClosingDate"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <h2 class="heading-large">Apprenticeship summary</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-one-third">
                <ul class="list">
                    <li>
                        <div class="@Model.WorkingWeekClass" id="@VacancyReview.FieldIdentifiers.WorkingWeek">
                            <h3 class="heading-small">Working week</h3>
                            <p>@Model.WorkingWeekDescription</p>
                            <p>Total hours per week: @Model.HoursPerWeek</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@VacancyReview.FieldIdentifiers.WorkingWeek"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="@Model.WageClass" id="@VacancyReview.FieldIdentifiers.Wage">
                            <h3 class="heading-small">Yearly wage</h3>
                            <p>@Model.WageText</p>
                            <p>@Model.WageInfo</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@VacancyReview.FieldIdentifiers.Wage"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="@Model.ExpectedDurationClass" id="@VacancyReview.FieldIdentifiers.ExpectedDuration">
                            <h3 class="heading-small">Expected duration</h3>
                            <p>@Model.ExpectedDuration</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@VacancyReview.FieldIdentifiers.ExpectedDuration"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="@Model.PossibleStartDateClass" id="@VacancyReview.FieldIdentifiers.PossibleStartDate">
                            <h3 class="heading-small">Possible start date</h3>
                            <p>@Model.PossibleStartDate</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@VacancyReview.FieldIdentifiers.PossibleStartDate"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    <li>
                        <div class="@Model.TrainingLevelClass" id="@VacancyReview.FieldIdentifiers.TrainingLevel">
                            <h3 class="heading-small">Apprenticeship level</h3>
                            <p>@Model.TrainingLevel Level Apprenticeship</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@VacancyReview.FieldIdentifiers.TrainingLevel"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    <li>
                        <h3 class="heading-small">Reference number</h3>
                        <p>@Model.VacancyReferenceNumber</p>
                    </li>
                    <li>
                        <div class="@Model.NumberOfPositionsClass" id="@VacancyReview.FieldIdentifiers.NumberOfPositions">
                            <h3 class="heading-small">Positions</h3>
                            <p>@Model.NumberOfPositionsCaption</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@VacancyReview.FieldIdentifiers.NumberOfPositions"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="column-two-thirds vacancy-descriptions">
                <div class="@Model.VacancyDescriptionClass" id="@VacancyReview.FieldIdentifiers.VacancyDescription">

                    <h3 class="heading-small">What will you do in your working day</h3>
                    <div class="preserve-format">@Html.Raw(Model.VacancyDescription)</div>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.VacancyDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.TrainingDescriptionClass" id="@VacancyReview.FieldIdentifiers.TrainingDescription">

                    <h3 class="heading-small">The training you will be getting</h3>
                    <div class="preserve-format">@Html.Raw(Model.TrainingDescription)</div>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.TrainingDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.OutcomeDescriptionClass" id="@VacancyReview.FieldIdentifiers.OutcomeDescription">

                    <h3 class="heading-small">What to expect at the end of your apprenticeship</h3>
                    <div class="preserve-format">@Html.Raw(Model.OutcomeDescription)</div>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.OutcomeDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <hr class="no-bottom-margin">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <h2 class="heading-large">Requirements and prospects</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-half">
                <div class="@Model.SkillsClass" id="@VacancyReview.FieldIdentifiers.Skills">
                    <h3 class="heading-small">Desired skills and personal qualities</h3>
                    <p>@string.Join(", ", Model.Skills)</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.Skills"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.QualificationsClass" id="@VacancyReview.FieldIdentifiers.Qualifications">
                    <h3 class="heading-small">Qualifications</h3>
                    <p>
                        @foreach (var qualification in Model.Qualifications)
                        {
                            @qualification<br />
                        }
                    </p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.Qualifications"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="column-half">
                <div class="@Model.ThingsToConsiderClass" id="@VacancyReview.FieldIdentifiers.ThingsToConsider">
                    <h3 class="heading-small">Things to consider (optional)</h3>

                    <p>@Model.ThingsToConsider</p>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.ThingsToConsider"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <hr class="no-bottom-margin">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <h2 class="heading-large">About the employer</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <div class="@Model.EmployerDescriptionClass" id="@VacancyReview.FieldIdentifiers.EmployerDescription">
                    <h3 class="heading-small">Description</h3>

                    <p>@Model.EmployerDescription</p>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.EmployerDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div>
                    <h3 class="heading-small">Employer</h3>
                    <p>@Model.EmployerName</p>
                </div>
                <div class="@Model.DisabilityConfidentClass" id="@VacancyReview.FieldIdentifiers.DisabilityConfident">
                    <h3 class="heading-small">Disability Confident (optional)</h3>
                    <img asp-show="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" class="disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident" />
                    <p asp-show="@Model.IsNotDisabilityConfident">This vacancy is not Disability Confident</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.DisabilityConfident"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.EmployerWebsiteUrlClass" id="@VacancyReview.FieldIdentifiers.EmployerWebsiteUrl">
                    <h3 class="heading-small">Website (optional)</h3>
                    <p>@Model.EmployerWebsiteUrl</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.EmployerWebsiteUrl"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="column-one-third">
                <div class="@Model.EmployerContactClass" id="@VacancyReview.FieldIdentifiers.EmployerContact">
                    <h3 class="heading-small">Contact details (optional)</h3>
                    <p>@Model.ContactName</p>
                    <p>@Model.ContactEmail</p>
                    <p>@Model.ContactTelephone</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.EmployerContact"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-half">
                <div class="@Model.EmployerAddressClass" id="@VacancyReview.FieldIdentifiers.EmployerAddress">
                    <h3 class="heading-small">Location</h3>
                    <ul class="list">
                        @foreach (var addrLine in Model.EmployerAddressElements)
                        {
                            <li>@addrLine</li>
                        }
                    </ul>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.EmployerAddress"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="column-half">
                <img id="static-map" src="@Model.MapUrl" alt="Location map" />
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <hr class="no-bottom-margin">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <h2 class="heading-large">Training provider</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <div class="@Model.ProviderClass" id="@VacancyReview.FieldIdentifiers.Provider">
                    <h3 class="heading-small">Training provider</h3>
                    <p>@Model.ProviderName</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.Provider"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.TrainingClass" id="@VacancyReview.FieldIdentifiers.Training">
                    <h3 class="heading-small">Apprenticeship @Model.TrainingType</h3>
                    <p>@Model.TrainingTitle</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.Training"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <hr class="no-bottom-margin">
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <h2 class="heading-large" id="@VacancyReview.FieldIdentifiers.ApplicationMethod">Application process</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <div class="@Model.ApplicationMethodClass" id="@VacancyReview.FieldIdentifiers.ApplicationMethod">
                    <p asp-show="@Model.HasSpecifiedThroughFaaApplicationMethod">
                        Candidates will apply through the Find an apprenticeship service
                    </p>
                    <p asp-show="@Model.HasSpecifiedThroughExternalApplicationSiteMethod">
                        Candidates will apply through the employer's website
                    </p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.ApplicationMethod"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div asp-show="@Model.HasApplicationUrl" class="@Model.ApplicationUrlClass" id="@VacancyReview.FieldIdentifiers.ApplicationUrl">
                    <h2 class="heading-small">Employer's application website</h2>
                    <p>@Model.ApplicationUrl</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.ApplicationUrl"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div asp-show="@Model.HasApplicationInstructions" class="@Model.ApplicationInstructionsClass" id="@VacancyReview.FieldIdentifiers.ApplicationInstructions">
                    <h2 class="heading-small">Employer's application instructions (optional)</h2>
                    <p>@Model.ApplicationInstructions</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@VacancyReview.FieldIdentifiers.ApplicationInstructions"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <hr>
        <partial name="_ReviewHistories" for="ReviewHistories" />
        <div class="grid-row">
            <div class="column-full">
                <h2 class="heading-medium">Reviewer's Comments</h2>
                <ul class="small-bottom-margin" id="automatedqarules-selected-comments"></ul>
                <span asp-validation-for="ReviewerComment" class="error-message"></span>
                <div class="form-group">
                    <textarea asp-for="ReviewerComment"
                              class="form-control form-control-3-4"
                              cols="20"
                              rows="5"
                              size="12"
                              type="text"
                              data-val-length-max="@VacancyReviewValidator.ManualQaCommentMaxLength"></textarea>
                    <span class="maxchar-count"></span>
                    <span class="maxchar-text"></span>
                </div>
            </div>
        </div>
        <div class="grid-row">
            <div class="column-full">
                <div class="form-group inline">
                    <div class="form-group small-top-margin">
                        <button type="submit" class="button" id="submit-button">Approve</button>
                        <a asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Back to QA dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script nws-csp-add-nonce="true">
    $(function () {
        hookupHistory();

        $(".field-identifier-checkbox").change(function () {
            toggleSubmitButton();
        });

        $(".automatedqaresults-checkbox").change(function () {
            toggleSubmitButton();
            rebuildAutomatedQaReviewersComment();
        });
        
        function toggleSubmitButton() {
            var isRefer = $(".field-identifier-checkbox:checked,.automatedqaresults-checkbox:checked").length > 0;
            var submitButtonText = isRefer ? "Refer" : "Approve";
            $("#submit-button").text(submitButtonText);
        }

        function rebuildAutomatedQaReviewersComment() {
            var $comments = $("#automatedqarules-selected-comments");
            $comments.empty();
            
            $(".automatedqaresults-checkbox:checked").each(function (_, el) {
                var $automatedQaText = $("<li></li>").text($(el).data("text"));
                $comments.append($automatedQaText);
            });
        }

        toggleSubmitButton();
        rebuildAutomatedQaReviewersComment();
    });
</script>