@model ReviewViewModel

@{
    var postRoute = Model.IsEditable ? RouteNames.Vacancy_Review_Referral_Post : RouteNames.Vacancy_Review_Post;
}

<form asp-route="@postRoute" class="form-inline">

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge small-bottom-margin">Vacancy Review</h1>
            <h1 class="heading-xlarge small-bottom-margin">
                @Model.Title
                <span class="heading-secondary">@Model.EmployerName</span>
            </h1>
        </div>
        <div class="column-one-third">
            <div class="info-summary small-top-margin">
                <h2 class="heading-medium info-summary-heading">User profile</h2>
                <div class="heading-small">@Model.SubmittedByName</div>
                <div>
                    <a href="mailto:@Model.SubmittedByEmail">@Model.SubmittedByEmail</a>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h3 class="heading-small sfa-no-top-margin">Brief overview of the role</h3>
                @if(Model.IsEditable)
                {
                    <textarea asp-for="ShortDescription" class="form-control form-control-3-4" rows="5"></textarea>
                }
                else
                {
                    <p>@Model.ShortDescription</p>
                }
            </div>
        </div>
        <div class="column-one-third">
            <div>
                <h3 class="heading-small sfa-no-top-margin">Closing Date</h3>
                <p>@Model.ClosingDate</p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Apprenticeship summary</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-one-third">
            <ul class="list">
                <li>
                    <h3 class="heading-small">Working week</h3>
                    <ul class="list">
                        <li>
                            @Model.WorkingWeekDescription
                        </li>
                        <li>
                            Total hours per week: @Model.HoursPerWeek
                        </li>
                    </ul>
                </li>
                <li>
                    <h3 class="heading-small">Yearly wage</h3>
                    <p>@Model.WageText</p>
                    <p>@Model.WageInfo</p>
                </li>
                <li>
                    <h3 class="heading-small">Expected apprenticeship duration</h3>
                    <p>@Model.ExpectedDuration</p>              
                </li>
                <li>
                    <h3 class="heading-small">Possible start date</h3>
                    <p>@Model.PossibleStartDate</p>
                </li>
                <li>
                    <h3 class="heading-small">Apprenticeship level</h3>
                    <p>@Model.TrainingLevel Level Apprenticeship</p>
                </li>
                <li>
                    <h3 class="heading-small">Reference number</h3>
                    <p>@Model.VacancyReferenceNumber</p>
                </li>
                <li>
                    <h3 class="heading-small">Positions</h3>
                    <p>@Model.NumberOfPositionsCaption</p>
                </li>
            </ul>
        </div>
        <div class="column-two-thirds">
            <div>
                <h3 class="heading-small">Vacancy description</h3>
                <div>
                    @if(Model.IsEditable)
                    {
                        <div class="form-group">
                            <label class="form-label-bold" for="full-description-1">What does the apprenticeship involve?</label>
                            <textarea asp-for="VacancyDescription" class="form-control form-control-3-4" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label-bold" for="full-description-1">What training will your apprentice get?</label>
                            <textarea asp-for="TrainingDescription" class="form-control form-control-3-4" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label-bold" for="full-description-1">What can the apprentice expect at the end of the apprenticeship?</label>
                            <textarea asp-for="OutcomeDescription" class="form-control form-control-3-4" rows="5"></textarea>
                        </div>
                    }
                    else
                    {
                        <p>@Model.VacancyDescription</p>
                        <p>@Model.TrainingDescription</p>
                        <p>@Model.OutcomeDescription</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>


    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Requirements and prospects</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half">
            <div>
                <h3 class="heading-small">Desired skills and personal qualities</h3>
                <p>@string.Join(", ", Model.Skills)</p>
            </div>
            <div>
                <h3 class="heading-small">Qualifications</h3>
                <p>
                @foreach (var qualification in Model.Qualifications)
                {
                    @qualification<br />
                }
                </p>
            </div>
        </div>
        <div class="column-half">
            <div>
                <h3 class="heading-small">Things to consider (optional)</h3>
                @if(Model.IsEditable)
                {
                    <textarea asp-for="ThingsToConsider" class="form-control form-control-3-4" rows="5"></textarea>
                }
                else
                {
                    <p>@Model.ThingsToConsider</p>
                }
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">About the employer</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <div>
                <h3 class="heading-small">Employer</h3>
                <p>@Model.EmployerName</p>
            </div>
            <div>
                <h3 class="heading-small">Description</h3>
                @if(Model.IsEditable)
                {
                    <textarea asp-for="EmployerDescription" class="form-control form-control-3-4" rows="5"></textarea>
                }
                else
                {
                    <p>@Model.EmployerDescription</p>
                }
            </div>
            <div>
                <h3 class="heading-small">Website (optional)</h3>
                <p>@Model.EmployerWebsiteUrl</p>
            </div>
        </div>
        <div class="column-one-third">
            <div>
                <h3 class="heading-small">Contact details (optional)</h3>
                <p>@Model.ContactName</p>
                <p>@Model.ContactEmail</p>
                <p>@Model.ContactTelephone</p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-half">
            <div>
                <h3 class="heading-small">Location</h3>
                <ul class="list">
                    @foreach (var addrLine in Model.EmployerAddressElements)
                    {
                        <li>@addrLine</li>
                    }
                </ul>
            </div>
        </div>
        <div class="column-half">
            <img id="static-map" src="@Model.MapUrl" alt="Location map" />
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <div>
                <h2 class="heading-small">Employer's application instructions (optional)</h2>
                <p>@Model.ApplicationInstructions</p>
            </div>
            <div>
                <h2 class="heading-small">Employer's application website</h2>
                <p>@Model.ApplicationUrl</p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-large">Training provider</h2>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <div>
                <h3 class="heading-small">Training provider</h3>
                <p>@Model.ProviderName</p>
            </div>
            <div>
                <h3 class="heading-small">Apprenticeship @Model.TrainingType</h3>
                <p>@Model.TrainingTitle</p>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <hr class="no-bottom-margin">
        </div>
    </div>

    <div class="grid-row">
        <div class="column-full">
            <div class="form-group inline">
                <div class="form-group small-top-margin">
                        <input type="submit" value="Approve vacancy" class="button" />
                        @if(!Model.IsEditable)
                        {
                            <a asp-route="@RouteNames.Vacancy_Review_Referral_Get" class="button-link">Refer vacancy</a>
                        }
                    <a asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Back to QA dashboard</a>
                </div>
            </div>
        </div>
    </div>
</form>