@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Application.Validation.Fluent
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model ReviewViewModel
@{
    var isApprenticeshipVacancyType = Model.VacancyType.GetValueOrDefault() == VacancyType.Apprenticeship;
    if (isApprenticeshipVacancyType)
    {
        ViewBag.Title = "Apprenticeship review page";
    }
    else
    {
        ViewBag.Title = "Traineeship review page";
    }
}
<div class="review-container">
    <form asp-route="@RouteNames.Vacancy_Review_Post">
        <partial name="_ReviewHeader" />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' asp-show="@ViewData.ModelState.IsValid == false"/>
            </div>
        </div>

        <div class="govuk-grid-row" asp-show="@Model.IsResubmission">
            <div class="govuk-grid-column-full">
                <div class="govuk-error-summary review-summary" tabindex="-1">
                    <h2 class="govuk-error-summary__title">
                        This is a re-submitted vacancy
                    </h2>
                    <div asp-show="@Model.HasChangedFields" class="govuk-error-summary__body">
                        <p class="govuk-body">Fields updated by the employer</p>
                        <ul class="govuk-list govuk-error-summary__list">
                            @foreach (var field in Model.FieldIdentifiers.Where(f => f.FieldValueHasChanged))
                            {
                                <li>
                                    <a asp-fragment="@field.FieldIdentifier" class="govuk-link">@field.Text</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="govuk-grid-row" asp-show="@Model.HasAutomatedQaResults">
            <div class="govuk-grid-column-full">
                <div class="govuk-error-summary review-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        Automated QA Results
                    </h2>
                    <div class="govuk-error-summary__body">

                        <p asp-show="@Model.IsEmployerVacancy" class="govuk-body">Uncheck the box if you don't want this feedback to be sent to the employer.</p>
                        <p asp-show="@Model.IsProviderVacancy" class="govuk-body">Uncheck the box if you don't want this feedback to be sent to the provider.</p>

                        @foreach (var automatedQaResult in Model.AutomatedQaResults)
                        {
                            <div class="govuk-form-group">
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input name="@nameof(Model.SelectedAutomatedQaResults)"
                                            id="automatedqaresults-@automatedQaResult.OutcomeId"
                                            type="checkbox"
                                            checked="@(automatedQaResult.Checked ? "checked" : null)"
                                            value="@automatedQaResult.OutcomeId"
                                            class="govuk-checkboxes__input automatedqaresults-checkbox"
                                            data-text="@automatedQaResult.Text">
                                        <label class="govuk-label govuk-checkboxes__label" for="automatedqaresults-@automatedQaResult.OutcomeId">@automatedQaResult.Text</label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class=" @Model.TitleClass" id="@FieldIdentifiers.Title">
                    <h1 class="govuk-heading-xl no-bottom-margin">
                        @Model.Title
                    </h1>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.Title"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <h2 class="govuk-heading-xl govuk-!-margin-bottom-6">
                    <span class="govuk-caption-xl">@Model.EmployerName</span>
                </h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="@Model.ShortDescriptionClass govuk-character-count" id="@FieldIdentifiers.ShortDescription" data-module="govuk-character-count" data-maxlength="350">
                    <h3 class="govuk-heading-s govuk-!-margin-top-0">Brief overview</h3>

                    <textarea class="govuk-textarea govuk-js-character-count" asp-for="ShortDescription" rows="5"></textarea>
                    
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.ShortDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="@Model.ClosingDateClass" id="@FieldIdentifiers.ClosingDate">
                    <h3 class="govuk-heading-s govuk-!-margin-top-0">Closing Date</h3>
                    <p class="govuk-body">@Model.ClosingDate</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.ClosingDate"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">@(isApprenticeshipVacancyType? "Apprenticeship":"Traineeship") summary</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            @if (isApprenticeshipVacancyType)
            {
                <div class="govuk-grid-column-one-third">
                    <ul class="govuk-list">
                        <li>
                            <div class="@Model.WageClass" id="@FieldIdentifiers.Wage">
                                <h3 class="govuk-heading-s">Annual wage</h3>
                                <p class="govuk-body">@Model.WageText</p>
                                <p class="govuk-body">@Model.WageInfo</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.Wage"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <div class="@Model.WorkingWeekClass" id="@FieldIdentifiers.WorkingWeek" data-module="govuk-character-count" data-maxlength="250">
                                <h3 class="govuk-heading-s">Working week</h3>
                                <textarea class="govuk-textarea govuk-js-character-count" asp-for="WorkingWeekDescription" rows="5" data-val-length-max="250"></textarea>
                                <p class="govuk-body">Total hours per week: @Model.HoursPerWeek</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.WorkingWeek"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <div class="@Model.ExpectedDurationClass" id="@FieldIdentifiers.ExpectedDuration">
                                <h3 class="govuk-heading-s">Expected duration</h3>
                                <p class="govuk-body">@Model.ExpectedDuration</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.ExpectedDuration"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <div class="@Model.PossibleStartDateClass" id="@FieldIdentifiers.PossibleStartDate">
                                <h3 class="govuk-heading-s">Possible start date</h3>
                                <p class="govuk-body">@Model.PossibleStartDate</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.PossibleStartDate"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <div class="@Model.TrainingLevelClass" id="@FieldIdentifiers.TrainingLevel">
                                <h3 class="govuk-heading-s">Apprenticeship level</h3>
                                <p class="govuk-body">
                                    @Model.TrainingLevel <br />
                                    @Model.EducationLevelName
                                </p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@FieldIdentifiers.TrainingLevel"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    <li>
                        <h3 class="govuk-heading-s">Reference number</h3>
                        <p class="govuk-body">@Model.VacancyReferenceNumber</p>
                    </li>
                    <li>
                        <div class="@Model.NumberOfPositionsClass" id="@FieldIdentifiers.NumberOfPositions">
                            <h3 class="govuk-heading-s">Positions</h3>
                            <p class="govuk-body">@Model.NumberOfPositionsCaption</p>
                            <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                  asp-value="@FieldIdentifiers.NumberOfPositions"
                                                  asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                        </div>
                    </li>
                    </ul>
                </div>
                <div class="govuk-grid-column-two-thirds vacancy-descriptions">
                    <div class="@Model.VacancyDescriptionClass">

                        <h3 class="govuk-heading-s">What will the apprentice be doing?</h3>
                        <textarea asp-for="VacancyDescription" class="govuk-textarea html-editor" rows="5" data-val-length-max="4000"></textarea>
                        
                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.VacancyDescription"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                    <div class="@Model.TrainingDescriptionClass">

                        <h3 class="govuk-heading-s">What training will the apprentice take and what qualification will the apprentice get at the end?</h3>
                        <textarea asp-for="TrainingDescription" class="govuk-textarea html-editor" rows="5" data-val-length-max="4000"></textarea>
                        
                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.TrainingDescription"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                    <div class="@Model.OutcomeDescriptionClass">

                        <h3 class="govuk-heading-s">What is the expected career progression after this apprenticeship?</h3>
                        <textarea asp-for="OutcomeDescription" class="govuk-textarea html-editor" rows="5" data-val-length-max="4000"></textarea>
                        
                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.OutcomeDescription"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                </div>
            }
            else
            {
                <div class="govuk-grid-column-one-third">
                    <div class="@Model.TrainingDescriptionClass">

                        <h3 class="govuk-heading-s">What training will you give the trainee?</h3>
                        <textarea asp-for="TrainingDescription" class="govuk-textarea html-editor" rows="5" data-val-length-max="4000"></textarea>

                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.TrainingDescription"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                    <div class="@Model.WorkExperienceClass">

                        <h3 class="govuk-heading-s">What work experience will the employer give the trainee?</h3>
                        <textarea asp-for="WorkExperience" class="govuk-textarea html-editor" rows="5" data-val-length-max="4000"></textarea>
                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.WorkExperience"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds vacancy-descriptions">
                    <ul class="govuk-list">
                        <li>
                            <div class="@Model.WorkingWeekClass" id="@FieldIdentifiers.WorkingWeek">
                                <h3 class="govuk-heading-s">Working week</h3>
                                <textarea class="govuk-textarea govuk-js-character-count" asp-for="WorkingWeekDescription" rows="5" data-val-length-max="250"></textarea>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.WorkingWeek"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <div class="@Model.ExpectedDurationClass" id="@FieldIdentifiers.ExpectedDuration">
                                <h3 class="govuk-heading-s">Expected duration</h3>
                                <p class="govuk-body">@Model.ExpectedDuration</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.ExpectedDuration"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <div class="@Model.PossibleStartDateClass" id="@FieldIdentifiers.PossibleStartDate">
                                <h3 class="govuk-heading-s">Possible start date</h3>
                                <p class="govuk-body">@Model.PossibleStartDate</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.PossibleStartDate"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                        <li>
                            <h3 class="govuk-heading-s">Reference number</h3>
                            <p class="govuk-body">@Model.VacancyReferenceNumber</p>
                        </li>
                        <li>
                            <div class="@Model.NumberOfPositionsClass" id="@FieldIdentifiers.NumberOfPositions">
                                <h3 class="govuk-heading-s">Positions</h3>
                                <p class="govuk-body">@Model.NumberOfPositionsCaption</p>
                                <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                                      asp-value="@FieldIdentifiers.NumberOfPositions"
                                                      asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div class="govuk-grid-row" id="@Anchors.RequirementsAndProspectsSection">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Requirements and prospects</h2>
            </div>
        </div>
        @if (isApprenticeshipVacancyType)
        {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="@Model.SkillsClass" id="@FieldIdentifiers.Skills">
                    <h3 class="govuk-heading-s">Desired skills and personal qualities</h3>
                    <p class="govuk-body">@string.Join(", ", Model.Skills)</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.Skills"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="@Model.ThingsToConsiderClass" id="@FieldIdentifiers.ThingsToConsider">
                    <h3 class="govuk-heading-s">Things to consider (optional)</h3>

                    <p class="govuk-body">@Model.ThingsToConsider</p>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.ThingsToConsider"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="@Model.QualificationsClass" id="@FieldIdentifiers.Qualifications">
                    <h3 class="govuk-heading-s">Qualifications</h3>
                    <p class="govuk-body">
                        @foreach (var qualification in Model.Qualifications)
                        {
                            @qualification<br />
                        }
                    </p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.Qualifications"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        }
        else
        {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="@Model.SkillsClass" id="@FieldIdentifiers.Skills">
                    <h3 class="govuk-heading-s">Desired skills and personal qualities</h3>
                    <p class="govuk-body">@string.Join(", ", Model.Skills)</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.Skills"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <div class="@Model.OutcomeDescriptionClass" id="@FieldIdentifiers.OutcomeDescription">
                    <h3 class="govuk-heading-s">What is the expected career progression after this traineeship?</h3>

                    <div class="govuk-body">@Html.Raw(Model.OutcomeDescription)</div>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.OutcomeDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div asp-hide="@string.IsNullOrEmpty(Model.ThingsToConsider)" class="@Model.ThingsToConsiderClass" id="@FieldIdentifiers.ThingsToConsider">
                    <h3 class="govuk-heading-s">Things to consider (optional)</h3>

                    <p class="govuk-body">@Model.ThingsToConsider</p>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.ThingsToConsider"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        }
        
        <div class="govuk-grid-row" id="@Anchors.RequirementsAndProspectsSection">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">About the employer</h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="@Model.EmployerDescriptionClass" id="@FieldIdentifiers.EmployerDescription">
                    <h3 class="govuk-heading-s">Description</h3>

                    <p class="govuk-body">@Model.EmployerDescription</p>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.EmployerDescription"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.EmployerNameClass" id="@FieldIdentifiers.EmployerName">
                    <h3 class="govuk-heading-s">Employer</h3>
                    <p class="govuk-body">@Model.EmployerName</p>

                    <div asp-show="@Model.IsAnonymous" class="govuk-inset-text">
                        <h3 class="govuk-heading-s">Reason for being anonymous (does not show on vacancy)</h3>
                        <p>@Model.AnonymousReason</p>
                        <p class="govuk-hint" asp-show="@Model.HasOneAnonymousApproved">1 anonymous vacancy has been approved for this employer</p>
                        <p class="govuk-hint" asp-hide="@Model.HasOneAnonymousApproved">@Model.AnonymousApprovedCount anonymous vacancies have been approved for this employer</p>
                    </div>

                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.EmployerName"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div class="@Model.DisabilityConfidentClass" id="@FieldIdentifiers.DisabilityConfident">
                    <h3 class="govuk-heading-s">Disability Confident (optional)</h3>
                    <img asp-show="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" class="disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident" />
                    <p class="govuk-body" asp-show="@Model.IsNotDisabilityConfident">This vacancy is not Disability Confident</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.DisabilityConfident"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div asp-show="@(!string.IsNullOrEmpty(Model.EmployerWebsiteUrl) || Model.IsAnonymous)" class="@Model.EmployerWebsiteUrlClass" id="@FieldIdentifiers.EmployerWebsiteUrl">
                    <h3 class="govuk-heading-s">Website (optional)</h3>
                    <div asp-show="@Model.IsAnonymous" class="govuk-hint">Website will not be shown as the employer is anonymous</div>
                    <a href="@Model.EmployerWebsiteUrl" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">@Model.EmployerWebsiteUrl</a>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.EmployerWebsiteUrl"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>

            <div class="govuk-grid-column-one-third">
                <div asp-show="@(Model.IsEmployerVacancy && !string.IsNullOrEmpty(Model.EmployerContactName + Model.EmployerContactEmail + Model.EmployerContactTelephone))" class="@Model.EmployerContactClass" id="@FieldIdentifiers.EmployerContact">
                    <h3 class="govuk-heading-s">Contact details (optional)</h3>
                    <p class="govuk-body">@Model.EmployerContactName</p>
                    <p class="govuk-body">@Model.EmployerContactEmail</p>
                    <p class="govuk-body">@Model.EmployerContactTelephone</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.EmployerContact"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <div class="@Model.EmployerAddressClass" id="@FieldIdentifiers.EmployerAddress">
                    <h3 class="govuk-heading-s">Location</h3>
                    <ul class="govuk-list">
                        @foreach (var addressLine in Model.EmployerAddressElements)
                        {
                            <li>@addressLine</li>
                        }
                    </ul>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.EmployerAddress"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <img id="static-map" src="@Model.MapUrl" alt="Location map" />
            </div>
        </div>
        <div class="govuk-grid-row" id="@Anchors.RequirementsAndProspectsSection">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">Training</h2>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="@Model.ProviderClass" id="@FieldIdentifiers.Provider">
                    <h3 class="govuk-heading-s">Training provider</h3>
                    <p class="govuk-body">@Model.ProviderName</p>
                    <esfa-review-checkbox asp-show="@Model.IsEmployerVacancy" asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.Provider"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
                <div asp-show="@(Model.IsProviderVacancy && !string.IsNullOrEmpty(Model.ProviderContactName + Model.ProviderContactEmail + Model.ProviderContactTelephone))" class="@Model.ProviderContactClass" id="@FieldIdentifiers.ProviderContact">
                    <h3 class="govuk-heading-s">Contact details (optional)</h3>
                    <p class="govuk-body">@Model.ProviderContactName</p>
                    <p class="govuk-body">@Model.ProviderContactEmail</p>
                    <p class="govuk-body">@Model.ProviderContactTelephone</p>
                    <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                          asp-value="@FieldIdentifiers.ProviderContact"
                                          asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                @if (isApprenticeshipVacancyType)
                {
                    <div class="@Model.TrainingClass" id="@FieldIdentifiers.Training">
                        <h3 class="govuk-heading-s">Apprenticeship @Model.TrainingType</h3>
                        <p class="govuk-body">
                            @Model.TrainingTitle<br />
                            @Model.EducationLevelName
                        </p>
                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.Training"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                }
                else
                {
                    <div class="@Model.TraineeRouteClass" id="@FieldIdentifiers.TraineeRoute">
                        <h3 class="govuk-heading-s">Traineeship sector</h3>
                        <p class="govuk-body">
                            @Model.TraineeRoute
                        </p>
                        <esfa-review-checkbox asp-for="SelectedFieldIdentifiers"
                                              asp-value="@FieldIdentifiers.TraineeRoute"
                                              asp-items="@Model.FieldIdentifiers"></esfa-review-checkbox>
                    </div>
                }
            </div>
        </div>
        <div class="govuk-grid-row" id="@Anchors.RequirementsAndProspectsSection">
            <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
        </div>

        <partial name="_ReviewHistories" for="ReviewHistories" />
    
        <div esfa-validation-marker-for="ReviewerComment" class="govuk-form-group">
            <h2 class="govuk-heading-m">Reviewer's Comments</h2>
            <ul class="govuk-!-margin-bottom-6 govuk-list" id="automatedqarules-selected-comments"></ul>
            <span asp-validation-for="ReviewerComment" class="govuk-error-message"></span>
            <div class="govuk-form-group">
                <textarea asp-for="ReviewerComment"
                            class="govuk-textarea"
                            cols="20"
                            rows="5"
                            size="12"
                            type="text"
                            data-val-length-max="@VacancyReviewValidator.ManualQaCommentMaxLength"></textarea>
                <span class="maxchar-count"></span>
                <span class="maxchar-text"></span>
            </div>
        </div>

        <div class="govuk-form-group inline">
            <div class="govuk-form-group govuk-!-margin-top-6">
                <button type="submit" class="govuk-button" id="submit-button">Approve</button>
                <a asp-route="@RouteNames.Dashboard_Index_Get" class="govuk-link das-button-link">Back to QA dashboard</a>
            </div>
        </div>
       
    </form>
</div>
<script nws-csp-add-nonce="true">
    $(function () {
        hookupHistory();

        $(".field-identifier-checkbox").change(function () {
            toggleSubmitButton();
        });

        $(".automatedqaresults-checkbox").change(function () {
            toggleSubmitButton();
            rebuildAutomatedQaReviewersComment();
        });

        function toggleSubmitButton() {
            var isRefer = $(".field-identifier-checkbox:checked,.automatedqaresults-checkbox:checked").length > 0;
            var submitButtonText = isRefer ? "Refer" : "Approve";
            $("#submit-button").text(submitButtonText);
        }

        function rebuildAutomatedQaReviewersComment() {
            var $comments = $("#automatedqarules-selected-comments");
            $comments.empty();

            $(".automatedqaresults-checkbox:checked").each(function (_, el) {
                var $automatedQaText = $("<li></li>").text($(el).data("text"));
                $comments.append($automatedQaText);
            });
        }

        toggleSubmitButton();
        rebuildAutomatedQaReviewersComment();
    });
</script>

@section FooterJS
    {
    <script src="/lib/tinymce-4.9.2/tinymce.min.js"></script>
    <script nws-csp-add-nonce="true">
        initializeHtmlEditors();
    </script>
}