@using Esfa.Recruit.Employer.Web.ViewModels.ManageNotifications;
@using Esfa.Recruit.Vacancies.Client.Domain.Entities;
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-manage-notifications";
    ViewBag.Title = "Manage your emails";
}

@model ManageNotificationsViewModel
<div class="govuk-grid-row">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Manage your emails</h1>
</div>

<div class="govuk-grid-row">
    <div class="govuk-gird-column-two-thirds">
        <form method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="when-conditional-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                        When do you want to receive emails about your adverts and applications?
                        </h2>
                    </legend>
                    <span id="when-conditional-hint" class="govuk-hint">
                        Select all that apply.
                    </span>
                    <div class="govuk-checkboxes" data-module="checkboxes">
                        <span esfa-validation-message-for="HasAnySubscription" class="govuk-error-message"></span>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" asp-for="IsVacancyRejectedSelected" id="notifications-rejected" type="checkbox">
                            <label class="govuk-label govuk-checkboxes__label" for="notifications-rejected">
                                <span class="govuk-visually-hidden">Get notifications </span>When an advert is rejected after review
                            </label>
                        </div>
                        <div asp-hide="true">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" asp-for="IsVacancyClosingSoonSelected" id="notifications-closing" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="notifications-closing">
                                    <span class="govuk-visually-hidden">Get notifications when </span>Vacancies are closing soon
                                </label>
                            </div>
                        </div>
                        <div class="govuk-checkboxes__item govuk-checkboxes--conditional">
                            <input class="govuk-checkboxes__input" asp-for="IsApplicationSubmittedSelected" id="notifications-new" type="checkbox" data-aria-controls="conditional-when-conditional">
                            <label class="govuk-label govuk-checkboxes__label" for="notifications-new">
                                <span class="govuk-visually-hidden">Get notifications </span>When you have new applications
                            </label>
                        </div>
                        <div>
                            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-when-conditional">
                                <fieldset class="govuk-fieldset" aria-describedby="when-conditional-hint">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                        <h1 class="govuk-fieldset__heading">
                                            How often do you want to receive emails about new applications?
                                        </h1>
                                    </legend>
                                    <span esfa-validation-message-for="NotificationFrequency" class="govuk-error-message"></span>
                                    <div class="govuk-radios" data-module="radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" value="@NotificationFrequency.Immediately" asp-for="NotificationFrequency" id="notification-frequency-immediately" type="radio">
                                            <label class="govuk-label govuk-radios__label" for="notification-frequency-immediately">
                                                @NotificationFrequency.Immediately
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" value="@NotificationFrequency.Daily" asp-for="NotificationFrequency" id="notification-frequency-daily" type="radio" >
                                            <label class="govuk-label govuk-radios__label" for="notification-frequency-daily">
                                                @NotificationFrequency.Daily
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" value="@NotificationFrequency.Weekly" asp-for="NotificationFrequency" id="notification-frequency-weekly" type="radio">
                                            <label class="govuk-label govuk-radios__label" for="notification-frequency-weekly">
                                                @NotificationFrequency.Weekly
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Which adverts do you want to receive emails about?
                    </h2>
                    </legend>
                    <div class="govuk-radios" data-module="radios">
                        <span esfa-validation-message-for="NotificationScope" class="govuk-error-message"></span>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" value="UserSubmittedVacancies" id="notification-scope-user-submitted" asp-for="NotificationScope" type="radio">
                            <label class="govuk-label govuk-radios__label" for="notification-scope-user-submitted">
                                Only the adverts you submitted
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" value="OrganisationVacancies" id="notification-scope-organisation" asp-for="NotificationScope" type="radio">
                            <label class="govuk-label govuk-radios__label" for="notification-scope-organisation">
                                All apprenticeship adverts for your organisation
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <p asp-show="@Model.HasAnySubscription" class="govuk-body">
                    <a asp-route="@RouteNames.ConfirmUnsubscribeNotifications_Get" class="govuk-link">Unsubscribe from all emails about adverts and applications</a>
                </p>
                <button class="govuk-button submit" type="submit">Save and continue</button>

                <div class="govuk-body">
                    <a asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Return to dashboard</a>
                </div>
            </div>
        </form>
    </div>
</div>
