@model Esfa.Recruit.Provider.Web.ViewModels.Part2.AdditionalQuestions.AdditionalQuestionsViewModel
@{ 
    ViewBag.GaData.Vpv = "/recruitment/provider/additional-questions";
    ViewBag.Title = "Additional questions";
}

@section BackLink {
    <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.ProviderCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />
        
        <h1 class="govuk-heading-xl">
            Do you have any questions you would like to ask applicants? (optional)
        </h1>
        <p class="govuk-body">Applicants will answer these questions if they apply through <a href="@Model.FindAnApprenticeshipUrl" class="govuk-body govuk-link" rel="noopener" target="_blank">Find an apprenticeship (opens in a new tab)</a>.</p>
        <p class="govuk-body">For example, why do you want to work for this company? What interests you about this role?</p>


        <form asp-route="@RouteNames.AdditionalQuestions_Post" asp-all-route-data="@Model.RouteDictionary">
            <div esfa-validation-marker-for="AdditionalQuestion1" class="govuk-form-group">
                <label asp-for="AdditionalQuestion1" class="govuk-label govuk-label--s">Question 1 (optional)</label>
                <span esfa-validation-message-for="AdditionalQuestion1" class="govuk-error-message"></span>
                <input asp-for="AdditionalQuestion1" class="govuk-input" />
            </div>
            <div esfa-validation-marker-for="AdditionalQuestion2" class="govuk-form-group">
                <label asp-for="AdditionalQuestion2" class="govuk-label govuk-label--s">Question 2 (optional)</label>
                <span esfa-validation-message-for="AdditionalQuestion2" class="govuk-error-message"></span>
                <input asp-for="AdditionalQuestion2" class="govuk-input" />
            </div>

            <div class="govuk-button-group">
                <button type="submit" esfa-automation="btn-continue" class="govuk-button save-button">Save and continue</button>
                <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.ProviderCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
