@model Esfa.Recruit.Shared.Web.ViewModels.VacancyAnalyticsSummaryViewModel
<div class="analytics--block govuk-grid-column-one-third">
    <h3 class="analytics--header govuk-heading-s">Appeared in search</h3>
    <div class="analytics--summary">
        <div class="analytics--numeric">@Model.NoOfTimesAppearedInSearch <span class="govuk-visually-hidden">times</span></div>
        <p asp-show="@Model.HasNoOfTimesAppearedInSearchIncreasedOverLastSevenDays"><span class="govuk-!-font-weight-bold">+@Model.NoOfTimesAppearedInSearchOverLastSevenDays</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        <p asp-hide="@Model.HasNoOfTimesAppearedInSearchIncreasedOverLastSevenDays"><span class="govuk-!-font-weight-bold">No</span> increase</p>
    </div>
</div>
<div class="analytics--block govuk-grid-column-one-third">
    <h3 class="analytics--header govuk-heading-s">Total times viewed</h3>
    <div class="analytics--summary">
        <div class="analytics--numeric">@Model.NoOfTimesViewed</div>
        <p asp-show="@Model.HasNoOfTimesViewedIncreasedOverLastSevenDays"><span class="govuk-!-font-weight-bold">+@Model.NoOfTimesViewedOverLastSevenDays</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        <p asp-hide="@Model.HasNoOfTimesViewedIncreasedOverLastSevenDays"><span class="govuk-!-font-weight-bold">No</span> increase</p>
    </div>
</div>
<div class="analytics--block govuk-grid-column-one-third">
    <h3 class="analytics--header govuk-heading-s">Clicked on 'Apply now'</h3>
    <div class="analytics--summary">
        <div class="analytics--numeric">@Model.NoOfApplicationsStarted</div>
        <p asp-show="@Model.HasNoOfApplicationsStartedIncreasedOverLastSevenDays"><span class="govuk-!-font-weight-bold">+@Model.NoOfApplicationsStartedOverLastSevenDays</span> increase <span class="govuk-visually-hidden"> in the last 7 days</span></p>
        <p asp-hide="@Model.HasNoOfApplicationsStartedIncreasedOverLastSevenDays"><span class="govuk-!-font-weight-bold">No</span> increase</p>
    </div>
</div>