@using Esfa.Recruit.Shared.Web.TagHelpers

@model Esfa.Recruit.Employer.Web.ViewModels.Vacancies.ListVacanciesViewModel

@{
    ViewBag.Vpv = "/recruitment/employer/page-vacancies";
    ViewBag.Title = "Your adverts";
}

<partial name="@PartialNames.Alerts" for="Alerts" />

<div asp-show="@Model.HasWarning" class="das-notification das-notification--warning">
    <p class="das-notification__body">@Model.WarningMessage</p>
</div>

<govuk-banner asp-show="@Model.HasInfo" type="BannerStyle.Success">
    <govuk-banner-heading>@Model.InfoMessage</govuk-banner-heading>
</govuk-banner>

@section BackLink
{
    <a asp-hide="@Model.ShowReferredFromMaBackLink" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" esfa-automation="link-back" class="govuk-back-link">Return to recruitment dashboard</a>
    <a asp-show="@Model.ShowReferredFromMaBackLink" asp-route="@RouteNames.Dashboard_Account_Home" asp-route-employerAccountId="@Model.EmployerAccountId" esfa-automation="link-back" class="govuk-back-link">Return to home</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">@Model.PageHeading</h1>
    </div>
</div>

@if (Model is { ListViewModel.Vacancies.Count: > 0 } || !string.IsNullOrWhiteSpace(Model.FilterViewModel.SearchTerm))
{
    <partial name="_VacanciesListSearchFilter" model="@Model.FilterViewModel" />
}

@if (Model is { ListViewModel.Vacancies.Count: > 0 })
{
    <partial model="@Model.ListViewModel" name="_VacancyList" />
}
else
{
    <p class="govuk-body">No vacancies match the criteria</p>
}