@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.Vacancies.VacanciesViewModel
@{
    var vacanciesSearchSuggestionsEndpointUrl = @Url.RouteUrl(RouteNames.VacanciesSearchSuggestions_Get, null, Context.Request.Scheme);
    string GetLinkText(VacancySummaryViewModel vacancySummary)
    {
        switch (vacancySummary.Status)
        {
            case VacancyStatus.Referred:
                return "Edit and resubmit";
            case VacancyStatus.Draft:
                return "Edit and submit";
            case VacancyStatus.Review:
                return "Review";
        }

        return "Manage";
    }
    ViewBag.Vpv = "/recruitment/employer/page-vacancies";
    ViewBag.Title = "Your adverts";
        }

<partial name="@PartialNames.Alerts" for="Alerts" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div asp-show="Model.HasWarning" class="warning-summary govuk-!-margin-bottom-0">
            <p>@Model.WarningMessage</p>
        </div>
    </div>
</div>
<div asp-show="Model.HasInfo" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
        @Model.InfoMessage        
    </h3>
  </div>
</div>

@section BackLink
{
    <a asp-hide="@Model.ShowReferredFromMaBackLink" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" esfa-automation="link-back" class="govuk-back-link">Return to dashboard</a>
    <a asp-show="@Model.ShowReferredFromMaBackLink" asp-route="@RouteNames.Dashboard_Account_Home" asp-route-employerAccountId="@Model.EmployerAccountId" esfa-automation="link-back" class="govuk-back-link">Return to home</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">Your adverts</h1>
    </div>
    <div class="govuk-grid-column-one-half ">
       <a asp-route="@RouteNames.CreateVacancyStart" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-button das-float-right govuk-!-margin-bottom-6" esfa-automation="create-vacancy">Create an advert</a>
    </div>
</div>

<form method="get" autocomplete="off" asp-route-employerAccountId="@Model.EmployerAccountId" >
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
                <label asp-for="Filter" class="govuk-label">Filter adverts by</label>
                <select asp-for="Filter" class="govuk-select">
                    <optgroup label="Status">
                        <option value="@FilteringOptions.All">all adverts</option>
                        <option value="@FilteringOptions.Live">live adverts</option>
                        <option value="@FilteringOptions.Referred">rejected adverts</option>
                        <option value="@FilteringOptions.Review">ready for review</option>
                        <option value="@FilteringOptions.Submitted">adverts pending review</option>
                        <option value="@FilteringOptions.Draft">draft adverts</option>
                        <option value="@FilteringOptions.Closed">closed adverts</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="@FilteringOptions.NewApplications">with new applications</option>
                        <option value="@FilteringOptions.AllApplications">with applications</option>
                        <option value="@FilteringOptions.ClosingSoonWithNoApplications">closing soon with no applications</option>
                        <option value="@FilteringOptions.ClosingSoon">closing soon</option>
                        <option value="@FilteringOptions.Transferred">transferred from provider</option>
                        <option value="@FilteringOptions.NewSharedApplications">with new shared applications</option>
                        <option value="@FilteringOptions.AllSharedApplications">with shared applications</option>
                    </optgroup>
                </select>
                <button type="submit" id="filter-submit" class="das-button-filter das-button-secondary govuk-button govuk-!-margin-top-3">Filter</button>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-form-group">
                <label for="search-input" class="govuk-label">
                        Search by advert title or reference number
                </label>
                <div class="das-search-form__group">
                    <input id="search-input" asp-for="SearchTerm" title="Search" class="govuk-input das-search-form__input app-vacancy-autocomplete" type="text" maxlength="200" data-apiurl="@vacanciesSearchSuggestionsEndpointUrl">
                    <div class="das-search-form__button-wrap">
                        <button class="govuk-button das-search-form__button" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<h3 class="govuk-heading-m">
    @Model.ResultsHeading <a asp-show="@Model.IsFiltered" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="All" class="govuk-!-font-weight-regular govuk-!-font-size-19 govuk-link govuk-link--no-visited-state">Show all adverts</a>
</h3>

<p asp-hide="@Model.ShowResultsTable" class="govuk-body">No adverts match the criteria</p>

<div asp-show="@Model.ShowResultsTable">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table das-table--condensed das-table--responsive">
                <caption class="govuk-visually-hidden">Your adverts</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Advert title</th>
                        <th class="govuk-table__header" scope="col">Advert reference number</th>
                        <th class="govuk-table__header" scope="col">Applications</th>
                        <th class="govuk-table__header" scope="col">Closing date</th>
                        <th class="govuk-table__header" scope="col">Status</th>
                        <th class="govuk-table__header" scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @foreach (var vacancy in Model.Vacancies)
                    {
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Advert title">
                                <div>
                                    @vacancy.Title
                                    <div asp-show="@vacancy.IsTransferred">
                                        <span class="tag tag-transferred">Transferred</span>
                                    </div>
                                </div>
                            </td>
                            <td class="govuk-table__cell" data-label="Advert ref no">
                                <span asp-show="@vacancy.HasVacancyReference"><span>VAC</span>@vacancy.VacancyReference</span>
                                <span asp-show="@vacancy.HasNoVacancyReference">Not available</span>
                            </td>
                            <td asp-show="@vacancy.CanShowVacancyApplicationsCount" class="govuk-table__cell" data-label="Applications">
                                <span asp-show="@vacancy.HasNoApplications">0</span>
                                <span asp-show="@vacancy.HasApplications">@vacancy.NoOfApplications</span>
                                <div asp-show="@Model.ShowNewApplicationCounts">
                                    <span asp-show="@vacancy.HasNewApplications" class="govuk-!-font-weight-bold"> (@vacancy.NoOfNewApplications new)</span>
                                </div>
                                <div asp-show="@Model.ShowSharedApplicationCounts">
                                    <span asp-show="@vacancy.HasNewApplications" class="govuk-!-font-weight-bold"> (@vacancy.NoOfSharedApplications shared)</span>
                                </div>
                            </td>
                            <td asp-hide="@vacancy.CanShowVacancyApplicationsCount" class="govuk-table__cell" data-label="Applications">-</td>
                            <td class="govuk-table__cell" data-label="Closing date"><span>@vacancy.ClosingDate?.AsGdsDate()</span></td>
                            <td class="govuk-table__cell" data-label="Status">
                                <span class="govuk-tag app-tag app-tag--@vacancy.Status.ToString().ToLower()">@vacancy.Status.GetDisplayName(UserType.Employer)</span>
                            </td>
                            <td class="govuk-table__cell" data-label="Action">
                                <a id="manage-@vacancy.Id" asp-show="@vacancy.IsNotSubmittable" asp-route="@RouteNames.VacancyManage_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-vacancyId="@vacancy.Id" class="govuk-link">Manage</a>
                                @if (vacancy.Status == VacancyStatus.Referred || vacancy.Status == VacancyStatus.Rejected || vacancy.Status == VacancyStatus.Review || vacancy.IsTaskListCompleted)
                                {
                                    <a id="task-list-@vacancy.Id" asp-show="@vacancy.IsSubmittable" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-vacancyId="@vacancy.Id" class="govuk-link">@GetLinkText(vacancy)</a>
                                }
                                else
                                {
                                    <a id="preview-@vacancy.Id" asp-show="@vacancy.IsSubmittable" asp-route="@RouteNames.EmployerTaskListGet" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-vacancyId="@vacancy.Id" class="govuk-link">@GetLinkText(vacancy)</a>    
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav role="navigation" aria-label="Pagination" asp-show="@Model.Pager.ShowPager" >
                <div class="das-pagination__summary">
                    @Model.Pager.Caption
                </div>
                <ul class="das-pagination">
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowPrevious">
                    <a class="das-pagination__link" asp-route="@Model.Pager.RouteName" asp-route-employerAccountId="@Model.EmployerAccountId" asp-all-route-data="@Model.Pager.PreviousPageRouteData" aria-label="Previous page">Previous</a>
                    </li>
                    @for (var pageIndex = 1; pageIndex <= Model.Pager.TotalPages; pageIndex++)
                    {
                        <li class="das-pagination__item">
                            @if (pageIndex == Model.Pager.CurrentPage) {
                                <a class="das-pagination__link current" asp-route="@Model.Pager.RouteName" asp-route-employerAccountId="@Model.EmployerAccountId" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-current="true" aria-label="Page @pageIndex, current page">@pageIndex</a>
                            } 
                            else 
                            {
                                <a class="das-pagination__link asp-route="  asp-route="@Model.Pager.RouteName" asp-route-employerAccountId="@Model.EmployerAccountId" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-label="Page @pageIndex">@pageIndex</a>
                            }
                        </li>
                    }
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowNext">
                    <a class="das-pagination__link"  asp-route="@Model.Pager.RouteName" asp-route-employerAccountId="@Model.EmployerAccountId" asp-all-route-data="@Model.Pager.NextPageRouteData" aria-label="Next page">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


@section FooterJS
{
    <script nws-csp-add-nonce="true">
        var filterId = "#@Html.IdFor(m => m.Filter)";
        $(function() {
            $("#search-submit-button").removeClass('js-hidden');
            $("#filter-submit").addClass('js-hidden');
            $(filterId).on("change",
                function() {
                var $filterForm = $(this).parents("form");
                    $filterForm.areYouSure({ 'silent': true });
                    $filterForm.submit();
            });
        });
    </script>
}