@model Esfa.Recruit.Provider.Web.ViewModels.ManageNotifications.ManageNotificationsAcknowledgementViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You’ve successfully saved your recruitment email preferences
            </h1>
        </div>

        <p>We'll send emails to <b>@Model.UserEmail</b>:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li asp-show="@Model.IsVacancyRejectedSelected">
                when vacancies are rejected by ESFA
            </li>

            <li asp-show="@Model.IsVacancyRejectedByEmployerSelected">
                when vacancies are rejected by employer
            </li>

            <li asp-show="@Model.IsVacancyClosingSoonSelected">
                when vacancies are closing soon
            </li>

            <li asp-show="@Model.IsApplicationSubmittedSelected">
                when there are new applications (@Model.Frequency)
            </li>
        </ul>

        <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" class="govuk-button govuk-!-margin-bottom-6" esfa-automation="create-vacancy">Return to dashboard</a>
    </div>
</div>