@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part2.ShortDescription.ShortDescriptionViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-short-description";
    ViewBag.Title = "Short description of the apprenticeship";
    ViewBag.ZenDeskLabel = "recruit-short-description-of-the-apprenticeship";
}

<span class="govuk-link govuk-back-link">Back</span>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            <span class="govuk-caption-xl">@Model.Title</span>
            Summary of the apprenticeship
        </h1>
    </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.ShortDescription_Post">
            <div class="govuk-character-count">
                <div esfa-validation-marker-for="ShortDescription" class="govuk-form-group">
                    <label asp-for="ShortDescription" class="govuk-label govuk-!-font-weight-bold">
                        <p class="govuk-body">Write a few sentences about the apprenticeship to attract applicants. This information will appear under your advert title when applicants look through a list of adverts - make it stand out.</p>
                        <p class="govuk-body">
                            This could be:
                            <ul class="govuk-list govuk-list--bullet">
                                <li>what you are offering</li>
                                <li>why the applicant should apply</li>
                            </ul>
                        </p>
                    </label>
                    <span esfa-validation-message-for="ShortDescription" class="govuk-error-message"></span>
                    <span class="govuk-hint">
                        You must enter at least 50 characters.
                    </span>
                    <textarea asp-for="ShortDescription" class="govuk-textarea character-count" rows="5" data-val-length-max="350" esfa-automation="short-description"></textarea>
                    <span class="govuk-hint">
                        You can enter up to 350 characters
                    </span>
                    <div class="clear"></div>
                </div>
            </div> 
            @{
                var buttonText = "Save and Preview";
            }
            <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                @{ buttonText = "Save and continue"; }
            </esfaFeatureEnabled>
            <button type="submit" esfa-automation="btn-continue" class="govuk-button save-button">@buttonText</button>
            <div class="govuk-body">
                <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                        <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Cancel</a>
                        <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="cancel" class="govuk-link">Cancel</a>    
                    </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                    <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="govuk-link das-button-link">Cancel</a>
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>