@using Microsoft.Extensions.Options;
@using Esfa.Recruit.Shared.Web.Configuration;
@using Esfa.Recruit.Provider.Web.ViewModels.Part1.Location;
@using Esfa.Recruit.Shared.Web.Mappers
@model LocationViewModel
@inject IOptions<PostcodeAnywhereConfiguration> PcaConfig
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.ShortDescription_Get" esfa-automation="link-back" class="govuk-back-link">Back</a>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>
        
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Location</h1>

        <div asp-show="@Model.HasOnlyOneOrganisation">
            <p class="govuk-body">@Model.LegalEntities.First().Name</p>
        </div>
        <form asp-route="@RouteNames.Location_Post" asp-route-wizard="@Model.PageInfo.IsWizard">
            <div esfa-validation-marker-for="SelectedLegalEntityId" class="govuk-form-group">

                <input asp-show="@Model.HasOnlyOneOrganisation" asp-for="SelectedLegalEntityId" value="@Model.LegalEntities.First().Id" type="hidden"/>

                <fieldset class="govuk-fieldset" asp-show="@Model.HasMoreThanOneOrganisation">
                    <legend class="govuk-fieldset__legend">
                        <span class="govuk-label govuk-!-font-weight-bold">Which organisation is the vacancy for?</span>
                    </legend>
                    <span esfa-validation-message-for="SelectedLegalEntityId" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                    @foreach (var organisation in Model.LegalEntities)
                    {
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedLegalEntityId" type="radio" value="@organisation.Id" class="govuk-radios__input" id="org-@organisation.Id">
                            <label for="org-@organisation.Id" class="govuk-label govuk-radios__label">@organisation.Name</label>
                        </div>
                    }
                    </div>
                </fieldset>
            </div>

            <div id="address-details" class="address-manual-input">
                <label class="govuk-label govuk-!-font-weight-bold">Enter the address where the apprentice will work</label>
                <div esfa-validation-marker-for="AddressLine1" class="govuk-form-group-compound address-item govuk-form-group">
                    <label asp-for="AddressLine1" class="govuk-visually-hidden">Address line 1</label>
                    <span esfa-validation-message-for="AddressLine1" class="govuk-error-message"></span>
                    <input asp-for="AddressLine1" class="govuk-input postcode-lookup" maxlength="100" />
                </div>
                <div esfa-validation-marker-for="AddressLine2" class="govuk-form-group-compound address-item govuk-form-group">
                    <label asp-for="AddressLine2" class="govuk-visually-hidden">Address line 2</label>
                    <span esfa-validation-message-for="AddressLine2" class="govuk-error-message"></span>
                    <input asp-for="AddressLine2" class="govuk-input" maxlength="100" />
                </div>
                <div esfa-validation-marker-for="AddressLine3" class="govuk-form-group-compound address-item govuk-form-group">
                    <label asp-for="AddressLine3" class="govuk-visually-hidden">Address line 3</label>
                    <span esfa-validation-message-for="AddressLine3" class="govuk-error-message"></span>
                    <input asp-for="AddressLine3" class="govuk-input" maxlength="100" />
                </div>
                <div esfa-validation-marker-for="AddressLine4" class="govuk-form-group-compound address-item govuk-form-group">
                    <label asp-for="AddressLine4" class="govuk-visually-hidden">Address line 4</label>
                    <span esfa-validation-message-for="AddressLine4" class="govuk-error-message"></span>
                    <input asp-for="AddressLine4" class="govuk-input" maxlength="100" />
                </div>
                <div esfa-validation-marker-for="Postcode" class="govuk-form-group address-item govuk-form-group">
                    <label asp-for="Postcode" class="govuk-label govuk-!-font-weight-bold">Postcode</label>
                    <span esfa-validation-message-for="Postcode" class="govuk-error-message"></span>
                    <input asp-for="Postcode" class="govuk-input govuk-input--width-10 postcode-lookup" maxlength="8" />
                </div>
            </div>

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>

            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Index_Get" class="govuk-link das-button-link">Cancel</a>
            <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.AboutEmployerSection" class="govuk-link das-button-link">Cancel</a>
        </form>
    </div>
</div>
@section HeadJS
{
<script nws-csp-add-nonce="true">
window.EsfaRecruit.PcaConfig = {
    key: '@PcaConfig.Value.Key',
    findEndpoint: '@PcaConfig.Value.FindEndpoint',
    retrieveEndpoint: '@PcaConfig.Value.RetrieveEndpoint'
};
</script>
}
@section FooterJS
{
<script nws-csp-add-nonce="true" asp-show="@Model.HasMoreThanOneOrganisation">
$(document).ready(function() {
    var orgInputName = "@nameof(LocationViewModel.SelectedLegalEntityId)";
	var addresses = @Json.Serialize(Model.LegalEntities);

	var setAddressById = function(id) {
		for (var pos in addresses) {
			if (addresses[pos].id === id) {
				var matchedItem = addresses[pos];
				$("#AddressLine1").val(matchedItem.address.addressLine1);
				$("#AddressLine2").val(matchedItem.address.addressLine2);
				$("#AddressLine3").val(matchedItem.address.addressLine3);
				$("#AddressLine4").val(matchedItem.address.addressLine4);
				$("#Postcode").val(matchedItem.address.postcode);
			}
		}
	};

    $("input[name='" + orgInputName + "']").click(function(e) {
        var orgId = $(e.target).attr('id').slice(4);
        setAddressById(orgId);
    });
});
</script>

<script src="/lib/jquery-ui/dist/jquery-ui.min.js"></script>
<script asp-append-version="true" src="/lib/esfa-postcode/lookupService.js"></script>
}