@model Esfa.Recruit.Employer.Web.ViewModels.DeleteVacancy.DeleteViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">@Model.Title</h1>
        <hr>
        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState })
        <h1 class="heading-large">Are you sure you want to remove the vacancy?</h1>
        <form asp-route="@RouteNames.DeleteVacancy_Delete_Post">
            <div esfa-validation-marker-for="ConfirmDeletion" class="form-group">
                <fieldset>
                    <span esfa-validation-message-for="ConfirmDeletion" class="error-message"></span>
                    <div class="multiple-choice">
                        <input asp-for="@Model.ConfirmDeletion" type="radio" value="true" id="delete-yes" />
                        <label class="block-label selection-button-radio" for="delete-yes">Yes, delete this vacancy now</label>
                    </div>
                    <div class="multiple-choice">
                        <input asp-for="@Model.ConfirmDeletion" type="radio" value="false" id="delete-no" />
                        <label class="block-label selection-button-radio" for="delete-no">No, don't delete this vacancy</label>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="button" />
            </div>
        </form>
    </div>
</div> 