@using Esfa.Recruit.Provider.Web.ViewModels.Part2.Skills
@model SkillsViewModel

@{
    ViewBag.Title = "Skills";
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-skills";
}

@section BackLink {
    <a asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState}' />
<partial name="@PartialNames.ReviewSummary" for="Review" />

<span class="govuk-caption-l">@Model.Title</span>
<form asp-route="@RouteNames.Skills_Post" id="skillsForm" asp-all-route-data="@Model.RouteDictionary" class="das-ajax-form">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
                {
                    @:What skills and personal qualities do applicants need to have?    
                }
                else
                {
                    @:What skills and personal qualities would you like applicants to have?
                }
                
            </h1>
        </legend>
        <p class="govuk-hint govuk-!-margin-top-5">Select all that apply or add your own</p>
        <div esfa-validation-marker-for="Skills" class="govuk-form-group">
            <span esfa-validation-message-for="Skills" class="govuk-error-message"></span>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-checkboxes govuk-!-margin-bottom-2">
                        @for (var i = 0; i < Model.Column1Checkboxes.Count; i++)
                        {
                            var checkbox = Model.Column1Checkboxes[i];
                            <div class="govuk-checkboxes__item">
                                <input name="Skills" id="col1-@i" class="govuk-checkboxes__input" type="checkbox" value="@checkbox.Value" checked="@checkbox.Selected">
                                <label class="govuk-label govuk-checkboxes__label" for="col1-@i">@checkbox.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-checkboxes">
                        @for (var i = 0; i < Model.Column2Checkboxes.Count; i++)
                        {
                            var checkbox = Model.Column2Checkboxes[i];
                            <div class="govuk-checkboxes__item">
                                <input name="Skills" id="col2-@i" class="govuk-checkboxes__input" type="checkbox" value="@checkbox.Value" checked="@checkbox.Selected">
                                <label class="govuk-label govuk-checkboxes__label" for="col2-@i">@checkbox.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>    
    </fieldset>

    <p class="govuk-body govuk-!-margin-bottom-5">or</p>

    <div esfa-validation-marker-for="AddCustomSkillName" class="govuk-form-group">
        <label asp-for="AddCustomSkillName" class="govuk-label">Add a new desired skill or personal quality</label>
        <span esfa-validation-message-for="AddCustomSkillName" class="govuk-error-message"></span>
        <input asp-for="AddCustomSkillName" value="@Model.AddCustomSkillName" type="text" class="govuk-input govuk-!-width-one-half" maxlength="30">
        <button name="AddCustomSkillAction" id="add-custom-skill" value="AddCustomSkill" type="submit" class="govuk-button govuk-button--secondary">Add this skill</button>
    </div>

    <div class="govuk-button-group">
        <button type="submit" esfa-automation="btn-continue" class="govuk-button save-button">Save and continue</button>
        <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" asp-fragment="reqAndProspects" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    </div>
</form>