@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Duration.DurationViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-duration";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
            <a asp-route="@RouteNames.Dates_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </esfaFeatureEnabled>
        <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dates_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </esfaFeatureDisabled>
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Duration and working hours</h1>

        <form asp-route="@RouteNames.Duration_Post" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div esfa-validation-marker-for="Duration" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <label asp-for="Duration" class="govuk-label govuk-!-font-weight-bold">
                        How long is the whole apprenticeship, including work and training?
                        <span class="govuk-visually-hidden"> (enter a numeric value and then select Month(s) or Year(s) in the next field)</span>
                    </label>
                    <span class="govuk-hint">
                        The apprenticeship must last at least 12 months
                    </span>
                    <span asp-show="@Model.ShowTraining" class="govuk-hint">
                        For @Model.TrainingTitle, Typical length is @Model.TrainingDurationMonths months
                    </span>

                    <span esfa-validation-message-for="Duration" class="govuk-error-message"></span>
                    <input asp-for="Duration" class="govuk-input govuk-input--width-2" type="number" min="1">
                    <select asp-for="DurationUnit" class="govuk-select duration-unit-select">
                        <option value="@DurationUnit.Month">Month(s)</option>
                        <option value="@DurationUnit.Year">Year(s)</option>
                    </select>
                </fieldset>
            </div>

            <div class="govuk-character-count">
                <div esfa-validation-marker-for="WorkingWeekDescription" class="govuk-form-group">
                    <label asp-for="WorkingWeekDescription" class="govuk-label govuk-!-font-weight-bold">Details of working week</label>
                    <span class="govuk-hint">For example, Monday to Friday 9am to 5pm, shifts, may work evenings and weekends</span>
                    <span esfa-validation-message-for="WorkingWeekDescription" class="govuk-error-message"></span>
                    <textarea asp-for="WorkingWeekDescription" class="govuk-textarea character-count" rows="5" data-val-length-max="250"></textarea>
                    <span class="govuk-body maxchar-count">250</span>
                    <span class="govuk-body maxchar-text"> characters remaining</span>
                </div>
            </div>

            <div esfa-validation-marker-for="WeeklyHours" class="govuk-form-group">
                <label asp-for="WeeklyHours" class="govuk-label govuk-!-font-weight-bold">How many hours will the apprentice work each week, including training?</label>
                <span esfa-validation-message-for="WeeklyHours" class="govuk-error-message"></span>
                <input asp-for="WeeklyHours" class="govuk-input govuk-input--width-2" type="number" step=".25" min="16" max="48">
                <span class="govuk-body">hours</span>
            </div>

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>

            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" class="govuk-link das-button-link">Cancel</a>
            <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.ApprenticeshipSummarySection" class="govuk-link das-button-link">Cancel</a>
        </form>
    </div>
</div>