@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Dates.DatesViewModel
@{
    var exampleClosingDate = DateTime.Now.AddMonths(2);
    var exampleStartingDate = exampleClosingDate.AddDays(14);
}

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-important-dates";
    ViewBag.Title = "Closing and start date";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
            <a asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </esfaFeatureEnabled>
        <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Location_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </esfaFeatureDisabled>


        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="govuk-caption-l">@Model.Title</span>Closing and start dates</h1>
        
        <form asp-route="@RouteNames.Dates_Post" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn"  asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>

            <div esfa-validation-marker-for="ClosingDate" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Application closing date<span class="govuk-visually-hidden"> (in numeric format DD MM YYYY)</span></legend>
                    <span class="govuk-hint">For example, @exampleClosingDate.AsInputHintDisplayDate()</span>

                    <span esfa-validation-message-for="ClosingDate" class="govuk-error-message"></span>

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="ClosingDay" class="govuk-label govuk-date-input__label">Day</label>
                                <input asp-for="ClosingDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="31">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="ClosingMonth" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="ClosingMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="12">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="ClosingYear" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="ClosingYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" min="@Model.CurrentYear">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div esfa-validation-marker-for="StartDate" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Apprenticeship start date<span class="govuk-visually-hidden"> (in numeric format DD MM YYYY)</span></legend>
                    
                    <span esfa-validation-message-for="StartDate" class="govuk-error-message"></span>

                    <p asp-show="@Model.CanShowTrainingHint" class="govuk-hint">
                        The start date must be before the @Model.TrainingDescription closes to new starters on @Model.TrainingEffectiveToDate
                    </p>
                    <p asp-show="@Model.CanShowTrainingErrorHint" class="govuk-hint">
                        You may want to <a asp-route="@RouteNames.Training_Get" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link">find different apprenticeship training</a>.
                    </p>

                    <span class="govuk-hint">For example, @exampleStartingDate.AsInputHintDisplayDate()</span>
                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartDay" class="govuk-label govuk-date-input__label">Day</label>
                                <input asp-for="StartDay" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="31">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartMonth" class="govuk-label govuk-date-input__label">Month</label>
                                <input asp-for="StartMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" min="1" max="12">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label asp-for="StartYear" class="govuk-label govuk-date-input__label">Year</label>
                                <input asp-for="StartYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" min="@Model.CurrentYear">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-label govuk-!-font-weight-bold">Disability Confident (optional)</legend>
                        <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input asp-for="IsDisabilityConfident" class="govuk-checkboxes__input" type="checkbox" value="true">
                                <label asp-for="IsDisabilityConfident" class="govuk-label govuk-checkboxes__label">This vacancy is <a href="https://www.gov.uk/government/collections/disability-confident-campaign" class="govuk-link" rel="noopener" target="_blank" title="Disability Confident employer scheme and guidance (opens in a new window)">Disability Confident</a>.</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </esfaFeatureDisabled>

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>

            <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link das-button-link">Cancel</a>
            </esfaFeatureEnabled>
            <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                <a asp-show="@Model.PageInfo.IsWizard" asp-all-route-data="@Model.RouteDictionary" asp-route="@RouteNames.Vacancies_Get" class="govuk-link das-button-link">Cancel</a>
                <a asp-show="@Model.PageInfo.IsNotWizard" asp-all-route-data="@Model.RouteDictionary" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.ApprenticeshipSummarySection" class="govuk-link das-button-link">Cancel</a>    
            </esfaFeatureDisabled>
            
        </form>
    </div>
</div>