@using Esfa.Recruit.Shared.Web.TagHelpers
@model Esfa.Recruit.Provider.Web.ViewModels.Vacancies.ListVacanciesViewModel
@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancies";
    ViewBag.Title = $"{Model.PageHeading}";
}
<div asp-show="@Model.HasWarning" class="das-notification das-notification--warning">
    <p class="das-notification__body">@Model.WarningMessage</p>
</div>
<govuk-banner asp-show="@Model.HasInfo" type="BannerStyle.Success">
    <govuk-banner-heading>
        @Html.Raw(Model.InfoMessage)
    </govuk-banner-heading>
</govuk-banner>
@section BackLink
{
    <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" esfa-automation="link-back" class="govuk-back-link">Return to recruitment dashboard</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">@Model.PageHeading</h1>
    </div>
</div>
@if (Model.FilteringOptions == FilteringOptions.Closed)
{
    <div class="govuk-inset-text">
        Closed vacancies can be archived when all applicants have received their outcome.
    </div>    
}
@if (Model is { ListViewModel.Vacancies.Count: > 0 } || !string.IsNullOrWhiteSpace(Model.FilterViewModel.SearchTerm))
{
    <partial name="_VacanciesListSearchFilter" model="@Model.FilterViewModel" />
}
@if (Model is { ListViewModel.Vacancies.Count: > 0 })
{
    <partial model="@Model.ListViewModel" name="_VacancyList" />
}
else
{
    <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-9">
        <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
                @Model.NoResultsHeadingText
            </h3>
            <p class="gov-body das-!-color-dark-grey">
                @Model.NoResultsLabelText
            </p>
        </div>
    </div>
}