@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Training.ConfirmTrainingViewModel

@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-confirm-training";
    ViewBag.Title = "Confirm apprenticeship training";
    ViewBag.ZenDeskLabel = "recruit-confirm-apprenticeship-training";
}

@section BackLink {
    <a asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-programmeid="@Model.ProgrammeId" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Confirm apprenticeship training course</h1>
        <div class="das-highlight">
            <govuk-tag-foundation asp-show="@Model.IsFoundation" class="govuk-!-margin-bottom-2"/>
            <h2 class="govuk-heading-m">
                @Model.TrainingTitle
                <span class="govuk-caption-m">
                    @Model.EducationLevelName
                    <br>
                    Typical duration: @Model.DurationMonths months
                    <br>
                    @Model.ProgrammeType
                    <br>
                </span>
            </h2>
            <div asp-show="@Model.ShowTrainingEffectiveToDate" class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    <span id="selected-training" class="govuk-!-font-weight-bold">
                        This apprenticeship training closes to new starters from
                        @Model.TrainingEffectiveToDate.
                    </span></strong>
            </div>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-programmeid="@Model.ProgrammeId" class="govuk-link">Change apprenticeship training</a>
            </p>
        </div>
        
        <div asp-show="@(Model.IsChangingApprenticeshipType && Model.IsFoundation)" class="govuk-inset-text">
            <p class="govuk-body">This will change the course from an <strong>apprenticeship standard</strong> to a <strong>foundation apprenticeship</strong>.</p>
            <p class="govuk-body">We’ll remove this advert’s skills and qualifications requirements. Applicants do not need specific skills or qualifications to apply for a foundation apprenticeship.</p>
            <p class="govuk-body">You should also review the other sections of your advert.</p>
        </div>
        
        <div asp-show="@(Model.IsChangingApprenticeshipType && !Model.IsFoundation)" class="govuk-inset-text">
            <p class="govuk-body">This will change the course from a <strong>foundation apprenticeship</strong> to an <strong>apprenticeship standard</strong>.</p>
            <p class="govuk-body">You'll need to review this advert’s requirements. This is because standards can have different entry requirements for applicants.</p>
            <p class="govuk-body">You should also review the other sections of your advert.</p>
        </div>

        <form asp-route="@RouteNames.Training_Confirm_Post" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div class="govuk-button-group">
                <input asp-for="ProgrammeId" type="hidden" />
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button" />
                <a asp-show="@(!Model.WillTaskListBeCompleted)" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                <a asp-show="@Model.WillTaskListBeCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>