@using Microsoft.Extensions.Options
@inject IOptions<ExternalLinksConfiguration> externalLinks
@{ 
    ViewBag.Title = "Find apprenticeship training";
    ViewBag.Vpv = "/recruitment/employer/page-part1-training-help";
}

<a asp-route="@RouteNames.Training_First_Time_Get" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Find apprenticeship training
        </h1>
        <p class="govuk-body">You will need to find appropriate training for any apprentices you take on. You will also need to find training providers who offer the apprenticeship training you choose.</p>
        <p class="govuk-body">You can contact the National Apprenticeship Service for advice or help using the service.</p>
        
        <p class="govuk-body">
            <strong>National Apprenticeship Service</strong><br>
            Telephone: @RecruitViewConstants.HelpdeskPhoneNumber
            <a href="@RecruitViewConstants.HelpdeskPhoneCharges" class="govuk-link">Find out about call charges</a>
        </p>
        
        <a class="govuk-button" href="@externalLinks.Value.FindApprenticeshipTrainingUrl">Find apprenticeship training</a>

        <div class="govuk-body">
            <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                <a asp-route="@RouteNames.Dashboard_Get" class="govuk-link" esfa-automation="cancel-link">Return to dashboard</a>
            </esfaFeatureEnabled>
            <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                <a asp-route="@RouteNames.Vacancies_Get" class="govuk-link">Return to dashboard</a>
            </esfaFeatureDisabled>
        </div>
    </div>
</div>
