@using Esfa.Recruit.Shared.Web.Mappers
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Training.TrainingViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks;
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-training";
    ViewBag.Title = "Training Course";
    ViewBag.ZenDeskLabel = "recruit-what-training-will-the-apprentice-take";
}

@section BackLink {
    @if (Model.HasMoreThanOneLegalEntity)
    {
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Employer_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Title_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    }
    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What training course will the apprentice take?</h1>
        <form asp-route="@RouteNames.Training_Post" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <p class="govuk-body">
                If you have not found training for this apprenticeship, you can ​use the
                <a class="govuk-link govuk-link--no-visited-state" href="@externalLinks.Value.FindApprenticeshipTrainingUrl" target="_blank">Find apprenticeship training service (opens in new tab or window)</a>.
            </p>
            <div esfa-validation-marker-for="SelectedProgrammeId" class="govuk-form-group">
                <label asp-for="SelectedProgrammeId" class="govuk-label govuk-label-s">
                    <span class="govuk-hint">Enter apprenticeship training title</span>
                </label>
                <span esfa-validation-message-for="SelectedProgrammeId" class="govuk-error-message"></span>
                <div class="govuk-!-margin-bottom-2">
                    <select asp-for="SelectedProgrammeId" class="govuk-select app-autocomplete">
                        <option value="">Please select</option>
                        @foreach (var programme in Model.Programmes)
                        {
                            <option value="@programme.Id">@programme.Name</option>
                        }
                    </select>
                </div>
                <p class="govuk-body">
                    <a asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary" asp-route-clear="true" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link govuk-link--no-visited-state">Clear search</a>
                </p>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and continue</button>
                <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
                <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state" esfa-automation="cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>