@using Esfa.Recruit.Employer.Web.ViewModels.Part1.EmployerName;
@using Esfa.Recruit.Shared.Web.Mappers;
@model EmployerNameViewModel;
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-employer-name";
    ViewBag.ZenDeskLabel = "recruit-what-employer-name-do-you-want-to-go-on-the-vacancy";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div asp-show="@Model.PageInfo.IsWizard">
            <a asp-show="@Model.HasOnlyOneOrganisation" asp-route="@RouteNames.NumberOfPositions_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
            <a asp-hide="@Model.HasOnlyOneOrganisation" asp-route="@RouteNames.Employer_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </div>
        <div asp-hide="@Model.PageInfo.IsWizard">
            <a asp-hide="@Model.HasOnlyOneOrganisation" asp-route="@RouteNames.Employer_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </div>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Which employer name do you want on your advert?</h1>

        <form asp-route="@RouteNames.EmployerName_Post" asp-route-wizard="@Model.PageInfo.IsWizard">
            <div class="govuk-form-group" id="@FieldIdentifiers.EmployerName">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="SelectedEmployerIdentityOption" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="RegisteredName" data-aria-controls="new-trading-name" id="legal-entity-name" class="govuk-radios__input" type="radio">
                            <label for="legal-entity-name" class="govuk-label govuk-radios__label">
                                @Model.LegalEntityName (registered name)
                            </label>
                        </div>
                        <div asp-show="@Model.HasExistingTradingName" class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="ExistingTradingName" id="trading-name" class="govuk-radios__input" type="radio">
                            <label for="trading-name" class="govuk-label govuk-radios__label">
                                @Model.ExistingTradingName (trading name)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="NewTradingName" data-aria-controls="trading-name-conditional" id="existing-trading-name" type="radio" class="govuk-radios__input">
                            <label for="existing-trading-name" class="govuk-label govuk-radios__label">
                                    A<span asp-show="@Model.HasExistingTradingName"> different</span> trading name
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="trading-name-conditional">
                            <span esfa-validation-message-for="NewTradingName" class="govuk-error-message"></span>
                            <div class="govuk-form-group">
                                <div asp-hide="@Model.HasExistingTradingName">
                                    <label asp-for="NewTradingName" class="govuk-label govuk-!-font-weight-bold" for="NewTradingName">Enter trading name</label>
                                </div>
                                <div asp-show="@Model.HasExistingTradingName">
                                    <label asp-for="NewTradingName" class="govuk-label govuk-!-font-weight-bold" for="NewTradingName">Add a new trading name</label>
                                    <span class="govuk-hint">This will also change the trading name on all your adverts that are in draft or rejected.</span>
                                </div>
                                <input asp-for="NewTradingName" class="govuk-input govuk-input--width-20" id="NewTradingName" name="NewTradingName" type="text">
                            </div>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="Anonymous" data-aria-controls="anonymous-conditional" id="anonymous" class="govuk-radios__input" type="radio" >
                            <label class="govuk-label govuk-radios__label" for="anonymous">
                                I do not want an employer name on my advert (be anonymous)
                                <span class="govuk-hint">This could mean fewer people view your advert.</span>
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="anonymous-conditional">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" asp-for="AnonymousName">
                                            Enter a brief description of what the employer does
                                        </label>
                                        <span class="govuk-hint">For example, car manufacturer or clothing retailer.</span>
                                        <span esfa-validation-message-for="AnonymousName" class="govuk-error-message"></span>
                                        <input asp-for="AnonymousName" data-val-length-max="200" class="govuk-input govuk-input--width-20" type="text">
                                    </div>
                                    <div class="govuk-form-group">
                                        <label class="govuk-label" asp-for="AnonymousReason">
                                            Why do you want your advert to be anonymous?
                                        </label>
                                        <span class="govuk-hint">This information will not show on your advert. We'll use it to help us decide whether you can be anonymous.</span>
                                        <span esfa-validation-message-for="AnonymousReason" class="govuk-error-message"></span>
                                        <textarea asp-for="AnonymousReason" data-val-length-max="200" class="govuk-textarea govuk-!-width-three-quarters character-count" rows="5" type="text"></textarea>
                                        <div>
                                            <span class="govuk-body maxchar-count">200</span>
                                            <span class="govuk-body maxchar-text"> characters remaining</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and continue</button>
            <div class="govuk-body">
                <a asp-route="@RouteNames.EmployerName_Cancel" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
