@using Esfa.Recruit.Provider.Web.ViewModels.Part1.EmployerName;
@using Esfa.Recruit.Shared.Web.Mappers;
@model EmployerNameViewModel;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-employer-name";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div asp-show="@Model.PageInfo.IsWizard">
            <a asp-show="@Model.HasOnlyOneOrganisation" asp-route="@RouteNames.NumberOfPositions_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
            <a asp-hide="@Model.HasOnlyOneOrganisation" asp-route="@RouteNames.LegalEntity_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </div>
        <div asp-hide="@Model.PageInfo.IsWizard">
            <a asp-hide="@Model.HasOnlyOneOrganisation" asp-route="@RouteNames.LegalEntity_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </div>
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            <span class="govuk-caption-l">@Model.Title</span>
            Which employer is this vacancy for?
        </h1>

        <form asp-route="@RouteNames.EmployerName_Post" asp-route-wizard="@Model.PageInfo.IsWizard">
            <div class="govuk-form-group" id="@FieldIdentifiers.EmployerName">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="SelectedEmployerIdentityOption" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="RegisteredName" data-aria-controls="new-trading-name" id="legal-entity-name" class="govuk-radios__input" type="radio">
                            <label for="legal-entity-name" class="govuk-label govuk-radios__label">
                                @Model.LegalEntityName 
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and Continue</button>

            <a asp-route="@RouteNames.EmployerName_Cancel" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link das-button-link">Cancel</a>
        </form>
    </div>
</div>