@using Esfa.Recruit.Provider.Web.ViewModels.Part1.EmployerName;
@using Esfa.Recruit.Shared.Web.Mappers;
@model EmployerNameViewModel;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-employer-name";
    ViewBag.Title = "Employer name on vacancy";
}

@section BackLink {
    <a asp-route="@Model.PageBackLink" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <form asp-route="@RouteNames.EmployerName_Post" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" >
            <div class="govuk-form-group" id="@FieldIdentifiers.EmployerName"  esfa-validation-marker-for="SelectedEmployerIdentityOption">
                <fieldset class="govuk-fieldset">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="govuk-caption-xl">@Model.Title</span>What employer name do you want on the vacancy?</h1>
                    
                    <span esfa-validation-message-for="SelectedEmployerIdentityOption" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="RegisteredName" data-aria-controls="new-trading-name" id="legal-entity-name" class="govuk-radios__input" type="radio">
                            <label for="legal-entity-name" class="govuk-label govuk-radios__label">
                                @Model.LegalEntityName (registered name)
                            </label>
                        </div>
                        <div asp-show="@Model.HasExistingTradingName" class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="ExistingTradingName" id="trading-name" class="govuk-radios__input" type="radio">
                            <label for="trading-name" class="govuk-label govuk-radios__label">
                                @Model.ExistingTradingName (trading name)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="NewTradingName" data-aria-controls="trading-name-conditional" id="existing-trading-name" type="radio" class="govuk-radios__input">
                            <label for="existing-trading-name" class="govuk-label govuk-radios__label">
                                A different name
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="trading-name-conditional">
                            
                            <div class="govuk-form-group" esfa-validation-marker-for="NewTradingName">
                                <div asp-hide="@Model.HasExistingTradingName">
                                    <label asp-for="NewTradingName" class="govuk-label" for="NewTradingName">Trading name</label>
                                </div>
                                <span esfa-validation-message-for="NewTradingName" class="govuk-error-message"></span>
                                <div asp-show="@Model.HasExistingTradingName">
                                    <label asp-for="NewTradingName" class="govuk-label govuk-!-font-weight-bold" for="NewTradingName">Add a new trading name</label>
                                    <span class="govuk-hint">This will also change the trading name on all your vacancies that are in draft or rejected.</span>
                                </div>
                                <input asp-for="NewTradingName" class="govuk-input govuk-input--width-20" id="NewTradingName" name="NewTradingName" type="text">
                            </div>
                        </div>
                        <div class="govuk-radios__divider">or</div>
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedEmployerIdentityOption" value="Anonymous" data-aria-controls="anonymous-conditional" id="anonymous" class="govuk-radios__input" type="radio">
                            <label class="govuk-label govuk-radios__label" for="anonymous">
                                I do not want an employer name on my vacancy (be anonymous)
                                <span class="govuk-hint">This could mean fewer people see your vacancy</span>
                            </label>
                        </div>
                        <div class="govuk-radios__conditional" id="anonymous-conditional">
                            <div class="govuk-form-group" esfa-validation-marker-for="AnonymousName">
                                <label class="govuk-label" asp-for="AnonymousName">
                                    Brief description of what the employer does
                                </label>
                                <span class="govuk-hint">For example, car manufacturer or clothing retailer.</span>
                                <span esfa-validation-message-for="AnonymousName" class="govuk-error-message"></span>
                                <input asp-for="AnonymousName" data-val-length-max="200" class="govuk-input govuk-input--width-20" type="text">
                            </div>
                            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                <div class="govuk-form-group" esfa-validation-marker-for="AnonymousReason">
                                    <label class="govuk-label" asp-for="AnonymousReason">
                                        Reason for being anonymous
                                    </label>
                                    <span class="govuk-hint">This information will not show on your vacancy. We'll use it to help us decide whether you can be anonymous.</span>
                                    <span esfa-validation-message-for="AnonymousReason" class="govuk-error-message"></span>
                                    <textarea asp-for="AnonymousReason" data-val-length-max="4000" class="govuk-textarea govuk-!-width-three-quarters govuk-js-character-count" rows="5" type="text"></textarea>
                                    <div id="AnonymousReason-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                                        You can enter up to 4000 characters
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and continue</button>
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
            
        </form>
    </div>
</div>