@model Esfa.Recruit.Employer.Web.ViewModels.Part1.MultipleLocations.AddMoreThanOneLocationViewModel

<div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes" esfa-validation-marker-for="SelectedLocations">
    <span esfa-validation-message-for="SelectedLocations" class="govuk-error-message"></span>
    <div class="govuk-checkboxes">
        @{
            var groupedLocations = Model.AvailableLocations.GroupByLastFilledAddressLine();
            var index = 0;
            foreach (var group in groupedLocations)
            {
                <h3 class="govuk-heading-s govuk-!-padding-top-3">@group.Key</h3>
                foreach (var location in group)
                {
                    var address = location.Value.ToAddressString();
                    var controlId = $"selectedLocation_{index++}";
                    <div class="govuk-checkboxes__item">
                        <input
                            id="@controlId"
                            class="govuk-checkboxes__input"
                            name="@nameof(Model.SelectedLocations)"
                            value="@address"
                            type="checkbox"
                            checked="@(Model.SelectedLocations?.Contains(address) ?? false ? "checked" : null)">
                        <label for="@controlId" class="govuk-label govuk-checkboxes__label">
                            @address
                        </label>
                    </div>
                }                                                  
            }
        }
    </div>
</div>