@model Esfa.Recruit.Employer.Web.ViewModels.Submitted.VacancySubmittedConfirmationViewModel
@using Microsoft.Extensions.Options
@inject IOptions<ExternalLinksConfiguration> ExternalLinks
@{
    ViewBag.Vpv = "/recruitment/employer/page-vacancy-submitted-confirmation";
    ViewBag.Title = "Advert submitted for approval";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 asp-hide="@Model.IsResubmit" class="govuk-panel__title">
                Advert submitted for approval
            </h1>
            <h1 asp-show="@Model.IsResubmit" class="govuk-panel__title">
                Advert resubmitted for approval
            </h1>
            <div class="govuk-panel__body">
                <p asp-show="@Model.HasVacancyReference">
                    The advert reference number is <br>
                    <strong class="govuk-!-font-weight-bold">VAC@(Model.VacancyReference)</strong>
                </p>
            </div>
        </div>
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ll check the advert and tell you within 24 hours if you need to make any edits. If the advert is not approved, we’ll let you know on the dashboard what changes you’ll need to make. <a asp-route="@RouteNames.ManageNotifications_Get" class="govuk-link">Manage your recruitment emails</a> if you'd rather get an email.</p>
        <p class="govuk-body">When we approve your advert, it will appear on the <a href="@ExternalLinks.Value.FindAnApprenticeshipUrl" class="govuk-link" target="_blank">Find an apprenticeship service</a> (opens in a new tab).</p>
        
        <p class="govuk-body">
            <a asp-route="@RouteNames.CreateVacancyOptions_Get" class="govuk-button">Create another advert</a>
        </p>
        <p class="govuk-body">
            <a asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Return to dashboard</a>
        </p>
    </div>
</div>