@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Title.TitleViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy";
    ViewBag.Title = "What do you want to call this vacancy?";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
        <a asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
    <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-all-route-data="@Model.RouteDictionary" asp-route="@Model.BackLink" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureDisabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames}'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <form asp-route="@Model.FormPostRouteName" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn"  asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--xl" asp-for="Title">
                    What do you want to call this vacancy?
                </label>
            </h1>
            <input type="hidden" name="EmployerAccountId" value="@Model.EmployerAccountId" />
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
                <div esfa-validation-marker-for="Title" class="govuk-form-group">
                    @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
                    {
                        <p class="govuk-body">Use a title that relates to the apprenticeship training for this vacancy, this will help it get found in the Find an apprenticeship search.</p>
                        <span class="govuk-hint">Must include the word 'apprentice' or 'apprenticeship'</span>
                    }
                    else
                    {
                        <p class="govuk-body">Use a title that relates to the traineeship, this will help it get found in the Find a traineeship search.</p>
                        <span class="govuk-hint">Must include the word 'trainee' or 'traineeship'</span>
                    }
                    
                    
                    <span esfa-validation-message-for="Title" class="govuk-error-message"></span>
                    <input asp-for="Title" class="govuk-input govuk-js-character-count" type="text" aria-describedby="Title-info Title-hint"/>
                    <div id="Title-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 100 characters
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button">@Model.PageInfo.SubmitButtonText</button>
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                
            </div>
            
        </form>
    </div>
</div>