@using Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview
@using Esfa.Recruit.Shared.Web.ViewModels.TaskList

@model Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/task-list";
    ViewBag.Title = "Create an apprenticeship vacancy";
}

@section BackLink {
    <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" esfa-automation="link-back" class="govuk-back-link">Return to dashboard</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create an apprenticeship vacancy
        </h1>
        <ol class="das-task-list">
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(1, "Vacancy summary", Model.TaskListSectionOneState))"/>
                <ul class="das-task-list__items">

                    @if (Model.AccountLegalEntityCount + Model.AccountCount > 2)
                    {
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(true, "Name of employer", RouteNames.ConfirmSelectedLegalEntityEmployer_Get, Model.RouteDictionary))"/>
                    }
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(true, "Vacancy title", RouteNames.Title_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(!(!Model.HasSelectedLegalEntity || string.IsNullOrEmpty(Model.Title)),
                                                             "Training course", RouteNames.Training_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.HasProgramme,
                                                             "Summary of the apprenticeship", RouteNames.ShortDescription_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.ShortDescriptionSectionState != VacancyPreviewSectionState.Incomplete,
                                                             "What the apprentice will do at work", RouteNames.VacancyWorkDescription_Index_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.DescriptionsSectionState != VacancyPreviewSectionState.Incomplete,
                                                             "How the apprentice will train", RouteNames.VacancyHowTheApprenticeWillTrain_Index_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(2, "Employment details", Model.TaskListSectionTwoState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListSectionOneState == VacancyTaskListSectionState.Completed,
                                                             "Closing and start dates", RouteNames.Dates_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(!(Model.ClosingDateSectionState == VacancyPreviewSectionState.Incomplete || Model.PossibleStartDateSectionState == VacancyPreviewSectionState.Incomplete),
                                                             "Duration and working hours", RouteNames.Duration_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.ExpectedDurationSectionState != VacancyPreviewSectionState.Incomplete,
                                                             "Pay rate and benefits", RouteNames.Wage_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.WageTextSectionState != VacancyPreviewSectionState.Incomplete,
                                                             "Number of positions", RouteNames.NumberOfPositions_Get, Model.RouteDictionary))"/>
                    <esfaFeatureEnabled name="@FeatureNames.MultipleLocations">
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.NumberOfPositionsSectionState != VacancyPreviewSectionState.Incomplete,
                                                                 "Locations", RouteNames.MultipleLocations_Get, Model.RouteDictionary))"/>
                    </esfaFeatureEnabled>
                    <esfaFeatureDisabled name="@FeatureNames.MultipleLocations">
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.NumberOfPositionsSectionState != VacancyPreviewSectionState.Incomplete,
                                                                 "Address", RouteNames.Location_Get, Model.RouteDictionary))"/>
                    </esfaFeatureDisabled>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(3, "Requirements and Prospects", Model.TaskListSectionThreeState))"/>
                <ul class="das-task-list__items">

                    @if (Model.VacancyType is VacancyType.Foundation)
                    {
                        <p class="govuk-body govuk-hint">Foundation apprenticeships do not require the applicants to
                            have specific skills or qualifications before applying.</p>
                        <partial name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Skills (not required)"))"/>
                        <partial name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Qualifications (not required)"))"/>
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.EmployerAddressSectionState != VacancyPreviewSectionState.Incomplete,
                                                                 "Future prospects", RouteNames.FutureProspects_Get, Model.RouteDictionary))"/>
                    }
                    else
                    {
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListSectionTwoState == VacancyTaskListSectionState.Completed,
                                                                 "Skills", RouteNames.Skills_Get, Model.RouteDictionary))"/>
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.SkillsSectionState != VacancyPreviewSectionState.Incomplete,
                                                                 "Qualifications", RouteNames.Qualifications_Get, Model.RouteDictionary))"/>
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(!(Model.HasOptedToAddQualifications is null || Model.HasOptedToAddQualifications is true && Model.QualificationsSectionState == VacancyPreviewSectionState.Incomplete),
                                                                 "Future prospects", RouteNames.FutureProspects_Get, Model.RouteDictionary))"/>
                    }

                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(!string.IsNullOrEmpty(Model.OutcomeDescription),
                                                             "Other things to consider", RouteNames.Considerations_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(4, "About the employer", Model.TaskListSectionFourState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListSectionThreeState == VacancyTaskListSectionState.Completed,
                                                             "Name of employer on vacancy", RouteNames.EmployerName_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.HasSelectedEmployerNameOption,
                                                             "Employer information", RouteNames.AboutEmployer_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.HasEmployerDescription,
                                                             "Contact details", RouteNames.ProviderContactDetails_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.HasSelectedEmployerNameOption && Model.HasEmployerDescription && Model.TaskListSectionThreeState == VacancyTaskListSectionState.Completed,
                                                             "Application website", RouteNames.ApplicationProcess_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                @{
                    var sectionFourState = Model.TaskListSectionFiveState == VacancyTaskListSectionState.Completed
                        ? VacancyTaskListSectionState.Completed
                        : VacancyTaskListSectionState.NotStarted;
                }
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(5, "Application", sectionFourState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListSectionFourState == VacancyTaskListSectionState.Completed,
                                                             "Questions for applicants", RouteNames.AdditionalQuestions_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                @{
                    var sectionFiveState = Model.TaskListSectionFiveState switch
                    {
                        VacancyTaskListSectionState.Completed => VacancyTaskListSectionState.InProgress,
                        _ when Model.Status is VacancyStatus.Submitted => VacancyTaskListSectionState.Completed,
                        _ => VacancyTaskListSectionState.NotStarted
                    };
                }
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(6, "Check and submit your vacancy", sectionFiveState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListSectionFiveState == VacancyTaskListSectionState.Completed,
                                                             "Check your answers and submit your vacancy", RouteNames.ProviderCheckYourAnswersGet, Model.RouteDictionary))"/>
                </ul>
            </li>

        </ol>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-heading-s">No longer need this vacancy?</p>
        <a asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary"
           class="govuk-button govuk-button--warning" esfa-automation="delete-button">Delete vacancy</a>
    </div>
</div>