@using Esfa.Recruit.Shared.Web.ViewModels.TaskList
@using Esfa.Recruit.Vacancies.Client.Application.FeatureToggle

@model VacancyTaskListViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/task-list";
    ViewBag.Title = "Create an apprenticeship vacancy";
}

@section BackLink {
    <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" esfa-automation="link-back" class="govuk-back-link">Return to dashboard</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create an apprenticeship vacancy
        </h1>
        <ol class="das-task-list">
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(1, "Vacancy summary", Model.TaskListStates.SectionOneState))"/>
                <ul class="das-task-list__items">

                    @if (Model.AccountLegalEntityCount + Model.AccountCount > 2)
                    {
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(true, "Name of employer", RouteNames.ConfirmSelectedLegalEntityEmployer_Get, Model.RouteDictionary))"/>
                    }
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.VacancyTitleEditable, "Vacancy title", RouteNames.Title_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.TrainingCourseEditable, "Training course", RouteNames.Training_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.ApprenticeshipSummaryEditable, "Summary of the apprenticeship", RouteNames.ShortDescription_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.WhatWillTheyDoAtWorkEditable, "What the apprentice will do at work", RouteNames.VacancyWorkDescription_Index_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.HowWillTheyTrainEditable, "How the apprentice will train", RouteNames.VacancyHowTheApprenticeWillTrain_Index_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(2, "Employment details", Model.TaskListStates.SectionTwoState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.ClosingAndStartDatesEditable, "Closing and start dates", RouteNames.Dates_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.DurationAndWorkingHoursEditable, "Duration and working hours", RouteNames.Duration_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.PayRateAndBenefitsEditable, "Wage and company benefits", RouteNames.Wage_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.NumberOfPositionsEditable, "Number of positions", RouteNames.NumberOfPositions_Get, Model.RouteDictionary))"/>
                    <esfaFeatureEnabled name="@FeatureNames.MultipleLocations">
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.LocationsEditable, "Locations", RouteNames.MultipleLocations_Get, Model.RouteDictionary))"/>
                    </esfaFeatureEnabled>
                    <esfaFeatureDisabled name="@FeatureNames.MultipleLocations">
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.LocationsEditable, "Address", RouteNames.Location_Get, Model.RouteDictionary))"/>
                    </esfaFeatureDisabled>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(3, "Requirements and prospects", Model.TaskListStates.SectionThreeState))"/>
                <ul class="das-task-list__items">
                    @* Foundation apprenticeship *@
                    <p asp-show="@(Model.ApprenticeshipType is ApprenticeshipTypes.Foundation)" class="govuk-body govuk-hint">Foundation apprenticeships do not require the applicants to
                        have specific skills or qualifications before applying.</p>
                    <partial asp-show="@(Model.ApprenticeshipType is ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Skills (not required)"))"/>
                    <partial asp-show="@(Model.ApprenticeshipType is ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Qualifications (not required)"))"/>
                    @* ------------------------- *@
                    
                    @* Apprenticeship standard *@
                    <partial asp-show="@(Model.ApprenticeshipType is not ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.SkillsEditable, "Skills", RouteNames.Skills_Get, Model.RouteDictionary))"/>
                    <partial asp-show="@(Model.ApprenticeshipType is not ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.QualificationsEditable, "Qualifications", RouteNames.Qualifications_Get, Model.RouteDictionary))"/>
                    @* ----------------------- *@
                    
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.FutureProspectsEditable, "After this apprenticeship", RouteNames.FutureProspects_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.OtherThingsToConsiderEditable, "Other requirements", RouteNames.Considerations_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(4, "About the employer", Model.TaskListStates.SectionFourState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.NameOfEmployerOnVacancyEditable, "Name of employer on vacancy", RouteNames.EmployerName_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.EmployerInformationEditable, "Employer information", RouteNames.AboutEmployer_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.ContactDetailsEditable, "Contact details", RouteNames.ProviderContactDetails_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.WebsiteForApplicationsEditable, "Application website", RouteNames.ApplicationProcess_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(5, "Application questions", Model.TaskListStates.SectionFiveState))"/>
                <ul class="das-task-list__items">
                    <partial asp-show="@(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)" name="_TaskListTextItem" model="@(new TaskListTextItemViewModel("You do not need to review this section because you’re using your own application website."))" />
                    <partial asp-show="@(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)" name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Application questions on Find an apprenticeship (not required)"))"/>
                    <partial asp-hide="@(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.AdditionalQuestionsEditable, "Application questions on Find an apprenticeship", RouteNames.AdditionalQuestions_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(6, "Check and submit your vacancy", Model.TaskListStates.SectionSixState))"/>
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.CheckYourAnswersEditable, "Check your answers and submit your vacancy", RouteNames.ProviderCheckYourAnswersGet, Model.RouteDictionary, IsTaskList: false))"/>
                </ul>
            </li>

        </ol>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-heading-s">No longer need this vacancy?</p>
        <a asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary"
           class="govuk-button govuk-button--warning" esfa-automation="delete-button">Delete vacancy</a>
    </div>
</div>