@using Esfa.Recruit.Vacancies.Client.Domain.Extensions
@model DashboardViewModel
<div asp-show="@Model.HasDashboardMessage" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="info-summary">
            <h2 class="govuk-heading-m error-summary-heading">@Model.DashboardMessage</h2>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.Dashboard_Next_Vacancy_Post">
            <button class="govuk-button" type="submit">Review Vacancy</button>
        </form>
    </div>
    <div class="govuk-grid-column-one-third">
        <form asp-route="@RouteNames.Dashboard_Index_Get" method="get">
            <div class="search-field">
                <div class="search-input">
                    <input asp-for="SearchTerm" placeholder="Search vacancies" class="govuk-input" maxlength="200" />
                </div>
                <div class="search-submit">
                    <button class="" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Statistics</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Total vacancies</th>
                    <th class="govuk-table__header">Submitted 12-24 hours</th>
                    <th class="govuk-table__header">Submitted +24 hours</th>
                    <th class="govuk-table__header">Resubmitted vacancies</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Model.TotalVacanciesForReview</td>
                    <td class="govuk-table__cell">@Model.TotalVacanciesSubmittedTwelveToTwentyFourHours</td>
                    <td class="govuk-table__cell">@Model.TotalVacanciesBrokenSla</td>
                    <td class="govuk-table__cell">@Model.TotalVacanciesResubmitted</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 asp-show="@Model.IsUserAdmin" class="govuk-heading-m govuk-!-margin-bottom-0">In-progress vacancies</h2>

<span asp-show="@Model.DisplayNoInProgressVacanciesMessage" class="govuk-body">There are no vacancy reviews currently in progress</span>

<div asp-show="@Model.DisplayInProgressResults" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Employer</th>
                    <th class="govuk-table__header">Vacancy Title</th>
                    <th class="govuk-table__header">Reference Number</th>
                    <th class="govuk-table__header">Submitted Date</th>
                    <th class="govuk-table__header">Closing Date</th>
                    <th class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var vacancy in Model.InProgressVacancies)
                {
                    var assignmentInfoCaption = vacancy.GetAssignmentInfoCaption();
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@vacancy.EmployerName</td>
                        <td class="govuk-table__cell">@vacancy.VacancyTitle</td>
                        <td class="govuk-table__cell"><span>VAC</span>@vacancy.VacancyReference</td>
                        <td class="govuk-table__cell">@vacancy.SubmittedDate.ToUkTime().AsGdsDateTime()</td>
                        <td class="govuk-table__cell">@vacancy.ClosingDate.AsGdsDate()</td>
                        <td class="govuk-table__cell">
                            @assignmentInfoCaption <br />
                            <a asp-route="@RouteNames.Vacancy_Review_Unassign_Get" asp-route-reviewId="@vacancy.ReviewId" class="govuk-link">Unassign</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<h2 asp-show="@Model.DisplayLastSearchTerm" class="govuk-heading-m govuk-!-margin-bottom-0">Search results for [@Model.LastSearchTerm]</h2>

<span asp-show="@Model.DisplayNoSearchResultsMessage" class="govuk-body">No results</span>

<div asp-show="@Model.DisplaySearchResults" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">Employer</th>
                    <th class="govuk-table__header">Vacancy Title</th>
                    <th class="govuk-table__header">Reference Number</th>
                    <th class="govuk-table__header">Submitted Date</th>
                    <th class="govuk-table__header">Closing Date</th>
                    <th class="govuk-table__header"></th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Model.SearchResult.EmployerName</td>
                    <td class="govuk-table__cell">@Model.SearchResult.VacancyTitle</td>
                    <td class="govuk-table__cell"><span>VAC</span>@Model.SearchResult.VacancyReference</td>
                    <td class="govuk-table__cell">@Model.SearchResult.SubmittedDate.ToUkTime().AsGdsDateTime()</td>
                    <td class="govuk-table__cell">@Model.SearchResult.ClosingDate.AsGdsDate()</td>
                    <td class="govuk-table__cell">
                        <span asp-show="@Model.SearchResult.ShowAssignmentInfoCaption">@Model.SearchResult.GetAssignmentInfoCaption()<br /></span>
                        <a asp-show="@Model.SearchResult.CanShowReviewLink" asp-route="@RouteNames.Vacancy_Review_Get" asp-route-reviewId="@Model.SearchResult.ReviewId" class="govuk-link">Review</a>
                        <p asp-show="@Model.SearchResult.IsVacancyDeleted">This vacancy has been deleted.</p>
                        <span asp-show="@Model.SearchResult.ShowReviewer">@Model.SearchResult.ClosedReviewAssignmentCaption</span>
                        <a asp-show="@Model.SearchResult.IsClosed" asp-route="@RouteNames.Vacancy_Readonly_Review_Get" asp-route-reviewId="@Model.SearchResult.ReviewId" class="govuk-link">View (read only)</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div asp-show="@Model.IsUserAdmin" class="govuk-grid-row">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ReportDashboard_Get">Reports</a>
        </h3>
        <p class="govuk-body">Create and download reports for your vacancies for any period of time.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.BlockedOrganisations_Get">Remove training provider</a>
        </h3>
        <p class="govuk-body">Remove a training provider</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.WithdrawVacancy_FindVacancy_Get">Close a vacancy</a>
        </h3>
        <p class="govuk-body">Find and close a live vacancy and prevent it being found on Find an apprenticeship.</p>
    </div>
</div>

