@using Esfa.Recruit.Vacancies.Client.Domain.Extensions
@model DashboardViewModel
<div asp-condition="@Model.HasDashboardMessage" class="grid-row">
    <div class="column-full">
        <div class="info-summary">
            <h2 class="heading-medium error-summary-heading">@Model.DashboardMessage</h2>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <form asp-route="@RouteNames.Dashboard_Next_Vacancy_Post">
            <button class="button small-top-margin" type="submit">Review First Vacancy</button>
        </form> 
    </div>
    <div class="column-one-third">
        <form asp-route="@RouteNames.Dashboard_Index_Get" method="get">
            <div class="search-field small-top-margin">
                <fieldset class="search-input ">
                    <input asp-for="SearchTerm" placeholder="Search vacancies" class="form-control" maxlength="200"/>
                </fieldset>
                <fieldset class="search-submit">
                    <button class="button" type="submit">Search</button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium no-bottom-margin">Statistics</h2>
        <table>
            <thead>
            <tr>
                <th>Total vacancies</th>
                <th>Submitted +24 hours</th>
                <th>Resubmitted vacancies</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>@Model.TotalVacanciesForReview</td>
                <td>@Model.TotalVacanciesBrokenSla</td>
                <td>@Model.TotalVacanciesResubmitted</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 asp-condition="@Model.DisplayInProgressVacancies" class="heading-medium no-bottom-margin">In-progress vacancies</h2>

<span asp-condition="@Model.DisplayNoInProgressVacanciesMessage">There are no vacancy reviews currently in progress</span>

<div asp-condition="@Model.DisplayInProgressResults" class="grid-row">
    <table>
        <tbody>
            <tr>
                <th class="bold">Employer</th>
                <th class="bold">Vacancy Title</th>
                <th class="bold">Reference Number</th>
                <th class="bold">Submitted Date</th>
                <th class="bold">Closing Date</th>
                <th class="bold"></th>
            </tr>
        </tbody>
        @foreach (var vacancy in Model.InProgressVacancies)
        {
            var assignmentInfoCaption = $"Assigned to {@vacancy.AssignmentToCaption}. Being reviewed {@vacancy.AssignedTimeElapsedCaption}.";
            <tr>
                <td>@vacancy.EmployerName</td>
                <td>@vacancy.VacancyTitle</td>
                <td>@vacancy.VacancyReference</td>
                <td>@vacancy.SubmittedDate.AsGdsDateTime()</td>
                <td>@vacancy.ClosingDate.AsGdsDate()</td>
                <td>@assignmentInfoCaption</td>
            </tr>
        }
    </table>
</div>


<h2 asp-condition="@Model.DisplayLastSearchTerm" class="heading-medium no-bottom-margin">Search results for [@Model.LastSearchTerm]</h2>

<span asp-condition="@Model.DisplayNoSearchResultsMessage">No results</span>

<div asp-condition="@Model.DisplaySearchResults" class="grid-row">
    <table>
        <tbody>
        <tr>
            <th class="bold">Employer</th>
            <th class="bold">Vacancy Title</th>
            <th class="bold">Reference Number</th>
            <th class="bold">Submitted Date</th>
            <th class="bold">Closing Date</th>
            <th class="bold"></th>
        </tr>
        </tbody>
        @foreach (var vacancy in Model.SearchResults)
        {
            var assignmentInfoCaption = $"Assigned to {@vacancy.AssignmentToCaption}. Being reviewed {@vacancy.AssignedTimeElapsedCaption}.";
            <tr>
                <td>@vacancy.EmployerName</td>
                <td>@vacancy.VacancyTitle</td>
                <td>@vacancy.VacancyReference</td>
                <td>@vacancy.SubmittedDate.AsGdsDateTime()</td>
                <td>@vacancy.ClosingDate.AsGdsDate()</td>
                <td>
                    <span>@assignmentInfoCaption</span>
                    <br asp-condition="@vacancy.IsAvailableForReview == false"/>
                    <a asp-condition="@vacancy.IsAvailableForReview" asp-route="@RouteNames.Vacancy_Review_Get" asp-route-reviewId="@vacancy.ReviewId">Review</a>
                </td>
            </tr>
        }
    </table>
</div>

<br /><br />
<div class="grid-row">
    <div class="column-full">
        <table>
            <tbody>
                <tr>
                    <th class="bold">Vacancy title</th>
                    <th class="bold">Status</th>
                </tr>
                @foreach (var item in Model.AllReviews)
                {
                    <tr>
                        <td>
                            <a asp-route="@GetRoute(item)" asp-route-reviewId="@item.ReviewId">@item.Title</a>
                        </td>
                        <td>
                            @item.Status
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@functions{
    public string GetRoute(ReviewDashboardItem item)
    {
        return item.IsReferred ? RouteNames.Vacancy_Review_Referral_Get : RouteNames.Vacancy_Review_Get;
    }
}
