@using Esfa.Recruit.Vacancies.Client.Domain.Extensions
@model DashboardViewModel
<div asp-show="@Model.HasDashboardMessage" class="grid-row">
    <div class="column-full">
        <div class="info-summary">
            <h2 class="heading-medium error-summary-heading">@Model.DashboardMessage</h2>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <form asp-route="@RouteNames.Dashboard_Next_Vacancy_Post">
            <button class="button small-top-margin" type="submit">Review Vacancy</button>
        </form>
    </div>
    <div class="column-one-third">
        <form asp-route="@RouteNames.Dashboard_Index_Get" method="get">
            <div class="search-field small-top-margin">
                <fieldset class="search-input">
                    <input asp-for="SearchTerm" placeholder="Search vacancies" class="form-control" maxlength="200"/>
                </fieldset>
                <fieldset class="search-submit">
                    <button class="button" type="submit">Search</button>
                </fieldset>
            </div>
        </form>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-medium no-bottom-margin">Statistics</h2>
        <table>
            <thead>
                <tr>
                    <th>Total vacancies</th>
                    <th>Submitted +24 hours</th>
                    <th>Resubmitted vacancies</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.TotalVacanciesForReview</td>
                    <td>@Model.TotalVacanciesBrokenSla</td>
                    <td>@Model.TotalVacanciesResubmitted</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 asp-show="@Model.DisplayInProgressVacancies" class="heading-medium no-bottom-margin">In-progress vacancies</h2>

<span asp-show="@Model.DisplayNoInProgressVacanciesMessage">There are no vacancy reviews currently in progress</span>

<div asp-show="@Model.DisplayInProgressResults" class="grid-row">
    <table>
        <thead>
            <tr>
                <th class="bold">Employer</th>
                <th class="bold">Vacancy Title</th>
                <th class="bold">Reference Number</th>
                <th class="bold">Submitted Date</th>
                <th class="bold">Closing Date</th>
                <th class="bold"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var vacancy in Model.InProgressVacancies)
        {
            var assignmentInfoCaption = vacancy.GetAssignmentInfoCaption();
            <tr>
                <td>@vacancy.EmployerName</td>
                <td>@vacancy.VacancyTitle</td>
                <td><span>VAC</span>@vacancy.VacancyReference</td>
                <td>@vacancy.SubmittedDate.ToLocalTime().AsGdsDateTime()</td>
                <td>@vacancy.ClosingDate.AsGdsDate()</td>
                <td>
                    @assignmentInfoCaption <br />
                    <a asp-route="@RouteNames.Vacancy_Review_Unassign_Get" asp-route-reviewId="@vacancy.ReviewId">Unassign</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<h2 asp-show="@Model.DisplayLastSearchTerm" class="heading-medium no-bottom-margin">Search results for [@Model.LastSearchTerm]</h2>

<span asp-show="@Model.DisplayNoSearchResultsMessage">No results</span>

<div asp-show="@Model.DisplaySearchResults" class="grid-row">
    <table>
        <thead>
            <tr>
                <th class="bold">Employer</th>
                <th class="bold">Vacancy Title</th>
                <th class="bold">Reference Number</th>
                <th class="bold">Submitted Date</th>
                <th class="bold">Closing Date</th>
                <th class="bold"></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var vacancy in Model.SearchResults)
        {
            var assignmentInfoCaption = vacancy.GetAssignmentInfoCaption();
            <tr>
                <td>@vacancy.EmployerName</td>
                <td>@vacancy.VacancyTitle</td>
                <td><span>VAC</span>@vacancy.VacancyReference</td>
                <td>@vacancy.SubmittedDate.ToLocalTime().AsGdsDateTime()</td>
                <td>@vacancy.ClosingDate.AsGdsDate()</td>
                <td>
                    <span asp-show="@vacancy.ShowAssignmentInfoCaption">@assignmentInfoCaption<br /></span>
                    <a asp-show="@vacancy.CanShowReviewLink" asp-route="@RouteNames.Vacancy_Review_Get" asp-route-reviewId="@vacancy.ReviewId">Review</a>
                    <span asp-show="@vacancy.IsClosed">@vacancy.ClosedReviewAssignmentCaption</span>
                    <a asp-show="@vacancy.IsClosed" asp-route="@RouteNames.Vacancy_Readonly_Review_Get" asp-route-reviewId="@vacancy.ReviewId">View (read only)</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>