@using Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview
@using Microsoft.AspNetCore.Html
@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@{
    if (Model.InfoMessage == InfoMessages.VacancyCloned)
    {
        ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-successfully-cloned";
    }
    else
    {
        ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-previewed";
    }
}

@functions
{
    const string EmptySectionClass = "preview-empty";
    const string ErrorSectionClass = "preview-error";
    const string ReviewSectionClass = "preview-review";

    public string GetSectionClass(VacancyPreviewSectionState state)
    {
        switch (state)
        {
            case VacancyPreviewSectionState.Valid:
                return string.Empty;
            case VacancyPreviewSectionState.Incomplete:
                return EmptySectionClass;
            case VacancyPreviewSectionState.Review:
                return ReviewSectionClass;
            default:
                return ErrorSectionClass;
        }
    }

    public IHtmlContent EditLink(string routeName, VacancyPreviewSectionState state, string screenReaderText, string id, object routeValues = null)
    {
        if (state == VacancyPreviewSectionState.Incomplete || state == VacancyPreviewSectionState.InvalidIncomplete)
        {
            return VacancyPreviewHelper.ActionLink(Url, "Add", routeName, routeValues, screenReaderText, "button-secondary", id);
        }
        return VacancyPreviewHelper.ActionLink(Url, "Change", routeName, routeValues, screenReaderText, "govuk-body govuk-link", id);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div asp-show="Model.HasInfo" class="info-summary highlight-summary">
            <p class="govuk-!-margin-bottom-0 govuk-body">@Model.InfoMessage</p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial asp-hide="@Model.CanHideValidationSummary" name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />
        <div class="info-summary__header-bar" asp-show="@Model.HasIncompleteMandatorySections">
            <h2 class="govuk-heading-m" asp-show="@Model.HasSoftValidationErrors">@Model.SoftValidationErrors.Errors.Count section needs updating and</h2>
            <h2 class="govuk-heading-m">@Model.IncompleteRequiredSectionCount required @Model.IncompleteRequiredSectionText to complete</h2>
        </div>
        <div class="info-summary__header-bar govuk-!-margin-bottom-6" asp-hide="@Model.HasIncompleteMandatorySections">
            <h2 class="govuk-heading-m" asp-show="@Model.HasSoftValidationErrors">@Model.SoftValidationErrors.Errors.Count section needs updating and</h2>
            <h2 class="govuk-heading-m">You have completed all required sections</h2>
        </div>
        <div asp-show="@Model.ShowIncompleteSections" class="info-summary govuk-!-margin-top-0" role="alert">
            <div asp-show="Model.HasSoftValidationErrors">
                <p class="govuk-body">
                    Sections you will need to update:
                </p>
                <ul class=" govuk-list govuk-error-summary__list govuk-!-margin-bottom-4">
                    @foreach (var softError in Model.SoftValidationErrors.Errors.OrderBy(x => Model.OrderedFieldNames.IndexOf(x.PropertyName)))
                    {
                        var softErrorVm = new ErrorListItemViewModel(softError.PropertyName, softError.ErrorMessage);
                        <partial name="@RecruitPartialNames.ErrorListItem" model="@softErrorVm" />
                    }
                </ul>
            </div>
            <div asp-show="@Model.HasIncompleteMandatorySections">
                <p class="govuk-body">Sections you will need to complete:</p>
                <ul class="govuk-list">
                    <li asp-hide="@Model.HasShortDescription"><a asp-fragment="@Anchors.ShortDescriptionSection" class="govuk-link summary-link">Brief overview</a></li>
                    <li asp-hide="@Model.HasVacancyDescription"><a asp-fragment="@Anchors.VacancyDescriptionSection" class="govuk-link summary-link">Description of the apprenticeship</a></li>
                    <li asp-show="@Model.HasIncompleteSkillsSection"><a asp-fragment="@Anchors.Skills" class="govuk-link summary-link">Desired skills and personal qualities</a></li>
                    <li asp-show="@Model.HasIncompleteQualificationsSection"><a asp-fragment="@Anchors.Qualifications" class="govuk-link summary-link">Qualifications</a></li>
                    <li asp-show="@Model.HasIncompleteEmployerDescriptionSection"><a asp-fragment="@Anchors.EmployerDescription" class="govuk-link summary-link">Employer description</a></li>
                    <li asp-show="@Model.HasIncompleteTrainingProviderSection"><a asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link summary-link">Training provider</a></li>
                    <li asp-show="@Model.HasIncompleteApplicationProcessSection"><a asp-fragment="@Anchors.ApplicationProcessSection" class="govuk-link summary-link">Application process</a></li>
                </ul>
            </div>
            <div asp-show="@Model.HasIncompleteOptionalSections">
                <p class="govuk-body">You may wish to complete these optional sections</p>
                <ul class="govuk-list">
                    <li asp-show="@Model.HasIncompleteThingsToConsiderSection"><a asp-fragment="@Anchors.ThingsToConsider" class="govuk-link summary-link">Things to consider</a></li>
                    <li asp-show="@Model.HasIncompleteEmployerWebsiteUrlSection"><a asp-fragment="@Anchors.EmployerWebsiteUrl" class="govuk-link summary-link">Employer website</a></li>
                    <li asp-show="@Model.HasIncompleteProviderContactSection"><a asp-fragment="@Anchors.ProviderContact" class="govuk-link summary-link">Contact details</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div asp-show="@Model.Review.HasBeenReviewed" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <partial name="@PartialNames.ReviewSummary" for="Review" />
    </div>
</div>

<div class="govuk-grid-row" id="@Anchors.TitleSection">
    <div class="govuk-grid-column-two-thirds">
        <div class="@GetSectionClass(Model.TitleSectionState) govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6" id="@Anchors.Title">
                <img asp-show="@Model.TitleRequiresEdit" src="/img/red-cross.png" />
                @Model.Title
                <span class="govuk-caption-xl">@Model.EmployerName</span>
            </h2>
            @EditLink(RouteNames.Title_Get, Model.TitleSectionState, "employer-name", "link-employer-name", new { wizard = false })
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.ShortDescriptionSection">
    <div class="govuk-grid-column-two-thirds">
        <div class="@GetSectionClass(Model.ShortDescriptionSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-0" id="@Anchors.ShortDescription">
                <img asp-show="@Model.ShortDescriptionRequiresEdit" src="/img/red-cross.png" />
                Brief overview
            </h3>
            <span esfa-validation-message-for="ShortDescription" class="govuk-error-message"></span>
            <p asp-show="@Model.HasShortDescription" class="govuk-body">@Model.ShortDescription</p>
            @EditLink(RouteNames.ShortDescription_Get, Model.ShortDescriptionSectionState, "brief overview", "link-overview", new { wizard = false })
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="@GetSectionClass(Model.ClosingDateSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-0" id="@Anchors.ClosingDate">
                <img asp-show="@Model.ClosingDateRequiresEdit" src="/img/red-cross.png" />
                Closing Date
            </h3>
            <span esfa-validation-message-for="ClosingDate" class="govuk-error-message"></span>
            <p asp-show="@Model.HasClosingDate" class="govuk-body">@Model.ClosingDate</p>
            @EditLink(RouteNames.Dates_Get, Model.ClosingDateSectionState, "closing date", "link-closing-date", new { wizard = false })
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.ApprenticeshipSummarySection">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7">Apprenticeship summary</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li class="@GetSectionClass(Model.WageTextSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.YearlyWage">
                    <img asp-show="@Model.WageRequiresEdit" src="/img/red-cross.png" />
                    Annual wage
                </h3>
                <span esfa-validation-message-for="HasWage" class="govuk-error-message"></span>
                <span esfa-validation-message-for="WageText" class="govuk-error-message"></span>
                <p asp-show="@Model.HasWageText" class="govuk-body">@Model.WageText</p>
                <span esfa-validation-message-for="WageInfo" class="govuk-error-message"></span>
                <p asp-show="@Model.HasWageInfo" class="govuk-body">@Model.WageInfo</p>
                @EditLink(RouteNames.Wage_Get, Model.WageTextSectionState, "yearly wage", "link-salary", new { wizard = false })
            </li>
            <li class="@GetSectionClass(Model.WorkingWeekSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.WorkingWeek">
                    <img asp-show="@Model.WorkingWeekRequiresEdit" src="/img/red-cross.png" />
                    Working week
                </h3>
                <span esfa-validation-message-for="WorkingWeekDescription" class="govuk-error-message"></span>
                <p asp-show="@Model.HasWorkingWeekDescription" class="govuk-body">@Model.WorkingWeekDescription</p>
                <span esfa-validation-message-for="HoursPerWeek" class="govuk-error-message"></span>
                <p asp-show="@Model.HasHoursPerWeek" class="govuk-body">Total hours per week: @Model.HoursPerWeek</p>

                @EditLink(RouteNames.Duration_Get, Model.WorkingWeekSectionState, "working week", "link-working-week", new { wizard = false })
            </li>
            <li class="@GetSectionClass(Model.ExpectedDurationSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ExpectedDuration">
                    <img asp-show="@Model.ExpectedDurationRequiresEdit" src="/img/red-cross.png" />
                    Expected duration
                </h3>
                <span esfa-validation-message-for="ExpectedDuration" class="govuk-error-message"></span>
                <p class="govuk-body" asp-show="@Model.HasExpectedDuration">@Model.ExpectedDuration</p>
                @EditLink(RouteNames.Duration_Get, Model.ExpectedDurationSectionState, "expected duration", "link-duration", new { wizard = false })

            </li>
            <li class="@GetSectionClass(Model.PossibleStartDateSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.PossibleStartDate">
                    <img asp-show="@Model.PossibleStartDateRequiresEdit" src="/img/red-cross.png" />
                    Possible start date
                </h3>
                <span esfa-validation-message-for="PossibleStartDate" class="govuk-error-message"></span>
                <p asp-show="@Model.HasPossibleStartDate" class="govuk-body">@Model.PossibleStartDate</p>
                @EditLink(RouteNames.Dates_Get, Model.PossibleStartDateSectionState, "possible start date", "link-start-date", new { wizard = false })
            </li>
            <li class="@GetSectionClass(Model.TrainingLevelSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.TrainingLevel">
                    <img asp-show="@Model.TrainingLevelRequiresEdit" src="/img/red-cross.png" />
                    Apprenticeship level
                </h3>
                <span esfa-validation-message-for="HasProgramme" class="govuk-error-message"></span>
                <span esfa-validation-message-for="TrainingLevel" class="govuk-error-message"></span>
                <p asp-show="@Model.HasTrainingLevel" class="govuk-body">
                    @Model.TrainingLevel <br />
                    @Model.EducationLevelName
                </p>
                @EditLink(RouteNames.Training_Get, Model.TrainingLevelSectionState, "apprenticeship level", "link-apprenticeship-level", new { wizard = false })
            </li>
            <li asp-show="@Model.CanShowReference">
                <h3 class="govuk-heading-s govuk-!-margin-top-4">Reference number</h3>
                <p class="govuk-body">@Model.VacancyReferenceNumber</p>
            </li>
            <li class="@GetSectionClass(Model.NumberOfPositionsSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.NumberOfPositions">
                    <img asp-show="@Model.NumberOfPositionsRequiresEdit" src="/img/red-cross.png" />
                    Positions
                </h3>
                <span esfa-validation-message-for="NumberOfPositions" class="govuk-error-message"></span>
                <p asp-show="@Model.HasNumberOfPositionsCaption" class="govuk-body">@Model.NumberOfPositionsCaption</p>
                @EditLink(RouteNames.NumberOfPositions_Get, Model.NumberOfPositionsSectionState, "positions", "link-positions", new { wizard = false })
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-two-thirds vacancy-descriptions" id="@Anchors.VacancyDescriptionSection">
        <div class="@GetSectionClass(Model.DescriptionsSectionState)">
            <h3 asp-hide="@Model.HasVacancyDescription" class="govuk-heading-s">Description of the apprenticeship</h3>
            <p asp-hide="@Model.HasVacancyDescription" class="govuk-body">What will the apprentice be doing?</p>
            <h3 asp-show="@Model.HasVacancyDescription" class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.VacancyDescription">
                <img asp-show="@Model.VacancyDescriptionRequiresEdit" src="/img/red-cross.png" />
                What will the apprentice be doing?
            </h3>
            <span esfa-validation-message-for="VacancyDescription" class="govuk-error-message"></span>
            <div asp-show="@Model.HasVacancyDescription" class="govuk-body">@Html.Raw(Model.VacancyDescription)</div>
            <p asp-hide="@Model.HasTrainingDescription" class="govuk-body">What training will the apprentice take and what qualification will the apprentice get at the end?</p>
            <h3 asp-show="@Model.HasTrainingDescription" class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.TrainingDescription">
                <img asp-show="@Model.TrainingDescriptionRequiresEdit" src="/img/red-cross.png" />
                What training will the apprentice take and what qualification will the apprentice get at the end?
            </h3>
            <span esfa-validation-message-for="TrainingDescription" class="govuk-error-message"></span>
            <div asp-show="@Model.HasTrainingDescription" class="govuk-body">@Html.Raw(Model.TrainingDescription)</div>
            <p asp-hide="@Model.HasOutcomeDescription" class="govuk-body">What is the expected career progression after this apprenticeship?</p>
            <h3 asp-show="@Model.HasOutcomeDescription" class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.OutcomeDescription">
                <img asp-show="@Model.OutcomeDescriptionRequiresEdit" src="/img/red-cross.png" />
                What is the expected career progression after this apprenticeship?
            </h3>
            <span esfa-validation-message-for="OutcomeDescription" class="govuk-error-message"></span>
            <div asp-show="@Model.HasOutcomeDescription" class="govuk-body">@Html.Raw(Model.OutcomeDescription)</div>

            @EditLink(RouteNames.VacancyDescription_Index_Get, Model.DescriptionsSectionState, "full vacancy description", "link-vacancy-description")
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.RequirementsAndProspectsSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Requirements and prospects</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="@GetSectionClass(Model.SkillsSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Skills">
                <img asp-show="@Model.SkillsRequiresEdit" src="/img/red-cross.png" />
                Desired skills and personal qualities
            </h3>
            <span esfa-validation-message-for="Skills" class="govuk-error-message"></span>
            <p asp-show="@Model.HasSkills" class="govuk-body">@string.Join(", ", Model.Skills)</p>
            @EditLink(RouteNames.Skills_Get, Model.SkillsSectionState, "desired skills and personal qualities", "link-skills")
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <div class="@GetSectionClass(Model.ThingsToConsiderSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ThingsToConsider">
                <img asp-show="@Model.ThingsToConsiderRequiresEdit" src="/img/red-cross.png" />
                Things to consider (optional)
            </h3>
            <span esfa-validation-message-for="ThingsToConsider" class="govuk-error-message"></span>
            <p asp-show="@Model.HasThingsToConsider" class="govuk-body">@Model.ThingsToConsider</p>
            @EditLink(RouteNames.Considerations_Get, Model.ThingsToConsiderSectionState, "things to consider", "link-things-to-consider")
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="@GetSectionClass(Model.QualificationsSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Qualifications">
                <img asp-show="@Model.QualificationsRequiresEdit" src="/img/red-cross.png" />
                Qualifications
            </h3>
            <span esfa-validation-message-for="Qualifications" class="govuk-error-message"></span>
            <p asp-show="@Model.HasQualifications" class="govuk-body">
                @foreach (var qualification in Model.Qualifications)
                {
                    @qualification<br />
                }
            </p>
            @EditLink(RouteNames.Qualifications_Get, Model.QualificationsSectionState, "qualifications", "link-qualifications")
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.AboutEmployerSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">About the employer</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="@GetSectionClass(Model.EmployerDescriptionSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerDescription">
                <img asp-show="@Model.EmployerDescriptionRequiresEdit" src="/img/red-cross.png" />
                Description
            </h3>
            <span esfa-validation-message-for="EmployerDescription" class="govuk-error-message"></span>
            <p asp-show="@Model.HasEmployerDescription" class="govuk-body">@Model.EmployerDescription</p>
            @EditLink(RouteNames.AboutEmployer_Get, Model.EmployerDescriptionSectionState, "employer description", "link-description")
        </div>
        <div class="@GetSectionClass(Model.EmployerNameSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerName">
                <img asp-show="@Model.EmployerNameRequiresEdit" src="/img/red-cross.png" />
                Employer
            </h3>
            <span esfa-validation-message-for="EmployerName" class="govuk-error-message"></span>
            <p asp-show="@Model.HasEmployerName" class="govuk-body">@Model.EmployerName</p>
            @EditLink(RouteNames.LegalEntity_Get, Model.EmployerAddressSectionState, "employer", "link-employer", new { wizard = false })
        </div>
        <div class="@GetSectionClass(Model.DisabilityConfidentSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.DisabilityConfident">
                <img asp-show="@Model.DisabilityConfidentRequiresEdit" src="/img/red-cross.png" />
                Disability Confident (optional)
            </h3>
            <img asp-show="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" class="disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident" esfa-automation="disability-confident-logo" />
            <partial name="@PartialNames.DisabilityConfident" for="IsDisabilityConfident" />
            <p asp-show="@Model.IsNotDisabilityConfident" class="govuk-hint">This vacancy is not Disability Confident<br />This will not appear on the vacancy when it goes live</p>
            @EditLink(RouteNames.Dates_Get, Model.TrainingSectionState, "disability confident", "link-standard", new { wizard = false })
        </div>
        <div class="@GetSectionClass(Model.EmployerWebsiteUrlSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerWebsiteUrl">
                <img asp-show="@Model.EmployerWebsiteUrlRequiresEdit" src="/img/red-cross.png" />
                Website (optional)
            </h3>
            <span esfa-validation-message-for="EmployerWebsiteUrl" class="govuk-error-message"></span>
            <div asp-show="@Model.HasEmployerWebsiteUrl">
                <div asp-show="@Model.IsAnonymous" class="govuk-hint">Website will not be shown as the employer is anonymous</div>
                <p class="govuk-body">
                    @Model.EmployerWebsiteUrl
                </p>
            </div>
            @EditLink(RouteNames.AboutEmployer_Get, Model.EmployerWebsiteUrlSectionState, "website", "link-website")
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <div class="@GetSectionClass(Model.EmployerAddressSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerAddress">
                <img asp-show="@Model.EmployerAddressRequiresEdit" src="/img/red-cross.png" />
                Location
            </h3>
            <span esfa-validation-message-for="EmployerAddressElements" class="govuk-error-message"></span>
            <ul asp-show="@Model.HasEmployerAddressElements" class="govuk-list">
                @foreach (var addrLine in Model.EmployerAddressElements)
                {
                    <li>@addrLine</li>
                }
            </ul>
            @EditLink(RouteNames.Location_Get, Model.EmployerAddressSectionState, "location", "link-location", new { wizard = false })
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <img asp-show="@Model.HasMapUrl" id="static-map" src="@Model.MapUrl" alt="Location map" />
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.TrainingProviderSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Training</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="@GetSectionClass(Model.ProviderSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Provider">
                <img asp-show="@Model.ProviderRequiresEdit" src="/img/red-cross.png" />
                Training provider
            </h3>
            <span esfa-validation-message-for="ProviderName" class="govuk-error-message"></span>
            <p asp-show="@Model.HasProviderName" class="govuk-body">@Model.ProviderName</p>
        </div>
        <div class="@GetSectionClass(Model.ProviderContactSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ProviderContact">
                <img asp-show="@Model.ProviderContactRequiresEdit" src="/img/red-cross.png" />
                Contact details (optional)
            </h3>
            <span esfa-validation-message-for="ProviderContactName" class="govuk-error-message"></span>
            <p asp-show="@Model.HasProviderContactName" class="govuk-body">@Model.ProviderContactName</p>
            <span esfa-validation-message-for="ProviderContactEmail" class="govuk-error-message"></span>
            <p asp-show="@Model.HasProviderContactEmail" class="govuk-body">@Model.ProviderContactEmail</p>
            <span esfa-validation-message-for="ProviderContactTelephone" class="govuk-error-message"></span>
            <p asp-show="@Model.HasProviderContactTelephone" class="govuk-body">@Model.ProviderContactTelephone</p>
            @EditLink(RouteNames.ProviderContactDetails_Get, Model.ProviderContactSectionState, "provider contact details", "link-provider-contact-details")
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="@GetSectionClass(Model.TrainingSectionState)">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Training">
                <img asp-show="@Model.TrainingRequiresEdit" src="/img/red-cross.png" />
                Apprenticeship @Model.TrainingType
            </h3>
            <p asp-show="@Model.HasTrainingTitle" class="govuk-body">
                @Model.TrainingTitle<br />
                @Model.EducationLevelName
            </p>
            @EditLink(RouteNames.Training_Get, Model.TrainingSectionState, "apprenticeship training", "link-standard", new { wizard = false })
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.ApplicationProcessSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 asp-show="@Model.ShowGeneralApplicationProcessSectionTitle" class="govuk-heading-l">Application process</h2>
        <h2 asp-show="@Model.HasSpecifiedThroughExternalApplicationMethod" class="govuk-heading-l">Employer's application instructions</h2>
        <div asp-show="@Model.HasNotSpecifiedApplicationMethod" class="@GetSectionClass(Model.ApplicationMethodSectionState)">
            <h2 id="@Anchors.ApplicationMethod" class="govuk-heading-s govuk-!-margin-top-4">How will the candidates apply for this vacancy?</h2>
            <span esfa-validation-message-for="ApplicationMethod" class="govuk-error-message"></span>
            @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationMethodSectionState, "application method", "link-application-method")
        </div>
        <div asp-show="@Model.HasSpecifiedThroughFaaApplicationMethod" class="@GetSectionClass(Model.ApplicationMethodSectionState)">
            <p class="govuk-body">
                <img asp-show="@Model.ApplicationMethodRequiresEdit" src="/img/red-cross.png" />
                Candidates will apply through the <a href="@Model.FindAnApprenticeshipUrl" class="govuk-body govuk-link" rel="noopener" target="_blank">Find an apprenticeship service</a>
            </p>
            @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationMethodSectionState, "application method", "link-application-method")
        </div>
        <div asp-show="@Model.HasSpecifiedThroughExternalApplicationMethod">
            <div asp-show="@Model.HasApplicationUrl">
                <p class="govuk-body">This apprenticeship requires you to apply through the employer's website.</p>
                <div class="@GetSectionClass(Model.ApplicationUrlSectionState)">
                    <h2 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ApplicationUrl">
                        <img asp-show="@Model.ApplicationUrlRequiresEdit" src="/img/red-cross.png" />
                        Apply now web address
                    </h2>
                    <span esfa-validation-message-for="ApplicationUrl" class="govuk-error-message"></span>
                    <p class="govuk-body">@Model.ApplicationUrl</p>
                    @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationUrlSectionState, "application link", "link-application-link")
                </div>
            </div>
            <div class="@GetSectionClass(Model.ApplicationInstructionsSectionState)">
                <h2 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ApplicationInstructions">
                    <img asp-show="@Model.ApplicationInstructionsRequiresEdit" src="/img/red-cross.png" />
                    Explain the application process (optional)
                </h2>
                <span esfa-validation-message-for="ApplicationInstructions" class="govuk-error-message"></span>
                <p class="govuk-body">@Model.ApplicationInstructions</p>
                @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationInstructionsSectionState, "application-instructions", "link-application-instructions")
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-body govuk-button-group">
            <form asp-show="@Model.CanSubmit" asp-route="@RouteNames.Preview_Submit_Post" class="form-inline">
                <input type="submit" value="@Model.SubmitButtonText" class="govuk-button" esfa-automation="submit-button" />
            </form>
            <a asp-show="@Model.CanDelete" asp-route="@RouteNames.DeleteVacancy_Get" class="govuk-button delete-button" esfa-automation="delete-button">Delete</a>
        </div>
        <div class="govuk-body">
            <a asp-route="@RouteNames.Vacancies_Get" class="govuk-link das-button-link" esfa-automation="dashboard-link">Return to dashboard</a>
        </div>
    </div>
</div>