@using Esfa.Recruit.QA.Web.ViewModels.ManageProvider
@model ConfirmTrainingProviderUnblockingEditModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Restore access for @Model.ProviderName</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' asp-show="@ViewData.ModelState.IsValid == false" />
        <p class="govuk-body">
            Restoring access to the recruitment service will allow the training provider to create or manage vacancies on behalf of employers.
        </p>
        <p class="govuk-body">
            The employer will need to add permissions again.
        </p>
        <h2 class="govuk-heading-s">Are you sure you want to restore access for this training provider?</h2>
        <form asp-route="@RouteNames.UnBlockProvider_Confirm_Post">
            <input type="hidden" asp-for="Ukprn">
            <input type="hidden" asp-for="ProviderName">
            <div esfa-validation-marker-for="RestoreAccess" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="RestoreAccess" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="RestoreAccess" class="govuk-radios__input" id="restore-access-yes" type="radio" value="true">
                            <label for="restore-access-yes" class="govuk-label govuk-radios__label">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="RestoreAccess" class="govuk-radios__input" id="restore-access-no" type="radio" value="false">
                            <label for="restore-access-no" class="govuk-label govuk-radios__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Confirm" class="govuk-button" />
                <a asp-route="@RouteNames.BlockedOrganisations_Get" class="govuk-link das-button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
