@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.Alerts.EmployerTransferredVacanciesAlertViewModel

<div class="das-notification das-notification--information">
    <p class="das-notification__body">
        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Transferred" class="govuk-link">@Model.CountCaption</a> from
        <span class="govuk-!-font-weight-bold">@Model.ProviderNamesCaption</span>
        <span>because they're no longer able to manage or recruit apprentices.</span>
    </p>
    <p class="das-notification__body">Any transferred live adverts have been closed. Transferred adverts pending review have been returned to draft.</p>
    <p class="das-notification__body">If you need to discuss this further, you can contact our helpdesk on @RecruitViewConstants.HelpdeskPhoneNumber.</p>
    <form asp-route="@RouteNames.Alerts_Dismiss_Post" asp-route-employerAccountId="@Model.EmployerAccountId">
        <p class="das-notification__body">
            @{ string returnUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString; }
            <input name="@nameof(AlertDismissalEditModel.ReturnUrl)" value="@returnUrl" type="hidden" />
            <input name="@nameof(AlertDismissalEditModel.AlertType)" value="@AlertType.TransferredVacanciesBlockedProvider" type="hidden" />
            <button type="submit" class="das-button--inline-link">Hide notification</button>
        </p>
    </form>
</div>