@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.Alerts.EmployerTransferredVacanciesAlertViewModel

<div class="das-notification das-notification--information">
    <p class="das-notification__body">
        <a asp-route="@RouteNames.Vacancies_Get" asp-route-filter="@FilteringOptions.Transferred" class="govuk-link">@Model.CountCaption</a> from
        <span class="govuk-!-font-weight-bold">@Model.ProviderNamesCaption</span> after you turned off their permissions.
    </p>
    <p class="das-notification__body">Live adverts that have been transferred are now closed. Adverts sent for review have been sent back to draft. You can clone closed adverts if you want to republish them.</p>
    <form asp-route="@RouteNames.Alerts_Dismiss_Post" asp-route-employerAccountId="@Model.EmployerAccountId">
        <p class="das-notification__body">
            @{ string returnUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString; }
            <input name="@nameof(AlertDismissalEditModel.ReturnUrl)" value="@returnUrl" type="hidden" />
            <input name="@nameof(AlertDismissalEditModel.AlertType)" value="@AlertType.TransferredVacanciesEmployerRevokedPermission" type="hidden" />
            <button type="submit" class="das-button--inline-link">Hide notification</button>
        </p>
    </form>
</div>