@using Esfa.Recruit.Shared.Web.Configuration
@inject ManageApprenticeshipsLinkHelper ExternalLinks

@functions
{
    public bool ParseHideNavFromViewBag()
    {
        if (ViewBag.ShowNav is bool)
        {
            return ViewBag.ShowNav;
        }

        return true;
    }

    public string GetTitle()
    {
        const string defaultTitle = "Recruit an Apprentice - Apprenticeship service - GOV.UK";
        if (ViewBag.Title != null)
            return $"{ViewBag.Title} - Apprenticeship service - GOV.UK";

        return defaultTitle;
    }

    public bool IsErrorPage()
    {
        if (ViewBag.IsErrorPage is bool)
        {
            return ViewBag.IsErrorPage;
        }

        return false;
    }
}
<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <meta charset="utf-8" />
    <title>@GetTitle()</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png" />
    <!--[if !IE 8]><!-->
    <link href="/css/main.css" rel="stylesheet" />
    <link asp-append-version="true" rel="stylesheet" media="screen" href="/css/app.css" no-cdn />
    <!--<![endif]-->
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png" />
    @RenderSection(RazorSections.HeadCSS, required: false)
    <partial name="@PartialNames.ApplicationInsights" />
    <script src="/libs/jquery/jquery.min.js"></script>
    <script src="@Url.Content("/lib/jquery-are-you-sure/jquery.are-you-sure.js")" no-cdn></script>
    <partial name="@PartialNames.GoogleAnalyticsInfo" />
    <partial name="@PartialNames.GoogleTagManagerHead" />
    <script nws-csp-add-nonce="true">
        window.EsfaRecruit = {};
    </script>
    @RenderSection(RazorSections.HeadJS, required: false)
    <partial name="@PartialNames.ZenDeskWidget" />
    <partial name="@PartialNames.ZenDeskApi" />
</head>
<body class="govuk-template__body">
    <partial name="@PartialNames.GoogleTagManagerBody" />
    <script nws-csp-add-nonce="true">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
    <div asp-show="@ViewContext.ViewData[ViewDataKeys.CanShowOutageMessage] as bool?" id="global-outage-message" class="global-message">
        <p>@ViewContext.ViewData[ViewDataKeys.PlannedOutageMessage]</p>
        <form asp-route="@RouteNames.DismissOutageMessage_Post" novalidate>
            <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewContext.HttpContext.Request.Path" />
            <button type="submit" class="govuk-button-fake-link">Dismiss</button>
        </form>
    </div>
    @Html.Partial("_CookieBanner", Html.GetCookieBannerViewModel())
    @Html.Partial("_Header", Html.GetHeaderViewModel())
    <div class="govuk-width-container">
        @RenderSection("BackLink", required: false)
        <main class="govuk-main-wrapper " id="main-content" role="main">
            @RenderBody()
        </main>
    </div>
    @Html.Partial("_Footer", Html.GetFooterViewModel())
    <script src="/libs/govuk-frontend/all.js"></script>
    <script src="/js/das-all.js"></script>
    <script src="/libs/accessible-autocomplete/accessible-autocomplete.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script nws-csp-add-nonce="true">
        window.GOVUKFrontend.initAll();
        window.DASFrontend.initAll();
    </script>
    <script asp-append-version="true" src="/javascripts/application.js" no-cdn></script>
    @await RenderSectionAsync(RazorSections.FooterJS, required: false)
</body>
</html>