@model DisplayVacancyViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-small sfa-no-top-margin">Brief overview of the role</h3>
        <div id="vacancy-overview">
            <p class="preserve-format">@Model.ShortDescription</p>
        </div>
    </div>
    <div class="column-one-third">
        <h3 class="heading-small sfa-no-top-margin">Closing Date</h3>
        <p id="vacancy-closing-date">@Model.ClosingDate</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Apprenticeship summary</h2>
    </div>
    <div class="column-one-third">
        <ul class="list">
            <li class="editable-item sfa-if-first">
                <h3 class="heading-small">Working week</h3>
                <ul class="list">
                    <li id="vacancy-working-week">
                        @Model.WorkingWeekDescription
                    </li>
                    <li id="total-hours-per-week">
                        Total hours per week: @Model.HoursPerWeek
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="heading-small" id="vacancy-wage-header">Yearly wage</h3>
                <p id="vacancy-wage">@Model.WageText</p>
                <p>@Model.WageInfo</p>
            </li>
            <li>
                <h3 class="heading-small">Expected apprenticeship duration</h3>
                <p id="vacancy-expected-duration">@Model.ExpectedDuration</p>
            </li>
            <li>
                <h3 class="heading-small">Possible start date</h3>
                <p id="vacancy-start-date">@Model.PossibleStartDate</p>
            </li>
            <li>
                <h3 class="heading-small">Apprenticeship level</h3>
                <p id="vacancy-type">@Model.TrainingLevel Level Apprenticeship</p>
            </li>
            <li>
                <h3 class="heading-small">Reference number</h3>
                <p id="vacancy-reference-id" class="secondary-text">@Model.VacancyReferenceNumber</p>
            </li>
            <li>
                <h3 class="heading-small">Positions</h3>
                <p id="vacancy-amount-id">@Model.NumberOfPositionsCaption</p>
            </li>
        </ul>
    </div>
    <div class="column-two-thirds">
        <h3 class="heading-small">Vacancy description</h3>
        <div id="vacancy-full-description">
            <p class="preserve-format">@Model.VacancyDescription</p>
            <p class="preserve-format">@Model.TrainingDescription</p>
            <p class="preserve-format">@Model.OutcomeDescription</p>
        </div>
    </div>
</div>
<hr class="sfa-no-bottom-margin" />
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Requirements and prospects</h2>
    </div>
    <div class="column-half">
        <h3 class="heading-small">Desired skills and personal qualities</h3>
        <div id="vacancy-skills-qualities-required">
            <p class="preserve-format">@string.Join(", ", Model.Skills)</p>
        </div>
        <h3 class="heading-small">Qualifications</h3>
        <div id="vacancy-qualifications-required">
            <p class="preserve-format">@Html.Raw(string.Join("<br />", Model.Qualifications))</p>
        </div>
    </div>
    <div class="column-half">
        <h3 class="heading-small">Things to consider</h3>
        <p>@Model.ThingsToConsider</p>
    </div>
</div>
<hr>
<div class="grid-row" id="employer-info">
    <div class="column-full">
        <h2 class="heading-large">About the employer</h2>
    </div>
    <div class="column-two-thirds">
        <div class="sfa-if-first">
            <h3 class="heading-small">Employer</h3>
            <p id="vacancy-employer-name">@Model.EmployerName</p>
        </div>
        <div>
            <h3 class="heading-small">Description</h3>
            <div id="vacancy-employer-description">
                <p>@Model.EmployerDescription</p>
            </div>
        </div>
        <div>
            <h3 class="heading-small">Website</h3>
            <div id="vacancy-employer-website">
                <p>@Model.EmployerWebsiteUrl</p>
            </div>
        </div>
    </div>
    <div class="column-one-third">
        <h3 class="heading-small">Contact</h3>
        <p class="sfa-small-bottom-margin">@Model.ContactName</p>
        <p class="sfa-small-bottom-margin">@Model.ContactEmail</p>
        <p class="sfa-small-bottom-margin">@Model.ContactTelephone</p>
    </div>
</div>
<div class="grid-row">
    <div class="column-half">
        <div id="vacancy-address">
            <h3 class="heading-small sfa-no-top-margin">Location</h3>
            <ul class="list">
                @foreach (var addrLine in Model.EmployerAddressElements)
                            {
                <li>@addrLine</li>
                            }
            </ul>
        </div>
    </div>
    <div class="column-half map-container hide-nojs toggle-content--mob">
        <img asp-condition="@Model.HasMapUrl" id="static-map" class="static-map" src="@Model.MapUrl" />
    </div>
</div>
<div id="offline-vacancy">
    <div class="grid-row">
        <div class="column-full">
            <h2 class="heading-small">Employer's application instructions</h2>
            <p class="application-instructions">
                @Model.ApplicationInstructions
            </p>
        </div>
    </div>
    <hr class="sfa-no-bottom-margin" />
</div>
<div class="grid-row" id="provider-info">
    <div class="column-full">
        <h2 class="heading-large">Training provider</h2>
    </div>
    <div class="column-full">
        <div id="training-provider-section">
            <p id="vacancy-provider-name">
                @Model.ProviderName<br />
                @Model.ProviderAddress
            </p>
        </div>
        <h3 class="heading-small">Apprenticeship @Model.TrainingType</h3>
        <p is="vacancy-framework">@Model.TrainingTitle</p>
    </div>
</div>
<hr class="sfa-no-bottom-margin" />