@{
    const string ShowExampleText = "Show example summary";
    const string HideExampleText = "Hide example";
    var hasShowVacancyCookie = ViewContext.HttpContext.Request.Cookies.ContainsKey(CookieNames.ShowExampleVacancy);
    var exampleVacancyVisibilityClass = hasShowVacancyCookie ? string.Empty : "hide";
    var exampleLinkText = hasShowVacancyCookie ? HideExampleText : ShowExampleText;
}
<div id="example-vacancy-js-container" class="hide">
    <a href="#example-vacancy-js-container" id="example_link">@exampleLinkText</a>

    <div id="example_vacancy" class="example-advert @exampleVacancyVisibilityClass">
        @Html.Partial("_ExampleVacancyPartial")
    </div>
</div>
<noscript>
    <div class="example-advert">
        @Html.Partial("_ExampleVacancyPartial")
    </div>
</noscript>
<br><br>

<script>
    $(function () {
        sfa.hookupExampleVacancyToggle("@ShowExampleText", "@HideExampleText", "@CookieNames.ShowExampleVacancy");
    });
</script>