@model DisplayVacancyViewModel
<div class="todo small-top-margin">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge small-bottom-margin">
                @Model.Title
                <span class="heading-secondary">@Model.VacancyReferenceNumber</span>
            </h1>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h3 class="heading-small no-top-margin">Closing date</h3>
            <p id="vacancy-closing-date">@Model.ClosingDate</p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h3 class="heading-small no-top-margin">Possible start date</h3>
            <p id="vacancy-closing-date">@Model.PossibleStartDate</p>
        </div>
    </div>
    <div asp-condition="Model.IsDisabilityConfident" class="grid-row" >
        <div class="column-two-thirds small-bottom-margin">
            <img src="/img/disability-confident_545x172.png" class="disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident">
            <span class="visuallyhidden">This vacancy meets disability confident requirements</span>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <a asp-route="@RouteNames.DisplayFullVacancy_Get" title="View full vacancy" target="_blank">View full vacancy</a>
        </div>
    </div>
</div>