@using Esfa.Recruit.Vacancies.Client.Infrastructure.QueryStore.Projections.VacancyApplications
@model IEnumerable<VacancyApplication>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Applications</h2>
        <table>
            <thead>
                <tr>
                    <th class="bold">Name</th>
                    <th class="bold">Status</th>
                    <th class="bold">Date applied</th>
                </tr>
            </thead>
            <tbody>
@foreach (var application in Model)
{
                <tr>
                    <td><a asp-route="@RouteNames.ApplicationReview_Get" asp-route-applicationReviewId="@application.ApplicationReviewId">@application.CandidateName</a></td>
                    <td>@application.Status.GetDisplayName()</td>
                    <td>@application.SubmittedDate.AsDisplayDate()</td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>