@using Esfa.Recruit.Vacancies.Client.Infrastructure.QueryStore.Projections.VacancyApplications
@using Esfa.Recruit.Vacancies.Client.Domain.Entities;
@model IList<IGrouping<ApplicationReviewStatus, VacancyApplication>>
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Applications</h2>
        <table>
            <thead>
                <tr>
                    <th class="bold">Name</th>
                    <th class="bold">Status</th>
                    <th class="bold">Date applied</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var applicationStatusGroup in Model)
                {
                    @foreach (var application in applicationStatusGroup)
                    {
                        <tr>
                            <td><a asp-route="@RouteNames.ApplicationReview_Get" asp-route-applicationReviewId="@application.ApplicationReviewId">@application.CandidateName</a></td>
                            <td>@application.Status.GetDisplayName()</td>
                            <td>@application.SubmittedDate.AsDisplayDate()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>