@using Esfa.Recruit.Employer.Web.ViewModels.VacancyManage
@model VacancyApplicationsViewModel
<table class="responsive">
    <thead>
        <tr>
            <th class="bold">Name</th>
            <th class="bold">Application ID</th>
            <th class="bold">Status</th>
            <th class="bold">Date applied</th>
            <th asp-show="@Model.ShowDisability" class="bold">Disability</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicationStatusGroup in Model.OrderedApplications)
        {
            foreach (var application in applicationStatusGroup)
            {
                <tr asp-show="@application.IsNotWithdrawn">
                    <td data-label="Name"><a asp-route="@RouteNames.ApplicationReview_Get" asp-route-applicationReviewId="@application.ApplicationReviewId">@application.CandidateName</a></td>
                    <td data-label="Application ID">@application.GetFriendlyId()</td>
                    <td data-label="Status">@application.Status.GetDisplayName()</td>
                    <td data-label="Date applied">@application.SubmittedDate.AsGdsDate()</td>
                    <td data-label="Disability" asp-show="@Model.ShowDisability">@application.DisabilityStatus.GetDisplayName()</td>
                </tr>
                <tr asp-show="@application.IsWithdrawn">
                    <td data-label="Name">Application withdrawn by candidate</td>
                    <td data-label="Application ID">@application.GetFriendlyId()</td>
                    <td data-label="Status">Withdrawn</td>
                    <td data-label="Date applied">@application.SubmittedDate.AsGdsDate()</td>
                    <td data-label="Disability" asp-show="@Model.ShowDisability">No longer applies</td>
                </tr>
            }
        }
    </tbody>
</table>