@using Esfa.Recruit.Shared.Web.TagHelpers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Microsoft.AspNetCore.Html
@using WebEssentials.AspNetCore.CdnTagHelpers
@model DisplayVacancyViewModel

@functions {
    void RenderMapSection()
    {
        <div class="govuk-!-margin-bottom-6"></div>
        <details class="govuk-details govuk-!-margin-bottom-0">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Check your travel to work
                </span>
            </summary>
            <div class="govuk-details__text">
                Directions map will appear here
            </div>
        </details>
    }
}

<div class="app-preview-wrap">
    <h1 id="previewTitle" class="govuk-heading-l faa-vacancy__title">@Model.Title</h1>
    <p class="govuk-body-l faa-vacancy__organisation">@Model.EmployerName</p>
    <p class="govuk-body-l faa-vacancy__location">
        <esfaFeatureEnabled name="@FeatureNames.MultipleLocations">
            <span itemprop="jobLocation">
                @Model.GetLocationDescription()
            </span>
        </esfaFeatureEnabled>
        <esfaFeatureDisabled name="@FeatureNames.MultipleLocations">
            <span itemprop="jobLocation">
                @Model.EmployerAddressElements.SkipLast(1).LastOrDefault(), @Model.EmployerAddressElements.LastOrDefault()
            </span>    
        </esfaFeatureDisabled>
    </p>
    <p class="govuk-body faa-vacancy__closing-date">Closes on @Model.ClosingDate</p>
    <p class="govuk-body govuk-!-font-size-16 das-!-color-dark-grey">Posted on @Model.PostedDate</p>
    <div class="faa-vacancy-actions">
        <a href="#print"
            class="govuk-link govuk-link--no-visited-state faa-vacancy-actions__link faa-vacancy-actions__link--print">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="faa-vacancy-actions__icon">
                <path fill="currentColor"
                    d="M128 0C92.7 0 64 28.7 64 64v96h64V64H354.7L384 93.3V160h64V93.3c0-17-6.7-33.3-18.7-45.3L400 18.7C388 6.7 371.7 0 354.7 0H128zM384 352v32 64H128V384 368 352H384zm64 32h32c17.7 0 32-14.3 32-32V256c0-35.3-28.7-64-64-64H64c-35.3 0-64 28.7-64 64v96c0 17.7 14.3 32 32 32H64v64c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V384zM432 248a24 24 0 1 1 0 48 24 24 0 1 1 0-48z">
                </path>
            </svg>Print
        </a>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third faa-contents">
            <h2 class="govuk-body-s faa-contents__heading">
                Contents
            </h2>
            <ul class="govuk-list govuk-!-font-size-16 faa-contents__list">
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#summary">
                        Summary
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#work">
                        Work
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#training">
                        Training
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#requirements">
                        Requirements
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#company">
                        About this company
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#after">
                        After this apprenticeship
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#question">
                        Ask a question
                    </a>
                </li>
                <li class="faa-contents__list-item">
                    <a class="govuk-link faa-contents__link" href="#apply">
                        Apply now
                    </a>
                </li>
            </ul>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <section class="faa-vacancy__section faa-vacancy__section--first" id="summary">
                <h2 class="govuk-heading-m">Summary</h2>
                <p>
                    @Model.ShortDescription
                </p>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Annual wage
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WageText
                            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
                                <a href="https://www.gov.uk/national-minimum-wage-rates" class="govuk-link"
                                   rel="noreferrer noopener" target="_blank">
                                    Minimum wage rates (opens in new
                                    tab)
                                </a>
                            </p>
                            @if (Model.HasWageInfo)
                            {
                                <p class="govuk-body govuk-!-padding-top-3">
                                    @Html.Raw(Model.WageInfo)
                                </p>    
                            }
                            else
                            {
                            <p class="govuk-body govuk-!-padding-top-3">
                                    The pay may be negotiated and may rise after a probation period
                                    has been successfully completed.
                                </p>
                            }
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Training course
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.TrainingTitle
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Hours
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.WorkingWeekDescription
                            <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0 govuk-!-padding-top-1">
                                @Model.HoursPerWeek hours a week
                            </p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Possible start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model.PossibleStartDate</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Duration
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model.ExpectedDuration</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Positions available
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">@Model.NumberOfPositions</p>
                        </dd>
                    </div>
                </dl>
            </section>
            <section class="faa-vacancy__section" id="work">
                <h2 class="govuk-heading-m">Work</h2>
                <p class="govuk-hint">
                    As an apprentice, you’ll work at a company and get hands-on experience. You’ll gain new skills and
                    work alongside experienced staff.
                </p>
                <h3 class="govuk-heading-s">What you’ll do at work</h3>
                <p>@Html.Raw(Model.VacancyDescription)</p>
                <h3 class="govuk-heading-s">Where you’ll work</h3>
                
                <esfaFeatureEnabled name="@FeatureNames.MultipleLocations">
                    @switch (Model.AvailableWhere)
                    {
                        case AvailableWhere.OneLocation:
                        {
                            <p class="govuk-body">
                                <address value="@Model.AvailableLocations.First()" anonymised="@Model.IsAnonymous" flat="true" />
                            </p>

                            RenderMapSection();
                            break;
                    }
                        case AvailableWhere.MultipleLocations:
                        {
                            <p class="govuk-body">
                                This apprenticeship is available in these locations:
                            </p>

                            if (Model.IsAnonymous)
                            {
                                var groupedByOutcode = Model.AvailableLocations.GroupByPostcodeOutcode();
                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var group in groupedByOutcode)
                                    {
                                        <li>@group.Key</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var location in Model.AvailableLocations)
                                    {
                                        <li>
                                            <address value="@location" anonymised="@Model.IsAnonymous" flat="true"/>
                                        </li>
                                    }
                                </ul>
                            }
                            
                            RenderMapSection();
                            break;
                        }
                        case AvailableWhere.AcrossEngland:
                        {
                            <p class="govuk-body">
                                @Model.LocationInformation
                            </p>
                            break;
                        }
                        default:
                        {
                            // This is for existing data that uses the old fields
                            foreach (var addressLine in Model.EmployerAddressElements)
                            {
                                <p class="govuk-body govuk-!-margin-bottom-0">@addressLine</p>
                            }

                            RenderMapSection();
                            break;
                        }
                    }
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.MultipleLocations">
                    @foreach (var addressLine in Model.EmployerAddressElements)
                    {
                        <p class="govuk-body govuk-!-margin-bottom-0">@addressLine</p>
                    }

                    @{ RenderMapSection(); }
                </esfaFeatureDisabled>
                
            </section>
            <section class="faa-vacancy__section" id="training">
                <h2 class="govuk-heading-m">Training</h2>
                <p class="govuk-body  das-!-color-dark-grey">
                    An apprenticeship includes regular training with a college or
                    other training organisation. At least 20% of your working hours will be spent training or studying.
                </p>
                <h3 class="govuk-heading-s">College or training organisation</h3>
                <p>@Model.ProviderName</p>
                <h3 class="govuk-heading-s">Your training course</h3>
                <p class="govuk-body govuk-!-margin-bottom-1">@Model.TrainingTitle</p>
                <p class="gov-body das-!-color-dark-grey">Equal to @Model.EducationLevelName</p>
                <details class="govuk-details govuk-!-margin-top-0" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Course contents
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        @if (Model.CourseSkills is { Count: > 0 })
                        {
                            foreach (var skills in Model.CourseSkills)
                            {
                                <li>@skills</li>
                                <div class="govuk-!-padding-bottom-3"></div>
                            }
                        }
                        @if (Model.CourseCoreDuties is { Count: > 0 })
                        {
                            foreach (var skills in Model.CourseCoreDuties)
                            {
                                <li>@skills</li>
                                <div class="govuk-!-padding-bottom-3"></div>
                            }
                        }
                    </div>
                </details>
                <h3 class="govuk-heading-s">Your training plan</h3>
                @if (string.IsNullOrEmpty(Model.TrainingDescription))
                {
                    <div class="govuk-inset-text">
                        This training plan has not been finalised. Check with this employer if you’ll need to travel to a
                        college or
                        training
                        location for this apprenticeship. </div>
                }
                else
                {
                    <p>@Html.Raw(Model.TrainingDescription)</p>
                }
                @if (!string.IsNullOrEmpty(Model.AdditionalTrainingDescription))
                {
                    <h3 class="govuk-heading-s">More training information</h3>
                    <p class="govuk-body">
                        @Html.Raw(Model.AdditionalTrainingDescription)
                    </p>
                }
            </section>
            <section class="faa-vacancy__section" id="requirements">
                <h2 class="govuk-heading-m">Requirements</h2>
                @if (Model.Qualifications is { Count: > 0 })
                {
                    <h3 class="govuk-heading-s">Essential qualifications</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var qualification in Model.Qualifications)
                        {
                            <li>@qualification</li>
                        }
                    </ul>
                }
                @if (Model.QualificationsDesired  is { Count: > 0 })
                {
                <h3 class="govuk-heading-s">Desired qualifications</h3>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var qualification in Model.QualificationsDesired)
                    {
                    <li>@qualification</li>
                    }
                </ul>
                }
                <p class="govuk-body">
                    Let the company know about other relevant qualifications and industry experience you have. They can
                    adjust the apprenticeship to reflect what you already know.
                </p>
                <h3 class="govuk-heading-s">Skills</h3>
                <ul class="govuk-list govuk-list--bullet">
                    @foreach (var skills in Model.Skills)
                    {
                        <li>@skills</li>
                    }
                </ul>
                @if (!string.IsNullOrEmpty(Model.ThingsToConsider))
                {
                    <h3 class="govuk-heading-s">Other requirements</h3>
                    <p>@Model.ThingsToConsider</p>
                }
            </section>
            <section class="faa-vacancy__section" id="company">
                <h2 class="govuk-heading-m">About this company</h2>
                <p>
                    @Html.Raw(Model.EmployerDescription)
                </p>
                @if (!string.IsNullOrEmpty(Model.EmployerWebsiteUrl))
                {
                    <p class="govuk-body">
                        <a href="@Model.EmployerWebsiteUrl" class="govuk-link" rel="noreferrer noopener"
                            target="_blank">@Model.EmployerWebsiteUrl (opens in new tab)</a>
                    </p>
                }

                @if (!string.IsNullOrEmpty(Model.CompanyBenefitsInformation))
                {
                    <h3 class="govuk-heading-s">Company Benefits</h3>
                    <p class="govuk-body">
                        @Html.Raw(Model.CompanyBenefitsInformation)    
                    </p>
                }
                
                
                @if (Model.IsDisabilityConfident)
                {
                    <h3 class="govuk-heading-s">Disability Confident</h3>
                    <img src="/img/disability-confident_545x172.png" class="faa-disability-confident--srp"
                        alt="Disability Confident" width="150px" no-cdn />

                    <p class="govuk-body">
                        A fair proportion of interviews for this apprenticeship will be offered to applicants with a
                        disability or long-term health condition.
                        This includes non-visible disabilities and conditions.
                    </p>

                    <p class="govuk-body">
                        You can choose to be considered for an interview under the Disability Confident scheme.
                        You’ll need to meet the essential requirements to be considered for an interview.
                    </p>

                }
            </section>
            <section class="faa-vacancy__section" id="after">
                <h2 class="govuk-heading-m">After this apprenticeship</h2>
                <p>
                    @Html.Raw(Model.OutcomeDescription)
                </p>
            </section>
            <section class="faa-vacancy__section" id="question">
                <h2 class="govuk-heading-m">Ask a question</h2>
                <p>
                    The contact for this apprenticeship is:
                </p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.EmployerName</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.EmployerContactName</p>
                <p class="govuk-body govuk-!-margin-bottom-0">@Model.EmployerContactEmail</p>
                <p class="govuk-body">@Model.EmployerContactTelephone</p>
                <p class="govuk-body govuk-!-margin-top-4">
                    The reference code for this apprenticeship is
                    @Model.VacancyReferenceNumber.
                </p>
            </section>
            <section class="faa-vacancy__section faa-vacancy__section--last" id="apply">
                <h2 class="govuk-heading-m">Apply now</h2>
                <p>Closes on @Model.ClosingDate</p>
                <p class="govuk-body"> When you apply, you’ll be asked to sign in with a GOV.UK One Login. You can
                    create one at the same time as applying for this apprenticeship.</p>
                @if (!string.IsNullOrEmpty(Model.ApplicationUrl))
                {
                    <p class="govuk-body">After signing in, you’ll apply for this apprenticeship on the company's website.
                    </p>
                }
                <div clas="govuk-button-group">
                    <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
                        Sign in to apply
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
