@model Esfa.Recruit.Provider.Web.ViewModels.Dashboard.DashboardViewModel
@using Esfa.Recruit.Provider.Web.RouteModel
@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-dashboard";
    ViewBag.Title = "Recruitment";

    var vacancyRouteModel = new VacancyRouteModel { Ukprn = Model.Ukprn };
    var vacanciesSearchSuggestionsEndpointUrl = @Url.RouteUrl(RouteNames.VacanciesSearchSuggestions_Get, vacancyRouteModel.RouteDictionary, Context.Request.Scheme);
}
<div class="govuk-grid-row" asp-show="@Model.HasAnyVacancies">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Recruitment dashboard</h1>
    </div>
    <div class="govuk-grid-column-one-half ">
        <a asp-route="@RouteNames.CreateVacancyStart" asp-route-ukprn="@Model.Ukprn" class="govuk-button das-float-right govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create vacancy</a>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.VacanciesGetAll" asp-all-route-data="@vacancyRouteModel.RouteDictionary" method="get" autocomplete="off">
            <div class="govuk-form-group">
                <label for="search-input" class="govuk-label">
                    Search by vacancy title, reference or employer
                </label>
                <div class="das-search-form__group">
                    <input id="search-input" name="searchTerm" title="Search" class="govuk-input das-search-form__input app-vacancy-autocomplete" type="text" maxlength="200" data-apiurl="@vacanciesSearchSuggestionsEndpointUrl" />
                    <div class="das-search-form__button-wrap">
                        <button class="govuk-button das-search-form__button" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-margin-bottom-5">
            <a asp-route="@RouteNames.VacanciesGetAll" asp-route-ukprn="@Model.Ukprn" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state">
                View all vacancies (@Model.NumberOfVacancies)
            </a>
        </div>
    </div>
</div>