<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            <a class="govuk-link  govuk-link--no-visited-state" asp-route="@RouteNames.ReportDashboard_Get" asp-route-ukprn="@Model.Ukprn">Reports</a>
        </h3>
        <p class="govuk-body">Create a report about applicants or vacancies.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ManageNotifications_Get" asp-route-ukprn="@Model.Ukprn">Manage recruitment emails</a>
        </h3>
        <p class="govuk-body">Manage email notifications for your vacancies and applications.</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Dashboard_ProviderRecruitmentApi" asp-route-ukprn="@Model.Ukprn">Recruitment APIs</a>
        </h3>
        <p class="govuk-body">Integrate our APIs to create vacancies using your own systems.</p>
    </div>
</div>