@model DisplayVacancyViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s govuk-!-margin-top-0">Brief overview</h3>
        <p class="govuk-body">@Model.ShortDescription</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0">Closing Date</h3>
        <p class="govuk-body" id="vacancy-closing-date">@Model.ClosingDate</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Apprenticeship summary</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li>
                <h3 class="govuk-heading-s">Annual wage</h3>
                <p class="govuk-body">@Model.WageText</p>
                <p class="govuk-body">@Model.WageInfo</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Working week</h3>
                <p class="govuk-body">@Model.WorkingWeekDescription</p>
                <p class="govuk-body">Total hours per week: @Model.HoursPerWeek</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Expected apprenticeship duration</h3>
                <p class="govuk-body">@Model.ExpectedDuration</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Possible start date</h3>
                <p class="govuk-body">@Model.PossibleStartDate</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Apprenticeship level</h3>
                <p class="govuk-body">
                    @Model.TrainingLevel Level Apprenticeship<br/>
                    @Model.EducationLevelName
                </p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Reference number</h3>
                <p class="govuk-body">@Model.VacancyReferenceNumber</p>
            </li>
            <li>
                <h3 class="govuk-heading-s">Positions</h3>
                <p class="govuk-body">@Model.NumberOfPositionsCaption</p>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-two-thirds vacancy-descriptions" id="vacancyDescription">
        <h3 class="govuk-heading-s">What will the apprentice be doing?</h3>
        <div class="govuk-body">@Html.Raw(Model.VacancyDescription)</div>
        <h3 class="govuk-heading-s">What training will the apprentice take and what qualification will the apprentice get at the end?</h3>
        <div class="govuk-body">@Html.Raw(Model.TrainingDescription)</div>
        <h3 class="govuk-heading-s">What is the expected career progression after this apprenticeship?</h3>
        <div class="govuk-body">@Html.Raw(Model.OutcomeDescription)</div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Requirements and prospects</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Desired skills and personal qualities</h3>
        <p class="govuk-body">@string.Join(", ", Model.Skills)</p>
    </div>
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Things to consider</h3>
        <p class="govuk-body">@Model.ThingsToConsider</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-s">Qualifications</h3>
        <p class="govuk-body">@Html.Raw(string.Join("<br />", Model.Qualifications))</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">About the employer</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h3 class="govuk-heading-s">Description</h3>
        <p class="govuk-body">@Model.EmployerDescription</p>
        <h3 class="govuk-heading-s">Employer</h3>
        <p class="govuk-body">@Model.EmployerName</p>
        <img asp-show="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" class="disability-confident-logo" alt="A logo confirming that the employer is registered as disability confident" />
        <span class="govuk-visually-hidden">This vacancy meets disability confident requirements</span>
        <h3 class="govuk-heading-s">Website</h3>
        <div asp-show="@Model.HasEmployerWebsiteUrl">
            <div asp-show="@Model.IsAnonymous" class="govuk-hint">Website will not be shown as the employer is anonymous</div>
            <p class="govuk-body">
                @Model.EmployerWebsiteUrl
            </p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Location</h3>
        <ul class="govuk-list">
            @foreach (var addrLine in Model.EmployerAddressElements)
            {
                <li>@addrLine</li>
            }
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <img asp-show="@Model.HasMapUrl" id="static-map" src="@Model.MapUrl" />
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l">Training</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s">
            Training provider
        </h3>
        <p class="govuk-body">@Model.ProviderName</p>
        <h3 class="govuk-heading-s">Contact</h3>
        <p class="govuk-body">@Model.ProviderContactName</p>
        <p class="govuk-body">@Model.ProviderContactEmail</p>
        <p class="govuk-body">@Model.ProviderContactTelephone</p>
    </div>
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s">Apprenticeship @Model.TrainingType</h3>
        <p class="govuk-body">@Model.TrainingTitle</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>
<div id="offline-vacancy">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 asp-show="@Model.ShowGeneralApplicationProcessSectionTitle" class="govuk-heading-l">Application process</h2>
            <h2 asp-show="@Model.HasSpecifiedThroughExternalApplicationMethod" class="govuk-heading-l">Employer's application instructions</h2>
            <div asp-show="@Model.HasSpecifiedThroughFaaApplicationMethod">
                <p class="govuk-body">Candidates will apply through the <a href="@Model.FindAnApprenticeshipUrl" class="govuk-body govuk-link" rel="noopener" target="_blank">Find an apprenticeship service</a></p>
            </div>
            <div asp-show="@Model.HasSpecifiedThroughExternalApplicationMethod">
                <p class="govuk-body">This apprenticeship requires you to apply through the employer's website.</p>
                <p class="govuk-body">@Model.ApplicationUrl</p>
            </div>
            <div asp-show="@Model.HasApplicationInstructions">
                <p class="govuk-body">
                    @Model.ApplicationInstructions
                </p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>