@using Microsoft.Extensions.Options
@model Esfa.Recruit.Provider.Web.RouteModel.VacancyRouteModel
@inject IOptions<ExternalLinksConfiguration> ExternalLinks

@{ 
    ViewBag.ZenDeskLabel = "recruit-recruitment"; 
    ViewBag.Title = "Create a vacancy";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create a vacancy</h1>

        <p class="govuk-body">
            Advertise an apprenticeship on
            <a href="@ExternalLinks.Value.FindAnApprenticeshipUrl" class="govuk-link govuk-link--no-visited-state" target="_blank">Find an apprenticeship (opens in a new tab)</a>.
        </p>
        <p class="govuk-body">
            You can accept applications through our service or add a link to a different website.
        </p>

        <p class="govuk-inset-text">
            You can only use this service to advertise apprenticeships in England. There’s different services for
            <a href="@ExternalLinks.Value.FindAnApprenticeshipScotlandUrl" class="govuk-link" target="_blank">Scotland</a>,
            <a href="@ExternalLinks.Value.FindAnApprenticeshipWalesUrl" class="govuk-link" target="_blank">Wales</a> and
            <a href="@ExternalLinks.Value.FindAnApprenticeshipNorthernIrelandUrl" class="govuk-link" target="_blank">Northern Ireland</a>.
        </p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">Before creating a vacancy, you’ll need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the employer</li>
            <li>the training course</li>
            <li>the pay</li>
            <li>how long the apprenticeship will be</li>
            <li>the work and training hours</li>
        </ul>
        
        <p class="govuk-body">
            If you’re working with an employer who does not pay the apprenticeship levy, you should
            <a asp-external-subdomain="securefunding" asp-external-action="manage" asp-external-controller="reservations" asp-external-id="@Model.Ukprn" class="govuk-link">reserve funding for the apprenticeship</a>
            before creating a vacancy.
        </p>

        <a asp-route="@RouteNames.LegalEntityEmployer_Get" asp-all-route-data="@Model.RouteDictionary" role="button" class="govuk-button govuk-button--start govuk-!-margin-bottom-8 govuk-!-margin-top-2" esfa-automation="create-vacancy">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Use the recruitment APIs</h3>
        <p class="govuk-body">
            If you have technical knowledge, you can use your own system to submit adverts to Find on apprenticeship.
        </p>
        <p class="govuk-body">
            <a asp-route="@RouteNames.Dashboard_ProviderRecruitmentApi" asp-route-ukprn="@Model.Ukprn" class="govuk-link">Get started with the recruitment APIs</a>
        </p>
    </div>
</div>
