@model Esfa.Recruit.Shared.Web.ViewModels.Alerts.ProviderTransferredVacanciesAlertViewModel

<div  class="das-notification das-notification--warning">
    <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">
            @Html.Raw(Model.LegalEntityNamesCaption)
        </span>
        <span asp-hide="@Model.HasTransfersToMultipleEmployers">
            has switched off your permission to create and manage vacancies on their behalf.
            Any vacancies created for this employer have been transferred to them.
        </span>
        <span asp-show="@Model.HasTransfersToMultipleEmployers">
            have switched off your permission to create and manage vacancies on their behalf.
            Any vacancies created for these employers have been transferred to them.
        </span>
    </p>
    <form asp-route="@RouteNames.Alerts_Dismiss_Post" asp-route-ukprn="@Model.Ukprn">
        @{ string returnUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString; }
        <input name="@nameof(AlertDismissalEditModel.ReturnUrl)" value="@returnUrl" type="hidden" />
        <input name="@nameof(AlertDismissalEditModel.AlertType)" value="@AlertType.TransferredVacanciesEmployerRevokedPermission" type="hidden" />
        <div class="govuk-body govuk-!-margin-bottom-0">
            <button type="submit" class="das-button--inline-link">Dismiss this notification</button>
        </div>
    </form>
</div>
