@model Esfa.Recruit.Provider.Web.ViewModels.VacancyView.VacancyApplicationsViewModel
<table class="govuk-table das-table--responsive">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <partial name="@PartialNames.MultipleApplicationsTableHeader" />
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (var application in Model.Applications)
        {
            <tr class="govuk-table__row" asp-show="@application.IsNotWithdrawn">
                <td class="govuk-table__cell" data-label="Application ID"><a id="@($"application-id-{application.GetFriendlyId()}")" asp-route="@RouteNames.ApplicationReview_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" asp-route-applicationReviewId="@application.ApplicationReviewId" class="govuk-link">@application.GetFriendlyId()</a></td>
                <td class="govuk-table__cell" data-label="Name">@application.CandidateName</td>
                <td class="govuk-table__cell" data-label="Status"><strong class="@application.Status.GetCssClassForApplicationReviewStatus()">@application.Status.GetDisplayName(UserType.Provider)</strong></td>
                <td class="govuk-table__cell" data-label="Date Applied">@application.SubmittedDate.AsGdsDate()</td>
            </tr>
            <tr class="govuk-table__row" asp-show="@application.IsWithdrawn">
                <td class="govuk-table__cell" data-label="Application ID">@application.GetFriendlyId()</td>
                <td class="govuk-table__cell" data-label="Name">Application withdrawn by candidate</td>
                <td class="govuk-table__cell" data-label="Status">Withdrawn</td>
                <td class="govuk-table__cell" data-label="Date Applied">@application.SubmittedDate.AsGdsDate()</td>
            </tr>
        }
    </tbody>
</table>