@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Shared.Web.ViewModels.Alerts.WithdrawnVacanciesAlertViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="warning-summary">
            <p class="govuk-body">
                <span asp-hide="@Model.HasMultipleClosedVacancies">
                    1 vacancy has issues and has been closed. It can no longer be found on the Find an apprenticeship service.
                </span>
                <span asp-show="@Model.HasMultipleClosedVacancies">
                    @Model.ClosedVacanciesCount vacancies have issues and have been closed. They can no longer be found on the Find an apprenticeship service.
                </span>
            </p>

            <ul class="govuk-body">
                @foreach (var vacancy in Model.ClosedVacancies)
                {
                    <li>@vacancy</li>
                }
            </ul>

            <p class="govuk-body">If you wish to discuss this further you can contact our helpdesk on @RecruitViewConstants.HelpdeskPhoneNumber</p>
            <form asp-route="@RouteNames.Alerts_Dismiss_Post">
                <p class="govuk-body govuk-!-margin-bottom-0">
                    @{ string returnUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString; }
                    <input name="@nameof(AlertDismissalEditModel.ReturnUrl)" value="@returnUrl" type="hidden" />
                    <input name="@nameof(AlertDismissalEditModel.AlertType)" value="@AlertType.ClosedVacanciesWithdrawnByQa" type="hidden" />
                    <button type="submit" class="button-fake-link govuk-link govuk-link--no-visited-state">Dismiss this notification</button>
                </p>
            </form>
        </div>
    </div>
</div>
