@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Training.ConfirmTrainingViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-confirm";
    ViewBag.Title = "Confirm apprenticeship training";
}

@section BackLink {
    <a asp-route="@RouteNames.Training_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" asp-route-programmeid="@Model.ProgrammeId" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl">@Model.Title</span>
            Confirm apprenticeship training
        </h1>
        <div class="das-highlight">
            <h2 class="govuk-heading-m">
                @Model.TrainingTitle
                <span class="govuk-caption-m">
                    @Model.EducationLevelName
                    <br>
                    Typical duration: @Model.DurationMonths months
                    <br>
                    @Model.ProgrammeType
                    <br>
                </span>
            </h2>

            <div asp-show="@Model.ShowTrainingEffectiveToDate" class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    <span id="selected-training" class="govuk-!-font-weight-bold">
                        This apprenticeship training closes to new starters from
                        @Model.TrainingEffectiveToDate.
                    </span>
                </strong>
            </div>

            <p class="govuk-body govuk-!-margin-bottom-0">
                <a asp-route="@RouteNames.Training_Get"  asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-programmeid="@Model.ProgrammeId" class="govuk-link">Change apprenticeship training</a>
            </p>
        </div>
        <form asp-route="@RouteNames.Training_Confirm_Post" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div class="govuk-button-group">
                <input asp-for="ProgrammeId" type="hidden" />
                <input type="submit" value="Confirm and continue" esfa-automation="btn-continue" class="govuk-button" />
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>