@using Esfa.Recruit.Shared.Web.Mappers
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Training.TrainingViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-training";
    ViewBag.Title = "What training course will the apprentice take?";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
        @if (Model.HasMoreThanOneLegalEntity)
        {
            <a asp-route="@RouteNames.LegalEntity_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>    
        }
        else
        {
            <a asp-route="@RouteNames.Title_Get"  asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
        }
        
    </esfaFeatureEnabled>
    <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Title_Get"  asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>    
    </esfaFeatureDisabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6"><span class="govuk-caption-l">@Model.Title</span>What training course will the apprentice take?</h1>
        <form asp-route="@RouteNames.Training_Post" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>


            <div esfa-validation-marker-for="SelectedProgrammeId" class="govuk-form-group">
                <label asp-for="SelectedProgrammeId" class="govuk-label govuk-label-s">
                    <span class="govuk-hint">Enter apprenticeship training title</span>
                </label>
                <span esfa-validation-message-for="SelectedProgrammeId" class="govuk-error-message"></span>
                <div class="govuk-!-margin-bottom-2">
                    <select asp-for="SelectedProgrammeId" class="govuk-select app-autocomplete">
                        <option value="">Please select</option>
                        @foreach (var programme in Model.Programmes)
                        {
                            <option value="@programme.Id">@programme.Name</option>
                        }
                    </select>
                </div>
                <p class="govuk-body">
                    <a asp-route="@RouteNames.Training_Get" asp-route-clear="true" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link govuk-link--no-visited-state">Clear search</a>
                </p>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and Continue</button>
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-all-route-data="@Model.RouteDictionary" asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureDisabled>
            </div>

        </form>
    </div>
</div>