@using Esfa.Recruit.Shared.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Esfa.Recruit.Provider.Web.ViewModels.ApplicationReviews.ApplicationReviewsToUnsuccessfulFeedbackViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-application-reviews-to-unsuccessful-feedback";
    ViewBag.Title = "Make Multiple Applications Unsuccessful Feedback";
}

@section BackLink {
    <a asp-route="@RouteNames.ApplicationReviewsToUnsuccessful_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model="@(new ValidationSummaryViewModel { ModelState = ViewData.ModelState})" />
        <div>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                @($"Give feedback to the unsuccessful applicant{(Model.IsMultipleApplications ? "s." : ".")}")
            </h1>
        </div>
        <form asp-route="@RouteNames.ApplicationReviewsToUnsuccessfulFeedback_Post" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId">

            <div esfa-validation-marker-for="CandidateFeedback" id="Multiple-unsuccessful-candidate-feedback" class="govuk-form-group">
                <div class="govuk-character-count" id="provider-character-count" data-module="govuk-character-count" data-maxwords="200">
                    <span esfa-validation-message-for="CandidateFeedback" class="govuk-error-message"></span>
                    <span class="govuk-hint">@($"Your feedback will be sent to all applicant{(Model.IsMultipleApplications ? "s." : ".")} you have selected as unsuccessful.")</span>
                    <textarea asp-for="CandidateFeedback" class="govuk-textarea govuk-js-character-count" id="provider-multiple-candidate-feedback" name="CandidateFeedback" rows="6"></textarea>
                    <div id="provider-multiple-candidate-feedback-info" class="govuk-hint govuk-character-count__message">
                        You have 200 words remaining
                    </div>
                </div>
            </div>
            <div id="provider-multiple-candidate-feedback-confirm" class="govuk-form-group">
                <input type="submit" value="Confirm" class="govuk-button" />
            </div>
        </form>
    </div>
</div>