@using Esfa.Recruit.Provider.Web.TagHelpers
@using Esfa.Recruit.Vacancies.Client.Infrastructure.QueryStore.Projections.VacancyApplications
@using Esfa.Recruit.Shared.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Esfa.Recruit.Provider.Web.ViewModels.ApplicationReviews.ApplicationReviewsToUnsuccessfulViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-application-reviews-to-unsuccessful";
    ViewBag.Title = "Make Multiple Applications Unsuccessful";
}

@section BackLink {
    <a asp-route="@RouteNames.VacancyManage_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div asp-show="@Model.CanShowShouldMakeOthersUnsuccessfulBanner" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
             aria-labelledby="govuk-notification-banner-title"
             data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">
                    Done
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    @Model.ShouldMakeOthersUnsuccessfulBannerHeader
                </h3>
                <p class="govuk-body">@Model.ShouldMakeOthersUnsuccessfulBannerBody</p>
            </div>
        </div>

        <form method="post" id="unsuccessfu_applications_actions_form" asp-route="@RouteNames.ApplicationReviewsToUnsuccessful_Post" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId">
            <div class="govuk-form-group" id="ApplicationsToUnsuccessful">
                <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState}' />
                <fieldset class="govuk-fieldset">

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Make multiple applications unsuccessful
                        </h1>
                    </legend>
                    <div id="unsuccessful-multiple-applications-checkbox-hint" class="govuk-hint">
                        Select the applications that are unsuccessful. This will notify the applicants that they won't be offered the apprenticeship.
                    </div>
                    <span esfa-validation-message-for="ApplicationsToUnsuccessful" class="govuk-error-message"></span>
                    <div esfa-validation-marker-for="ApplicationsToUnsuccessful" id="Multiple-unsuccessful-candidate-feedback" class="govuk-form-group">
                        <table class="govuk-table" aria-label="unsuccessful applications" data-checkboxes-select-all>
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header das-table-cell-width-4" data-checkboxes-select-all-cell>
                                    </th>
                                    <partial name="@PartialNames.MultipleApplicationsTableHeader" />
                                </tr>
                            </thead>

                            <tbody class="govuk-table__body">
                                @{
                                    foreach (VacancyApplication vacancyApplication in Model.VacancyApplications.OrderBy(v => v.SubmittedDate))
                                    {
                                        <tr class="govuk-table__row" asp-show="@vacancyApplication.CanMakeUnsuccessful">
                                            <td class="govuk-table__cell">

                                                <div class="govuk-checkboxes govuk-checkboxes--small" das-highlight-error-for="@vacancyApplication.ApplicationReviewId" error-class="govuk-form-group--error">
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input" id="application_select_@vacancyApplication.ApplicationReviewId" error-class="govuk-input--error" name="ApplicationsToUnsuccessful" type="checkbox" value="@vacancyApplication.ApplicationReviewId">
                                                        <label class="govuk-label govuk-checkboxes__label" for="application_select_@vacancyApplication.ApplicationReviewId">
                                                            <span class="govuk-visually-hidden">@vacancyApplication.ApplicationReviewId</span>
                                                        </label>
                                                    </div>
                                                </div>

                                            </td>
                                            <td class="govuk-table__cell"><a asp-route="@RouteNames.ApplicationReview_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" asp-route-applicationReviewId="@vacancyApplication.ApplicationReviewId" class="govuk-link">@vacancyApplication.CandidateName</a></td>
                                            <td class="govuk-table__cell">@vacancyApplication.GetFriendlyId()</td>
                                            <td class="govuk-table__cell"><strong class="@vacancyApplication.Status.GetCssClassForApplicationReviewStatus()">@vacancyApplication.Status.GetDisplayName(UserType.Provider)</strong></td>
                                            <td class="govuk-table__cell">@vacancyApplication.SubmittedDate.AsGdsDate()</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-button-group">
                        <button class="govuk-button submit" data-module="govuk-button" id="applicationsToUnsuccessful-action" type="submit">Continue</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>