@using System.Net
@using Esfa.Recruit.Provider.Web.TagHelpers
@using Esfa.Recruit.Vacancies.Client.Domain.Extensions
@using Esfa.Recruit.Vacancies.Client.Infrastructure.QueryStore.Projections.VacancyApplications
@model Esfa.Recruit.Provider.Web.ViewModels.ApplicationReviews.ShareMultipleApplicationReviewsViewModel

<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-full">

        @if (Model.VacancyApplications.Any())
        {
            <form method="post" id="share_applications_actions_form" asp-route="@RouteNames.ApplicationReviewsToShare_Post" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId">
                <div class="govuk-form-group" das-highlight-error-for="ApplicationsToShare" error-class="govuk-form-group--error" id="ApplicationsToShare">
                <fieldset class="govuk-fieldset">
                    
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                        Share Applications
                        </h1>
                    </legend>
                    <div id="share-multiple-applications-checkbox-hint" class="govuk-hint">
                        Select the applications that you want to share.
                    </div>

                    <table class="govuk-table" aria-label="Share applications" data-checkboxes-select-all>

                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header das-table-cell-width-4" data-checkboxes-select-all-cell>

                                </th>
                                <th scope="col" class="govuk-table__header das-table-cell-width-38">
                                    <sortable-column column-name="Name" column-label="Name" default="false" default-order="Ascending"></sortable-column>
                                </th>
                                <th scope="col" class="govuk-table__header das-table-cell-width-25">
                                    <sortable-column column-name="ApplicationID" column-label="Application ID" default="false" default-order="Ascending"></sortable-column>
                                </th>
                                <th scope="col" class="govuk-table__header status">
                                    <sortable-column column-name="Status" column-label="Status" default="false" default-order="Descending"></sortable-column>
                                </th>
                                    <th scope="col" class="govuk-table__header das-table-cell-width-18">
                                    <sortable-column column-name="DateApplied" column-label="Date Applied" default="false" default-order="Ascending"></sortable-column>
                                </th>
                            </tr>
                        </thead>

                        <tbody class="govuk-table__body">
                            @{
                                foreach (VacancyApplication vacancyApplication in Model.VacancyApplications)
                                {
                                    <tr class="govuk-table__row" asp-show="@vacancyApplication.StatusNewOrReview">
                                        <td class="govuk-table__cell">

                                            <div class="govuk-checkboxes govuk-checkboxes--small" das-highlight-error-for="@vacancyApplication.ApplicationReviewId" error-class="govuk-form-group--error">
                                                    <div class="govuk-checkboxes__item">
                                                    <input class="govuk-checkboxes__input" id="application_select_@vacancyApplication.ApplicationReviewId" error-class="govuk-input--error" name="ApplicationsToShare" type="checkbox" value="@vacancyApplication.ApplicationReviewId">
                                                    <label class="govuk-label govuk-checkboxes__label" for="application_select_@vacancyApplication.ApplicationReviewId">
                                                            <span class="govuk-visually-hidden">@vacancyApplication.ApplicationReviewId</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            
                                        </td>
                                        <td class="govuk-table__cell"><a asp-route="@RouteNames.ApplicationReview_Get" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId" asp-route-applicationReviewId="@vacancyApplication.ApplicationReviewId" class="govuk-link">@vacancyApplication.CandidateName</a></td>
                                        <td class="govuk-table__cell">@vacancyApplication.GetFriendlyId()</td>
                                        <td class="govuk-table__cell"><strong class="@vacancyApplication.Status.GetCssClassForApplicationReviewStatus()">@vacancyApplication.Status.GetDisplayName()</strong></td>
                                        <td class="govuk-table__cell">@vacancyApplication.SubmittedDate.AsGdsDate()</td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>

                 </fieldset>
             </div>

             <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-button-group">
                        <button class="govuk-button submit" data-module="govuk-button" id="applications-action" type="submit" disabled>Continue</button>
                    </div>
                </div>
            </div>

           </form>
        } 
        else 
        {
            <div class="govuk-body">
                <p>
                    There are no applications for this vacancy yet.
                </p>
            </div>
        }
    </div>
</div>