@model Esfa.Recruit.Provider.Web.ViewModels.Part2.FutureProspects.FutureProspectsViewModel

@{ ViewBag.GaData.Vpv = "/recruitment/provider/future-prospects"; }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-route="@RouteNames.Qualifications_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState}' />

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            What is the expected career progression after this apprenticeship?
        </h1>

        <form asp-route="@RouteNames.FutureProspects_Get">
            <div esfa-validation-marker-for="FutureProspects" class="govuk-form-group">
                <span class="govuk-hint">You may want to mention specific routes they could take once qualified.</span>
                <span esfa-validation-message-for="FutureProspects" class="govuk-error-message"></span>
                <textarea asp-for="FutureProspects" class="govuk-textarea html-editor" rows="5" data-val-length-max="4000"></textarea>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <a asp-route="@RouteNames.Dashboard_Get" esfa-automation="link-cancel" class="govuk-link das-button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
