@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationReview.ApplicationStatusConfirmationViewModel

@{ 
    ViewBag.Vpv = "/recruitment/employer/page-application-status-confirmation";
    ViewBag.Title = Model.ShowStatusSuccessful ? "Are you sure you want to tell this applicant that they have been accepted?" : "Are you sure you want to tell this applicant that they have not been accepted?"; 
}
<div class="govuk-grid-row">    
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />        
        <div asp-show="@Model.ShowStatusSuccessful">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Are you sure you want to tell this applicant that they have been accepted?
            </h1>
            <p>
                This will notify @Model.Name to say that they have been accepted for this apprenticeship.
            </p>
        </div>
        <div asp-show="@Model.ShowStatusUnSuccessful">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                Are you sure you want to tell this applicant that they have not been accepted?
            </h1>
            <p>
                This will notify @Model.Name to say that they have not been accepted for this apprenticeship.
            </p>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        View your message to the applicant
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">@Model.CandidateFeedback</p>
                </div>
            </details>
        </div>           
        <div class="govuk-inset-text">
            <p>This action cannot be undone.</p>
        </div>
        <form asp-route="@RouteNames.ApplicationReviewConfirmation_Post" asp-all-route-data="@Model.ApplicationRouteDictionary">
            @Html.HiddenFor(model => model.Outcome)
            @Html.HiddenFor(model => model.CandidateFeedback)
            @Html.HiddenFor(model => model.Name)
            <div esfa-validation-marker-for="NotifyCandidate" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="NotifyCandidate" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="NotifyCandidate" class="govuk-radios__input" id="notify-candidate-yes" type="radio" value="true">
                            <label for="notify-candidate-yes" class="govuk-label govuk-radios__label">Yes, notify the applicant</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="NotifyCandidate" class="govuk-radios__input" id="notify-candidate-no" type="radio" value="false">
                            <label for="notify-candidate-no" class="govuk-label govuk-radios__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <input type="submit" value="Continue" class="govuk-button" />
            </div>
        </form>
    </div>
</div>