@using System.Net
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationReview.ApplicationReviewViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <section>
            <h1 class="heading-xlarge">@Model.Name</h1>

            @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames })

            <div class="panel panel-border-narrow">
                <p>
                    @Html.Raw(
                                         string.Join("<br>",
                                             new[]
                                             {
                                                        @Model.Name,
                                                        @Model.AddressLine1,
                                                        @Model.AddressLine2,
                                                        @Model.AddressLine3,
                                                        @Model.AddressLine4,
                                                        @Model.Postcode
                                             }.Where(s => !string.IsNullOrWhiteSpace(s))
                                                 .Select(WebUtility.HtmlEncode)))
                </p>
                <p>
                    @Model.Phone
                    <br> <a href="mailto:@Model.Email">@Model.Email</a>
                </p>
            </div>
        </section>

        <section>
            <h2 class="heading-large">About you</h2>

            <div class="form-group">
                <span class="form-label-bold">What are your main strengths?</span>
                <span>@Model.Strengths</span>
            </div>
            <div class="form-group">
                <span class="form-label-bold">What skills would you like to improve during this apprenticeship?</span>
                <span>@Model.Improvements</span>
            </div>
            <div class="form-group">
                <span class="form-label-bold">What are your hobbies and interests?</span>
                <span>@Model.HobbiesAndInterests</span>
            </div>
        </section>

        <hr>

        <section>
            <h2 class="heading-large">Education</h2>

            <h3 class="heading-small">Name of most recent school/college</h3>
            <p>@Model.EducationInstitution</p>

            <h3 class="heading-small">Years attended</h3>
            <table>
                <thead>
                    <tr>
                        <th>Started</th>
                        <th>Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.EducationFromYear</td>
                        <td>@Model.EducationToYear</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <hr>

        <section>
            <h2 class="heading-large">Qualifications</h2>

            <p asp-condition="@Model.HasNoQualifications">I don't have any qualifications</p>

            @foreach (var group in Model.Qualifications.GroupBy(item => item.QualificationType))
            {
                <div>
                    <div>
                        <h3 class="heading-small">@Html.Encode(group.Key)</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Grade</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>@item.Subject</td>
                                    <td>@item.Grade <span asp-condition="@item.IsPredicted">(Predicted)</span></td>
                                    <td>@item.Year</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </section>

        <section>
            <h2 class="heading-large">Work experience</h2>

            <p asp-condition="@Model.HasNoWorkExperience">I don't have any work experience</p>

            @foreach (var experience in Model.WorkExperiences)
            {
                <div class="grid-3-4">
                    <div class="grid-row">
                        <div class="column-one-half">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            <span>Work experience</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>@experience.Employer</span>
                                            <span>-</span>
                                            <span>@experience.JobTitle</span>
                                            <div></div>
                                            <span>@experience.Description</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column-one-half">
                            <table>
                                <thead>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@experience.FromDateAsText</td>
                                        <td>@experience.ToDateAsText</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </section>

        <section>
            <h2 class="heading-large">Training courses</h2>

            <p asp-condition="@Model.HasNoTrainingCourses">I have not been on any training courses</p>

            @foreach (var trainingCourse in Model.TrainingCourses)
            {
                <div>
                    <div class="grid-row">
                        <div class="column-one-half">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Training course</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>@trainingCourse.Provider</span>
                                            <span>-</span>
                                            <span>@trainingCourse.Title</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="column-one-half">
                            <table>
                                <thead>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@trainingCourse.FromDateAsText</td>
                                        <td>@trainingCourse.ToDateAsText</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </section>

        <section>
            <h2 class="heading-large">Skills the Employer wants</h2>

            <p asp-condition="@Model.HasNoSkills">I don't have the skills the employer wants</p>

            <p asp-condition="@Model.HasSkills">
                @Html.Raw(string.Join(", ", Model.Skills.Select(s => Html.Encode(s))))
            </p>
        </section>

        <hr>

        <section>
            <h3 class="heading-small">Do you have a learning difficulty, disability or health problem?</h3>
            <p>@Model.DisabilityStatus</p>

            <h3 class="heading-small">Is there anything we can do to support your interview?</h3>
            <p>
                <span asp-condition="@Model.HasNoSupportRequirements">I don't have any interview support requirements</span>
                @Model.Support
            </p>
            <br>
            <hr>
        </section>

        <section asp-condition="@Model.CanNotChangeOutcome">
            <h3 class="heading-large">Outcome</h3>
            <p>@Model.Outcome.GetDisplayName()</p>
        </section>

        <form asp-condition="@Model.CanChangeOutcome" asp-route="@RouteNames.ApplicationReview_Post">
            <section>
                <h3 class="heading-large">Outcome</h3>

                <div esfa-validation-marker-for="Outcome" class="form-group">
                    <fieldset>
                        <span esfa-validation-message-for="Outcome" class="error-message"></span>
                        <div class="multiple-choice">
                            <input asp-for="Outcome" id="outcome-successful" type="radio" value="@ApplicationReviewStatus.Successful.ToString()">
                            <label for="outcome-successful">Successful</label>
                        </div>

                        <div class="multiple-choice" data-target="unsuccessful-reason">
                            <input asp-for="Outcome" id="outcome-unsuccessful" type="radio" value="@ApplicationReviewStatus.Unsuccessful.ToString()">
                            <label for="outcome-unsuccessful">Unsuccessful</label>
                        </div>
                    </fieldset>
                </div>
                <div class="panel panel-border-narrow js-hidden">
                    <div class="form-group">
                        <label asp-for="Reason" class="form-label-bold">Feedback</label>
                        <span class="form-hint">Explain why the application has been unsucessful, your comments will be sent to the candidate.</span>
                        <textarea asp-for="Reason" class="form-control form-control-3-4" cols="20" size="12" type="text"></textarea>
                    </div>
                </div>

            </section>

            <hr>

            <section>
                <div class="form-group hide-print">
                    <button type="submit" class="button">Save</button>

                    <a href="#" class="button-link">Cancel</a>
                </div>
            </section>
        </form>
    </div>
</div>