@using System.Net
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Shared.Web.ViewModels.ApplicationReview.ApplicationReviewViewModel

<div asp-show="@Model.ShowDisabilityStatusAlert" class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="info-summary govuk-!-margin-top-6" role="alert" tabindex="-1">
            <h3 class="govuk-heading-m govuk-!-margin-top-0">Disability Confident - Alert</h3>
            <p>This applicant has stated that they have either a learning difficulty, disability or medical condition.</p>
        </div>
    </div>
</div>

<div class="govuk-grid-row"> 
    <div class="govuk-grid-column-two-thirds">
        <section>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-0">@Model.Name</h1>
            <div class="govuk-!-margin-bottom-6">
                <span class="govuk-!-font-weight-bold">Application ID: </span>@Model.FriendlyId
            </div>

            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

            <div class="panel panel-border-narrow">
                <p class="govuk-body">
                    @Html.Raw(
                                         string.Join("<br>",
                                             new[]
                                             {
                                                        @Model.Name,
                                                        @Model.AddressLine1,
                                                        @Model.AddressLine2,
                                                        @Model.AddressLine3,
                                                        @Model.AddressLine4,
                                                        @Model.Postcode
                                             }.Where(s => !string.IsNullOrWhiteSpace(s))
                                                 .Select(WebUtility.HtmlEncode)))
                </p>
                <p class="govuk-body">
                    @Model.Phone
                    <br> <a href="mailto:@Model.Email">@Model.Email</a>
                </p>
            </div>
        </section>

        <section>
            <h2 class="govuk-heading-l">About you</h2>

            <div class="govuk-form-group">
                <span class="govuk-label govuk-!-font-weight-bold">What are your main strengths?</span>
                <span>@Model.Strengths</span>
            </div>
            <div class="govuk-form-group">
                <span class="govuk-label govuk-!-font-weight-bold">What skills would you like to improve during this apprenticeship?</span>
                <span>@Model.Improvements</span>
            </div>
            <div class="govuk-form-group">
                <span class="govuk-label govuk-!-font-weight-bold">What are your hobbies and interests?</span>
                <span>@Model.HobbiesAndInterests</span>
            </div>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <section>
            <h2 class="govuk-heading-l">Education</h2>

            <h3 class="govuk-heading-s">Name of most recent school/college</h3>
            <p>@Model.EducationInstitution</p>

            <h3 class="govuk-heading-s">Years attended</h3>
            <table>
                <thead>
                    <tr>
                        <th>Started</th>
                        <th>Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.EducationFromYear</td>
                        <td>@Model.EducationToYear</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <section>
            <h2 class="govuk-heading-l">Qualifications</h2>

            <p asp-show="@Model.HasNoQualifications">I don't have any qualifications</p>

            @foreach (var group in Model.Qualifications.GroupBy(item => item.QualificationType))
            {
                <div>
                    <div>
                        <h3 class="govuk-heading-s">@Html.Encode(group.Key)</h3>
                    </div>
                    <table>
                        <thead>
                            <tr>
                               <th class="th-50">Subject</th>
                               <th class="th-30">Grade</th>
                               <th class="th-20">Year</th>
                           </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in group)
                            {
                                <tr>
                                    <td>@item.Subject</td>
                                    <td>@item.Grade <span asp-show="@item.IsPredicted">(Predicted)</span></td>
                                    <td>@item.Year</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </section>

        <section>
            <h2 class="govuk-heading-l">Work experience</h2>

            <p asp-show="@Model.HasNoWorkExperience">I don't have any work experience</p>

            @foreach (var experience in Model.WorkExperiences)
            {
                <div class="grid-3-4">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            <span>Work experience</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>@experience.Employer</span>
                                            <span>-</span>
                                            <span>@experience.JobTitle</span>
                                            <div></div>
                                            <span>@experience.Description</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <table>
                                <thead>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@experience.FromDateAsText</td>
                                        <td>@experience.ToDateAsText</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        </section>

        <section>
            <h2 class="govuk-heading-l">Training courses</h2>

            <p asp-show="@Model.HasNoTrainingCourses">I have not been on any training courses</p>

            @foreach (var trainingCourse in Model.TrainingCourses)
            {
                <div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            <table>
                                <colgroup>
                                    <col>
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Training course</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>@trainingCourse.Provider</span>
                                            <span>-</span>
                                            <span>@trainingCourse.Title</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="govuk-grid-column-one-half">
                            <table>
                                <thead>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@trainingCourse.FromDateAsText</td>
                                        <td>@trainingCourse.ToDateAsText</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }

        </section>

        <section>
            <h2 class="govuk-heading-l">Skills the Employer wants</h2>

            <p asp-show="@Model.HasNoSkills">I don't have the skills the employer wants</p>

            <p asp-show="@Model.HasSkills">
                @Html.Raw(string.Join(", ", Model.Skills.Select(s => Html.Encode(s))))
            </p>
        </section>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <section>
            <h3 class="govuk-heading-s">Do you have a learning difficulty, disability or health problem?</h3>
            <p>@Model.DisabilityStatus.GetDisplayName()</p>

            <h3 class="govuk-heading-s">Is there anything we can do to support your interview?</h3>
            <p>
                <span asp-show="@Model.HasNoSupportRequirements">I don't have any interview support requirements</span>
                @Model.Support
            </p>
            <br>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </section>

        <section asp-show="@Model.CanNotChangeOutcome">
            <h3 class="govuk-heading-l">Outcome</h3>
            <p>@Model.Status.Value.GetDisplayName()</p>
            <p>@Model.CandidateFeedback</p>

            <p><a asp-route="@RouteNames.VacancyManage_Get" class="govuk-button">Return to vacancy</a></p>
        </section>

        <form asp-show="@Model.CanChangeOutcome" asp-route="@RouteNames.ApplicationReview_Post">
            <section>
                <h3 class="govuk-heading-l">Outcome</h3>

                <div esfa-validation-marker-for="Outcome" class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <span esfa-validation-message-for="Outcome" class="govuk-error-message"></span>
                        <div class="multiple-choice">
                            <input asp-for="Outcome" class="govuk-radios__input" id="outcome-successful" type="radio" value="@ApplicationReviewStatus.Successful.ToString()" checked="@(Model.Outcome == ApplicationReviewStatus.Successful ? "checked" : null)">
                            <label for="outcome-successful">Successful</label>
                        </div>

                        <div class="multiple-choice" data-target="unsuccessful-candidate-feedback">
                            <input asp-for="Outcome" class="govuk-radios__input" id="outcome-unsuccessful" type="radio" value="@ApplicationReviewStatus.Unsuccessful.ToString()" checked="@(Model.Outcome == ApplicationReviewStatus.Unsuccessful ? "checked" : null)">
                            <label for="outcome-unsuccessful">Unsuccessful</label>
                        </div>
                    </fieldset>
                </div>
                <div esfa-validation-marker-for="CandidateFeedback" id="unsuccessful-candidate-feedback" class="panel panel-border-narrow js-hidden">
                    <div class="govuk-form-group">
                        <label asp-for="CandidateFeedback" class="govuk-label govuk-!-font-weight-bold">Feedback</label>
                        <span esfa-validation-message-for="CandidateFeedback" class="govuk-error-message"></span>
                        <span class="govuk-hint">Explain why the application has been unsucessful, your comments will be sent to the candidate.</span>
                        <textarea asp-for="CandidateFeedback" class="govuk-textarea" cols="20" size="12"></textarea>
                    </div>
                </div>

            </section>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <section>
                <div class="govuk-form-group hide-print">
                    <button type="submit" class="govuk-button">Save</button>

                    <a asp-route="@RouteNames.VacancyManage_Get" class="govuk-link das-button-link">Cancel</a>
                </div>
            </section>
        </form>
    </div>
</div>

<script nws-csp-add-nonce="true">
    $(function () {
        var showHideContent = new GOVUK.ShowHideContent();
        showHideContent.init();
    });
</script>