@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Shared.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Esfa.Recruit.Provider.Web.TagHelpers
@model Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/check-your-answers";
    ViewBag.Title = "Check your answers before submitting your vacancy";
}

@section BackLink {
    @if (Model.Status == VacancyStatus.Rejected || Model.Status == VacancyStatus.Referred)
    {
        <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Return to dashboard</a>        
    }
    else
    {
        <a asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back to task list</a>    
    }
    
}


@if (!Model.CanHideValidationSummary)
{
    <div class="govuk-error-summary review-summary govuk-!-margin-top-0" role="alert" tabindex="-1">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">    
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var stateItem in Model.ValidationErrors.ModelState.Where(msi => msi.Value.ValidationState == ModelValidationState.Invalid)
                    .OrderBy(x => Model.OrderedFieldNames.IndexOf(x.Key)))
                {
                    <li>
                        @if (!string.IsNullOrEmpty(stateItem.Value.Errors.FirstOrDefault()?.ErrorMessage))
                        {
                            <a asp-fragment="@stateItem.Key" class="govuk-link">@stateItem.Value.Errors.FirstOrDefault()?.ErrorMessage</a>
                        }
                        else
                        {
                            <span>@stateItem.Value.Errors.FirstOrDefault()?.ErrorMessage</span>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}

<div asp-show="Model.CanShowVacancyClonedStatusHeader" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading">
          @Model.VacancyClonedInfoMessage        
      </h3>
      <p>Reference number: @Model.VacancyReferenceNumber</p>
  </div>
</div>

@if (Model.Status == VacancyStatus.Rejected)
{
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                @Model.EmployerName has rejected this vacancy for the following reason.
            </p>
            <p class="govuk-body">@Model.EmployerRejectedReason</p>
        </div>
    </div>
}

@if (Model.Status == VacancyStatus.Referred)
{
    <div class="govuk-error-summary review-summary govuk-!-margin-top-0" role="alert" tabindex="-1">
        <h2 class="govuk-error-summary__title">
            Edits needed
        </h2>
        <div class="govuk-error-summary__body">
            <p class="govuk-body">Call us on @RecruitViewConstants.HelpdeskPhoneNumber and select the training provider option if you need to discuss any of our vacancy review comments.</p>
            <p class="govuk-body app-preserve-line-breaks">@Model.Review.ReviewerComments</p>
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var fieldIndicator in Model.Review.FieldIndicators)
                {
                    if (!string.IsNullOrWhiteSpace(fieldIndicator.ManualQaText))
                    {
                        <li><a asp-fragment="@fieldIndicator.Anchor" class="govuk-link">@fieldIndicator.ManualQaText</a></li>
                    }

                    foreach (var errorText in fieldIndicator.AutoQaTexts)
                    {
                        <li><a asp-fragment="@fieldIndicator.Anchor" class="govuk-link">@errorText</a></li>
                    }
                }
            </ul>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
        <h1 class="govuk-heading-l">
            Check your answers before submitting your vacancy
        </h1>
        <h2 class="govuk-heading-m">Vacancy summary</h2>
        <dl class="app-summary-list govuk-!-margin-bottom-9">
            @if (Model.AccountLegalEntityCount + Model.AccountCount > 2 )
            {
                <div class="app-summary-list__row">
                    <dt class="app-summary-list__key">
                        Name of employer
                    </dt>
                    <dd class="app-summary-list__value">
                        @Model.EmployerName
                    </dd>
                    <dd class="app-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ConfirmSelectedLegalEntityEmployer_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-legalentity">Change<span class="govuk-visually-hidden"> legal entity</span></a>
                    </dd>
                </div>
            }
            
            <field-review-message field-name="@FieldIdentifiers.Title" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="Title" >
                <dt class="app-summary-list__key" id="@FieldIdentifiers.Title">Vacancy title</dt>
                <dd class="app-summary-list__value">
                    @Model.Title
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.Title" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Title_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-title">Change<span class="govuk-visually-hidden"> vacancy title</span></a>
                </dd>
            </div>
            
        
            <field-review-message field-name="@FieldIdentifiers.Training" model="@Model"></field-review-message>
            <field-review-message field-name="@FieldIdentifiers.TrainingLevel" model="@Model"></field-review-message>
            <field-review-message field-name="HasProgramme" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="TrainingTitle">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.Training">Training course</dt>
                <dd id="TrainingLevel" class="app-summary-list__value">
                    @Model.TrainingTitle
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.Training" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-course">Change<span class="govuk-visually-hidden"> training course</span></a>
                </dd>
            </div>

            <field-review-message field-name="@FieldIdentifiers.ShortDescription" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="ShortDescription">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.ShortDescription">
                    Summary of the apprenticeship
                </dt>
                
                <dd class="app-summary-list__value">
                    @Model.ShortDescription
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ShortDescription" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ShortDescription_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-shortdescription">Change<span class="govuk-visually-hidden"> summary of the vacancy</span></a>
                </dd>
            </div>
            
            
            <field-review-message field-name="@FieldIdentifiers.VacancyDescription" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="VacancyDescription">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.VacancyDescription">What will the apprentice do at work?</dt>
                <dd class="app-summary-list__value">
                    <div class="app-ugc-wrap">
                        @Html.Raw(Model.VacancyDescription)
                    </div>
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.VacancyDescription" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.VacancyWorkDescription_Index_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-description">Change<span class="govuk-visually-hidden"> what the apprentice will do at work</span></a>
    
                </dd>
            </div>
            
            <field-review-message field-name="@FieldIdentifiers.TrainingDescription" model="@Model"></field-review-message>
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="TrainingDescription">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.TrainingDescription">The apprentice's training schedule (optional)</dt>
                
                    
                        @if (string.IsNullOrEmpty(Model.TrainingDescription))
                        {
                            <dd class="app-summary-list__value">
                                Training schedule hasn't been agreed yet
                            </dd>
                        }
                        else
                        {
                            <dd class="app-summary-list__value">
                                <div class="app-ugc-wrap">
                                    @Html.Raw(Model.TrainingDescription)
                                </div>
                            </dd>
                        }
                        <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.TrainingDescription" tag-name="strong" model="@Model"/>
                
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.VacancyHowTheApprenticeWillTrain_Index_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-description">Change<span class="govuk-visually-hidden"> how the apprentice will train</span></a>     
                </dd>
            </div>
            <field-review-message field-name="@FieldIdentifiers.AdditionalTrainingDescription" model="@Model"></field-review-message>
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="AdditionalTrainingDescription">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.AdditionalTrainingDescription">Additional training information (optional)</dt>
                <dd class="app-summary-list__value">
                    <div class="app-ugc-wrap">
                        @Html.Raw(Model.AdditionalTrainingDescription)
                    </div>
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.AdditionalTrainingDescription" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">

                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Employment details</h2>
        <dl class="app-summary-list govuk-!-margin-bottom-9">
            <field-review-message field-name="@FieldIdentifiers.ClosingDate" model="@Model"></field-review-message>
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="ClosingDate">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.ClosingDate">Application closing date</dt>
                <dd class="app-summary-list__value">
                    @Model.ClosingDate
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ClosingDate" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Dates_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-dates">Change<span class="govuk-visually-hidden"> important date</span></a>
                </dd>
            </div>

            <field-review-message field-name="@FieldIdentifiers.PossibleStartDate" model="@Model"></field-review-message>
                <div class="app-summary-list__row" field-review-marker="PossibleStartDate">
                    <dt class="app-summary-list__key" id="@FieldIdentifiers.PossibleStartDate">Apprenticeship start date</dt>
                    <dd class="app-summary-list__value">
                        @Model.PossibleStartDate
                        <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.PossibleStartDate" tag-name="strong" model="@Model"/>
                    </dd>
                    <dd class="app-summary-list__actions">

                    </dd>
                </div>

            <field-review-message field-name="@FieldIdentifiers.ExpectedDuration" model="@Model"></field-review-message>
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="ExpectedDuration">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.ExpectedDuration">Duration</dt>
                <dd id="WorkingWeek" class="app-summary-list__value">
                    @Model.ExpectedDuration
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ExpectedDuration" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Duration_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-duration">Change<span class="govuk-visually-hidden"> duration</span></a>
                </dd>
            </div>
            <field-review-message field-name="WorkingWeek" model="@Model"></field-review-message>
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="WorkingWeekDescription">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.WorkingWeek">Working week details</dt>
                <dd class="app-summary-list__value">
                    @Model.WorkingWeekDescription
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.WorkingWeek" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
            
                </dd>
            </div>


            <field-review-message field-name="@FieldIdentifiers.WorkingWeekHours" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="HoursPerWeek">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.WorkingWeek">Hours per week</dt>
                <dd class="app-summary-list__value">
                    @Model.HoursPerWeek
                </dd>
                <dd class="app-summary-list__actions">

                </dd>
            </div>
            
            <field-review-message field-name="@FieldIdentifiers.Wage" model="@Model"></field-review-message>
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="WageText">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.Wage">Pay rate</dt>
                <dd id="YearlyWage" class="app-summary-list__value">
                    @Model.WageText
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.Wage" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Wage_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-wage">Change<span class="govuk-visually-hidden"> wage</span></a>    
                </dd>
            </div>
            <field-review-message field-name="@FieldIdentifiers.WageAdditionalInfo" model="@Model"></field-review-message>
            
            <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="WageInfo">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.WageAdditionalInfo">Extra information about pay (optional)</dt>
                <dd class="app-summary-list__value">
                    @if (Model.HasCompetitiveSalaryType)
                    {
                        @:@Model.WageType.GetDisplayName()
                        <br />

                        <br />
                    }
                    <review-field class="govuk-tag--purple"  field-name="@FieldIdentifiers.WageAdditionalInfo"
                        tag-name="strong" model="@Model" />
                    @if (Model.HasWageInfo)
                    {

                        @:@Model.WageInfo

                    }

                </dd>
                <dd class="app-summary-list__actions">
                    
                </dd>
            </div>
            <field-review-message field-name="@FieldIdentifiers.CompanyBenefitsInformation" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="CompanyBenefitsInformation">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.CompanyBenefitsInformation">Company benefits (optional)</dt>
                <dd id="CompanyBenefitsInformation" class="app-summary-list__value">
                    @Model.CompanyBenefitsInformation
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.CompanyBenefitsInformation" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions"></dd>
            </div>
       
            <field-review-message field-name="@FieldIdentifiers.NumberOfPositions" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="NumberOfPositions">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.NumberOfPositions">Number of positions</dt>
                <dd class="app-summary-list__value">
                    @Model.NumberOfPositions available
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.NumberOfPositions" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.NumberOfPositions_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-numberofpositions">Change<span class="govuk-visually-hidden"> number of positions</span></a>
                </dd>
            </div>
            <field-review-message field-name="@FieldIdentifiers.EmployerAddress" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="EmployerAddressElements">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.EmployerAddress">Address</dt>
                <dd class="app-summary-list__value">
                    @string.Join(", ", Model.EmployerAddressElements?.Where(s => !string.IsNullOrWhiteSpace(s)).Select(s => s.Trim()) ?? new string[0])
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.EmployerAddress" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Location_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-location">Change<span class="govuk-visually-hidden"> location</span></a>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Requirements and prospects</h2>
        <dl class="app-summary-list govuk-!-margin-bottom-9">
            <field-review-message field-name="@FieldIdentifiers.Skills" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="Skills">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.Skills">Skills</dt>
                <dd class="app-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var skill in Model.Skills)
                        {
                            <li>@skill</li>
                        }
                    </ul>
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.Skills" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Skills_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-skills">Change<span class="govuk-visually-hidden"> skills</span></a>
                </dd>
            </div>
            
        
            <field-review-message field-name="@FieldIdentifiers.Qualifications" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="Qualifications">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.Qualifications">Qualifications required</dt>
                <dd class="app-summary-list__value">
                    @if (Model.HasOptedToAddQualifications is false)
                    {
                        @:You don’t need any qualifications to apply for this apprenticeship.
                    }
                    else
                    {
                        <ul class="govuk-list govuk-list--bullet">
                            @foreach (var qual in Model.Qualifications)
                            {
                                <li>@qual</li>
                            }
                        </ul>
                    }
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.Qualifications" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Qualifications_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-qualifications">Change<span class="govuk-visually-hidden"> qualifications</span></a>
                </dd>
            </div>
            

            <field-review-message field-name="OutcomeDescription" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="OutcomeDescription">
                <dt class="app-summary-list__key" id="OutcomeDescription">Future prospects</dt>
                <dd class="app-summary-list__value">
                    <div class="app-ugc-wrap">
                        @Html.Raw(Model.OutcomeDescription)
                    </div>
                    <review-field class="govuk-tag--purple" field-name="OutcomeDescription" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.FutureProspects_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-futureprospects">Change<span class="govuk-visually-hidden"> future prospects</span></a>
                </dd>
            </div>
            <field-review-message field-name="@FieldIdentifiers.ThingsToConsider" model="@Model"></field-review-message>
            <div class="app-summary-list__row" field-review-marker="ThingsToConsider">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.ThingsToConsider">Other things to consider</dt>
                <dd class="app-summary-list__value">
                    @if (string.IsNullOrEmpty(Model.ThingsToConsider))
                    {
                        @:None
                    }
                    else
                    {
                        @Model.ThingsToConsider    
                    }
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ThingsToConsider" tag-name="strong" model="@Model"/>

                </dd>
                <dd class="app-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Considerations_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-thingstoconsider">Change<span class="govuk-visually-hidden"> considerations</span></a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">About the employer</h2>

    <dl class="app-summary-list govuk-!-margin-bottom-9">
        <field-review-message field-name="@FieldIdentifiers.EmployerName" model="@Model"></field-review-message>
        <div class="app-summary-list__row" field-review-marker="EmployerName">
            <dt class="app-summary-list__key" id="aboutEmployer">Name of employer on advert</dt>
            <dd class="app-summary-list__value">

                @Model.EmployerName
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.EmployerName" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerName_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-nameoforg">Change<span class="govuk-visually-hidden"> name of organisation</span></a>
            </dd>
        </div>
            
        <field-review-message field-name="@FieldIdentifiers.EmployerDescription" model="@Model"></field-review-message>
        <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="EmployerDescription">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.EmployerDescription">Employer information</dt>
            <dd class="app-summary-list__value">
                @Model.EmployerDescription
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.EmployerDescription" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.AboutEmployer_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-nameoforg">Change<span class="govuk-visually-hidden"> name of organisation</span></a>
            </dd>
        </div>
        <field-review-message field-name="@FieldIdentifiers.EmployerWebsiteUrl" model="@Model"></field-review-message>
        <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="EmployerWebsiteUrl">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.EmployerWebsiteUrl">Organisation website (optional)</dt>
            <dd class="app-summary-list__value">
                @(Model.HasEmployerWebsiteUrl ? Model.EmployerWebsiteUrl : "None")
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.EmployerWebsiteUrl" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                    
            </dd>
        </div>
        <field-review-message field-name="@FieldIdentifiers.DisabilityConfident" model="@Model"></field-review-message>
        <div class="app-summary-list__row" field-review-marker="IsDisabilityConfident">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.DisabilityConfident">Disability Confident Employer?</dt>
            <dd class="app-summary-list__value">
                @(Model.IsDisabilityConfident ? "Yes" : "No")
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.DisabilityConfident" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                    
            </dd>
        </div>
        <field-review-message field-name="@FieldIdentifiers.ProviderContact" model="@Model"></field-review-message>
        <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="ProviderContactName">
            <dt class="app-summary-list__key"  id="@FieldIdentifiers.ProviderContact">Contact name (optional)</dt>
            <dd class="app-summary-list__value">
                @(Model.HasProviderContactName ? Model.ProviderContactName : "None")
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ProviderContact" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ProviderContactDetails_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-contactdetails">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
        </div>
        <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="ProviderContactEmail">
            <dt class="app-summary-list__key"  id="@FieldIdentifiers.ProviderContact">Contact email (optional)</dt>
            <dd class="app-summary-list__value">
                @(Model.HasProviderContactEmail ? Model.ProviderContactEmail : "None")
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ProviderContact" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
            </dd>
        </div>
            
        <div class="app-summary-list__row" field-review-marker="ProviderContactTelephone">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.ProviderContact">Contact number (optional)</dt>
            <dd class="app-summary-list__value">
                @(Model.HasProviderContactTelephone ? Model.ProviderContactTelephone : "None")
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ProviderContact" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                    
            </dd>
        </div>
            
        
        <field-review-message field-name="@FieldIdentifiers.ApplicationMethod" model="@Model"></field-review-message>
        <field-review-message field-name="@FieldIdentifiers.ApplicationUrl" model="@Model"></field-review-message>
        <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="ApplicationMethod">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.ApplicationMethod">Application website</dt>
            <dd class="app-summary-list__value" id="@FieldIdentifiers.ApplicationUrl">
                @if (Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)
                {
                        <span class="das-breakable">@Model.ApplicationUrl</span>
                }
                else
                {
                    @Model.FindAnApprenticeshipUrl
                }
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ApplicationUrl" tag-name="strong" model="@Model"/>
                <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ApplicationMethod" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ApplicationProcess_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-applicationprocess">Change<span class="govuk-visually-hidden"> application process</span></a>
            </dd>
        </div>
        @if (Model.HasApplicationInstructions)
        {
            <div class="app-summary-list__row" field-review-marker="ApplicationInstructions">
                <dt class="app-summary-list__key" id="@FieldIdentifiers.ApplicationInstructions">Explain the application process (optional)</dt>
                <dd class="app-summary-list__value">
                    @(Model.HasApplicationInstructions ? Model.ApplicationInstructions : "None")
                    <review-field class="govuk-tag--purple" field-name="@FieldIdentifiers.ApplicationInstructions" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="app-summary-list__actions">
                        
                </dd>
            </div>
        }
    </dl>

    <h2 class="govuk-heading-m">Application</h2>
    <dl class="app-summary-list govuk-!-margin-bottom-9">
        <field-review-message field-name="@FieldIdentifiers.AdditionalQuestion1" model="@Model"></field-review-message>
        <div class="app-summary-list__row app-summary-list__row--no-border" field-review-marker="AdditionalQuestion1">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.AdditionalQuestion1">Question 1</dt>
            <dd class="app-summary-list__value">
                @(Model.HasAdditionalQuestion1 ? Model.AdditionalQuestion1 : "None")
                <field-review-tag class="govuk-tag--orange" field-name="@FieldIdentifiers.AdditionalQuestion1" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.AdditionalQuestions_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="change-additional-question-1">Change<span class="govuk-visually-hidden"> additional questions</span></a>
            </dd>
        </div>
        <field-review-message field-name="@FieldIdentifiers.AdditionalQuestion2" model="@Model"></field-review-message>
        <div class="app-summary-list__row" field-review-marker="AdditionalQuestion2">
            <dt class="app-summary-list__key" id="@FieldIdentifiers.AdditionalQuestion2">Question 2</dt>
            <dd class="app-summary-list__value">
                @(Model.HasAdditionalQuestion2 ? Model.AdditionalQuestion2 : "None")
                <field-review-tag class="govuk-tag--orange" field-name="@FieldIdentifiers.AdditionalQuestion2" tag-name="strong" model="@Model"/>
            </dd>
            <dd class="app-summary-list__actions">
            </dd>
        </div>
    </dl>
    

    <h2 class="govuk-heading-m">Now submit your vacancy</h2>
        <p class="govuk-body">By submitting this vacancy you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Advice</span>
                Proofread your vacancy for spelling and formatting to avoid it being rejected by our <abbr title="Quality assurance">QA</abbr> team.
            </strong>
        </div>
        <p class="govuk-body"><a asp-route="@RouteNames.Vacancy_Advert_Preview_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Preview vacancy before submitting</a></p>
        <form asp-route="@RouteNames.ProviderCheckYourAnswersPost" asp-all-route-data="@Model.RouteDictionary">
            <div class="govuk-button-group">    
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.SubmitButtonText</button>
                <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
  
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-heading-s">No longer need this vacancy?</p>
        <a asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-button govuk-button--warning" esfa-automation="delete-button">Delete vacancy</a>
          
    </div>
</div>