@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/check-your-answers";
    ViewBag.Title = "Check your answers before submitting your vacancy";
}

@section BackLink {
    <a asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back to task list</a>
}

@if (Model.Status == VacancyStatus.Rejected)
{
    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
                @Model.EmployerName has rejected this vacancy for the following reason.
            </p>
            <p class="govuk-body">@Model.EmployerRejectedReason</p>
            <p class="govuk-body">@Model.</p>
        </div>
    </div>
}

@if (Model.Status == VacancyStatus.Referred)
{
    <div class="govuk-error-summary review-summary govuk-!-margin-top-0" role="alert" tabindex="-1">
        <h2 class="govuk-error-summary__title">
            <img src="/img/red-cross.png" class="red-cross-logo" alt="red cross" no-cdn />Edits needed
        </h2>
        <div class="govuk-error-summary__body">
            <p class="govuk-body">Call us on @RecruitViewConstants.HelpdeskPhoneNumber and select the training provider option if you need to discuss any of our vacancy review comments.</p>
            <p class="govuk-body">@Model.Review.ReviewerComments</p>    
            <ul class="govuk-list govuk-error-summary__list">
                @foreach (var fieldIndicator in Model.Review.FieldIndicators)
                {
                    if (!string.IsNullOrWhiteSpace(fieldIndicator.ManualQaText))
                    {
                        <li><a asp-fragment="@fieldIndicator.Anchor" class="govuk-link">@fieldIndicator.ManualQaText</a></li>
                    }

                    foreach (var errorText in fieldIndicator.AutoQaTexts)
                    {
                        <li><a asp-fragment="@fieldIndicator.Anchor" class="govuk-link">@errorText</a></li>
                    }
                }
            </ul>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
        <h1 class="govuk-heading-l">
            Check your answers before submitting your vacancy
        </h1>
        <h2 class="govuk-heading-m">Vacancy summary</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 app-check-answers">
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.TitleSectionState">Vacancy title</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.Title
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Title_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> vacancy title</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.Title" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            @if (Model.AccountLegalEntityCount > 1)
            {
                <div class="govuk-summary-list__row">
                    <dt-review-section section-state="@Model.EmployerNameSectionState">Name of organisation</dt-review-section>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.LegalEntity_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> legal entity</span></a>
                        <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.EmployerName" tag-name="strong" model="@Model"/>
                    </dd>
                </div>   
            }
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.TrainingSectionState">Training course</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.TrainingTitle
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> training course</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.Training" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.ShortDescriptionSectionState">Summary of the apprenticeship</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.ShortDescription
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.ShortDescription_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> summary of the apprenticeship</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ShortDescription" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.VacancyDescriptionSectionState">What will the apprentice be doing?</dt-review-section>
                <dd class="govuk-summary-list__value">
                    <div class="app-ugc-wrap">
                        @Html.Raw(Model.VacancyDescription)
                    </div>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.VacancyDescription_Index_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> about the apprenticeship</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.VacancyDescription" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.TrainingDescriptionSectionState">Training and qualification levels</dt-review-section>
                <dd class="govuk-summary-list__value">
                    <div class="app-ugc-wrap">
                        @Html.Raw(Model.TrainingDescription)
                    </div>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.TrainingDescription" tag-name="strong" model="@Model"/>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Employment details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.ClosingDateSectionState">Application closing date</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.ClosingDate
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Dates_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> important date</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ClosingDate" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.PossibleStartDateSectionState">Apprenticeship start date</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.PossibleStartDate
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.PossibleStartDate" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.ExpectedDurationSectionState">Duration</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.ExpectedDuration
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Duration_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> duration</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ExpectedDuration" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.WorkingWeekSectionState">Working week details</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.WorkingWeekDescription
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.WorkingWeek" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.WorkingWeekHoursSectionState">Hours per week</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.HoursPerWeek
                </dd>
                <dd class="govuk-summary-list__actions">

                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.WageTextSectionState">Pay rate</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.WageText
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Wage_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> wage</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.Wage" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.WageAdditionalInfoSectionState">Extra information about pay (optional)</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @(Model.HasWageInfo ? Model.WageInfo : "None")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.WageAdditionalInfo" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.NumberOfPositionsSectionState">Number of positions</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.NumberOfPositions available
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.NumberOfPositions_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> number of positions</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.NumberOfPositions" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.EmployerAddressSectionState">Address</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @string.Join(", ", Model.EmployerAddressElements?.Where(s => !string.IsNullOrWhiteSpace(s)).Select(s => s.Trim()) ?? new string[0])
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Location_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> location</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.EmployerAddress" tag-name="strong" model="@Model"/>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Requirements and prospects</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 app-check-answers">
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.SkillsSectionState">Skills</dt-review-section>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var skill in Model.Skills)
                        {
                            <li>@skill</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Skills_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> skills</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.Skills" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.QualificationsSectionState">Qualifications required</dt-review-section>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var qual in Model.Qualifications)
                        {
                            <li>@qual</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Qualifications_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> qualifications</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.Qualifications" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.FutureProspectsSectionState">Future prospects</dt-review-section>
                <dd class="govuk-summary-list__value">
                    <div class="app-ugc-wrap">
                        @Html.Raw(Model.OutcomeDescription)
                    </div>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.FutureProspects_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> future prospects</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.FutureProspects" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.ThingsToConsiderSectionState">Other things to consider</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @if (string.IsNullOrEmpty(Model.ThingsToConsider))
                    {
                        @:None
                    }
                    else
                    {
                        @Model.ThingsToConsider    
                    }
                    
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Considerations_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> considerations</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ThingsToConsider" tag-name="strong" model="@Model"/>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">About the employer</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9 app-check-answers">
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.EmployerNameSectionState">Name of employer on advert</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.EmployerName
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.EmployerName_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> name of organisation</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.EmployerName" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.EmployerDescriptionSectionState">Employer information</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @Model.EmployerDescription
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.AboutEmployer_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> name of organisation</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.EmployerDescription" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.EmployerWebsiteUrlSectionState">Organisation website (optional)</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @(Model.HasEmployerWebsiteUrl ? Model.EmployerWebsiteUrl : "None")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.EmployerWebsiteUrl" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.DisabilityConfidentSectionState">Disability Confident Employer?</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @(Model.IsDisabilityConfident ? "Yes" : "No")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.DisabilityConfident" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.ProviderContactSectionState">Contact name (optional)</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @(Model.HasProviderContactName ? Model.ProviderContactName : "None")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.ProviderContactDetails_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> contact details</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ProviderContact" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.ProviderContactSectionState">Contact email (optional)</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @(Model.HasProviderContactEmail ? Model.ProviderContactEmail : "None")
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt-review-section section-state="@Model.ProviderContactSectionState">Contact number (optional)</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @(Model.HasProviderContactTelephone ? Model.ProviderContactTelephone : "None")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ProviderContact" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt-review-section section-state="@Model.ApplicationMethodSectionState">Application website</dt-review-section>
                <dd class="govuk-summary-list__value">
                    @if (Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)
                    {
                        @Model.ApplicationUrl
                    }
                    else
                    {
                        @Model.FindAnApprenticeshipUrl
                    }
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ApplicationUrl" tag-name="strong" model="@Model"/>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.ApplicationProcess_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> application process</span></a>
                    <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ApplicationMethod" tag-name="strong" model="@Model"/>
                </dd>
            </div>
            @if (Model.HasApplicationInstructions)
            {
                <div class="govuk-summary-list__row">
                    <dt-review-section section-state="@Model.ApplicationInstructionsSectionState">Explain the application process (optional)</dt-review-section>
                    <dd class="govuk-summary-list__value">
                        @(Model.HasApplicationInstructions ? Model.ApplicationInstructions : "None")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <review-field class="govuk-tag--purple" section-state="@FieldIdentifiers.ApplicationInstructions" tag-name="strong" model="@Model"/>
                    </dd>
                </div>
            }
            
        </dl>
        <h2 class="govuk-heading-m">Now submit your vacancy</h2>
        <p class="govuk-body">By submitting this vacancy you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <p class="govuk-body"><a asp-route="@RouteNames.Vacancy_Advert_Preview_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Preview vacancy before submitting</a></p>
         <form asp-route="@RouteNames.Preview_Submit_Post" asp-all-route-data="@Model.RouteDictionary">
             <div class="govuk-button-group">    
                  <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.SubmitButtonText</button>
                  <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
             </div>
          </form>
    </div>
</div>