@model Esfa.Recruit.Provider.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/check-your-answers";
    ViewBag.Title = "Check your answers before submitting your vacancy";
}

@section BackLink {
    <a asp-route="@RouteNames.ProviderTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back to task list</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
        <h1 class="govuk-heading-l">
            Check your answers before submitting your vacancy
        </h1>
        <h2 class="govuk-heading-m">Vacancy summary</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Vacancy title
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.Title
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Title_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> vacancy title</span></a>
                </dd>
            </div>
            @if (Model.AccountLegalEntityCount > 1)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name of organisation
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.LegalEntity_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> legal entity</span></a>
                    </dd>
                </div>   
            }
            @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Training course
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.TrainingTitle
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> training course</span></a>
                    </dd>
                </div>
            }
            else
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Traineeship sector
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.RouteTitle
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.TraineeSector_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> sector</span></a>
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @(_serviceParameters.VacancyType == VacancyType.Apprenticeship
                        ?"Summary of the apprenticeship"
                        :"Summary of the traineeship")
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ShortDescription
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.ShortDescription_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> summary of the vacancy</span></a>
                </dd>
            </div>
            @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
            {
                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">
                        What will the apprentice be doing?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.Raw(Model.VacancyDescription)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.VacancyDescription_Index_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> about the apprenticeship</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">
                        Training and qualification levels
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.Raw(Model.TrainingDescription)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            }
            else
            {
                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">
                        Training provided
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.Raw(Model.TrainingDescription)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.VacancyDescription_Index_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> training provided</span></a>
                    </dd>
                </div>
            }
        </dl>
        <h2 class="govuk-heading-m">
            @(_serviceParameters.VacancyType == VacancyType.Apprenticeship
                ?"Employment details"
                :"Placement details")
        </h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Application closing date
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ClosingDate
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Dates_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> important date</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @(_serviceParameters.VacancyType == VacancyType.Apprenticeship
                        ?"Apprenticeship start date"
                        :"Traineeship start date")
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.PossibleStartDate
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            @if (_serviceParameters.VacancyType == VacancyType.Traineeship)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Work experience
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Html.Raw(Model.WorkExperience)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.WorkExperience_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> work experience</span></a>
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Duration
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.ExpectedDuration
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Duration_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> duration</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Working week details
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.WorkingWeekDescription
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Hours per week
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.HoursPerWeek
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
            {
                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">
                        Pay rate
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.WageText
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Wage_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> wage</span></a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Extra information about pay (optional)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.HasWageInfo?Model.WageInfo:"None")
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number of positions
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.NumberOfPositions available
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.NumberOfPositions_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> number of positions</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    @string.Join(", ", Model.EmployerAddressElements?.Where(s => !string.IsNullOrWhiteSpace(s)).Select(s => s.Trim()) ?? new string[0])
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Location_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> location</span></a>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">Requirements and prospects</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Skills
                </dt>
                <dd class="govuk-summary-list__value">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var skill in Model.Skills)
                        {
                            <li>@skill</li>
                        }
                    </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Skills_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> skills</span></a>
                </dd>
            </div>
            @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Qualifications required
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <ul class="govuk-list govuk-list--bullet">
                            @foreach (var qual in Model.Qualifications)
                            {
                                <li>@qual</li>
                            }
                        </ul>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Qualifications_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> qualifications</span></a>
                    </dd>
                </div>                
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Future prospects
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.Raw(Model.OutcomeDescription)
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.FutureProspects_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> future prospects</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Other things to consider
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.HasThingsToConsider?Model.ThingsToConsider:"None")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.Considerations_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> considerations</span></a>
                </dd>
            </div>
        </dl>
        <h2 class="govuk-heading-m">About the employer</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @(_serviceParameters.VacancyType == VacancyType.Apprenticeship
                        ?"Name of employer on advert"
                        :"Name of employer on vacancy")
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.EmployerName
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.EmployerName_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> name of organisation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Employer information
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.EmployerDescription
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.AboutEmployer_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> name of organisation</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Organisation website (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.HasEmployerWebsiteUrl?Model.EmployerWebsiteUrl:"None")
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Disability Confident Employer?
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.IsDisabilityConfident?"Yes":"No")
                </dd>
                <dd class="govuk-summary-list__actions">
                    
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Contact name (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.HasProviderContactName?Model.ProviderContactName:"None")
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.ProviderContactDetails_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> contact details</span></a>
                </dd>
            </div>
            <div class="govuk-summary-list__row govuk-summary-list--no-border">
                <dt class="govuk-summary-list__key">
                    Contact email (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.HasProviderContactEmail?Model.ProviderContactEmail:"None")
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact number (optional)
                </dt>
                <dd class="govuk-summary-list__value">
                    @(Model.HasProviderContactTelephone?Model.ProviderContactTelephone:"None")
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            @if (_serviceParameters.VacancyType == VacancyType.Apprenticeship)
            {
                <div class="govuk-summary-list__row govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">
                        Application website
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite
                            ? Model.ApplicationUrl
                            : Model.FindAnApprenticeshipUrl)
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link govuk-link--no-visited-state float-right-desktop" asp-route="@RouteNames.ApplicationProcess_Get" asp-all-route-data="@Model.RouteDictionary">Change<span class="govuk-visually-hidden"> application process</span></a>
                    </dd>
                </div>
                @if (Model.HasApplicationInstructions)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Explain the application process (optional)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @(Model.HasApplicationInstructions ? Model.ApplicationInstructions : "None")
                        </dd>
                        <dd class="govuk-summary-list__actions">
                        </dd>
                    </div>
                }
            }
        </dl>
        <h2 class="govuk-heading-m">Now submit your vacancy</h2>
        <p class="govuk-body">By submitting this vacancy you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        <p class="govuk-body"><a asp-route="@RouteNames.Vacancy_Advert_Preview_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Preview vacancy before submitting</a></p>
         <form asp-route="@RouteNames.Preview_Submit_Post" asp-all-route-data="@Model.RouteDictionary">
             <div class="govuk-button-group">    
                  <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.SubmitButtonText</button>
                  <a asp-route="@RouteNames.Dashboard_Get" asp-route-ukprn="@Model.Ukprn" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
             </div>
          </form>
    </div>
</div>