@model Esfa.Recruit.Provider.Web.ViewModels.VacancyManage.ManageVacancyViewModel

@{ 
    ViewBag.GaData.Vpv = "/recruitment/provider/page-manage-vacancy";
    ViewBag.Title = "Manage vacancy";
    var isApprenticeshipVacancyType = _serviceParameters.VacancyType.GetValueOrDefault() == VacancyType.Apprenticeship;
}

@section BackLink {
    <a asp-route="@RouteNames.Vacancies_Get" asp-route-ukprn="@Model.Ukprn" class="govuk-back-link">Back</a>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">

        <div asp-show="@Model.CanShowApplicationsStatusChangeBanner" class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                aria-labelledby="govuk-notification-banner-title"
                data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title">
                    Done
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    @Model.ApplicationReviewStatusChangeBannerHeader
                </h3>
                <p class="govuk-body">@Model.ApplicationReviewStatusChangeBannerMessage</p>
            </div>
        </div>

        <div asp-show="@Model.CanShowApplicationReviewStatusHeader" class="das-notification das-notification--information">
            <p class="das-notification__body">
                @Model.ApplicationReviewStatusHeaderInfoMessage
            </p>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6" id="vacancy-header">
            Manage vacancy
        </h1>
        <p asp-show="@Model.IsWithdrawn" class="govuk-inset-text">
            This vacancy has issues and was closed on @Model.WithdrawnDate.
        </p>
    </div>
    <div class="govuk-grid-column-full">
        <div asp-show="Model.HasVacancyClosedInfoMessage" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    @Model.VacancyClosedInfoMessage
                </h3>
                <p class="govuk-body">The vacancy will be unpublished from @(isApprenticeshipVacancyType ? "Find an apprenticeship" : "Find a traineeship") within the next hour.</p>
            </div>
        </div>
    </div>
</div>

<dl class="das-definition-list das-definition-list--table">
    <dt class="das-definition-list__title das-definition-list__title--spacer">Status</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Status.GetDisplayName()</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Vacancy title</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Title</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Vacancy reference</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer"><span>VAC</span>@Model.VacancyReference</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Closing date</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.ClosingDate</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Possible start date</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.PossibleStartDate</dd>

    <dt class="das-definition-list__title das-definition-list__title--spacer" asp-show="@Model.IsDisabilityConfident">Disability confident</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer" asp-show="@Model.IsDisabilityConfident">Yes</dd>

</dl>


<div class="govuk-button-group">
    <a asp-route="@RouteNames.DisplayFullVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">View vacancy</a>
    <a asp-show="@Model.CanShowCloneVacancyLink" asp-route="@RouteNames.CloneVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Clone vacancy</a>
    <a asp-show="@Model.CanShowEditVacancyLink" asp-route="@RouteNames.VacancyEditDates_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Edit vacancy dates</a>
    <a asp-show="@Model.CanShowCloseVacancyLink" asp-route="@RouteNames.CloseVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Close vacancy</a>
    <a asp-show="@Model.CanShowDeleteVacancyLink" asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Delete vacancy</a>
    
</div>


<div asp-show="@Model.CanShowVacancyAnalytics">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">Vacancy analytics
        <span asp-show="@Model.HasAnalytics" class="govuk-caption-l">Showing stats from @Model.AnalyticsSummary.PeriodCaption</span>
    </h2>
    <p asp-show="@Model.HasAnalytics" class="govuk-body">Analytics show the total amount and the change from the previous 7 days</p>
    <p asp-hide="@Model.HasAnalytics" class="govuk-body">Data is only available for vacancies published after @Model.AnalyticsAvailableAfterApprovalDate.</p>
    <div asp-show="@Model.HasAnalytics">
        <partial asp-show="@Model.IsApplyThroughFaaVacancy" name="@RecruitPartialNames.ApplyThroughFaaVacancyAnalytics" for="AnalyticsSummary" />
        <partial asp-show="@Model.IsApplyThroughExternalApplicationSiteVacancy" name="@RecruitPartialNames.ApplyThroughExternalApplicationSiteVacancyAnalytics" for="AnalyticsSummary" />
    </div>
    
</div>



<div asp-show="@(Model.IsApplyThroughFaaVacancy || Model.IsApplyThroughFatVacancy)">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <h2 class="govuk-heading-l  govuk-!-margin-top-6">Manage applications</h2>
    <esfaFeatureEnabled name="@FeatureNames.ShareApplicationsFeature">
        <p class="govuk-body">
            <a asp-route="@RouteNames.ApplicationReviewsToShare_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-!-margin-top-2 govuk-!-margin-bottom-4">Share multiple applications with employer</a>
        </p>
    </esfaFeatureEnabled>
    <partial asp-show="@Model.HasApplications" name="@PartialNames.VacancyApplicationsTable" for="Applications"/>
    <p asp-show="@Model.HasNoApplications" class="govuk-body govuk-!-margin-bottom-0">Candidate applications for this @(isApprenticeshipVacancyType ? "apprenticeship" : "traineeship") will appear here.</p>
</div>

