@model Esfa.Recruit.Employer.Web.ViewModels.CreateVacancyOptions.CreateVacancyOptionsViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-route="@Model.BackLinkRoute" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">@Model.BackLinkText</a>
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Create vacancy</h1>
        
        <p class="govuk-body">
            You can clone vacancies once they've been submitted.
            Vacancies will be approved or rejected within 24 hours.
        </p>
        <form asp-route="@RouteNames.CreateVacancyOptions_Post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Do you want to create a new vacancy or clone an existing vacancy?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" asp-for="VacancyId" type="radio" value="@Guid.Empty" id="create-new" />
                            <label class="govuk-label govuk-radios__label" for="create-new">Create new vacancy</label> 
                        </div>
                        @foreach (var item in Model.Vacancies)
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" asp-for="VacancyId" type="radio" value="@item.Id" id="@item.Id" /> 
                                <label  class="govuk-label govuk-radios__label" for="@item.Id">@item.VacancyReference
                                    <div class="govuk-hint">
                                        @item.Summary
                                    </div>
                                </label>
                            </div>    
                        }
                    </div>      
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Continue" class="govuk-button" esfa-automation="continue-button" />
            </div>
        </form>
    </div>
</div> 