@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.NumberOfPositions.NumberOfPositionsViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-number-of-positions";
    ViewBag.Title = "How many positions are there for this apprenticeship?";
    ViewBag.ZenDeskLabel = "recruit-how-many-positions-are-there-for-this-apprenticeship";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <a asp-show="@Model.PageInfo.IsWizard" asp-route="@Model.BackLinkRoute" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames}' />
            <partial name="@PartialNames.ReviewSummary" for="Review" />
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">How many positions are there for this apprenticeship?</h1>
        </div>
    </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.NumberOfPositions_Post" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div esfa-validation-marker-for="NumberOfPositions" class="govuk-form-group">
                <span esfa-validation-message-for="NumberOfPositions" class="govuk-error-message"></span>
                <input asp-for="NumberOfPositions" class="govuk-input govuk-input--width-4" type="number" min="1"/>
            </div>

            <button type="submit" class="govuk-button save-button">@Model.PageInfo.SubmitButtonText</button>
            <div class="govuk-body">
                <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" class="govuk-link">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.NumberOfPositionsSection" class="govuk-link">Cancel</a>
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>