@using Microsoft.Extensions.Options;
@using Esfa.Recruit.Shared.Web.Configuration;
@using Esfa.Recruit.Employer.Web.ViewModels.Part1.Employer;
@using Esfa.Recruit.Shared.Web.Mappers
@model EmployerViewModel;
@{ 
    ViewBag.Vpv = "/page-part1-employer";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.NumberOfPositions_Get" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Which organisation is this vacancy for?</h1>

        <form asp-show="@Model.CanShowSearchPanel" method="GET" asp-route="@RouteNames.Employer_Get" asp-route-wizard="@Model.PageInfo.IsWizard">
            <div class="form-group search-field search-field-darker">
                <div class="search-input search-input-with-button">
                    <label class="govuk-label" for="search">
                        Search for the organisation
                    </label>
                    <div class="search-field">
                        <div class="search-input">
                            <input asp-for="SearchTerm" class="govuk-input" maxlength="100" />
                        </div>
                        <div class="search-submit">
                            <button type="submit">Search</button>
                        </div>
                    </div>
                </div>
                <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
                    <a class="govuk-link govuk-body" asp-route="@RouteNames.Employer_Get">Clear search</a>
                </div>
            </div>
        </form>

        <form asp-route="@RouteNames.Employer_Post" asp-route-wizard="@Model.PageInfo.IsWizard">
            <div esfa-validation-marker-for="SelectedOrganisationId" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                        <span asp-hide="@Model.HasNoSearchResults" class="govuk-label govuk-!-font-weight-bold">Which organisation is the vacancy for?</span>
                    </legend>
                    <span esfa-validation-message-for="SelectedOrganisationId" class="govuk-error-message"></span>
                    <input type="hidden" asp-for="SearchTerm" />
                    <input type="hidden" asp-for="Page" />
                    <span asp-show="@Model.HasNoSearchResults" class="govuk-body">@Model.NoSearchResultsCaption</span>
                    <div class="govuk-radios">
                    @foreach (var organisation in Model.Organisations)
                    {
                        <div class="govuk-radios__item">
                            <input asp-for="SelectedOrganisationId" type="radio" value="@organisation.Id" class="govuk-radios__input" id="org-@organisation.Id" esfa-automation="selected-organisation-id">
                            <label for="org-@organisation.Id" class="govuk-label govuk-radios__label">@organisation.Name</label>
                        </div>
                    }
                        <input asp-show="@Model.CanOutputHiddenSelectedOrganisationIdField" type="hidden" asp-for="SelectedOrganisationId" />
                    </div>
                </fieldset>
            </div>

            <partial name="@PartialNames.Pager" model="@Model.Pager" />

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Continue</button>

            <a asp-route="@RouteNames.Employer_Cancel" asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link das-button-link">Cancel</a>
        </form>
    </div>
</div>