@using Microsoft.Extensions.Options;
@using Esfa.Recruit.Employer.Web.ViewModels.Part1.Employer;
@model EmployerViewModel
@inject IOptions<PostcodeAnywhereConfiguration> PcaConfig
<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge small-bottom-margin">Make your vacancy stand out in a search</h1>
        <p>
            Apprentice candidates will see your vacancy in a search along with vacancies from other employers. This is your
            opportunity to make your vacancy attract the best candidates
        </p>

        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames })
        <div class="todo">
            <h3 asp-condition="@Model.PageInfo.IsWizard" class="heading-medium no-top-margin">Step 3 of 6</h3>
            <div asp-condition="@Model.HasOnlyOneOrganisation"><p>@Model.Organisations.First().Name</p></div>
            <form asp-route="@RouteNames.Employer_Post" asp-route-wizard="@Model.PageInfo.IsWizard">
                <div esfa-validation-marker-for="SelectedOrganisationName" class="form-group">

                    <input asp-condition="@Model.HasOnlyOneOrganisation" asp-for="SelectedOrganisationName" value="@Model.Organisations.First().Name" type="hidden" />

                    <fieldset asp-condition="@Model.HasMoreThanOneOrganisation">
                        <legend>
                            <span class="form-label-bold">Which organisation is the vacancy for?</span>
                        </legend>
                        <span esfa-validation-message-for="SelectedOrganisationName" class="error-message"></span>

                        @foreach (var organisation in Model.Organisations)
                        {
                            <div class="multiple-choice">
                                <input asp-for="SelectedOrganisationName" type="radio" value="@organisation.Name" id="org-@organisation.Id">
                                <label for="org-@organisation.Id">@organisation.Name</label>
                            </div>
                        }
                    </fieldset>

                </div>

                <div id="address-details" class="address-manual-input">
                    <label class="form-label-bold">Enter the address where the apprenticeship will take place.</label>
                    <div esfa-validation-marker-for="AddressLine1" class="form-group-compound address-item form-group">
                        <label asp-for="AddressLine1" class="form-label">Address</label>
                        <span esfa-validation-message-for="AddressLine1" class="error-message"></span>
                        <input asp-for="AddressLine1" class="form-control-large form-control postcode-lookup" maxlength="100" />
                    </div>
                    <div esfa-validation-marker-for="AddressLine2" class="form-group-compound address-item form-group">
                        <label asp-for="AddressLine2" class="visuallyhidden">Address line 2</label>
                        <span esfa-validation-message-for="AddressLine2" class="error-message"></span>
                        <input asp-for="AddressLine2" class="form-control-large form-control" maxlength="100" />
                    </div>
                    <div esfa-validation-marker-for="AddressLine3" class="form-group-compound address-item form-group">
                        <label asp-for="AddressLine3" class="visuallyhidden">Address line 3</label>
                        <span esfa-validation-message-for="AddressLine3" class="error-message"></span>
                        <input asp-for="AddressLine3" class="form-control-large form-control" maxlength="100" />
                    </div>
                    <div esfa-validation-marker-for="AddressLine4" class="form-group-compound address-item form-group">
                        <label asp-for="AddressLine4" class="visuallyhidden">Address line 4</label>
                        <span esfa-validation-message-for="AddressLine4" class="error-message"></span>
                        <input asp-for="AddressLine4" class="form-control-large form-control" maxlength="100" />
                    </div>
                    <div esfa-validation-marker-for="Postcode" class="form-group address-item form-group">
                        <label asp-for="Postcode" class="form-label">Postcode</label>
                        <span esfa-validation-message-for="Postcode" class="error-message"></span>
                        <input asp-for="Postcode" class="form-control-large form-control postcode-lookup" maxlength="8" />
                    </div>
                </div>

                <button type="submit" class="button save-button">@Model.PageInfo.SubmitButtonText</button>

                <a asp-condition="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Cancel</a>
                <a asp-condition="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@PreviewAnchors.AboutEmployerSection" class="button-link">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section HeadJS
{
<script>
window.EsfaRecruit.PcaConfig = {
    key: '@PcaConfig.Value.Key',
    findEndpoint: '@PcaConfig.Value.FindEndpoint',
    retrieveEndpoint: '@PcaConfig.Value.RetrieveEndpoint'
};
</script>
}
@section FooterJS
{
<script asp-condition="@Model.HasMoreThanOneOrganisation">
$(document).ready(function() {
    var orgInputName = @nameof(EmployerViewModel.SelectedOrganisationName);
	var addresses = @Json.Serialize(Model.Organisations);

	var setAddressById = function(id) {
		for (var pos in addresses) {
			if (addresses[pos].id === id) {
				var matchedItem = addresses[pos];
				$("#AddressLine1").val(matchedItem.address.addressLine1);
				$("#AddressLine2").val(matchedItem.address.addressLine2);
				$("#AddressLine3").val(matchedItem.address.addressLine3);
				$("#AddressLine4").val(matchedItem.address.addressLine4);
				$("#Postcode").val(matchedItem.address.postcode);
			}
		}
	};

    $("input[name='" + orgInputName + "']").click(function(e) {
        var orgId = $(e.target).attr('id').slice(4);
        setAddressById(orgId);
    });
});
</script>

<script src="/lib/jquery-ui/dist/jquery-ui.min.js"></script>
<script asp-append-version="true" src="/lib/esfa-postcode/lookupService.js"></script>
}