@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Employer.EmployerViewModel

<div class="grid-row">
    <div class="column-full">

        @Html.Partial("_Part1Header")

        @Html.Partial("_ValidationSummary", ViewData.ModelState)

        <div id="section_location">
            @if (Model.HasOnlyOneOrganisation)
            {
            <div>@Model.Organisations.First().Name</div>
            }
            <form asp-route="@RouteNames.Employer_Post">
                <div class="form-group">
                @if (Model.HasOnlyOneOrganisation)
                {
                    <input asp-for="SelectedOrganisationId" value="@Model.Organisations.First().Id" type="hidden" />
                }
                else
                {
                <fieldset>
                    <legend>
                        <span class="form-label-bold">Which organisation is the vacancy for?</span>
                    </legend>
                    <span asp-validation-for="SelectedOrganisationId" class="error-message"></span>

                    @foreach (var organisation in Model.Organisations)
                    {
                    <div class="multiple-choice">
                        <input asp-for="SelectedOrganisationId" type="radio" value="@organisation.Id" id="org-@organisation.Id">
                        <label for="org-@organisation.Id">@organisation.Name</label>
                    </div>
                    }
                </fieldset>
                }
                </div>

                <div id="address-details" class="address-manual-input">
                    <label class="form-label-bold">Is this the address where the apprenticeship will take place? If not, enter manually.</label>

                    <div class="form-group-compound address-item form-group">
                        <label asp-for="AddressLine1" class="form-label">Address</label>
                        <span asp-validation-for="AddressLine1" class="error-message"></span>
                        <input asp-for="AddressLine1" class="form-control-large form-control" maxlength="100" />
                    </div>

                    <div class="form-group-compound address-item form-group">
                        <span asp-validation-for="AddressLine2" class="error-message"></span>
                        <input asp-for="AddressLine2" class="form-control-large form-control" maxlength="100" />
                    </div>

                    <div class="form-group-compound address-item form-group">
                        <span asp-validation-for="AddressLine3" class="error-message"></span>
                        <input asp-for="AddressLine3" class="form-control-large form-control" maxlength="100" />
                    </div>

                    <div class="form-group-compound address-item form-group">
                        <span asp-validation-for="AddressLine4" class="error-message"></span>
                        <input asp-for="AddressLine4" class="form-control-large form-control" maxlength="100" />
                    </div>

                    <div class="form-group-compound address-item form-group">
                        <label asp-for="Postcode" class="form-label">Postcode</label>
                        <span asp-validation-for="Postcode" class="error-message"></span>
                        <input asp-for="Postcode" class="form-control-large form-control" maxlength="8" />
                    </div>

                </div>

                <button type="submit" class="button">Save and continue</button>
                <a asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Cancel</a>
            </form>
            <hr>
        </div>

    </div>
</div>