@using Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview
@{ 
  ViewBag.Vpv = "/recruitment/employer/advert-preview";
  ViewBag.Title = "Advert preview"; 
}

@model VacancyPreviewViewModel

@section BackLink {
  <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="link-back" class="govuk-back-link">Back to check your answers</a>
}

<h1 class="govuk-heading-xl">Preview your advert</h1>

<partial name="_vacancyApprenticeshipPreview" model="@Model" />    


<form asp-route="@RouteNames.EmployerCheckYourAnswersSubmitPost" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Now submit your advert</h2>
      <p class="govuk-body">By submitting this advert you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
              <span class="govuk-warning-text__assistive">Warning</span>
              Proofread your advert for spelling and formatting to avoid it being rejected by our QA team.
          </strong>
      </div>
      <div class="govuk-button-group">
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Submit advert
        </button>
        <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" class="govuk-button govuk-button--secondary">Change your advert</a>
      </div>
    </div>
  </div>
</form>
<div asp-show="@Model.CanDelete" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <p class="govuk-body">
    <a asp-route="@RouteNames.DeleteVacancy_Get" class="govuk-link govuk-link--no-visited-state" esfa-automation="delete-button">Delete advert</a>
  </p>
  </div>
</div>



