@using Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview
@{ 
  ViewBag.Vpv = "/recruitment/employer/advert-preview";
  ViewBag.Title = "Advert preview"; 
}

@model VacancyPreviewViewModel

@section BackLink {
  <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState}' />

<h1 class="govuk-heading-xl">Preview your advert</h1>

<div class="govuk-inset-text">
    Proofread your advert before submitting. We might reject your advert if it has spelling or formatting errors.
</div>

<partial name="_vacancyApprenticeshipPreview" model="@Model" />

<p class="govuk-!-margin-top-8">
    <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-to-check-your-answers" class="govuk-link">Return to previous page to submit</a>
</p>