@using Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview
@{ 
  ViewBag.Vpv = "/recruitment/employer/advert-preview";
  ViewBag.Title = "Advert preview"; 
}

@model VacancyPreviewViewModel

@section BackLink {
  <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back to check your answers</a>
}

<div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-xl">Preview your advert</h1>
    <div class="govuk-inset-text">
        Proofread your advert before submitting. We might reject your advert if it has spelling or formatting errors.
    </div>
</div>

<partial name="_vacancyApprenticeshipPreview" model="@Model" />    


<form asp-route="@RouteNames.Preview_Submit_Post" asp-all-route-data="@Model.RouteDictionary" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Submit your advert</h2>
      <div class="govuk-form-group @(ViewData.ModelState.ContainsKey("HasUserConfirmation") ? "govuk-form-group--error" : "")">
          <fieldset class="govuk-fieldset">
              <div class="govuk-checkboxes">
                  <span asp-validation-for="HasUserConfirmation" class="govuk-error-message"></span>
                  <div class="govuk-checkboxes__item">
                      <input asp-for="HasUserConfirmation" class="govuk-checkboxes__input" type="checkbox">
                      <label asp-for="HasUserConfirmation" class="govuk-label govuk-checkboxes__label">
                          To the best of my knowledge, all information I've provided is correct
                      </label>
                  </div>
              </div>
          </fieldset>
      </div>
      <div class="govuk-button-group">
        <input type="hidden" name="answers-checked" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Submit advert
        </button>
        <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-button govuk-button--secondary">Change your advert</a>
      </div>
    </div>
  </div>
</form>

<div asp-show="@Model.CanDelete" class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">  
      <p class="govuk-heading-s">Delete this advert</p>
      <a asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-button govuk-button--warning" esfa-automation="delete-button">Delete advert</a>
  </div>
</div>



