@model Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview.JobAdvertConfirmationViewModel

@{ ViewBag.GaData.Vpv = "/recruitment/employer/page-advert-submitted-for-approval"; }

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <div asp-show="@Model.ApprovedJobAdvert">
                <h1 class="govuk-panel__title">
                    You've submitted this job advert
                </h1>
            </div>
            <div asp-show="@Model.RejectedJobAdvert">
                <h1 class="govuk-panel__title">
                    You've rejected this job advert
                </h1>
            </div>
            <div class="govuk-panel__body">
                <div asp-show="@Model.HasVacancyReference">
                    Advert reference number <br>
                    <strong class="govuk-!-font-weight-bold">VAC@(Model.VacancyReference)</strong>
                </div>
            </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <div asp-show="@Model.ApprovedJobAdvert">
            <p class="govuk-body">We'll check the advert within one working day and let your training provider know if there are any edits.</p>
            <p class="govuk-body">When we approve your advert, it will appear on the <a href="@Model.FindAnApprenticeshipUrl" target="_blank" class="govuk-link govuk-link--no-visited-state">Find an apprenticeship service (opens in a new tab)</a>.</p>
        </div>
        <div asp-show="@Model.RejectedJobAdvert">
            <p class="govuk-body">This job advert has gone back to @Model.TrainingProviderName.</p>
        </div>
        <p class="govuk-body">Go to <a asp-route="@RouteNames.Dashboard_Get" class="govuk-link govuk-link--no-visited-state">your apprenticeship adverts</a></p>
    </div>
</div>