@model Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview.RejectJobAdvertViewModel

@{ ViewBag.Vpv = "/recruitment/employer/reject-job-advert";
ViewBag.Title = "Are you sure you want to reject this job advert?"; }

@section BackLink {
    <a asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back to check your answers</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />
        <form asp-route="@RouteNames.RejectJobAdvert_Post"  asp-all-route-data="@Model.RouteDictionary">
            <div esfa-validation-marker-for="RejectJobAdvert" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Are you sure you want to reject this job advert?
                        </h1>
                    </legend>
                    <p class="govuk-body">This job advert will go back to @Model.TrainingProviderName.</p>
                    <div class="govuk-inset-text">
                        <p class="govuk-!-font-weight-bold">Rejection reason</p>
                        <p>@Model.RejectionReason</p>
                    </div>
                    <span esfa-validation-message-for="RejectJobAdvert" class="govuk-error-message"></span>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input asp-for="RejectJobAdvert" class="govuk-radios__input" id="reject-job-advert-yes" type="radio" value="true">
                            <label for="reject-job-advert-yes" class="govuk-label govuk-radios__label">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="RejectJobAdvert" class="govuk-radios__input" id="reject-job-advert-no" type="radio" value="false">
                            <label for="reject-job-advert-no" class="govuk-label govuk-radios__label">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <input type="submit" value="Continue" class="govuk-button" />
        </form>
    </div>
</div>