@using Microsoft.AspNetCore.Html
@using Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview
@model Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@functions
{
    const string emptySectionClass = "preview-empty";
    const string errorSectionClass = "preview-error";

    public string GetSectionClass(VacancyPreviewSectionState state)
    {
        switch (state)
        {
            case VacancyPreviewSectionState.Valid:
                return string.Empty;
            case VacancyPreviewSectionState.Incomplete:
                return emptySectionClass;
            default:
                return errorSectionClass;
        }
    }

    public IHtmlContent EditLink(string routeName, VacancyPreviewSectionState state, string id)
    {
        if(state == VacancyPreviewSectionState.Incomplete)
        {
            return Html.RouteLink("Add", routeName, null, new { @class = "button-secondary", data_automation=id });
        }
        return Html.RouteLink("Edit", routeName, null, new { data_automation=id });
    }
}

<div class="grid-row">
    <div class="column-full">
        <h1 class="heading-xlarge small-bottom-margin">Complete your vacancy</h1>
        @Html.Partial("_ValidationSummary", new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames })
        <div asp-condition="@ViewData.ModelState.IsValid" class="info-summary no-top-margin" role="alert">			
            <p>Fill in the sections highlighted by a blue bar using the <a class="button-secondary">Add</a> button</p>    
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-xlarge small-bottom-margin">
            @Model.Title
            <span class="heading-secondary">@Model.EmployerName</span>
        </h2>
        <a esfa-automation="link-employer-name" asp-route="@RouteNames.Title_Get">Edit</a>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="@GetSectionClass(Model.ShortDescriptionSectionState)">
            <h3 class="heading-small no-top-margin">Brief overview of the role</h3>
            <span esfa-validation-message-for="ShortDescription" class="error-message"></span>
            <p asp-condition="@Model.HasShortDescription">@Model.ShortDescription</p>
            @EditLink(RouteNames.Title_Get, Model.ShortDescriptionSectionState, "link-overview")
        </div>
    </div>
    <div class="column-one-third">
        <div class="@GetSectionClass(Model.ClosingDateSectionState)">
            <h3 class="heading-small no-top-margin">Closing Date</h3>
            <span esfa-validation-message-for="ClosingDate" class="error-message"></span>
            <p asp-condition="@Model.HasClosingDate">@Model.ClosingDate</p>
            @EditLink(RouteNames.Title_Get, Model.ClosingDateSectionState, "link-closing-date")
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Apprenticeship summary</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-one-third">
        <ul class="list">
            <li class="@GetSectionClass(Model.WorkingWeekSectionState)">
                <h3 class="heading-small">Working week</h3>
                <span esfa-validation-message-for="Wage" class="error-message"></span>
                <div asp-condition="@Model.Wage">
                    <span esfa-validation-message-for="WorkingWeekDescription" class="error-message"></span>
                    <div asp-condition="@Model.HasWorkingWeekDescription">
                        @Model.WorkingWeekDescription
                    </div>
                    <span esfa-validation-message-for="HoursPerWeek" class="error-message"></span>
                    <div asp-condition="@Model.HasHoursPerWeek">
                        Total hours per week: @Model.HoursPerWeek
                    </div>
                </div>
                @EditLink(RouteNames.Title_Get, Model.WorkingWeekSectionState, "link-working-week")
            </li>
            <li class="@GetSectionClass(Model.WageTextSectionState)">
                <h3 class="heading-small">Yearly wage</h3>
                <span esfa-validation-message-for="WageText" class="error-message"></span>
                <p asp-condition="@Model.HasWageText">@Model.WageText</p>
                <span esfa-validation-message-for="WageInfo" class="error-message"></span>
                <p asp-condition="@Model.HasWageInfo">@Model.WageInfo</p>
                @EditLink(RouteNames.Title_Get, Model.WageTextSectionState, "link-salary")
            </li>
            <li class="@GetSectionClass(Model.ExpectedDurationSectionState)">
                <h3 class="heading-small">Expected apprenticeship duration</h3>
                <span esfa-validation-message-for="ExpectedDuration" class="error-message"></span>
                <p asp-condition="@Model.HasExpectedDuration">@Model.ExpectedDuration</p>
                @EditLink(RouteNames.Title_Get, Model.ExpectedDurationSectionState, "link-duration")
                
            </li>
            <li class="@GetSectionClass(Model.PossibleStartDateSectionState)">
                <h3 class="heading-small">Possible start date</h3>
                <span esfa-validation-message-for="PossibleStartDate" class="error-message"></span>
                <p asp-condition="@Model.HasPossibleStartDate">@Model.PossibleStartDate</p>
                @EditLink(RouteNames.Title_Get, Model.PossibleStartDateSectionState, "link-start-date")
            </li>
            <li class="@GetSectionClass(Model.TrainingLevelSectionState)">
                <h3 class="heading-small">Apprenticeship level</h3>
                <span esfa-validation-message-for="Programme" class="error-message"></span>
                <span esfa-validation-message-for="TrainingLevel" class="error-message"></span>
                <p asp-condition="@Model.HasTrainingLevel">@Model.TrainingLevel Level Apprenticeship</p>
                @EditLink(RouteNames.Title_Get, Model.TrainingLevelSectionState, "link-apprenticeship-level")
            </li>
            <li asp-condition="@Model.CanShowReference">
                <h3 class="heading-small">Reference number</h3>
                <p>@Model.VacancyReferenceNumber</p>
            </li>
            <li class="@GetSectionClass(Model.NumberOfPositionsSectionState)">
                <h3 class="heading-small">Positions</h3>
                <span esfa-validation-message-for="NumberOfPositions" class="error-message"></span>
                <p asp-condition="@Model.HasNumberOfPositionsCaption">@Model.NumberOfPositionsCaption</p>
                @EditLink(RouteNames.Title_Get, Model.NumberOfPositionsSectionState, "link-positions")
            </li>
        </ul>
    </div>
    <div class="column-two-thirds">
        <div class="@GetSectionClass(Model.DescriptionsSectionState)">
            <h3 class="heading-small">
                Vacancy description
            </h3>
            <div>
                <span esfa-validation-message-for="VacancyDescription" class="error-message"></span>
                <p asp-condition="@Model.HasVacancyDescription">@Model.VacancyDescription</p>
                <span esfa-validation-message-for="TrainingDescription" class="error-message"></span>
                <p asp-condition="@Model.HasTrainingDescription">@Model.TrainingDescription</p>
                <span esfa-validation-message-for="OutcomeDescription" class="error-message"></span>
                <p asp-condition="@Model.HasOutcomeDescription">@Model.OutcomeDescription</p>
            </div>
            @EditLink(RouteNames.VacancyDescription_Index_Get, Model.DescriptionsSectionState, "link-vacancy-description")
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>


<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Requirements and prospects</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <div class="@GetSectionClass(Model.SkillsSectionState)">
            <h3 class="heading-small">Desired skills and personal qualities</h3>
            <span esfa-validation-message-for="Skills" class="error-message"></span>
            <p asp-condition="@Model.HasSkills" >@string.Join(", ", Model.Skills)</p>
            @EditLink(RouteNames.Skills_Get, Model.SkillsSectionState, "link-skills")
        </div>
        <div class="@GetSectionClass(Model.QualificationsSectionState)">
            <h3 class="heading-small">Qualifications</h3>
            <span esfa-validation-message-for="Qualifications" class="error-message"></span>
            <p asp-condition="@Model.HasQualifications">
                @foreach (var qualification in Model.Qualifications)
                {
                    @qualification<br />
                }
            </p>
            @EditLink(RouteNames.Qualifications_Get, Model.QualificationsSectionState, "link-qualifications")
        </div>
    </div>
    <div class="column-half">
        <div class="@GetSectionClass(Model.ThingsToConsiderSectionState)">
            <h3 class="heading-small">Things to consider (optional)</h3>
            <span esfa-validation-message-for="ThingsToConsider" class="error-message"></span>
            <p asp-condition="@Model.HasThingsToConsider">@Model.ThingsToConsider</p>
            @EditLink(RouteNames.Considerations_Get, Model.ThingsToConsiderSectionState, "link-things-to-consider")
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">About the employer</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <div class="@GetSectionClass(Model.EmployerNameSectionState)">
            <h3 class="heading-small">Employer</h3>
            <span esfa-validation-message-for="EmployerName" class="error-message"></span>
            <p asp-condition="@Model.HasEmployerName">@Model.EmployerName</p>
            @EditLink(RouteNames.Title_Get, Model.EmployerNameSectionState, "link-employer")
        </div>
        <div class="@GetSectionClass(Model.EmployerDescriptionSectionState)">
            <h3 class="heading-small">Description</h3>
            <span esfa-validation-message-for="EmployerDescription" class="error-message"></span>
            <p asp-condition="@Model.HasEmployerDescription">@Model.EmployerDescription</p>
            @EditLink(RouteNames.AboutEmployer_Get, Model.EmployerDescriptionSectionState, "link-description")
        </div>
        <div class="@GetSectionClass(Model.EmployerWebsiteUrlSectionState)">
            <h3 class="heading-small">Website (optional)</h3>
            <span esfa-validation-message-for="EmployerWebsiteUrl" class="error-message"></span>
            <p asp-condition="@Model.HasEmployerWebsiteUrl">@Model.EmployerWebsiteUrl</p>
            @EditLink(RouteNames.AboutEmployer_Get, Model.EmployerWebsiteUrlSectionState, "link-website")
        </div>
    </div>
    <div class="column-one-third">
        <div class="@GetSectionClass(Model.ContactSectionState)">
            <h3 class="heading-small">
                Contact details (optional)
            </h3>
            <span esfa-validation-message-for="ContactName" class="error-message"></span>
            <p asp-condition="@Model.HasContactName">@Model.ContactName</p>
            <span esfa-validation-message-for="ContactEmail" class="error-message"></span>
            <p asp-condition="@Model.HasContactEmail">@Model.ContactEmail</p>
            <span esfa-validation-message-for="ContactTelephone" class="error-message"></span>
            <p asp-condition="@Model.HasContactTelephone">@Model.ContactTelephone</p>
            @EditLink(RouteNames.EmployerContactDetails_Get, Model.ContactSectionState, "link-contact-details")
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-half">
        <div class="@GetSectionClass(Model.EmployerAddressSectionState)">
            <h3 class="heading-small">Location</h3>
            <span esfa-validation-message-for="EmployerAddressElements" class="error-message"></span>
            <ul asp-condition="@Model.HasEmployerAddressElements" class="list">
                @foreach (var addrLine in Model.EmployerAddressElements)
                {
                    <li>@addrLine</li>
                }
            </ul>
            @EditLink(RouteNames.Title_Get, Model.EmployerAddressSectionState, "link-location")
        </div>
    </div>
    <div class="column-half">
        <img asp-condition="@Model.HasMapUrl" id="static-map" src="@Model.MapUrl" alt="Location map" />
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>
            
<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Training provider</h2>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <div class="@GetSectionClass(Model.ProviderSectionState)">
            <h3 class="heading-small">Training provider</h3>
            <span esfa-validation-message-for="ProviderName" class="error-message"></span>
            <p asp-condition="@Model.HasProviderName">@Model.ProviderName</p>
            @EditLink(RouteNames.TrainingProvider_Select_Get, Model.ProviderSectionState, "link-training-provider")
        </div>
        <div class="@GetSectionClass(Model.TrainingSectionState)">
            <h3 class="heading-small">Apprenticeship @Model.TrainingType</h3>
            <p asp-condition="@Model.HasTrainingTitle">@Model.TrainingTitle</p>
            @EditLink(RouteNames.Title_Get, Model.TrainingSectionState, "link-standard")
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <h2 class="heading-large">Employer's application instructions</h2>
        <div class="@GetSectionClass(Model.ApplicationInstructionsSectionState)">
            <h2 class="heading-small">Explain the application process (optional)</h2>
            <span esfa-validation-message-for="ApplicationInstructions" class="error-message"></span>
            <p asp-condition="@Model.HasApplicationInstructions">@Model.ApplicationInstructions</p>
            @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationInstructionsSectionState, "link-application-instructions")
        </div>
        <p>This apprenticeship requires you to apply through the employer's website.</p>
        <div class="@GetSectionClass(Model.ApplicationUrlSectionState)"> 
            <h2 class="heading-small">Apply now web address</h2>
            <span esfa-validation-message-for="ApplicationUrl" class="error-message"></span>
            <p asp-condition="@Model.HasApplicationUrl">@Model.ApplicationUrl</p>
            @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationUrlSectionState, "link-application-link")  
        </div>
        <p class="font-xsmall">Closing date: @Model.ClosingDate</p>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <hr class="no-bottom-margin">
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <div class="form-group inline">
            <div class="form-group small-top-margin">
                <form asp-condition="@Model.CanSubmit" asp-route="@RouteNames.Preview_Submit_Post" class="form-inline">
                    <input type="submit" value="Submit vacancy" class="button" />
                </form>
                <a asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Return to dashboard</a>
                <a asp-condition="@Model.CanDelete"  asp-route="@RouteNames.DeleteVacancy_Delete_Get" class="button-link">Delete</a>
            </div>
        </div>
    </div>
</div>