@using Microsoft.AspNetCore.Html
@using Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview
@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-vacancy-preview";
    ViewBag.Title = "Preview your advert"; 
}

@model VacancyPreviewViewModel


@functions
{
    const string EmptySectionClass = "app-preview-section--empty";
    const string ErrorSectionClass = "app-preview-section--error";
    const string ReviewSectionClass = "app-preview-section--review";

    public string GetSectionClass(VacancyPreviewSectionState state)
    {
        switch (state)
        {
            case VacancyPreviewSectionState.Valid:
                return string.Empty;
            case VacancyPreviewSectionState.Incomplete:
                return EmptySectionClass;
            case VacancyPreviewSectionState.Review:
                return ReviewSectionClass;
            default:
                return ErrorSectionClass;
        }
    }

    public IHtmlContent EditLink(string routeName, VacancyPreviewSectionState state, string screenReaderText, string id, object routeValues = null)
    {
        if (state == VacancyPreviewSectionState.Incomplete || state == VacancyPreviewSectionState.InvalidIncomplete)
        {
            return VacancyPreviewHelper.ActionLink(Url, "Add", routeName, routeValues, screenReaderText, "govuk-button govuk-button--secondary govuk-!-margin-bottom-0", id);
        }
        return VacancyPreviewHelper.ActionLink(Url, "Change", routeName, routeValues, screenReaderText, "govuk-body govuk-link govuk-link--no-visited-state", id);
    }

    public string ProviderReviewClass(VacancyPreviewViewModel model, string fieldIdentifier)
    {
        return ProviderReviewClass(model, new string[] { fieldIdentifier });
    }

    public string ProviderReviewClass(VacancyPreviewViewModel model, string[] fieldIdentifiers)
    {
        if (model.Status != VacancyStatus.Review && model.Status != VacancyStatus.Referred)
            return string.Empty;

        return (model.ProviderReviewFieldIndicators?.Any(p => fieldIdentifiers.Contains(p.FieldIdentifier) && p.IsChangeRequested) ?? false)
            ? "govuk-inset-text"
            : string.Empty;
    }

    public string ApprenticeshipSummaryProviderReviewClass(VacancyPreviewViewModel model)
    {
        var fieldIndicators = new string[]
        {
            FieldIdentifiers.Wage,
            FieldIdentifiers.WorkingWeek,
            FieldIdentifiers.ExpectedDuration,
            FieldIdentifiers.PossibleStartDate,
            FieldIdentifiers.TrainingLevel,
            FieldIdentifiers.NumberOfPositions,
            FieldIdentifiers.VacancyDescription,
            FieldIdentifiers.TrainingDescription,
            FieldIdentifiers.OutcomeDescription
        };

        return ProviderReviewClass(model, fieldIndicators);
    }

    public string RequirementsAndProspectsProviderReviewClass(VacancyPreviewViewModel model)
    {
        var fieldIndicators = new string[]
        {
            FieldIdentifiers.Skills,
            FieldIdentifiers.Qualifications,
            FieldIdentifiers.ThingsToConsider
        };

        return ProviderReviewClass(model, fieldIndicators);
    }

    public string AboutEmployerReviewClass(VacancyPreviewViewModel model)
    {
        var fieldIndicators = new string[]
        {
            FieldIdentifiers.EmployerDescription,
            FieldIdentifiers.EmployerName,
            FieldIdentifiers.DisabilityConfident,
            FieldIdentifiers.EmployerWebsiteUrl
        };

        return ProviderReviewClass(model, fieldIndicators);
    }

    public string TrainingProviderReviewClass(VacancyPreviewViewModel model)
    {
        var fieldIndicators = new string[]
        {
            FieldIdentifiers.Training,
            FieldIdentifiers.Provider,
        };

        return ProviderReviewClass(model, fieldIndicators);
    }

    public string ApplicationProcessReviewClass(VacancyPreviewViewModel model)
    {
        var fieldIndicators = new string[]
        {
            FieldIdentifiers.ApplicationMethod,
            FieldIdentifiers.ApplicationUrl,
            FieldIdentifiers.ApplicationInstructions
        };

        return ProviderReviewClass(model, fieldIndicators);
    }

    public bool ShowProviderReviewFlag(VacancyPreviewViewModel model, string fieldIdentifier)
    {
        if (model.Status != VacancyStatus.Review && model.Status != VacancyStatus.Referred)
            return false;

        return model.ProviderReviewFieldIndicators?.Any(p => p.FieldIdentifier == fieldIdentifier && p.IsChangeRequested) ?? false;
    }

    public IHtmlContent ProviderReviewFlag(VacancyPreviewViewModel model, string fieldIdentifier)
    {
        if (model.ProviderReviewFieldIndicators?.Any(p => p.FieldIdentifier == fieldIdentifier && p.IsChangeRequested) ?? false)
        {
            var providerReviewFlag = new TagBuilder("strong");
            providerReviewFlag.AddCssClass("govuk-tag govuk-tag--orange");
            providerReviewFlag.InnerHtml.Append("AMENDED BY PROVIDER");
            return providerReviewFlag;
        }

        return new HtmlString(string.Empty);
    } 
}

<div asp-show="Model.CanShowVacancyClonedStatusHeader" class="info-summary highlight-summary">
    <p class="govuk-!-margin-bottom-0 govuk-body">@Model.VacancyClonedInfoMessage</p>
</div>

<div asp-show="@Model.IsTransferred">
    <p class="govuk-inset-text">
        This vacancy was created by
        <span class="govuk-!-font-weight-bold">@Model.TransferredProviderName</span>
        and transferred to your account on @Model.TransferredOnDate
    </p>
</div>

<partial asp-hide="@Model.CanHideValidationSummary" name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }' />

<div class="govuk-notification-banner">

    <div class="govuk-notification-banner__header" asp-show="@Model.HasIncompleteMandatorySections">
        <h2 class="govuk-notification-banner__title">@Model.IncompleteRequiredSectionCount required @Model.IncompleteRequiredSectionText to complete</h2>
    </div>

    <div class="govuk-notification-banner__header" asp-hide="@Model.HasIncompleteMandatorySections">
        <h2 class="govuk-notification-banner__title">You have completed all required sections</h2>
    </div>

    <div asp-show="@Model.ShowIncompleteSections" class="govuk-notification-banner__content" role="alert">
        <div asp-show="Model.HasSoftValidationErrors">
            <p class="govuk-body">
                Sections you will need to update:
            </p>
            <ul class=" govuk-list govuk-error-summary__list govuk-!-margin-bottom-4">
                @foreach (var softError in Model.SoftValidationErrors.Errors.OrderBy(x => Model.OrderedFieldNames.IndexOf(x.PropertyName)))
                {
                    var softErrorVm = new ErrorListItemViewModel(softError.PropertyName, softError.ErrorMessage);
                    <partial name="@RecruitPartialNames.ErrorListItem" model="@softErrorVm" />
                }
            </ul>
        </div>
        <div asp-show="@Model.HasIncompleteMandatorySections">
            <p class="govuk-body">Sections you will need to complete:</p>
            <ul class="govuk-list">
                <li asp-hide="@Model.HasShortDescription"><a asp-fragment="@Anchors.ShortDescriptionSection" class="govuk-link summary-link">Brief overview</a></li>
                <li asp-hide="@Model.HasVacancyTrainingOutcomeDescriptions"><a asp-fragment="@Anchors.VacancyDescriptionSection" class="govuk-link summary-link">Description of the apprenticeship</a></li>
                <li asp-show="@Model.HasIncompleteSkillsSection"><a asp-fragment="@Anchors.Skills" class="govuk-link summary-link">Desired skills and personal qualities</a></li>
                <li asp-show="@Model.HasIncompleteQualificationsSection"><a asp-fragment="@Anchors.Qualifications" class="govuk-link summary-link">Qualifications</a></li>
                <li asp-show="@Model.HasIncompleteEmployerDescriptionSection"><a asp-fragment="@Anchors.EmployerDescription" class="govuk-link summary-link">Employer description</a></li>
                @if (Model.Status != VacancyStatus.Review)
                {
                    <li asp-show="@Model.HasIncompleteTrainingProviderSection"><a asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link summary-link">Training provider</a></li>
                }
                <li asp-show="@Model.HasIncompleteApplicationProcessSection"><a asp-fragment="@Anchors.ApplicationProcessSection" class="govuk-link summary-link">Application process</a></li>
            </ul>
        </div>
        <div asp-show="@Model.HasIncompleteOptionalSections">
            <p class="govuk-body">You may wish to complete these optional sections:</p>
            <ul class="govuk-list">
                <li asp-show="@Model.HasIncompleteThingsToConsiderSection"><a asp-fragment="@Anchors.ThingsToConsider" class="govuk-link summary-link">Things to consider</a></li>
                <li asp-show="@Model.HasIncompleteEmployerWebsiteUrlSection"><a asp-fragment="@Anchors.EmployerWebsiteUrl" class="govuk-link summary-link">Employer website</a></li>
                @if (Model.Status != VacancyStatus.Review)
                {
                    <li asp-show="@Model.HasIncompleteContactSection"><a asp-fragment="@Anchors.EmployerContact" class="govuk-link summary-link">Contact details</a></li>
                }
            </ul>
        </div>
    </div>

</div>


<div asp-show="@Model.Review.HasBeenReviewed">
    <partial name="@PartialNames.ReviewSummary" for="Review" />
</div>

<div class="govuk-grid-row @ProviderReviewClass(Model, FieldIdentifiers.Title)" id="@Anchors.TitleSection">
    <div class="govuk-grid-column-two-thirds">
        <div class="@GetSectionClass(Model.TitleSectionState) govuk-!-margin-bottom-6">
            <h2 class="govuk-heading-xl govuk-!-margin-bottom-6" id="@Anchors.Title">
                <img asp-show="@Model.TitleRequiresEdit" src="/img/red-cross.png" />
                @Model.Title
                <span class="govuk-caption-xl">@Model.EmployerName</span>
            </h2>
            <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.Title)" class="govuk-!-margin-top-4">
                @ProviderReviewFlag(Model, FieldIdentifiers.Title)
            </div>
        </div>
        @EditLink(RouteNames.Title_Get, Model.TitleSectionState, "employer-name", "link-employer-name", new { wizard = false })
    </div>
</div>
<div class="govuk-grid-row @ProviderReviewClass(Model, new string[] { FieldIdentifiers.ShortDescription, FieldIdentifiers.ClosingDate })" id="@Anchors.ShortDescriptionSection">
    <div class="govuk-grid-column-two-thirds">
        <div class="@GetSectionClass(Model.ShortDescriptionSectionState) govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ShortDescription">
                <img asp-show="@Model.ShortDescriptionRequiresEdit" src="/img/red-cross.png" />
                Brief overview
            </h3>
            <span esfa-validation-message-for="ShortDescription" class="govuk-error-message"></span>
            <p asp-show="@Model.HasShortDescription" class="govuk-body">@Model.ShortDescription</p>
            <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ShortDescription)" class="govuk-!-margin-top-4">
                @ProviderReviewFlag(Model, FieldIdentifiers.ShortDescription)
            </div>
            @EditLink(RouteNames.ShortDescription_Get, Model.ShortDescriptionSectionState, "brief overview", "link-overview", new { wizard = false })
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="@GetSectionClass(Model.ClosingDateSectionState) govuk-!-margin-bottom-6">
            <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ClosingDate">
                <img asp-show="@Model.ClosingDateRequiresEdit" src="/img/red-cross.png" />
                Closing date
            </h3>
            <span esfa-validation-message-for="ClosingDate" class="govuk-error-message"></span>
            <p asp-show="@Model.HasClosingDate" class="govuk-body">@Model.ClosingDate</p>
            <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ClosingDate)" class="govuk-!-margin-top-4">
                @ProviderReviewFlag(Model, FieldIdentifiers.ClosingDate)
            </div>
            @EditLink(RouteNames.Dates_Get, Model.ClosingDateSectionState, "closing date", "link-closing-date", new { wizard = false })
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.ApprenticeshipSummarySection">
    <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l govuk-!-margin-top-7">Apprenticeship summary</h2>
    </div>
</div>
<div class="govuk-grid-row @ApprenticeshipSummaryProviderReviewClass(Model)">
    <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li class="@GetSectionClass(Model.WageTextSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.YearlyWage">
                        <img asp-show="@Model.WageRequiresEdit" src="/img/red-cross.png" />
                        Annual wage
                    </h3>
                    <span esfa-validation-message-for="HasWage" class="govuk-error-message"></span>
                    <span esfa-validation-message-for="WageText" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasWageText" class="govuk-body">@Model.WageText</p>
                    <span esfa-validation-message-for="WageInfo" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasWageInfo" class="govuk-body">@Model.WageInfo</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.Wage)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.Wage)
                    </div>
                    @EditLink(RouteNames.Wage_Get, Model.WageTextSectionState, "yearly wage", "link-salary", new { wizard = false })
                </div>
            </li>
            <li class="@GetSectionClass(Model.WorkingWeekSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.WorkingWeek">
                        <img asp-show="@Model.WorkingWeekRequiresEdit" src="/img/red-cross.png" />
                        Working week
                    </h3>
                    <span esfa-validation-message-for="WorkingWeekDescription" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasWorkingWeekDescription" class="govuk-body">@Model.WorkingWeekDescription</p>
                    <span esfa-validation-message-for="HoursPerWeek" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasHoursPerWeek" class="govuk-body">Total hours per week: @Model.HoursPerWeek</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.WorkingWeek)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.WorkingWeek)
                    </div>
                    @EditLink(RouteNames.Duration_Get, Model.WorkingWeekSectionState, "working week", "link-working-week", new { wizard = false })
                </div>
            </li>
            <li class="@GetSectionClass(Model.ExpectedDurationSectionState)">

                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ExpectedDuration">
                        <img asp-show="@Model.ExpectedDurationRequiresEdit" src="/img/red-cross.png" />
                        Expected duration
                    </h3>
                    <span esfa-validation-message-for="ExpectedDuration" class="govuk-error-message"></span>
                    <p class="govuk-body" asp-show="@Model.HasExpectedDuration">@Model.ExpectedDuration</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ExpectedDuration)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.ExpectedDuration)
                    </div>
                    @EditLink(RouteNames.Duration_Get, Model.ExpectedDurationSectionState, "expected duration", "link-duration", new { wizard = false })
                </div>
            </li>
            <li class="@GetSectionClass(Model.PossibleStartDateSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.PossibleStartDate">
                        <img asp-show="@Model.PossibleStartDateRequiresEdit" src="/img/red-cross.png" />
                        Possible start date
                    </h3>
                    <span esfa-validation-message-for="PossibleStartDate" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasPossibleStartDate" class="govuk-body">@Model.PossibleStartDate</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.PossibleStartDate)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.PossibleStartDate)
                    </div>
                    @EditLink(RouteNames.Dates_Get, Model.PossibleStartDateSectionState, "possible start date", "link-start-date", new { wizard = false })
                </div>
            </li>
            <li class="@GetSectionClass(Model.TrainingLevelSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.TrainingLevel">
                        <img asp-show="@Model.TrainingLevelRequiresEdit" src="/img/red-cross.png" />
                        Apprenticeship level
                    </h3>
                    <span esfa-validation-message-for="HasProgramme" class="govuk-error-message"></span>
                    <span esfa-validation-message-for="TrainingLevel" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasTrainingLevel" class="govuk-body">
                        @Model.TrainingLevel <br />
                        @Model.EducationLevelName
                    </p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.TrainingLevel)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.TrainingLevel)
                    </div>
                    @EditLink(RouteNames.Training_Get, Model.TrainingLevelSectionState, "apprenticeship level", "link-apprenticeship-level", new { wizard = false })
                </div>
            </li>
            <li asp-show="@Model.CanShowReference">
                <h3 class="govuk-heading-s govuk-!-margin-top-4">Reference number</h3>
                <p class="govuk-body">@Model.VacancyReferenceNumber</p>
            </li>
            <li class="@GetSectionClass(Model.NumberOfPositionsSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.NumberOfPositions">
                        <img asp-show="@Model.NumberOfPositionsRequiresEdit" src="/img/red-cross.png" />
                        Positions
                    </h3>
                    <span esfa-validation-message-for="NumberOfPositions" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasNumberOfPositionsCaption" class="govuk-body">@Model.NumberOfPositionsCaption</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.NumberOfPositions)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.NumberOfPositions)
                    </div>
                    @EditLink(RouteNames.NumberOfPositions_Get, Model.NumberOfPositionsSectionState, "positions", "link-positions", new { wizard = false })
                </div>
            </li>
        </ul>
    </div>
    <div class="govuk-grid-column-two-thirds vacancy-descriptions" id="@Anchors.VacancyDescriptionSection">
        <div class="@GetSectionClass(Model.DescriptionsSectionState)">
            <div>
                <h3 asp-hide="@Model.HasVacancyDescription" class="govuk-heading-s">Description of the apprenticeship</h3>
                <p asp-hide="@Model.HasVacancyDescription" class="govuk-body">What will the apprentice be doing?</p>
                <h3 asp-show="@Model.HasVacancyDescription" class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.VacancyDescription">
                    <img asp-show="@Model.VacancyDescriptionRequiresEdit" src="/img/red-cross.png" />
                    What will the apprentice be doing?
                </h3>
                <span esfa-validation-message-for="VacancyDescription" class="govuk-error-message"></span>
                <div asp-show="@Model.HasVacancyDescription" class="govuk-body">@Html.Raw(Model.VacancyDescription)</div>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.VacancyDescription)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.VacancyDescription)
                </div>
            </div>
            <div>
                <p asp-hide="@Model.HasTrainingDescription" class="govuk-body">What training will the apprentice take and what qualification will the apprentice get at the end?</p>
                <h3 asp-show="@Model.HasTrainingDescription" class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.TrainingDescription">
                    <img asp-show="@Model.TrainingDescriptionRequiresEdit" src="/img/red-cross.png" />
                    What training will the apprentice take and what qualification will the apprentice get at the end?
                </h3>
                <span esfa-validation-message-for="TrainingDescription" class="govuk-error-message"></span>
                <div asp-show="@Model.HasTrainingDescription" class="govuk-body">@Html.Raw(Model.TrainingDescription)</div>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.TrainingDescription)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.TrainingDescription)
                </div>
            </div>
            <div class="govuk-!-margin-bottom-6">
                <p asp-hide="@Model.HasOutcomeDescription" class="govuk-body">What is the expected career progression after this apprenticeship?</p>
                <h3 asp-show="@Model.HasOutcomeDescription" class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.OutcomeDescription">
                    <img asp-show="@Model.OutcomeDescriptionRequiresEdit" src="/img/red-cross.png" />
                    What is the expected career progression after this apprenticeship?
                </h3>
                <span esfa-validation-message-for="OutcomeDescription" class="govuk-error-message"></span>
                <div asp-show="@Model.HasOutcomeDescription" class="govuk-body">@Html.Raw(Model.OutcomeDescription)</div>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.OutcomeDescription)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.OutcomeDescription)
                </div>
            </div>
            @EditLink(RouteNames.VacancyDescription_Index_Get, Model.DescriptionsSectionState, "full vacancy description", "link-vacancy-description")
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.RequirementsAndProspectsSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l govuk-!-margin-top-7">Requirements and prospects</h2>
    </div>
</div>
<div class="@RequirementsAndProspectsProviderReviewClass(Model)">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="@GetSectionClass(Model.SkillsSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Skills">
                        <img asp-show="@Model.SkillsRequiresEdit" src="/img/red-cross.png" />
                        Desired skills and personal qualities
                    </h3>
                    <span esfa-validation-message-for="Skills" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasSkills" class="govuk-body">@string.Join(", ", Model.Skills)</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.Skills)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.Skills)
                    </div>
                    @EditLink(RouteNames.Skills_Get, Model.SkillsSectionState, "desired skills and personal qualities", "link-skills")
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div class="@GetSectionClass(Model.ThingsToConsiderSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ThingsToConsider">
                        <img asp-show="@Model.ThingsToConsiderRequiresEdit" src="/img/red-cross.png" />
                        Things to consider (optional)
                    </h3>
                    <span esfa-validation-message-for="ThingsToConsider" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasThingsToConsider" class="govuk-body">@Model.ThingsToConsider</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ThingsToConsider)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.ThingsToConsider)
                    </div>
                    @EditLink(RouteNames.Considerations_Get, Model.ThingsToConsiderSectionState, "things to consider", "link-things-to-consider")
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="@GetSectionClass(Model.QualificationsSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Qualifications">
                        <img asp-show="@Model.QualificationsRequiresEdit" src="/img/red-cross.png" />
                        Qualifications
                    </h3>
                    <span esfa-validation-message-for="Qualifications" class="govuk-error-message"></span>
                    <p asp-show="@Model.HasQualifications" class="govuk-body">
                        @foreach (var qualification in Model.Qualifications)
                        {
                            @qualification<br />
                        }
                    </p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.Qualifications)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.Qualifications)
                    </div>
                    @EditLink(RouteNames.Qualifications_Get, Model.QualificationsSectionState, "qualifications", "link-qualifications")
                </div>
            </div>
        </div>
    </div>
</div>


<div class="govuk-grid-row" id="@Anchors.AboutEmployerSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l govuk-!-margin-top-7">About the employer</h2>
    </div>
</div>
<div class="govuk-grid-row @AboutEmployerReviewClass(Model)">
    <div class="govuk-grid-column-full">
        <div class="@GetSectionClass(Model.EmployerDescriptionSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerDescription">
                    <img asp-show="@Model.EmployerDescriptionRequiresEdit" src="/img/red-cross.png" />
                    Description
                </h3>
                <span esfa-validation-message-for="EmployerDescription" class="govuk-error-message"></span>
                <p asp-show="@Model.HasEmployerDescription" class="govuk-body">@Model.EmployerDescription</p>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.EmployerDescription)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.EmployerDescription)
                </div>
                @EditLink(RouteNames.AboutEmployer_Get, Model.EmployerDescriptionSectionState, "employer description", "link-description")
            </div>
        </div>
        <div class="@GetSectionClass(Model.EmployerNameSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerName">
                    <img asp-show="@Model.EmployerNameRequiresEdit" src="/img/red-cross.png" />
                    Employer
                </h3>
                <span esfa-validation-message-for="EmployerName" class="govuk-error-message"></span>
                <p asp-show="@Model.HasEmployerName" class="govuk-body">@Model.EmployerName</p>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.EmployerName)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.EmployerName)
                </div>
                @if (Model.Status != VacancyStatus.Review)
                {
                    @EditLink(RouteNames.Employer_Get, Model.EmployerNameSectionState, "employer", "link-employer", new {wizard = false})
                }
            </div>
        </div>
        <div class="@GetSectionClass(Model.DisabilityConfidentSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.DisabilityConfident">
                    <img asp-show="@Model.DisabilityConfidentRequiresEdit" src="/img/red-cross.png" />
                    Disability Confident (optional)
                </h3>
                <img asp-show="@Model.IsDisabilityConfident" src="~/img/disability-confident_545x172.png" class="govuk-!-width-one-quarter govuk-!-margin-bottom-4" alt="A logo confirming that the employer is registered as disability confident" esfa-automation="disability-confident-logo" no-cdn />
                <span asp-show="@Model.IsDisabilityConfident" class="govuk-visually-hidden">This advert meets disability confident requirements</span>
                <partial name="@PartialNames.DisabilityConfident" for="IsDisabilityConfident" />
                <p asp-show="@Model.IsNotDisabilityConfident" class="govuk-hint">This advert is not Disability Confident<br />This will not appear on the advert when it goes live</p>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.DisabilityConfident)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.DisabilityConfident)
                </div>
                @EditLink(RouteNames.Dates_Get, Model.TrainingSectionState, "disability confident", "link-standard", new { wizard = false })
            </div>
        </div>
        <div class="@GetSectionClass(Model.EmployerWebsiteUrlSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerWebsiteUrl">
                    <img asp-show="@Model.EmployerWebsiteUrlRequiresEdit" src="/img/red-cross.png" no-cdn />
                    Website (optional)
                </h3>
                <span esfa-validation-message-for="EmployerWebsiteUrl" class="govuk-error-message"></span>
                <div asp-show="@Model.HasEmployerWebsiteUrl">
                    <div asp-show="@Model.IsAnonymous" class="govuk-hint">Website will not be shown as the employer is anonymous</div>
                    <p class="govuk-body">
                        @Model.EmployerWebsiteUrl
                    </p>
                </div>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.EmployerWebsiteUrl)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.EmployerWebsiteUrl)
                </div>
                @EditLink(RouteNames.AboutEmployer_Get, Model.EmployerWebsiteUrlSectionState, "website", "link-website")
            </div>
        </div>
    </div>
    @if (Model.Status != VacancyStatus.Review)
    {
        <div class="govuk-grid-column-one-third">
            <div class="@GetSectionClass(Model.EmployerContactSectionState)">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerContact">
                    <img asp-show="@Model.EmployerContactRequiresEdit" src="/img/red-cross.png" no-cdn />
                    Contact details (optional)
                </h3>
                <span esfa-validation-message-for="EmployerContactName" class="govuk-error-message"></span>
                <p asp-show="@Model.HasEmployerContactName" class="govuk-body">@Model.EmployerContactName</p>
                <span esfa-validation-message-for="EmployerContactEmail" class="govuk-error-message"></span>
                <p asp-show="@Model.HasEmployerContactEmail" class="govuk-body">@Model.EmployerContactEmail</p>
                <span esfa-validation-message-for="EmployerContactTelephone" class="govuk-error-message"></span>
                <p asp-show="@Model.HasEmployerContactTelephone" class="govuk-body">@Model.EmployerContactTelephone</p>
                @EditLink(RouteNames.EmployerContactDetails_Get, Model.EmployerContactSectionState, "contact details", "link-employer-contact-details")
            </div>
        </div>
    }
</div>
<div class="govuk-grid-row @ProviderReviewClass(Model, FieldIdentifiers.EmployerAddress)">
    <div class="govuk-grid-column-one-half">
        <div class="@GetSectionClass(Model.EmployerAddressSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.EmployerAddress">
                    <img asp-show="@Model.EmployerAddressRequiresEdit" src="/img/red-cross.png" no-cdn  />
                    Location
                </h3>
                <span esfa-validation-message-for="EmployerAddressElements" class="govuk-error-message"></span>
                <ul asp-show="@Model.HasEmployerAddressElements" class="govuk-list">
                    @foreach (var addrLine in Model.EmployerAddressElements)
                    {
                        <li>@addrLine</li>
                    }
                </ul>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.EmployerAddress)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.EmployerAddress)
                </div>
                @EditLink(RouteNames.Location_Get, Model.EmployerAddressSectionState, "location", "link-location", new { wizard = false })
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
        <img asp-show="@Model.HasMapUrl" id="static-map" src="@Model.MapUrl" alt="Location map" />
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.TrainingProviderSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l govuk-!-margin-top-7">Training</h2>
    </div>
</div>
<div class="govuk-grid-row @TrainingProviderReviewClass(Model)">
    <div class="govuk-grid-column-two-thirds">
        <div class="@GetSectionClass(Model.ProviderSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Provider">
                    <img asp-show="@Model.ProviderRequiresEdit" src="/img/red-cross.png" no-cdn />
                    Training provider
                </h3>
                <span esfa-validation-message-for="ProviderName" class="govuk-error-message"></span>
                <p asp-show="@Model.HasProviderName" class="govuk-body">@Model.ProviderName</p>
                @if (Model.Status != VacancyStatus.Review)
                {
                    @EditLink(RouteNames.TrainingProvider_Select_Get, Model.ProviderSectionState, "training provider", "link-training-provider", new {wizard = false})
                }
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.Provider)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.Provider)
                </div>
            </div>
        </div>
    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="@GetSectionClass(Model.TrainingSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.Training">
                    <img asp-show="@Model.TrainingRequiresEdit" src="/img/red-cross.png" no-cdn />
                    Apprenticeship @Model.TrainingType
                </h3>
                <p asp-show="@Model.HasTrainingTitle" class="govuk-body">
                    @Model.TrainingTitle<br/>
                    @Model.EducationLevelName
                </p>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.Training)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.Training)
                </div>
                @EditLink(RouteNames.Training_Get, Model.TrainingSectionState, "apprenticeship training", "link-standard", new {wizard = false})
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row" id="@Anchors.ApplicationProcessSection">
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 asp-show="@Model.ShowGeneralApplicationProcessSectionTitle" class="govuk-heading-l">Application process</h2>
        <h2 asp-show="@Model.HasSpecifiedThroughExternalApplicationMethod" class="govuk-heading-l">Employer's application instructions</h2>
    </div>
</div>
<div class="govuk-grid-row @ApplicationProcessReviewClass(Model)">
    <div class="govuk-grid-column-full">
        <div asp-show="@Model.HasNotSpecifiedApplicationMethod" class="@GetSectionClass(Model.ApplicationMethodSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <h2 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ApplicationMethod">
                    How will the candidates apply for this apprenticeship?
                </h2>
                <span esfa-validation-message-for="ApplicationMethod" class="govuk-error-message"></span>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ApplicationMethod)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.ApplicationMethod)
                </div>
                @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationMethodSectionState, "application method", "link-application-method")
            </div>
        </div>
        <div asp-show="@Model.HasSpecifiedThroughFaaApplicationMethod" class="@GetSectionClass(Model.ApplicationMethodSectionState)">
            <div class="govuk-!-margin-bottom-6">
                <p class="govuk-body">
                    <img asp-show="@Model.ApplicationMethodRequiresEdit" src="/img/red-cross.png" />
                    Candidates will apply through the <a href="@Model.FindAnApprenticeshipUrl" class="govuk-body govuk-link" rel="noopener" target="_blank">Find an apprenticeship service</a>
                </p>
                <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ApplicationMethod)" class="govuk-!-margin-top-4">
                    @ProviderReviewFlag(Model, FieldIdentifiers.ApplicationMethod)
                </div>
                @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationMethodSectionState, "application method", "link-application-method")
            </div>
        </div>
        <div asp-show="@Model.HasSpecifiedThroughExternalApplicationMethod">
            <div asp-show="@Model.HasApplicationUrl">
                <p class="govuk-body">This apprenticeship requires you to apply through the employer's website.</p>
                <div class="@GetSectionClass(Model.ApplicationUrlSectionState)">
                    <div class="govuk-!-margin-bottom-6">
                        <h2 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ApplicationUrl">
                            <img asp-show="@Model.ApplicationUrlRequiresEdit" src="/img/red-cross.png" />
                            Apply now web address
                        </h2>
                        <span esfa-validation-message-for="ApplicationUrl" class="govuk-error-message"></span>
                        <p class="govuk-body">@Model.ApplicationUrl</p>
                        <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ApplicationUrl)" class="govuk-!-margin-top-4">
                            @ProviderReviewFlag(Model, FieldIdentifiers.ApplicationUrl)
                        </div>
                        @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationUrlSectionState, "application link", "link-application-link")
                    </div>
                </div>
            </div>
            <div class="@GetSectionClass(Model.ApplicationInstructionsSectionState)">
                <div class="govuk-!-margin-bottom-6">
                    <h2 class="govuk-heading-s govuk-!-margin-top-4" id="@Anchors.ApplicationInstructions">
                        <img asp-show="@Model.ApplicationInstructionsRequiresEdit" src="/img/red-cross.png" />
                        Explain the application process (optional)
                    </h2>
                    <span esfa-validation-message-for="ApplicationInstructions" class="govuk-error-message"></span>
                    <p class="govuk-body">@Model.ApplicationInstructions</p>
                    <div asp-show="@ShowProviderReviewFlag(Model, FieldIdentifiers.ApplicationInstructions)" class="govuk-!-margin-top-4">
                        @ProviderReviewFlag(Model, FieldIdentifiers.ApplicationInstructions)
                    </div>
                    @EditLink(RouteNames.ApplicationProcess_Get, Model.ApplicationInstructionsSectionState, "application-instructions", "link-application-instructions")
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div asp-show="@Model.CanDelete">
    <a asp-route="@RouteNames.DeleteVacancy_Get" class="govuk-button govuk-button--warning" esfa-automation="delete-button">Delete advert</a>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
</div>

<div asp-show="@Model.CanSubmit" class="govuk-body">
    <form asp-route="@RouteNames.Preview_Submit_Post" class="form-inline">
        <input type="submit" value="@Model.SubmitButtonText" class="govuk-button" esfa-automation="submit-button" />
    </form>
</div>
<div asp-show="@Model.CanReview" class="govuk-body">
    <form asp-route="@RouteNames.Preview_Review_Post">
        <div class="govuk-form-group @(ViewData.ModelState.ContainsKey("SubmitToEsfa") ? "govuk-form-group--error" : "")">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Choose an option
                    </h1>
                </legend>
                <span id="error-message-SubmitToEsfa" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @Html.ValidationMessage("SubmitToEsfa")
                </span>
                <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                    <div class="govuk-radios__item">
                        <input asp-for="SubmitToEsfa" class="govuk-radios__input" id="submit-advert" type="radio" value="true">
                        <label class="govuk-label govuk-radios__label" for="submit-advert">
                            Submit advert to ESFA for checking and publication
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input asp-for="SubmitToEsfa" class="govuk-radios__input" id="reject-advert" type="radio" value="false" data-aria-controls="reject-advert-conditional">
                        <label class="govuk-label govuk-radios__label" for="reject-advert">
                            Reject advert and return to training provider
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="reject-advert-conditional">
                        <label class="govuk-label">Let @Model.ProviderName know why you're rejecting it. Tell them which fields need changing for example; weekly wage, hours or expected duration.</label>
                        <div esfa-validation-marker-for="RejectedReason" class="govuk-form-group">
                            <span esfa-validation-message-for="RejectedReason" class="govuk-error-message"></span>
                            <textarea asp-for="RejectedReason" class="govuk-textarea character-count" rows="5" data-val-length-max="200"></textarea>
                            <span class="govuk-body">You have </span>
                            <span class="govuk-body maxchar-count">200</span>
                            <span class="govuk-body maxchar-text"> characters remaining</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
    </form>
    @*
        <a asp-route="@RouteNames.ApproveJobAdvert_Get" class="govuk-button">Approve job advert</a>
        <a asp-route="@RouteNames.RejectJobAdvert_Get" class="govuk-button govuk-button--secondary">Reject job advert</a>
    *@
</div>
<div class="govuk-button-group">
    <a asp-route="@RouteNames.Vacancies_Get" class="govuk-link" esfa-automation="dashboard-link">Save and return to your adverts</a>
</div>
