@using Esfa.Recruit.Employer.Web.ViewModels.Part2.Skills
@model SkillsViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-skills";
    ViewBag.Title = "Skills";
    ViewBag.ZenDeskLabel = "recruit-which-skills-and-personal-qualities-would-you-like-the-applicant-to-have";
}

@section BackLink {
    <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.EmployerTaskListGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}


<partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState}' />
<partial name="@PartialNames.ReviewSummary" for="Review" />

<span class="govuk-caption-l">@Model.Title</span>

<form asp-route="@RouteNames.Skills_Post" asp-all-route-data="@Model.RouteDictionary" id="skillsForm" class="das-ajax-form">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                What skills and personal qualities do applicants need to have?
            </h1>
        </legend>
        <p class="govuk-hint govuk-!-margin-top-5">Select all that apply or add your own</p>
        <div esfa-validation-marker-for="Skills" class="govuk-form-group">
            <span esfa-validation-message-for="Skills" class="govuk-error-message"></span>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-checkboxes govuk-!-margin-bottom-2">
                        @for (var i = 0; i < Model.Column1Checkboxes.Count; i++)
                        {
                            var checkbox = Model.Column1Checkboxes[i];
                            <div class="govuk-checkboxes__item">
                                <input name="Skills" id="col1-@i" class="govuk-checkboxes__input" type="checkbox" value="@checkbox.Value" checked="@checkbox.Selected">
                                <label class="govuk-label govuk-checkboxes__label" for="col1-@i">@checkbox.Name</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <div class="govuk-checkboxes">
                        @for (var i = 0; i < Model.Column2Checkboxes.Count; i++)
                        {
                            var checkbox = Model.Column2Checkboxes[i];
                            <div class="govuk-checkboxes__item">
                                <input name="Skills" id="col2-@i" class="govuk-checkboxes__input" type="checkbox" value="@checkbox.Value" checked="@checkbox.Selected">
                                <label class="govuk-label govuk-checkboxes__label" for="col2-@i">@checkbox.Name</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>    
    </fieldset>

    <p class="govuk-body govuk-!-margin-bottom-5">or</p>
    <div esfa-validation-marker-for="AddCustomSkillName" class="govuk-form-group">
        <label asp-for="AddCustomSkillName" class="govuk-label govuk-!-font-weight-bold">Add a new desired skill or personal quality</label>
        <span esfa-validation-message-for="AddCustomSkillName" class="govuk-error-message"></span>
        <input asp-for="AddCustomSkillName" value="@Model.AddCustomSkillName" type="text" class="govuk-input govuk-!-width-one-half" maxlength="30">
        <button name="AddCustomSkillAction" id="add-custom-skill" value="AddCustomSkill" type="submit" class="govuk-button save-button">Add this skill</button>
    </div>

    <div class="govuk-button-group">
        <button type="submit" esfa-automation="btn-continue" class="govuk-button save-button">Save and continue</button>
        <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
        <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" esfa-automation="cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
    </div>

</form>
