@model Esfa.Recruit.Provider.Web.ViewModels.Part1.MultipleLocations.AddMoreThanOneLocationViewModel

@{
    var groupedLocations = Model.AvailableLocations.GroupByLastFilledAddressLine();
    var index = 0;
    foreach (var group in groupedLocations)
    {
        // Check if any location in the group is already selected.
        var isGroupExpanded = group.Any(loc => Model.SelectedLocations?.Contains(loc.Value.ToAddressString()) ?? false);

        <h3 class="govuk-heading-s govuk-!-padding-top-3">@group.Key</h3>
        <details class="govuk-details" @(isGroupExpanded ? "open" : "")>
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    @group.Key locations (@group.Count().ToString())
                </span>
            </summary>
            <div class="govuk-details__text">
                <legend class="govuk-fieldset__legend">
                    Select locations that apply in this city
                </legend>
                @foreach (var location in group.Select(x => x.Value))
                {
                    var address = location.ToAddressString();
                    var controlId = $"selectedLocation_{index++}";
                    <div class="govuk-checkboxes__item">
                        <input id="@controlId"
                               class="govuk-checkboxes__input"
                               name="@nameof(Model.SelectedLocations)"
                               value="@address"
                               type="checkbox"
                               checked="@(Model.SelectedLocations?.Contains(address) ?? false)">
                        <label for="@controlId" class="govuk-label govuk-checkboxes__label">
                            <address value="@location" flat="true" />
                        </label>
                    </div>
                }
            </div>
        </details>
    }
}