@using Esfa.Recruit.Provider.Web.ViewModels.Part1.MultipleLocations
@using Esfa.Recruit.Shared.Web.Domain
@using Esfa.Recruit.Shared.Web.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model Esfa.Recruit.Provider.Web.ViewModels.Part1.MultipleLocations.AddMoreThanOneLocationViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-location";
    ViewBag.Title = "Add more than one location";
}

@section BackLink {
    <a asp-route="@RouteNames.MultipleLocations_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <govuk-banner asp-show="@Model.BannerAddress is not null" type="@BannerStyle.Success">
            <h3 class="govuk-notification-banner__heading">
                @Model.BannerAddress added.
            </h3>
        </govuk-banner>
        
        <partial name="@PartialNames.ValidationSummary" model=@(new ValidationSummaryViewModel { ModelState = ViewData.ModelState })/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>
        <form asp-route="@RouteNames.AddMoreThanOneLocation_Post" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard">

            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                <span class="govuk-caption-l">@Model.ApprenticeshipTitle</span>
                Add more than one location
            </h1>
            <p class="govuk-body govuk-!-padding-bottom-5">We’ll show your vacancy when someone searches for an apprenticeship in any of these locations.</p>
            <div class="govuk-form-group" id="@nameof(LocationAvailabilityViewModel.SelectedAvailability)">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-fieldset__heading govuk-heading-l">
                            Add locations
                        </h2>
                    </legend>
                    <p class="govuk-body govuk-hint">
                        Select up to 10 locations
                    </p>
                    <div class="govuk-checkboxes govuk-checkboxes--conditional" data-module="checkboxes" esfa-validation-marker-for="SelectedLocations">
                        <span esfa-validation-message-for="SelectedLocations" class="govuk-error-message"></span>
                        <div class="govuk-checkboxes">
                            <partial asp-show="Model.AvailableLocations is { Count: <= 10 }" name="_AddressesView" model="Model" />
                            <partial asp-show="Model.GroupedLocations.Count() >1 & Model.GroupedLocations.Any(x => x.Count() >10)" name="_GroupedAddressesCollapsedView" model="Model" />
                            <partial asp-show="Model.AvailableLocations is { Count: > 10 } & (Model.GroupedLocations.Count() == 1 | !Model.GroupedLocations.Any(x => x.Count() >10))" name="_GroupedAddressesView" model="Model" />
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-body">
                <button asp-controller="MultipleLocations" asp-action="AddALocation" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-origin="@MultipleLocationsJourneyOrigin.Many" type="submit" class="govuk-button govuk-button--secondary">Add a new location</button>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>