@model Esfa.Recruit.Provider.Web.ViewModels.Part2.Considerations.ConsiderationsViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-considerations";
    ViewBag.Title = "Other things to consider";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
            <a asp-route="@RouteNames.FutureProspects_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>
        </esfaFeatureEnabled>
        
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <h1 class="govuk-heading-xl">
            <span class="govuk-caption-l">@Model.Title</span>
            What else do you want the applicant to consider? (optional)
        </h1>

        <form asp-route="@RouteNames.Considerations_Post" asp-all-route-data="@Model.RouteDictionary">
            <div esfa-validation-marker-for="ThingsToConsider" class="govuk-form-group">
                <label asp-for="ThingsToConsider" class="govuk-visually-hidden">Things to consider (optional)</label>
                <span class="govuk-hint">For example, if the vacancy will involve working outdoors or lifting heavy objects</span>
                <span esfa-validation-message-for="ThingsToConsider" class="govuk-error-message"></span>
                <textarea asp-for="ThingsToConsider" class="govuk-textarea character-count" rows="5" data-val-length-max="4000"></textarea>
                <span class="govuk-body maxchar-count">4000</span>
                <span class="govuk-body maxchar-text"> characters remaining</span>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link das-button-link">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Vacancy_Preview_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link das-button-link">Cancel</a>
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>