@model Esfa.Recruit.Provider.Web.ViewModels.Part2.Considerations.ConsiderationsViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-vacancy-considerations";
    ViewBag.Title = "Other things to consider";
}

@section BackLink {
    <a asp-route="@RouteNames.FutureProspects_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <form asp-route="@RouteNames.Considerations_Post" asp-all-route-data="@Model.RouteDictionary">

            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="4000">
                <div esfa-validation-marker-for="ThingsToConsider" class="govuk-form-group">
                    <span class="govuk-caption-xl">@Model.Title</span>
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--xl" asp-for="ThingsToConsider" >
                            What else do you want the applicant to consider? (optional)
                        </label>
                    </h1>
                    <div id="ThingsToConsider-hint" class="govuk-hint">
                        For example, if the vacancy will involve working outdoors or lifting heavy objects
                    </div>
                    <span esfa-validation-message-for="ThingsToConsider" class="govuk-error-message"></span>
                    <textarea class="govuk-textarea" asp-for="ThingsToConsider" rows="5" aria-describedby="ThingsToConsider-info ThingsToConsider-hint"></textarea>
                </div>
            </div>

            <div class="govuk-button-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button" />
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>