@using Microsoft.Extensions.Options
@inject IOptions<ExternalLinksConfiguration> _externalLinks
@{
    ViewBag.ZenDeskLabel = "recruit-recruitment";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create an advert</h1>
        <p class="govuk-body-l">
            Recruit an apprentice by creating an advert to post on
            <a href="@_externalLinks.Value.FindAnApprenticeshipUrl" class="govuk-link govuk-link--no-visited-state" target="_blank">Find an apprenticeship (opens in a new tab)</a>.
        </p>
        <h2 class="govuk-heading-m">Before you start:</h2>
        <p class="govuk-body">Before you create an advert, you'll need to know:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                the name of the apprenticeship training course and training provider - if you haven’t found training yet, use <a href="@_externalLinks.Value.FindApprenticeshipTrainingUrl" class="govuk-link govuk-link--no-visited-state" target="_blank">Find apprenticeship training for your apprentice (opens in new tab)</a>
            </li>
            <li>
                the duration of the apprenticeship
            </li>
            <li>
                the number of hours spent working and training
            </li>
            <li>
                how much your apprentice will be paid
            </li>
        </ul>
        <div class="govuk-inset-text">You can use our <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerRecruitmentApi" target="_blank">recruitment Application Programming Interfaces (APIs)</a> to create adverts using your existing systems or display adverts from Find an apprenticeship on your websites.</div>

        <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
            <a asp-route="@RouteNames.EmployerTaskListCreateGet" role="button" class="govuk-button govuk-button--start" esfa-automation="create-vacancy">Start now</a>
        </esfaFeatureEnabled>
        <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
            <a asp-route="@RouteNames.CreateVacancyOptions_Get" role="button" class="govuk-button govuk-button--start" esfa-automation="create-vacancy">Start now</a>
        </esfaFeatureDisabled>
    </div>
</div>
