@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Esfa.Recruit.Employer.Web.RouteModel

@model Esfa.Recruit.Employer.Web.ViewModels.Dashboard.DashboardViewModel

@{ var vacanciesSearchSuggestionsEndpointUrl = Url.RouteUrl(RouteNames.VacanciesSearchSuggestions_Get, null, Context.Request.Scheme);
    string GetCardStatus(bool hasPermission)
    {
        return hasPermission ? String.Empty : "app-card--inactive";
    }
    ViewBag.ShowReturnToMaLink = Model.FromMaHome;
    ViewBag.Vpv = "/recruitment/employer/page-dashboard";
    ViewBag.ZenDeskLabel = "recruit-recruitment";
    ViewBag.Title = "Your apprenticeship adverts"; }

@section BackLink
{
    <a asp-hide="@Model.HasAnyVacancies" asp-route="@RouteNames.Dashboard_Account_Home" asp-route-employerAccountId="@Model.EmployerAccountId"  class="govuk-back-link">Back</a>
}

<partial asp-hide="@Model.HasAnyVacancies" name="_NoVacanciesContent" model="@(new VacancyRouteModel{EmployerAccountId = Model.EmployerAccountId})" />

<div asp-show="@Model.HasAnyVacancies">

    <partial name="@PartialNames.Alerts" for="Alerts" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-xl">Your apprenticeship adverts</h1>
        </div>
        <div class="govuk-grid-column-one-half ">
            <a asp-route="@RouteNames.CreateVacancyStart" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-button das-float-right govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create an advert</a>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" method="get" autocomplete="off">
                <div class="govuk-form-group">
                    <label for="search-input" class="govuk-label">
                        Search by advert title or reference number
                    </label>
                    <div class="das-search-form__group">
                        <input id="search-input" name="searchTerm" title="Search" class="govuk-input das-search-form__input app-vacancy-autocomplete" type="text" maxlength="200" data-apiurl="@vacanciesSearchSuggestionsEndpointUrl" />
                        <div class="das-search-form__button-wrap">
                            <button class="govuk-button das-search-form__button" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="govuk-grid-row app-card__row">
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountDraft</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Draft" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Draft @Model.VacancyTextDraft
                        </a>
                    </h3>
                    <p class="govuk-body app-card__description">Adverts that you need to complete and send for review.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card @GetCardStatus(Model.HasEmployerReviewPermission)">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountReview</span>
                        <a asp-show="@Model.HasEmployerReviewPermission" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Review" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Review @Model.VacancyTextReview
                        </a>
                        <span asp-hide="@Model.HasEmployerReviewPermission">@FilteringOptions.Review @Model.VacancyTextReview</span>
                    </h3>
                    <p asp-show="@Model.HasEmployerReviewPermission" class="govuk-body app-card__description">Adverts created by training providers that you need to review.</p>
                    <p asp-hide="@Model.HasEmployerReviewPermission" class="govuk-body app-card__description">
                        If you want to review adverts before they are published you need to
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.YourTrainingProviderPermission" asp-route-employerAccountId="@Model.EmployerAccountId">manage your permissions</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountSubmitted</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Submitted" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Submitted.GetDisplayName(UserType.Employer)
                        </a>
                    </h3>
                    <p class="govuk-body app-card__description">Adverts that you've sent for review.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row app-card__row">
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountReferred</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Referred" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Referred.GetDisplayName() @Model.VacancyTextReferred
                        </a>
                    </h3>
                    <p class="govuk-body app-card__description">Adverts that you need to edit and resubmit.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountLive</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Live" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Live @Model.VacancyTextLive
                        </a>
                    </h3>
                    <span class="govuk-body app-card__description">Your adverts on the Find an apprenticeship service.</span>
                    <p class="govuk-body app-card__description"></p>
                    <ul class="app-card__tasks govuk-list" asp-show="@(Model.ShowNoOfVacanciesClosingSoon || Model.ShowNoOfVacanciesClosingSoonWithNoApplications)">
                        <li asp-show="@Model.ShowNoOfVacanciesClosingSoon">
                            <a class="govuk-link" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.ClosingSoon">@Model.NoOfVacanciesClosingSoon live @Model.VacancyTextClosingSoon closing soon</a>
                        </li>
                        <li asp-show="@Model.ShowNoOfVacanciesClosingSoonWithNoApplications">
                            <a class="govuk-link" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.ClosingSoonWithNoApplications">
                                @Model.NoOfVacanciesClosingSoonWithNoApplications live @Model.VacancyTextClosingSoonWithNoApplications closing soon with no applications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.NoOfNewApplications</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.NewApplications" class="govuk-link govuk-link--no-visited-state">
                            New @Model.ApplicationTextLive
                        </a>
                    </h3>
                    <span class="govuk-body app-card__description">Applications from Find an apprenticeship service.</span>
                    <ul class="app-card__tasks govuk-list" asp-show="@Model.ShowAllApplications">
                        <li>
                            <a class="govuk-link ga-track-anchor-click" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.AllApplications" data-ga-event-category="link - click">
                                View all applications
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row app-card__row">
        <esfaFeatureEnabled name="@FeatureNames.ShareApplicationsFeature">
            <div class="govuk-grid-column-one-third">
                <div class="app-card">
                    <div class="app-card__content">
                        <h3 class="govuk-heading-m app-card__heading">
                            <span class="app-card__stat">@Model.NoOfSharedApplications</span>
                            <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.NewSharedApplications" class="govuk-link govuk-link--no-visited-state">
                                New shared @Model.SharedApplicationsText
                            </a>
                        </h3>
                        <span class="govuk-body app-card__description">Applications your training provider needs feedback on.</span>
                        <ul class="app-card__tasks govuk-list" asp-show="@Model.ShowAllSharedApplications">
                            <li>
                                <a class="govuk-link ga-track-anchor-click" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.AllSharedApplications" data-ga-event-category="link - click">
                                    View all shared applications
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </esfaFeatureEnabled>
        <div class="govuk-grid-column-one-third">
            <div class="app-card">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountClosed</span>
                        <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Closed" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Closed @Model.VacancyTextClosed
                        </a>
                    </h3>
                    <span class="govuk-body app-card__description">Adverts that have passed the closing date. You can clone these adverts to republish them.</span>
                </div>
            </div>
        </div>
    </div>
    
    
    <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.All" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button">
        View all your adverts (@Model.NumberOfVacancies)
    </a>

    <hr class="govuk-grid-column-full govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
      
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">

                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.YourTrainingProviderPermission" asp-route-employerAccountId="@Model.EmployerAccountId">Set up permission</a>
            </h3>
            <p class="govuk-body">Give training providers permission to add apprentice records, recruit apprentices and create job adverts on your behalf.</p>
        </div>

        <esfaFeatureEnabled name="@FeatureNames.SetNotificationPreferences">
            <div class="govuk-grid-column-one-third">
                <h3 class="govuk-heading-s">

                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ManageNotifications_Get" asp-route-employerAccountId="@Model.EmployerAccountId">Manage your emails</a>
                </h3>
                <p class="govuk-body">Set up and manage the emails you receive about your adverts and applications.</p>
            </div>
        </esfaFeatureEnabled>

        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">

                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerRecruitmentApi" asp-route-employerAccountId="@Model.EmployerAccountId">Recruitment APIs</a>
            </h3>
            <p class="govuk-body">Integrate our APIs to create adverts using your own systems and display adverts on your websites.</p>
        </div>
    </div>
</div>
