@model DashboardViewModel
<div class="grid-row dashboard-header">
    <div class="column-two-thirds">
        <h1 class="heading-large small-bottom-margin">Your vacancies</h1>
        <div asp-condition="Model.HasWarning" class="warning-summary no-bottom-margin">
            <p>@Model.WarningMessage</p>
        </div>
        <div asp-condition="Model.HasInfo" class="info-summary no-bottom-margin">
            <p>@Model.InfoMessage</p>
        </div>
    </div>
</div>
<div class="grid-row">
    <div class="column-full">
        <p asp-condition="@Model.ShowNoVacanciesMessage">
            Your dashboard is empty, start by creating your first apprenticeship vacancy.
        </p>
        <a asp-route="@RouteNames.CreateVacancy_Get" class="button small-bottom-margin">Create vacancy</a>
    </div>
    <br>
</div>

<div asp-condition="@Model.HasVacancies">
    <div class="grid-row">
        <div class="column-full">
            <table>
                <thead>
                    <tr>
                        <th class="bold">Status</th>
                        <th class="bold">Vacancy title</th>
                        <th class="bold">Vacancy ref</th>
                        <th class="bold" style="min-width:6em">Closing Date</th>
                        <th class="bold" style="min-width:8em">Action</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var vacancy in Model.Vacancies)
                {
                    <tr>
                        <td>@vacancy.Status.GetDisplayName()</td>
                        <td>
                            <div>@vacancy.Title</div>
                            <div asp-condition="@vacancy.IsApplicationsVacancy">
                                <span asp-condition="@vacancy.HasApplications">
                                    <a asp-route="@RouteNames.DisplayVacancy_Get" asp-route-vacancyId="@vacancy.Id">
                                        @vacancy.AllApplicationsCount applications
                                    </a>&nbsp;(@vacancy.NewApplicationsCount new)
                                </span>
                                <span asp-condition="@vacancy.HasNoApplications">@vacancy.AllApplicationsCount applications (@vacancy.NewApplicationsCount new)</span>
                            </div>
                        </td>
                        <td>
                            <span asp-condition="@vacancy.HasVacancyReference"><span>VAC</span>@vacancy.VacancyReference</span>
                            <span asp-condition="@vacancy.HasNoVacancyReference">Not available</span>
                        </td>
                        <td>@vacancy.ClosingDate?.AsGdsDate()</td>
                        <td>
                            <a asp-route="@vacancy.GetLinkRoute()" asp-route-vacancyId="@vacancy.Id">@vacancy.GetLinkText()</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
