@model DashboardViewModel

<div class="grid-row dashboard-header">
    <div class="column-two-thirds">
        <h1 class="heading-large small-bottom-margin">Recruit an apprentice</h1>

        <div asp-condition="Model.HasWarning" class="warning-summary no-bottom-margin">
            <p>@Model.WarningMessage</p>
        </div>
    </div>
</div>

<div class="grid-row">
    <div class="column-full">
        <a asp-route="@RouteNames.CreateVacancy_Get" class="button">Create vacancy</a>
        <hr>
    </div>
    <br>
</div>

<div class="grid-row">
    <div class="column-full">
        <table>
            <thead>
                <tr>
                    <th class="bold">Vacancy title</th>
                    <th class="bold">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vacancy in Model.Vacancies)
                {
                <tr>
                    <td><a asp-route="@RouteNames.DisplayVacancy_Get" asp-route-vacancyId="@vacancy.Id">@vacancy.Title</a></td>
                    <td>@vacancy.Status</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>