@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Esfa.Recruit.Employer.Web.RouteModel
@using Esfa.Recruit.Employer.Web.ViewModels.Dashboard
@model Esfa.Recruit.Employer.Web.ViewModels.Dashboard.DashboardViewModel
@{
    var vacanciesSearchSuggestionsEndpointUrl = Url.RouteUrl(RouteNames.VacanciesSearchSuggestions_Get, null, Context.Request.Scheme);
    string GetCardStatus(bool hasPermission)
    {
        return hasPermission ? string.Empty : "app-card--inactive";
    }
    ViewBag.ShowReturnToMaLink = Model.FromMaHome;
    ViewBag.Vpv = "/recruitment/employer/page-dashboard";
    ViewBag.ZenDeskLabel = "recruit-recruitment";
    ViewBag.Title = "Recruitment dashboard";
}
@section BackLink
{
    <a asp-hide="@Model.HasAnyVacancies" asp-route="@RouteNames.Dashboard_Account_Home" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-back-link">Back</a>
}
<partial asp-hide="@Model.HasAnyVacancies" name="_NoVacanciesContent" model="@(new VacancyRouteModel { EmployerAccountId = Model.EmployerAccountId })" />
<div asp-show="@Model.HasAnyVacancies">
    <partial name="@PartialNames.Alerts" for="Alerts" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h1 class="govuk-heading-l">Recruitment dashboard</h1>
        </div>
        <div class="govuk-grid-column-one-half ">
            <a asp-route="@RouteNames.CreateVacancyStart" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-button das-float-right govuk-!-margin-top-2 govuk-!-margin-bottom-4" esfa-automation="create-vacancy">Create an advert</a>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form asp-route="@RouteNames.VacanciesGetAll" asp-route-employerAccountId="@Model.EmployerAccountId" method="get" autocomplete="off">
                <div class="govuk-form-group">
                    <label for="search-input" class="govuk-label">
                        Search by advert title or reference number
                    </label>
                    <div class="das-search-form__group">
                        <input id="search-input" name="searchTerm" title="Search" class="govuk-input das-search-form__input app-vacancy-autocomplete" type="text" maxlength="200" data-apiurl="@vacanciesSearchSuggestionsEndpointUrl" />
                        <div class="das-search-form__button-wrap">
                            <button class="govuk-button das-search-form__button" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-!-margin-bottom-5">
                <a asp-route="@RouteNames.VacanciesGetAll" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-!-font-size-24 govuk-!-font-weight-bold govuk-link--no-visited-state" name="button">
                    View all adverts (@Model.NumberOfVacancies)
                </a>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row app-card__row">
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountDraft,
            HeadingText = $"{FilteringOptions.Draft} {Model.VacancyTextDraft}",
            Description = "Adverts that need completing and sending for review.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.Draft
        }))
        <div class="govuk-grid-column-one-third">
            <div class="app-card @GetCardStatus(Model.HasEmployerReviewPermission)">
                <div class="app-card__content">
                    <h3 class="govuk-heading-m app-card__heading">
                        <span class="app-card__stat">@Model.VacancyCountReview</span>
                        <a asp-show="@Model.HasEmployerReviewPermission" asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-filter="@FilteringOptions.Review" class="govuk-link govuk-link--no-visited-state">
                            @FilteringOptions.Review @Model.VacancyTextReview
                        </a>
                        <span asp-hide="@Model.HasEmployerReviewPermission">@FilteringOptions.Review @Model.VacancyTextReview</span>
                    </h3>
                    <p asp-show="@Model.HasEmployerReviewPermission" class="govuk-body app-card__description">Adverts created by training providers that you need to review.</p>
                    <p asp-hide="@Model.HasEmployerReviewPermission" class="govuk-body app-card__description">
                        If you want to review adverts before they are published you need to
                        <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.YourTrainingProviderPermission" asp-route-employerAccountId="@Model.EmployerAccountId">manage your permissions</a>.
                    </p>
                </div>
            </div>
        </div>
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountSubmitted,
            HeadingText = @FilteringOptions.Submitted.GetDisplayName(UserType.Employer),
            Description = "Adverts that you've sent for review.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.Submitted
        }))
    </div>
    <div class="govuk-grid-row app-card__row">
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountReferred,
            HeadingText = $"{@FilteringOptions.Referred.GetDisplayName()} {@Model.VacancyTextReferred}",
            Description = "Rejected adverts will need to be edited and resubmitted.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.Referred
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountLive,
            HeadingText = $"{@FilteringOptions.Live} {@Model.VacancyTextLive}",
            Description = "Your adverts on the Find an apprenticeship service.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.Live,
            Tasks = new[]
            {
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowNoOfVacanciesClosingSoon,
                    Filter = FilteringOptions.ClosingSoon,
                    Text = $"{Model.NoOfVacanciesClosingSoon} live {Model.VacancyTextClosingSoon} closing soon"
                },
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowNoOfVacanciesClosingSoonWithNoApplications,
                    Filter = FilteringOptions.ClosingSoonWithNoApplications,
                    Text = $"{Model.NoOfVacanciesClosingSoonWithNoApplications} live {Model.VacancyTextClosingSoonWithNoApplications} closing soon with no applications"
                }
            }
        }))
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.NoOfNewApplications,
            HeadingText = $"Shared {@Model.ApplicationTextLive}",
            Description = "Applications from Find an apprenticeship service.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.NewApplications,
            Tasks = new[]
            {
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowAllApplications,
                    Filter = FilteringOptions.AllApplications,
                    Text = "View all applications"
                }
            }
        }))
    </div>
    <div class="govuk-grid-row app-card__row">
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.NoOfSharedApplications,
            HeadingText = $"Shared {@Model.SharedApplicationsText}",
            Description = "Applications your training provider needs feedback on.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.NewSharedApplications,
            Tasks = new[]
            {
                new VacancyCardTaskViewModel
                {
                    Show = Model.ShowAllSharedApplications,
                    Filter = FilteringOptions.AllSharedApplications,
                    Text = "View all shared applications"
                }
            }
        }))    
        @(await Component.InvokeAsync("VacancyCard", new VacancyCardViewModel
        {
            Count = Model.VacancyCountClosed,
            HeadingText = $"{@FilteringOptions.Closed} {@Model.VacancyTextClosed}",
            Description = "Adverts that have passed the closing date.",
            RouteName = RouteNames.Vacancies_Get,
            EmployerAccountId = Model.EmployerAccountId,
            Filter = FilteringOptions.Closed
        }))
    </div>
    <hr class="govuk-grid-column-full govuk-section-break govuk-section-break--xl govuk-section-break--visible" />
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.YourTrainingProviderPermission" asp-route-employerAccountId="@Model.EmployerAccountId">Set up permission</a>
            </h3>
            <p class="govuk-body">Let training providers manage apprentices and job adverts for you.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ManageNotifications_Get" asp-route-employerAccountId="@Model.EmployerAccountId">Manage recruitment emails</a>
            </h3>
            <p class="govuk-body">Manage email notifications for your adverts and applications.</p>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerRecruitmentApi" asp-route-employerAccountId="@Model.EmployerAccountId">Recruitment APIs</a>
            </h3>
            <p class="govuk-body">Integrate our APIs to create adverts using your own systems.</p>
        </div>
    </div>
</div>