@model Esfa.Recruit.Employer.Web.ViewModels.ConfirmTrainingProviderViewModel

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">@Model.Title</h1>
        <h1 class="heading-large">Confirm training provider</h1>

        <div class="verification-summary">

            <h3 class="heading-small">@Model.ProviderName</h3>
            <h3 class="heading-small">@Model.ProviderAddress</h3>
            <h3 class="heading-small">UKPRN: @Model.Ukprn</h3>
        </div>

        <form asp-route="@RouteNames.TrainingProvider_Confirm_Post">
            <input asp-for="Ukprn" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Confirm training provider" class="button" />
                <a asp-route="@RouteNames.TrainingProvider_Select_Get" class="button-link">Change training provider</a>
                <a asp-route="@RouteNames.Preview_Index_Get" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>