@model Esfa.Recruit.Employer.Web.ViewModels.SelectTrainingProviderViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">@Model.Title</h1>
        <hr>
        @Html.Partial(PartialNames.ValidationSummary, new ValidationSummaryViewModel { ModelState = ViewData.ModelState })

        @Html.Partial(PartialNames.ReviewSummary, Model.Review)

        <form asp-route="@RouteNames.TrainingProvider_Select_Post">
            <div class="form-group">
                <label asp-for="Ukprn" class="form-label-bold">Enter the training provider UK Provider Reference Number (UKPRN)</label>
                <span class="form-hint">
                    You will be able to get this from your training provider<br>
                    Your provider must also have a recruit an apprentice account<br>
                    The UKPRN must only be 8 digits (For example, 12345678)
                </span>
                <input asp-for="Ukprn" type="number" maxlength="8" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Select provider" esfa-automation="btn-continue" class="button" />
                <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>