@using Esfa.Recruit.QA.Web.ViewModels.ManageProvider;
@model ConsentForProviderBlockingViewModel;
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' asp-show="@ViewData.ModelState.IsValid == false" />
        <h1 class="govuk-heading-xl">Remove @Model.Name from the recruitment service</h1>
        <p class="govuk-body">Removing a training provider will do the following:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li asp-show="@Model.ShowPermissionsMessage">no longer be able to recruit apprentices</li>
            <li asp-show="@Model.ShowPermissionsMessage">not be able to create or manage vacancies</li>
            <li>any vacancies created by @Model.Name will be transferred to the employer</li>
            <li>no longer be able to access the recruitment service. Can still access the rest of the apprenticeship services</li>
            <li>live vacancies using @Model.Name as the training provider will close</li>
        </ul>
        <form asp-route="@RouteNames.BlockProvider_Consent_Post">
            <div esfa-validation-marker-for="HasConsent" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-label govuk-!-font-weight-bold"></legend>
                    <span esfa-validation-message-for="HasConsent" class="govuk-error-message"></span>
                    <div class="govuk-checkboxes" data-module="checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input asp-for="HasConsent" class="govuk-checkboxes__input" data-aria-controls="consent-conditional" id="consent" type="checkbox" value="true" >
                            <label asp-for="HasConsent" class="govuk-label govuk-checkboxes__label">I understand the above and wish to remove this training provider</label>
                        </div>
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="consent-conditional">
                            <div esfa-validation-marker-for="Reason" class="govuk-form-group">
                                <label class="govuk-label" asp-for="Reason">
                                    Why do you want to remove this training provider?
                                </label>
                                <span esfa-validation-message-for="Reason" class="govuk-error-message"></span>
                                <textarea asp-for="Reason" data-val-length-max="200" class="govuk-textarea govuk-!-width-three-quarters" rows="5" type="text"></textarea>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <button type="submit" class="govuk-button govuk-button--warning">Remove training provider</button>
                <a asp-route="@RouteNames.BlockedOrganisations_Get" class="govuk-link das-button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>