@using Esfa.Recruit.Vacancies.Client.Infrastructure.QueryStore.Projections.VacancyApplications
@model Esfa.Recruit.Employer.Web.ViewModels.ApplicationReviews.ApplicationReviewsToUnsuccessfulConfirmationViewModel
@{
    ViewBag.Vpv = "/recruitment/employer/page-application-reviews-to-unsuccessful-confirmation";
    ViewBag.Title = "Make unsuccessful";
    var applicantsText = Model.IsMultipleApplications ? "applications" : "application";
}
@section BackLink {
    <a asp-route="@RouteNames.ApplicationReviewsToUnsuccessful_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="@PartialNames.ValidationSummary" model="new ValidationSummaryViewModel { ModelState = ViewData.ModelState }" />
        <div>
            <h1 id="applications-to-unsuccessful-title" class="govuk-heading-xl govuk-!-margin-bottom-6">
                Do you want to make this @applicantsText unsuccessful?
            </h1>
            <govuk-inset>
                <div id="applications-to-unsuccessful-listing" class="govuk-!-margin-bottom-6">
                    @foreach (VacancyApplication vacancyApplication in Model.VacancyApplicationsToUnsuccessful)
                    {
                        <div>
                            @vacancyApplication.CandidateName: @vacancyApplication.GetFriendlyId()
                        </div>
                    }
                </div>
            </govuk-inset>
            <div>
                <h2 class="govuk-heading-s govuk-!-margin-bottom-5">
                    Your message to the @applicantsText
                </h2>
            </div>
            <govuk-inset>
                <p id="candidate-feedback-confirm-text" class="govuk-body">
                    @Model.CandidateFeedback
                </p>
            </govuk-inset>
        </div>
        <form method="post" id="employer-applications-to-unsuccessful-confirm-form" asp-route="@RouteNames.ApplicationReviewsToUnsuccessfulConfirmation_Post" asp-all-route-data="@Model.RouteDictionary">
            @Html.HiddenFor(model => model.CandidateFeedback)
            @Html.HiddenFor(model => model.IsMultipleApplications)
            <div esfa-validation-marker-for="ApplicationsUnsuccessfulConfirmed" class="govuk-form-group">
                <div class="govuk-form-group" das-highlight-error-for="VacancyApplicationsToUnsuccessful" error-class="govuk-form-group--error" id="employer-applications-to-unsuccessful-confirm-group">
                    <fieldset class="govuk-fieldset">
                        @for (var i = 0; i < Model.VacancyApplicationsToUnsuccessful.Count; i++)
                        {
                            <div class="govuk-!-display-none">
                                <input type="hidden" asp-for="VacancyApplicationsToUnsuccessful[i].ApplicationReviewId" />
                            </div>
                        }
                        <span esfa-validation-message-for="ApplicationsUnsuccessfulConfirmed" class="govuk-error-message"></span>
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="ApplicationsUnsuccessfulConfirmed" class="govuk-radios__input" id="employer-applications-to-unsuccessful-confirm-yes" type="radio" value="true">
                                    <label for="employer-applications-to-unsuccessful-confirm-yes" class="govuk-label govuk-radios__label">
                                        Yes, make these applications unsuccessful and notify the @applicantsText
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input asp-for="ApplicationsUnsuccessfulConfirmed" class="govuk-radios__input" id="employer-applications-to-unsuccessful-confirm-no" type="radio" value="false">
                                        <label for="employer-applications-to-unsuccessful-confirm-no" class="govuk-label govuk-radios__label">
                                            No, leave the @applicantsText unchanged
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            This action cannot be undone.
                        </strong>
                    </div>
                    <div class="govuk-button-group">
                        <button class="govuk-button submit" data-module="govuk-button" id="employer-applications-to-unsuccessful-confirm" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>