@model Esfa.Recruit.Provider.Web.ViewModels.Part1.LegalEntityAndEmployer.ConfirmLegalEntityAndEmployerViewModel;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-confirm-which-organisation";
    ViewBag.Title = "Confirm employer name and legal entity";
}

@section BackLink {
    <a asp-route="@Model.BackLinkRoute" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review" />
            
        <h1 class="govuk-heading-xl">Confirm employer</h1>
        <h2 class="govuk-heading-m">@Model.AccountLegalEntityName</h2>
        <dl class="das-definition-list das-definition-list--inline das-!-color-dark-grey govuk-!-margin-bottom-6">
            <dt class="das-definition-list__title govuk-!-font-weight-regular">Account name</dt>
            <dd class="das-definition-list__definition">@Model.EmployerName</dd>
            <dt class="das-definition-list__title govuk-!-font-weight-regular">Agreement ID</dt>
            <dd class="das-definition-list__definition">@Model.AccountLegalEntityPublicHashedId</dd>
        </dl>
        <form method="post" asp-all-route-data="@Model.RouteDictionary" asp-route="@RouteNames.ConfirmLegalEntityEmployer_Post">
            <input asp-for="EmployerName" type="hidden"/>
            <input asp-for="EmployerAccountId" type="hidden"/>
            <input asp-for="AccountLegalEntityPublicHashedId" type="hidden"/>
            <input asp-for="AccountLegalEntityName" type="hidden"/>
            <input asp-for="BackLinkRoute" type="hidden"/>
            <input asp-for="CancelLinkRoute" type="hidden"/>
            
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Is this the employer you'd like to create a vacancy for?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios"  esfa-validation-marker-for="HasConfirmedEmployer">
                        <span esfa-validation-message-for="HasConfirmedEmployer" class="govuk-error-message"></span>        
                        <div class="govuk-radios__item">
                            <input asp-for="HasConfirmedEmployer" value="true" class="govuk-radios__input" id="confirm-yes" type="radio">
                            <label for="confirm-yes" class="govuk-label govuk-radios__label">
                                Yes, use @Model.AccountLegalEntityName
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input asp-for="HasConfirmedEmployer" value="false" class="govuk-radios__input" id="confirm-no" type="radio" for="has-confirmed-no-label">
                            <label for="confirm-no" class="govuk-label govuk-radios__label">
                                No, choose a different employer
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                <a class="govuk-link" asp-route="@Model.CancelLinkRoute" asp-all-route-data="@Model.RouteDictionary">Cancel</a>
            </div>
        </form>
    </div>
</div>