@model Esfa.Recruit.Provider.Web.ViewModels.Part1.LegalEntityAndEmployer.LegalEntityandEmployerViewModel;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-which-organisation";
    ViewBag.Title = "Name of employer";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
        <a asp-route="@RouteNames.CreateVacancyStart" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
    <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.NumberOfPositions_Get" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn"  asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>    
    </esfaFeatureDisabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review" />
        
        <h1 class="govuk-heading-xl">
            Which employer do you want to create a vacancy for?
        </h1>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                        The employer I want to select is not listed
                </span>
            </summary>
            <div class="govuk-details__text">
                    <p class="govuk-body"> The employer is not listed because you do not have permission to create a vacancy for them.</p>
                    <p class="govuk-body"> You'll need to contact them to give you permission in the 'training provider permissions' section of their Apprenticeship service account.</p>
            </div>
        </details>
        
       <form method="GET" asp-route="@RouteNames.LegalEntityEmployer_Get">
        <div class="govuk-form-group">
            <label class="govuk-label" asp-for="SearchTerm">
                Search employer name or account name
            </label>
            <div class="das-search-form__group">
                <input asp-for="SearchTerm" class="govuk-input das-search-form__input" maxlength="100" title="Search" />
                <div class="das-search-form__button-wrap">
                    <button class="govuk-button das-search-form__button" type="submit">Search</button>
                </div>
            </div>
            <p class="govuk-body govuk-!-margin-top-1">
                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.LegalEntityEmployer_Get">Clear search</a>
            </p>
        </div>
      </form>
        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <table class="govuk-table das-table--condensed das-table--responsive">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Employer</th>
                        <th class="govuk-table__header" scope="col">Account Name</th>
                        <th class="govuk-table__header" scope="col">Agreement ID</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        @foreach (var organisation in @Model.Organisations)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Employer">
                                    <div>@organisation.EmployerName</div>
                                </td>
                                <td class="govuk-table__cell" data-label="Legal Entity">
                                        <div>@organisation.Name </div>
                                 </td>
                            </tr>
                        }
                    </tbody>
                    
                    <tbody class="govuk-table__body">

                </table>
            </div>
        </div>

        
        
        
        

        <form asp-route="@RouteNames.LegalEntity_Post" asp-route-ukprn="@Model.Ukprn" asp-route-vacancyId="@Model.VacancyId">
            <div esfa-validation-marker-for="SelectedOrganisationId" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-visually-hidden">Select an employer</legend>
                    <span esfa-validation-message-for="SelectedOrganisationId" class="govuk-error-message"></span>
                    <input type="hidden" asp-for="SearchTerm" />
                    <input type="hidden" asp-for="Page" />
@*                    <span asp-show="@Model.HasNoSearchResults" class="govuk-body">@Model.NoSearchResultsCaption</span>*@
 @*                   <div class="govuk-radios">
                        
                        @foreach (var organisation in Model.Organisations)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="SelectedOrganisationId" type="radio" value="@organisation.Id" class="govuk-radios__input" id="org-@organisation.Id" esfa-automation="selected-organisation-id">
                                <label for="org-@organisation.Id" class="govuk-label govuk-radios__label">@organisation.Name</label>
                            </div>
                        }
                        <input asp-show="@Model.CanOutputHiddenSelectedOrganisationIdField" type="hidden" asp-for="SelectedOrganisationId"/>
                    </div>*@
                </fieldset>
            </div>

            <nav role="navigation" aria-label="Pagination" asp-show="@Model.Pager.ShowPager" >
                <div class="das-pagination__summary">
                    @Model.Pager.Caption
                </div>
                <ul class="das-pagination">
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowPrevious">
                    <a class="das-pagination__link" asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.PreviousPageRouteData" aria-label="Previous page">Previous</a>
                    </li>
                    @for (var pageIndex = 1; pageIndex <= Model.Pager.TotalPages; pageIndex++)
                    {
                        <li class="das-pagination__item">
                            @if (pageIndex == Model.Pager.CurrentPage) {
                                <a class="das-pagination__link current" asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-current="true" aria-label="Page @pageIndex, current page">@pageIndex</a>
                            } 
                            else 
                            {
                                <a class="das-pagination__link asp-route="  asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-label="Page @pageIndex">@pageIndex</a>
                            }
                        </li>
                    }
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowNext">
                    <a class="das-pagination__link"  asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.NextPageRouteData" aria-label="Next page">Next</a>
                    </li>
                </ul>
            </nav>


            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and continue</button>
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.LegalEntity_Cancel" asp-route-wizard="@Model.PageInfo.IsWizard" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureDisabled>
            </div>
            
        </form>
    </div>
</div>
