@model Esfa.Recruit.Provider.Web.ViewModels.Part1.LegalEntityAndEmployer.LegalEntityAndEmployerViewModel;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-which-organisation";
    ViewBag.Title = "Name of employer";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
        <a asp-route="@RouteNames.CreateVacancyStart" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
    <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.NumberOfPositions_Get" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn"  asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>    
    </esfaFeatureDisabled>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review" />
        
        <h1 class="govuk-heading-xl">
            Which employer do you want to create a vacancy for?
        </h1>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                        The employer I want to select is not listed
                </span>
            </summary>
            <div class="govuk-details__text">
                    <p class="govuk-body"> The employer is not listed because you do not have permission to create a vacancy for them.</p>
                    <p class="govuk-body"> You'll need to contact them to give you permission in the 'training provider permissions' section of their Apprenticeship service account.</p>
            </div>
        </details>
        
        <form method="GET" asp-route="@RouteNames.LegalEntityEmployer_Get" asp-all-route-data="@Model.RouteDictionary">
            <div class="govuk-form-group">
                <label class="govuk-label" asp-for="SearchTerm">
                    Search employer name or account name
                </label>
                <div class="das-search-form__group">
                    <input asp-for="SearchTerm" class="govuk-input das-search-form__input" maxlength="100" title="Search" />
                    <div class="das-search-form__button-wrap">
                        <button class="govuk-button das-search-form__button" type="submit">Search</button>
                    </div>
                </div>
                <p class="govuk-body govuk-!-margin-top-1">
                    <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.LegalEntityEmployer_Get">Clear search</a>
                </p>
            </div>
        </form>
        <form method="POST" asp-route="@RouteNames.LegalEntityEmployer_Post" asp-all-route-data="@Model.RouteDictionary">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table das-table--condensed das-table--responsive" data-module="das-table-sort">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header das-table--double-arrows" scope="col">
                                <a href="#" class="govuk-link das-table__sort">Employer</a>
                            </th>
                            <th class="govuk-table__header das-table--double-arrows" scope="col">
                                <a href="#" class="govuk-link das-table__sort">Account Name</a>
                            </th>
                            <th class="govuk-table__header" scope="col">Agreement ID</th>
                            <th class="govuk-table__header" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        @foreach (var organisation in @Model.Organisations)
                        {
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Employer">
                                    <div>@organisation.EmployerName</div>
                                </td>
                                <td class="govuk-table__cell" data-label="Legal Entity">
                                    <div>@organisation.AccountLegalEntityName </div>
                                </td>
                                <td class="govuk-table__cell" data-label="Agreement Id">
                                    <div>@organisation.Id </div>
                                </td>
                                <td class="govuk-table__cell" data-label="Select Employer and Legal Entity">
                                    <button type="submit" name="selectedOrganisationId" value="@($"{organisation.Id}|{organisation.EmployerAccountId}")" id="select-@organisation.Id" class="das-button--inline-link">Select</button>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tbody class="govuk-table__body">
                    </table>
                </div>
        </form>
        
        
            <nav role="navigation" aria-label="Pagination" asp-show="@Model.Pager.ShowPager" >
                <div class="das-pagination__summary">
                    @Model.Pager.Caption
                </div>
                <ul class="das-pagination">
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowPrevious">
                    <a class="das-pagination__link" asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.PreviousPageRouteData" aria-label="Previous page">Previous</a>
                    </li>
                    @for (var pageIndex = 1; pageIndex <= Model.Pager.TotalPages; pageIndex++)
                    {
                        <li class="das-pagination__item">
                            @if (pageIndex == Model.Pager.CurrentPage) {
                                <a class="das-pagination__link current" asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-current="true" aria-label="Page @pageIndex, current page">@pageIndex</a>
                            } 
                            else 
                            {
                                <a class="das-pagination__link asp-route="  asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.GetRouteData(pageIndex)" aria-label="Page @pageIndex">@pageIndex</a>
                            }
                        </li>
                    }
                    <li class="das-pagination__item" asp-show="@Model.Pager.ShowNext">
                    <a class="das-pagination__link"  asp-route="@Model.Pager.RouteName" asp-all-route-data="@Model.Pager.NextPageRouteData" aria-label="Next page">Next</a>
                    </li>
                </ul>
            </nav>

    </div>
</div>
