@model Esfa.Recruit.Employer.Web.ViewModels.CloseViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
            @Model.Title
            <span class="govuk-caption-xl">VAC<span>@Model.VacancyReference</span>
        </h1>
        <partial name=@PartialNames.ValidationSummary model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />

        <div class="panel panel-border-wide govuk-!-margin-bottom-6 close-vacancy-info">
            <h2 class="bold govuk-heading-m govuk-!-margin-top-0">Closing a vacancy</h2>
            <p>By continuing with this action you will be closing this vacancy to further applications on Find an apprenticeship.</p>
            <p>It may take up to an hour to take effect on Find an apprenticeship.</p>
            <p><span class="govuk-!-font-weight-bold">This action cannot be undone</span>.</p>
        </div>
        <form asp-route="@RouteNames.CloseVacancy_Post">
            <legend class="form-label govuk-!-margin-top-6 govuk-!-margin-bottom-6">Do you want to close this vacancy?</legend>
            <div esfa-validation-marker-for="ConfirmClose" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <span esfa-validation-message-for="ConfirmClose" class="govuk-error-message"></span>
                    <div class="multiple-choice">
                        <input asp-for="@Model.ConfirmClose" type="radio" value="true" class="govuk-radios__input" id="close-yes" />
                        <label class="block-label selection-button-radio" for="close-yes">Yes, close this vacancy now</label>
                    </div>
                    <div class="multiple-choice">
                        <input asp-for="@Model.ConfirmClose" type="radio" value="false" class="govuk-radios__input" id="close-no" />
                        <label class="block-label selection-button-radio" for="close-no">No, take me back to manage vacancy</label>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <input type="submit" value="Continue" class="govuk-button" />
            </div>
        </form>
    </div>
</div>