@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Title.TitleViewModel
@inject ManageApprenticeshipsLinkHelper _externalLinksHelper;
@{
    ViewBag.Vpv = "/recruitment/employer/page-part1-title";
    ViewBag.Title = "What do you want to call this advert?";
    ViewBag.ZenDeskLabel = "recruit-what-do-you-want-to-call-this-vacancy";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames}' />
            <partial name="@PartialNames.ReviewSummary" for="Review" />                       
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">What do you want to call this advert?</h1>
        </div>       
    </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@Model.FormPostRouteName" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div esfa-validation-marker-for="Title" class="govuk-form-group">
                <p asp-hide="Model.ReferredFromSavedFavourites" class="govuk-body">
                    To make sure your advert appears in search results, use a title that relates to the apprenticeship training.
                </p>
                <p asp-show="Model.ReferredFromSavedFavourites" class="govuk-body">
                    To make sure your advert appears in search results, use a title that relates to the <span class="govuk-!-font-weight-bold">@Model.TrainingTitle</span>.
                </p>
                <span class="govuk-hint">You must include the word ‘apprentice’ or ‘apprenticeship’.</span>
                <span esfa-validation-message-for="Title" class="govuk-error-message"></span>
                <input asp-for="Title" class="govuk-input character-count" type="text" data-val-length-max="100" />
                <div>
                    <span class="govuk-body maxchar-count">100</span>
                    <span class="govuk-body maxchar-text"> characters remaining</span>
                </div>
            </div>
            <button type="submit" class="govuk-button save-button">@Model.PageInfo.SubmitButtonText</button>
            <div class="govuk-body">
                <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.TitleSection" class="govuk-link">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                    <span asp-hide="Model.ReferredFromSavedFavourites">
                        <a asp-show="@Model.PageInfo.IsWizard" href="@Model.CancelLinkRoute" class="govuk-link">Cancel</a>
                        <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.TitleSection" class="govuk-link">Cancel</a>
                    </span>
                    <span asp-show="Model.ReferredFromSavedFavourites">
                        <a asp-show="@Model.PageInfo.IsWizard" href="@Model.CancelLinkRoute" class="govuk-link" esfa-automation="cancel-link">Cancel</a>
                        <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancies_Get" class="govuk-link">Cancel</a>
                    </span>    
                </esfaFeatureDisabled>
                
            </div>
        </form>
    </div>
</div>
