@using Esfa.Recruit.Shared.Web.Mappers
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Title.TitleViewModel
@inject ManageApprenticeshipsLinkHelper _externalLinksHelper;
@{
    ViewBag.Vpv = "/recruitment/employer/page-part1-title";
    ViewBag.Title = "What do you want to call this advert?";
    ViewBag.ZenDeskLabel = "recruit-what-do-you-want-to-call-this-vacancy";
}

@section BackLink {
    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    @if (Model.VacancyId != null)
    {
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.EmployerTaskListGet" asp-all-route-data="@Model.RouteDictionary" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    }
    else
    {
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-wizard="@Model.PageInfo.IsWizard" esfa-automation="link-back" class="govuk-back-link">Back</a>
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames}' />
        <partial name="@PartialNames.ReviewSummary" for="Review" />                       
  
        <form asp-route="@Model.FormPostRouteName" asp-route-employerAccountId="@Model.EmployerAccountId" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="100">
                <div class="govuk-form-group" esfa-validation-marker-for="Title">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" asp-for="Title">
                        What do you want to call this advert?
                        </label>
                    </h1>
                    <p asp-hide="Model.ReferredFromSavedFavourites" class="govuk-body">
                        To make sure your advert appears in search results, use a title that relates to the apprenticeship training.
                    </p>
                    <p asp-show="Model.ReferredFromSavedFavourites" class="govuk-body">
                        To make sure your advert appears in search results, use a title that relates to the <span class="govuk-!-font-weight-bold">@Model.TrainingTitle</span>.
                    </p>
                    <div id="Title-hint" class="govuk-hint">
                        You must include the word ‘apprentice’ or ‘apprenticeship’.
                    </div>
                    <span esfa-validation-message-for="Title" class="govuk-error-message"></span>
                    <input asp-for="Title" class="govuk-input govuk-js-character-count" type="text"  aria-describedby="Title-info Title-hint" />
                </div>
                <div id="Title-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                    You can enter up to 100 characters
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button">@Model.PageInfo.SubmitButtonText</button>
                <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>
