@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Title.TitleViewModel

<div class="grid-row">
    <div class="column-full">
        <div class="info-summary highlight-summary">
            <h3 class="heading-medium no-top-margin">Short vacancy summary</h3>
            Apprentice candidates will see your vacancy in a search along with vacancies from other employers. This is your
            opportunity to make your vacancy attract the best candidates
        </div>
    </div>
</div>


<div class="grid-row">
    <div class="column-full">
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames}'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <div class="todo">
            <form asp-route="@Model.FormPostRouteName" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
                <div esfa-validation-marker-for="Title" class="form-group">
                    <label asp-for="Title" class="form-label-bold">
                        What do you want to call this vacancy?
                        <span class="form-hint">For example, Software developer apprenticeship. The vacancy title must include the word apprentice or apprenticeship.</span>
                    </label>
                    <span esfa-validation-message-for="Title" class="error-message"></span>
                    <input asp-for="Title" class="form-control-3-4 form-control character-count" type="text" data-val-length-max="100"/>
                    <br>
                    <span class="maxchar-count">100</span>
                    <span class="maxchar-text"> characters remaining</span>
                </div>
                <div esfa-validation-marker-for="NumberOfPositions" class="form-group">
                    <label asp-for="NumberOfPositions" class="form-label-bold">How many positions do you have for this apprenticeship?</label>
                    <span esfa-validation-message-for="NumberOfPositions" class="error-message"></span>
                    <input asp-for="NumberOfPositions" class="form-control form-control-1-8" type="number" min="1"/>
                </div>
                <button type="submit" class="button save-button">@Model.PageInfo.SubmitButtonText</button>

                <a asp-condition="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Index_Get" class="button-link">Cancel</a>
                <a asp-condition="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.TitleSection" class="button-link">Cancel</a>
            </form>
        </div>
    </div>
</div>