@model Esfa.Recruit.Employer.Web.ViewModels.Dashboard.VacancyCardViewModel
<div class="govuk-grid-column-one-third">
    <a asp-route="@Model.RouteName"
       asp-route-employerAccountId="@Model.EmployerAccountId"
       asp-route-filter="@Model.Filter"
       class="app-card">
        <div class="app-card__content">
            <h3 class="govuk-heading-m app-card__heading">
                <span class="app-card__stat">@Model.Count</span>
                <span class="app-card__heading-text">@Model.HeadingText</span>
            </h3>
            <p class="govuk-body app-card__description">
                @Model.Description
            </p>
        </div>
    </a>
</div>