@model Esfa.Recruit.Employer.Web.ViewModels.Dashboard.VacancyCardViewModel
<div class="govuk-grid-column-one-third">
    <div class="app-card">
        <div class="app-card__content">
            <h3 class="govuk-heading-m app-card__heading">
                <span class="app-card__stat">@Model.Count</span>
                <a asp-route="@Model.RouteName"
                   asp-route-employerAccountId="@Model.EmployerAccountId"
                   asp-route-filter="@Model.Filter"
                   class="govuk-link govuk-link--no-visited-state">
                    @Model.HeadingText
                </a>
            </h3>
            <p class="govuk-body app-card__description">
                @Model.Description
            </p>
            @if (Model.Tasks?.Any(t => t.Show) == true)
            {
                <ul class="govuk-list app-card__tasks">
                    @foreach (var task in Model.Tasks.Where(t => t.Show))
                    {
                        <li>
                            <a class="govuk-link ga-track-anchor-click govuk-link--no-visited-state" data-ga-event-category="link - click"
                               asp-route="@Model.RouteName"
                               asp-route-employerAccountId="@Model.EmployerAccountId"
                               asp-route-filter="@task.Filter">
                                @task.Text
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>