@using Esfa.Recruit.QA.Web.Configuration;

@functions
{
    public string GetTitle()
    {
        const string defaultTitle = "QA Vacancies";
        if (ViewBag.Title != null)
            return $"{defaultTitle} | {ViewBag.Title}";

        return defaultTitle;
    }
}

<!DOCTYPE html>
<html lang="en" class="govuk-template app-html-class">

<head>
    <meta charset="utf-8" />
    <title>@GetTitle()</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- TODO: LWA - Need a different favicon -->
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="blue">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-icon-180.png">
    <link href="/css/govuk-frontend.min.css" rel="stylesheet" />
    <meta property="og:image" content="/assets/images/govuk-opengraph-image.png">
    <link asp-append-version="true" rel="stylesheet" media="screen" href="/css/application.css" />
    <script src="@Url.Content("/js/jquery.min.js")"></script>
</head>

<body class="govuk-template__body">
<script nws-csp-add-nonce="true">document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

<div asp-show="@ViewContext.ViewData[ViewDataKeys.CanShowOutageMessage] as bool?" id="global-outage-message" class="global-message">
    <p>@ViewContext.ViewData[ViewDataKeys.PlannedOutageMessage]</p>
    <form asp-route="@RouteNames.DismissOutageMessage_Post" novalidate>
        <input type="hidden" id="returnUrl" name="returnUrl" value="@ViewContext.HttpContext.Request.Path"/>
        <button type="submit" class="govuk-button-fake-link">Dismiss</button>
    </form>
</div>


<div class="app-cookie-banner js-cookie-banner">
    <p class="govuk-width-container">GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>

<header class="govuk-header " role="banner" data-module="header">
    <div class="govuk-header__container govuk-width-container">

        <div class="govuk-header__logo">
            <a href="https://www.gov.uk/" title="Go to the GOV.UK homepage" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">


                </span>
            </a>
        </div>

        <div class="govuk-header__content">
            <a href="/" class="govuk-header__link govuk-header__service-name">Apprenticeship service vacancy QA</a>

            @if (Context.User.Identity.IsAuthenticated)
            {
                <nav>
                    <ul id="navigation" class="govuk-header__navigation sign-out" aria-label="Top Level Navigation">
                        <li class="govuk-header__navigation-item">
                            <a href="~/signout" class="govuk-header__link" esfa-automation="sign-out">Sign out</a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</header>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        @RenderBody()
    </main>
</div>

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container ">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/service/privacy">Privacy and cookies</a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        Built by the <a href="http://gov.uk/sfa" target="_blank" class="govuk-footer__link">Education and Skills Funding Agency</a>
                    </li>
                </ul>
                <svg role="presentation" focusable="false" class="govuk-footer__licence-logo" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 483.2 195.7" height="17" width="41">
                    <path fill="currentColor" d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145"/>
                </svg>
                <span class="govuk-footer__licence-description">
                    All content is available under the
                    <a class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                </span>
            </div>
        </div>
    </div>
</footer>
<script src="/js/govuk-frontend.min.js" type="module"></script>
<script asp-append-version="true" src="~/js/application.js"></script>
<script type="module" nws-csp-add-nonce="true">
        import { initAll } from '/js/govuk-frontend.min.js'
        initAll()
    </script>
@await RenderSectionAsync("FooterJS", required: false)
</body>
</html>