@model ReviewViewModel

<div class="govuk-grid-row review-header-table">
    <div class="govuk-grid-column-one-quarter review-header-table-cell" >
        <h2 asp-show="@Model.IsResubmission" class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Re-submitted date</h2>
        <h2 asp-show="@Model.IsFirstSubmission" class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Submitted date</h2>
        <p class="govuk-body">@Model.SubmittedDateTime</p>
    </div>
    <div class="govuk-grid-column-one-half review-header-table-cell review-header-table-cell__border-left">
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">Submitted by</h2>
        <p asp-show="@Model.IsEmployerVacancy" class="govuk-body govuk-!-margin-bottom-0">
            @Model.SubmittedByName for @Model.EmployerName (employer)            
        </p>
        <p asp-show="@Model.IsProviderVacancy" class="govuk-body govuk-!-margin-bottom-0">
            @Model.SubmittedByName of @Model.ProviderName (provider) for @Model.EmployerName (employer)                       
        </p>
        <p class="break-word govuk-body">
            <a href="@Model.SubmittedByEmail" class="govuk-link">@Model.SubmittedByEmail</a>
        </p> 
    </div>
    <div class="govuk-grid-column-one-quarter review-header-table-cell review-header-table-cell__border-left">
        <h2 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-1">User history</h2>
        <p asp-show="@Model.HasNotPreviouslySubmitted"  class="govuk-body">This is the first vacancy posted by this user.</p>
        <p asp-show="@Model.HasPreviouslySubmitted" class="govuk-body govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold das-user-history-count">@Model.VacancyReviewsApprovedCount</span> Reviewed vacancies</p>
        <p asp-show="@Model.HasPreviouslySubmitted" class="govuk-body"><span class="govuk-!-font-weight-bold das-user-history-count">@Model.VacancyReviewsApprovedFirstTimeCount</span> Passed QA first time</p> 
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">