@model ReviewViewModel

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Submitted by</h2>
        <div>@Model.SubmittedByName</div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">Email</h2>
        <div class="break-word">
            <a href="@Model.SubmittedByEmail">@Model.SubmittedByEmail</a>
        </div>    
    </div>
    <div class="govuk-grid-column-one-quarter">
        <h2 class="govuk-heading-s">User history</h2>
        <div asp-show="@Model.HasPreviouslySubmitted">
            @Model.VacancyReviewsApprovedCount vacancies previously reviewed. @Model.VacancyReviewsApprovedFirstTimeCount passed QA first time.
        </div>
        <div asp-show="@Model.HasNotPreviouslySubmitted">This is the first vacancy posted by this user.</div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <h2 asp-show="@Model.IsResubmission" class="govuk-heading-s">Re-submitted date</h2>
        <h2 asp-show="@Model.IsFirstSubmission" class="govuk-heading-s">Submitted date</h2>
        <div>@Model.SubmittedDateTime</div>
    </div>
</div>