@model ReviewViewModel

<div class="grid-row">
    <div class="column-one-quarter">
        <h2 class="heading-small">Submitted by</h2>
        <div>@Model.SubmittedByName</div>
    </div>
    <div class="column-one-quarter">
        <h2 class="heading-small">Email</h2>
        <div class="break-word">
            <a href="@Model.SubmittedByEmail">@Model.SubmittedByEmail</a>
        </div>    
    </div>
    <div class="column-one-quarter">
        <h2 class="heading-small">User history</h2>
        <div asp-condition="@Model.HasPreviouslySubmitted">
            @Model.VacancyReviewsApprovedCount vacancies previously reviewed. @Model.VacancyReviewsApprovedFirstTimeCount passed QA first time.
        </div>
        <div asp-condition="@Model.HasNotPreviouslySubmitted">This is the first vacancy posted by this user.</div>
    </div>
    <div class="column-one-quarter">
        <h2 asp-condition="@Model.IsResubmission" class="heading-small">Re-submitted date</h2>
        <h2 asp-condition="@Model.IsFirstSubmission" class="heading-small">Submitted date</h2>
        <div>@Model.SubmittedDateTime</div>
    </div>
</div>