@model Esfa.Recruit.Employer.Web.ViewModels.ConsiderationsViewModel
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part2-considerations";
    ViewBag.Title = "What else would you like the applicant to consider? (optional)";
    ViewBag.ZenDeskLabel = "recruit-what-else-would-you-like-the-applicant-to-consider";
}

@section BackLink {
    <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
        <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Qualifications_Get" esfa-automation="link-back" class="govuk-back-link">Back</a>
        <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="link-back" class="govuk-back-link">Back</a>
    </esfaFeatureEnabled>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <span class="govuk-caption-l">@Model.Title</span>
        <form asp-route="@RouteNames.Considerations_Post">
            <div esfa-validation-marker-for="ThingsToConsider" class="govuk-form-group">
                <label asp-for="ThingsToConsider" class="govuk-visually-hidden">Things to consider (optional)</label>
                <span class="govuk-hint">For example, if the vacancy will involve working outdoors or lifting heavy objects.</span>
                <span esfa-validation-message-for="ThingsToConsider" class="govuk-error-message"></span>
                <textarea asp-for="ThingsToConsider" class="govuk-textarea character-count" rows="5" data-val-length-max="350"></textarea>
                <span class="govuk-hint">You can enter up to 350 characters</span>
            </div>
            <div class="govuk-button-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="govuk-button save-button"/>

                <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                    <a asp-show="@(!Model.IsTaskListCompleted)" asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Cancel</a>
                    <a asp-show="@Model.IsTaskListCompleted" asp-route="@RouteNames.EmployerCheckYourAnswersGet" esfa-automation="cancel" class="govuk-link">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                    <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="govuk-link">Cancel</a>
                </esfaFeatureDisabled>

            </div>
        </form>
    </div>
</div>