@model Esfa.Recruit.Employer.Web.ViewModels.ConsiderationsViewModel
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge small-bottom-margin">@Model.Title</h1>
        <hr>
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState }' />

        <partial name="@PartialNames.ReviewSummary" for="Review" />

        <form asp-route="@RouteNames.Considerations_Post">
            <div esfa-validation-marker-for="ThingsToConsider" class="form-group">
                <label asp-for="ThingsToConsider" class="form-label-bold">Things to consider (optional)</label>
                <span class="form-hint">For example, if the vacancy will involve working outdoors, or lifting heavy objects</span>
                <span esfa-validation-message-for="ThingsToConsider" class="error-message"></span>
                <textarea asp-for="ThingsToConsider" class="form-control form-control-3-4 character-count" rows="5" data-val-length-max="350"></textarea>
                <span class="maxchar-count">350</span>
                <span class="maxchar-text"> characters remaining</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save and continue" esfa-automation="btn-continue" class="button save-button" />
                <a asp-route="@RouteNames.Vacancy_Preview_Get" esfa-automation="link-cancel" class="button-link">Cancel</a>
            </div>
        </form>
    </div>
</div>