@using Esfa.Recruit.Shared.Web.Mappers
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Employer.Web.ViewModels.Part1.Wage.WageViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks
@{ 
    ViewBag.Vpv = "/recruitment/employer/page-part1-wage";
    ViewBag.Title = "How much would you like to pay the apprentice?";
    ViewBag.ZenDeskLabel = "recruit-how-much-would-you-like-to-pay-the-apprentice";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Duration_Get" esfa-automation="link-back" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-6">Back</a>

        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>

        <partial name="@PartialNames.ReviewSummary" for="Review"/>

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">How much would you like to pay the apprentice?</h1>

        <form asp-route="@RouteNames.Wage_Post" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            
            <div esfa-validation-marker-for="WageType" class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-body">
                        Pay will show as a yearly figure on your advert.  
                        <a href="@externalLinks.Value.NationalMinimumWageRates" rel="noopener" target="_blank" class="govuk-link">View the​ ​National Minimum Wage for apprentices (opens in a new tab or window)​</a>.
                    </div>
                    
                    <span esfa-validation-message-for="WageType" class="govuk-error-message"></span>
                    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                        <div class="govuk-radios__item">
                            <input asp-for="WageType" value="@WageType.NationalMinimumWage" type="radio" class="govuk-radios__input" id="wage-type-national-minimum-wage"  data-aria-controls="wage-type-national-minimum-wage-panel">
                            <label for="wage-type-national-minimum-wage" class="govuk-label govuk-radios__label">National Minimum Wage</label>
                        </div>
                        <div id="wage-type-national-minimum-wage-panel" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                            <div class="govuk-form-group">
                                <p class="govuk-body">
                                    <span class="govuk-hint">
                                        From @Model.MinimumWageStartFrom, the National Minimum Wage is between @Model.NationalMinimumWageLowerBoundHourly and @Model.NationalMinimumWageUpperBoundHourly an hour, depending on the candidate's age.
                                        <br><br>
                                        On the advert, this will be displayed as a yearly wage of @Model.NationalMinimumWageYearly.
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input asp-for="WageType" value="@WageType.NationalMinimumWageForApprentices" type="radio" class="govuk-radios__input" id="wage-type-national-minimum-wage-for-apprentices"  data-aria-controls="wage-type-national-minimum-wage-for-apprentices-panel">
                            <label for="wage-type-national-minimum-wage-for-apprentices" class="govuk-label govuk-radios__label">National Minimum Wage for apprentices</label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="wage-type-national-minimum-wage-for-apprentices-panel">
                            <div class="govuk-form-group">
                                <p class="govuk-body">
                                    <span class="govuk-hint">
                                        From @Model.MinimumWageStartFrom, the National Minimum Wage for apprentices is @Model.ApprenticeshipMinimumWageHourly an hour.<br><br>
                                        On the advert, this will be displayed as a yearly wage of @Model.ApprenticeshipMinimumWageYearly.
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input asp-for="WageType" value="@WageType.FixedWage" type="radio" class="govuk-radios__input" id="wage-type-fixed" data-aria-controls="custom-wage-fixed-panel">
                            <label for="wage-type-fixed" class="govuk-label govuk-radios__label">Set wage yourself</label>
                        </div>
                        <div id="custom-wage-fixed-panel" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                            <fieldset class="govuk-fieldset">
                                <div esfa-validation-marker-for="FixedWageYearlyAmount" class="govuk-form-group">
                                    <label asp-for="FixedWageYearlyAmount" class="govuk-visually-hidden">Yearly wage</label>
                                    <p class="govuk-body govuk-hint">
                                        This must be more than the <a href="@externalLinks.Value.NationalMinimumWageRates" rel="noopener" target="_blank" class="govuk-link">National Minimum Wage for apprentices (opens in a new tab or window)​</a>.
                                    </p>
                                    <p class="govuk-body govuk-hint">
                                        From @Model.MinimumWageStartFrom, the National Minimum Wage for apprentices is @Model.ApprenticeshipMinimumWageHourly an hour.<br /><br />
                                        Based on @Model.WeeklyHours working hours a week, you'll need to pay a yearly wage of at least @Model.ApprenticeshipMinimumWageYearly.
                                    </p>
                                    <span esfa-validation-message-for="FixedWageYearlyAmount" class="govuk-error-message"></span>
                                    <input asp-for="FixedWageYearlyAmount" class="govuk-input govuk-!-width-one-quarter" type="text">
                                    <span class="govuk-body">yearly</span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-character-count">
                <div esfa-validation-marker-for="WageAdditionalInformation" class="govuk-form-group">
                    <label asp-for="WageAdditionalInformation" class="govuk-label govuk-!-font-weight-bold">Extra information about pay (optional)</label>
                    <span class="govuk-hint">For example, bonus schemes, performance increases or benefits</span>
                    <span esfa-validation-message-for="WageAdditionalInformation" class="govuk-error-message"></span>
                    <textarea asp-for="WageAdditionalInformation" class="govuk-textarea character-count" rows="5" data-val-length-max="250"></textarea>
                    <span class="govuk-body">You have </span>
                    <span class="govuk-body maxchar-count">250</span>
                    <span class="govuk-body maxchar-text"> characters remaining</span>
                </div>
            </div>

            <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">@Model.PageInfo.SubmitButtonText</button>
            <div class="govuk-body">
                <esfaFeatureEnabled name="@FeatureNames.EmployerTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Dashboard_Get" class="govuk-link">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.EmployerCheckYourAnswersGet" class="govuk-link">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.EmployerTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" class="govuk-link">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-fragment="@Anchors.ApprenticeshipSummarySection" class="govuk-link">Cancel</a>
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>