@using Esfa.Recruit.Shared.Web.Mappers
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Training.TraineeSectorViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-sector";
    ViewBag.Title = "Select the traineeship sector";
}

@section BackLink {
    @if (Model.HasMoreThanOneLegalEntity)
    {
        <a asp-route="@RouteNames.LegalEntity_Get"  asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>    
    }
    else
    {
        <a asp-route="@RouteNames.Title_Get"  asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Back</a>
    }
    
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>
        <span class="govuk-caption-xl">@Model.Title</span>
        <form asp-route="@RouteNames.TraineeSector_Post" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div esfa-validation-marker-for="SelectedRouteId" class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" asp-for="SelectedRouteId">
                        Select the traineeship sector
                    </label>
                </h1>
                <span esfa-validation-message-for="SelectedRouteId" class="govuk-error-message"></span>
                <div class="govuk-!-margin-bottom-2">
                    <select asp-for="SelectedRouteId" class="govuk-select">
                        <option value="-1">Select an option</option>
                        @foreach (var route in Model.Routes)
                        {
                            <option value="@route.Id">@route.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and continue</button>
                <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
            </div>
        </form>
    </div>
</div>