@using Esfa.Recruit.Shared.Web.Mappers
@using Microsoft.Extensions.Options
@model Esfa.Recruit.Provider.Web.ViewModels.Part1.Training.TraineeViewModel
@inject IOptions<ExternalLinksConfiguration> externalLinks;

@{
    ViewBag.GaData.Vpv = "/recruitment/provider/page-create-vacancy-sector";
    ViewBag.Title = "Select the traineeship sector";
}

@section BackLink {
    <a href="#" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
        <partial name="@PartialNames.ValidationSummary" model='new ValidationSummaryViewModel { ModelState = ViewData.ModelState, OrderedFieldNames = Model.OrderedFieldNames }'/>
        <partial name="@PartialNames.ReviewSummary" for="Review"/>
        <span class="govuk-caption-xl">@Model.Title</span>
        <form asp-route="@RouteNames.TraineeSector_Post" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn" asp-route-wizard="@Model.PageInfo.IsWizard" novalidate>
            <div esfa-validation-marker-for="SelectedRouteId" class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" asp-for="SelectedRouteId">
                        Select the traineeship sector
                    </label>
                </h1>
                <span esfa-validation-message-for="SelectedRouteId" class="govuk-error-message"></span>
                <div class="govuk-!-margin-bottom-2">
                    <select asp-for="SelectedRouteId" class="govuk-select">
                        <option value="">Please select</option>
                        @foreach (var programme in Model.Routes)
                        {
                            <option value="@programme.Id">@programme.Name</option>
                        }
                    </select>
                </div>
                <p class="govuk-body">
                    <a asp-route="@RouteNames.TraineeSector_Get" asp-route-clear="true" asp-route-vacancyId="@Model.VacancyId" asp-route-ukprn="@Model.Ukprn"  asp-route-wizard="@Model.PageInfo.IsWizard" class="govuk-link govuk-link--no-visited-state">Clear search</a>
                </p>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button save-button" esfa-automation="continue-button">Save and Continue</button>
                <esfaFeatureEnabled name="@FeatureNames.ProviderTaskList">
                    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-cancel" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureEnabled>
                <esfaFeatureDisabled name="@FeatureNames.ProviderTaskList">
                    <a asp-show="@Model.PageInfo.IsWizard" asp-route="@RouteNames.Vacancies_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                    <a asp-show="@Model.PageInfo.IsNotWizard" asp-route="@RouteNames.Vacancy_Preview_Get" asp-all-route-data="@Model.RouteDictionary" asp-fragment="@Anchors.TrainingProviderSection" class="govuk-link govuk-link--no-visited-state">Cancel</a>
                </esfaFeatureDisabled>
            </div>
        </form>
    </div>
</div>