@model ApprovedVacancyViewModel
<div class="grid-row">
    <div class="column-full">
        <main id="content" role="main">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge" id="vacancy-header">
                        @Model.Title
                        <span class="heading-secondary">@Model.EmployerName</span>
                    </h1>
                </div>
                <div class="column-one-third">
                    <div class="small-top-margin">Approved on @Model.ApprovedDate</div>
                </div>
            </div>

            @Html.Partial(PartialNames.NonEditableVacancyDisplay, Model)

            <div class="form-group inline">
                <div class="form-group small-top-margin">
                    <a asp-route="@RouteNames.Dashboard_Index_Get" asp-route-statusFilter="@Context.Request.Cookies[CookieNames.VacancyStatusFilter]" class="button">Return to dashboard</a>
                </div>
            </div>
        </main>
    </div>
</div>