@model Esfa.Recruit.Employer.Web.ViewModels.VacancyManage.ManageVacancyViewModel
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <div asp-show="@Model.CanShowApplicationReviewStatusHeader" class="info-summary govuk-!-margin-bottom-0">
            <p class="govuk-body">
                @Model.ApplicationReviewStatusHeaderInfoMessage
            </p>
        </div>
        <h3 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6" id="vacancy-header">
            Manage vacancy
        </h3>
        <div asp-show="@Model.HasVacancyClosedInfoMessage" class="info-summary govuk-!-margin-bottom-0">
            <p class="govuk-body">@Model.VacancyClosedInfoMessage</p>
            <p class="govuk-body">The vacancy will be unpublished from the Find an apprenticeship service within the next hour.</p>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Status</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">@Model.Status.GetDisplayName()</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Vacancy title</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">@Model.Title</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Vacancy ref</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body"><span>VAC</span>@Model.VacancyReference</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Closing date</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">@Model.ClosingDate</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Possible start date</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">@Model.PossibleStartDate</span>
    </div>
</div>
<div asp-show="@Model.IsDisabilityConfident" class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-6">Disability confident</h3>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-body">Yes</span>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <ul class="govuk-list action-links">
            <li asp-show="@Model.CanShowEditVacancyLink"><a asp-route="@RouteNames.VacancyEdit_Get" class="govuk-link">Edit vacancy</a></li>
            <li asp-show="@Model.CanShowCloseVacancyLink"><a asp-route="@RouteNames.CloseVacancy_Get" class="govuk-link">Close vacancy</a></li>
            <li><a asp-route="@RouteNames.DisplayFullVacancy_Get" target="_blank" class="govuk-link">View vacancy</a></li>
        </ul>
    </div>
</div>
<div asp-show="@Model.IsApplyThroughFaaVacancy" class="govuk-grid-row">
    <div class="govuk-grid-column-full">       
        <h2 class="govuk-heading-l govuk-!-margin-top-6">Manage applications</h2>
        <partial asp-show="@Model.HasApplications" name="@PartialNames.VacancyApplicationsTable" for="Applications" />
        <p asp-show="@Model.HasNoApplications" class="govuk-body govuk-!-margin-bottom-0">Candidate applications for this apprenticeship will appear here.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-!-margin-top-6">
            <a asp-route="@RouteNames.Dashboard_Index_Get" class="govuk-button">Return to dashboard</a>
        </div>
    </div>
</div>