@model Esfa.Recruit.Employer.Web.ViewModels.VacancyManage.ManageVacancyViewModel
@{
    ViewBag.Vpv = "/recruitment/employer/page-manage-vacancy";
    ViewBag.Title = "Manage advert";
}

@section BackLink {
    <a asp-route="@RouteNames.Vacancies_Get" asp-route-employerAccountId="@Model.EmployerAccountId" class="govuk-back-link">Back</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div asp-show="Model.HasVacancyClosedInfoMessage" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                    @Model.VacancyClosedInfoMessage
                </h3>
                <p class="govuk-body">The advert will be unpublished from the Find an apprenticeship service within the next hour.</p>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
        <div asp-show="@Model.CanShowApplicationReviewStatusHeader" class="das-notification das-notification--information">
            <p class="das-notification__body">
                @Model.ApplicationReviewStatusHeaderInfoMessage
            </p>
        </div>
        <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6" id="vacancy-header">
            Manage advert
        </h1>
        <p asp-show="@Model.IsTransferred" class="govuk-inset-text">
            This advert was created by
            <span class="govuk-!-font-weight-bold">@Model.TransferredProviderName</span>
            and transferred to your account on @Model.TransferredOnDate
        </p>

        <p asp-show="@Model.IsWithdrawn" class="govuk-inset-text">
            This advert has issues and was closed on @Model.WithdrawnDate.
        </p>

        <p asp-show="@Model.IsClosedBlockedByQa" class="govuk-inset-text">
            This advert was closed on @Model.ClosingDate because the training provider is no longer able to manage or recruit apprentices.
        </p>
    </div>

</div>

<dl class="das-definition-list das-definition-list--table">
    <dt class="das-definition-list__title das-definition-list__title--spacer">Status</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Status.GetDisplayName()</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Advert title</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.Title</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Advert reference</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer"><span>VAC</span>@Model.VacancyReference</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Closing date</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.ClosingDate</dd>
    <dt class="das-definition-list__title das-definition-list__title--spacer">Possible start date</dt>
    <dd class="das-definition-list__definition das-definition-list__definition--spacer">@Model.PossibleStartDate</dd>

    <dt class="das-definition-list__title das-definition-list__title--spacer">Disability confident</dt>
    @if (@Model.IsDisabilityConfident)
    {
        <dd class="das-definition-list__definition das-definition-list__definition--spacer">Yes</dd>
    }
    else
    {
        <dd class="das-definition-list__definition das-definition-list__definition--spacer">No</dd>
    }
</dl>

<div class="govuk-button-group">
    <a asp-route="@RouteNames.DisplayFullVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">View advert</a>
    <a asp-show="@Model.CanClone" asp-route="@RouteNames.CloneVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Clone advert</a>
    <a asp-show="@Model.CanShowEditVacancyLink" asp-route="@RouteNames.VacancyEditDates_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Edit advert dates</a>
    <a asp-show="@Model.CanShowCloseVacancyLink" asp-route="@RouteNames.CloseVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Close advert</a>
    <a asp-show="@Model.CanShowDeleteLink" asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-link">Delete advert</a>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<div asp-show="@Model.CanShowVacancyAnalytics">
    <h2 class="govuk-heading-l govuk-!-margin-top-9">
        Advert analytics
        <span asp-show="@Model.HasAnalytics" class="govuk-caption-l">Showing stats from @Model.AnalyticsSummary.PeriodCaption</span>
    </h2>
    <p asp-show="@Model.HasAnalytics" class="govuk-body">Analytics show the total amount and the change from the previous 7 days</p>
    <p asp-hide="@Model.HasAnalytics" class="govuk-body">Data is only available for vacancies published after @Model.AnalyticsAvailableAfterApprovalDate.</p>
    <div asp-show="@Model.HasAnalytics">
        <partial asp-show="@Model.IsApplyThroughFaaVacancy" name="@RecruitPartialNames.ApplyThroughFaaVacancyAnalytics" for="AnalyticsSummary" />
        <partial asp-show="@Model.IsApplyThroughExternalApplicationSiteVacancy" name="@RecruitPartialNames.ApplyThroughExternalApplicationSiteVacancyAnalytics" for="AnalyticsSummary" />
    </div>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
</div>

<div asp-show="@Model.IsApplyThroughFaaVacancy">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">Manage applications</h2>
    <partial asp-show="@Model.HasApplications" name="@PartialNames.VacancyApplicationsTable" for="Applications" />
    <p asp-show="@Model.HasNoApplications" class="govuk-body govuk-!-margin-bottom-0">Candidate applications for this apprenticeship will appear here.</p>
</div>

