@using Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview
@using Esfa.Recruit.Vacancies.Client.Domain.Entities
@model Esfa.Recruit.Employer.Web.ViewModels.VacancyPreview.VacancyPreviewViewModel

@{ ViewBag.GaData.Vpv = "/recruitment/employer/task-list"; }

@section BackLink {
    <a asp-route="@RouteNames.Dashboard_Get" asp-all-route-data="@Model.RouteDictionary" esfa-automation="link-back" class="govuk-back-link">Return to your applications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  
        <h1 class="govuk-heading-xl">
            Create an apprenticeship advert
        </h1>
        <ol class="das-task-list">
            <li>
                <h2 class="das-task-list__section">
                    <span class="das-task-list__section-number">1. </span> 
                    <span class="das-task-list__section-heading">Advert summary</span>
                    <span class="das-task-list__section-status">
                        @if(Model.TaskListSectionOneState == VacancyTaskListSectionState.InProgress)
                        {
                            <strong class="govuk-tag govuk-tag--blue das-task-list__section-tag">In progress</strong>
                        }
                        else if (Model.TaskListSectionOneState == VacancyTaskListSectionState.Completed)
                        {
                            <strong class="govuk-tag das-task-list__section-tag">Completed</strong>    
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--grey das-task-list__section-tag">Not started</strong>
                        }
                        
                    </span>
                </h2>
                <ul class="das-task-list__items">
                    
                    <li class="das-task-list__item">
                        <span>
                            @if (Model.TaskListSectionOneState == VacancyTaskListSectionState.NotStarted)
                            {
                                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.CreateVacancy_Get" asp-all-route-data="@Model.RouteDictionary">
                                    Advert title
                                </a>
                            }
                            else
                            {
                                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Title_Get" asp-all-route-data="@Model.RouteDictionary">
                                    Advert title
                                </a>
                            }
                        </span>
                    </li>
                    @if (Model.AccountLegalEntityCount > 1)
                    {
                        <li class="das-task-list__item">
                            @if (Model.TitleSectionState == VacancyPreviewSectionState.Incomplete)
                            {
                                <span class="das-task-list__task-name">
                                    Name of organisation
                                </span>    
                            }
                            else
                            {
                                <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Employer_Get">
                                    Name of organisation
                                </a>    
                            }
                        </li>    
                    }
                    <li class="das-task-list__item">
                        @if (!Model.HasSelectedLegalEntity)
                        {
                            <span class="das-task-list__task-name">
                                Training course
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Training_Get" asp-all-route-data="@Model.RouteDictionary">
                                Training course
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.TrainingSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Training provider
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.TrainingProvider_Select_Get" asp-all-route-data="@Model.RouteDictionary">
                                Training provider
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.ProviderSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Summary of the apprenticeship
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ShortDescription_Get" asp-all-route-data="@Model.RouteDictionary">
                                Summary of the apprenticeship
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.ShortDescriptionSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Tasks and training details
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.VacancyDescription_Index_Get" asp-all-route-data="@Model.RouteDictionary">
                                Tasks and training details
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="das-task-list__section">
                    <span class="das-task-list__section-number">2. </span> 
                    <span class="das-task-list__section-heading">Employment details</span>
                    <span class="das-task-list__section-status">
                        @if(Model.TaskListSectionTwoState == VacancyTaskListSectionState.InProgress)
                        {
                            <strong class="govuk-tag govuk-tag--blue das-task-list__section-tag">In progress</strong>
                        }
                        else if (Model.TaskListSectionTwoState == VacancyTaskListSectionState.Completed)
                        {
                            <strong class="govuk-tag das-task-list__section-tag">Completed</strong>    
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--grey das-task-list__section-tag">Not started</strong>
                        }
                    </span>
                </h2>
                <ul class="das-task-list__items">
                    <li class="das-task-list__item">
                        @if (Model.TaskListSectionOneState != VacancyTaskListSectionState.Completed)
                        {
                            <span class="das-task-list__task-name">
                                Closing and start dates
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Dates_Get" asp-all-route-data="@Model.RouteDictionary">
                                Closing and start dates
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.ClosingDateSectionState == VacancyPreviewSectionState.Incomplete || Model.PossibleStartDateSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span class="das-task-list__task-name">
                                Duration and working hours
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Duration_Get" asp-all-route-data="@Model.RouteDictionary">
                                Duration and working hours
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.ExpectedDurationSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span class="das-task-list__task-name">
                                Pay rate
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Wage_Get" asp-all-route-data="@Model.RouteDictionary">
                                Pay rate
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.WageTextSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span class="das-task-list__task-name">
                                Number of positions
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.NumberOfPositions_Get" asp-all-route-data="@Model.RouteDictionary">
                                Number of positions
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.NumberOfPositionsSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span class="das-task-list__task-name">
                                Address
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Location_Get" asp-all-route-data="@Model.RouteDictionary">
                                Address
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="das-task-list__section">
                    <span class="das-task-list__section-number">3. </span> 
                    <span class="das-task-list__section-heading">Requirements and prospects</span>
                    <span class="das-task-list__section-status">
                        @if(Model.TaskListSectionThreeState == VacancyTaskListSectionState.InProgress)
                        {
                            <strong class="govuk-tag govuk-tag--blue das-task-list__section-tag">In progress</strong>
                        }
                        else if (Model.TaskListSectionThreeState == VacancyTaskListSectionState.Completed)
                        {
                            <strong class="govuk-tag das-task-list__section-tag">Completed</strong>    
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--grey das-task-list__section-tag">Not started</strong>
                        }
                        
                    </span>
                </h2>
                <ul class="das-task-list__items">
                    <li class="das-task-list__item">
                        @if (Model.EmployerAddressSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Skills
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Skills_Get" asp-all-route-data="@Model.RouteDictionary">
                                Skills
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.SkillsSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Qualifications
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Qualifications_Get" asp-all-route-data="@Model.RouteDictionary">
                                Qualifications
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.QualificationsSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Future prospects
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.FutureProspects_Get" asp-all-route-data="@Model.RouteDictionary">
                                Future prospects
                            </a>
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.FutureProspectsSectionState == VacancyPreviewSectionState.Incomplete)
                        {
                            <span>
                                Other things to consider
                            </span>
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.Considerations_Get" asp-all-route-data="@Model.RouteDictionary">
                                Other things to consider
                            </a>
                        }
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="das-task-list__section">
                    <span class="das-task-list__section-number">4. </span> 
                    <span class="das-task-list__section-heading">About the employer</span>
                    <span class="das-task-list__section-status">
                        @if(Model.TaskListSectionFourState == VacancyTaskListSectionState.InProgress)
                        {
                            <strong class="govuk-tag govuk-tag--blue das-task-list__section-tag">In progress</strong>
                        }
                        else if (Model.TaskListSectionFourState == VacancyTaskListSectionState.Completed)
                        {
                            <strong class="govuk-tag das-task-list__section-tag">Completed</strong>    
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--grey das-task-list__section-tag">Not started</strong>
                        }
                    </span>
                </h2>
                <ul class="das-task-list__items">
                    <li class="das-task-list__item">
                        @if (Model.TaskListSectionThreeState == VacancyTaskListSectionState.Completed)
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerName_Get" asp-all-route-data="@Model.RouteDictionary">
                                Name of employer on advert
                            </a>    
                        }
                        else
                        {
                            <span>
                                Name of employer on advert
                            </span> 
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (!Model.HasSelectedEmployerNameOption)
                        {
                            <span class="das-task-list__task-name">
                                 Employer information
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.AboutEmployer_Get" asp-all-route-data="@Model.RouteDictionary">
                                 Employer information
                            </a>    
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (!Model.HasSelectedEmployerNameOption)
                        {
                            <span class="das-task-list__task-name">
                                 Contact details
                            </span>    
                        }
                        else
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerContactDetails_Get" asp-all-route-data="@Model.RouteDictionary">
                                 Contact details
                            </a>    
                        }
                    </li>
                    <li class="das-task-list__item">
                        @if (Model.HasSelectedEmployerNameOption && !Model.EmployerDescriptionRequiresEdit && Model.TaskListSectionThreeState == VacancyTaskListSectionState.Completed)
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ApplicationProcess_Get" asp-all-route-data="@Model.RouteDictionary">
                                Website for applications
                            </a>    
                               
                        }
                        else
                        {
                            <span class="das-task-list__task-name">
                                Website for applications
                            </span> 
                        }
                    </li>
                </ul>
            </li>
            <li>
                <h2 class="das-task-list__section">
                    <span class="das-task-list__section-number">5. </span> 
                    <span class="das-task-list__section-heading">Check and submit your advert</span>
                    <span class="das-task-list__section-status">
                        @if(Model.TaskListSectionFourState == VacancyTaskListSectionState.Completed)
                        {
                            <strong class="govuk-tag govuk-tag--blue das-task-list__section-tag">In progress</strong>
                        }
                        else if (Model.Status == VacancyStatus.Submitted)
                        {
                            <strong class="govuk-tag das-task-list__section-tag">Completed</strong>    
                        }
                        else
                        {
                            <strong class="govuk-tag govuk-tag--grey das-task-list__section-tag">Not started</strong>
                        }
                    </span>
                </h2>
                <ul class="das-task-list__items">
                    <li class="das-task-list__item">
                        @if (Model.TaskListSectionFourState == VacancyTaskListSectionState.Completed)
                        {
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.EmployerCheckYourAnswersGet" asp-all-route-data="@Model.RouteDictionary">
                                Check your answers and submit your advert
                            </a>   
                        }
                        else
                        {
                            <span>
                                Check your answers and submit your advert
                            </span>    
                        }
                        
                    </li>
                </ul>
            </li>
        </ol>
    </div>
</div>