@using Esfa.Recruit.Shared.Web.Domain
@using Esfa.Recruit.Shared.Web.ViewModels.TaskList
@using Esfa.Recruit.Vacancies.Client.Domain.Entities

@model VacancyTaskListViewModel

@{
    ViewBag.GaData.Vpv = "/recruitment/employer/task-list";
    var initialRoute = Model.TaskListStates.CompleteStates[TaskListItemFlags.AdvertTitle] ? RouteNames.Title_Get : RouteNames.CreateVacancy_Get;
}

@section BackLink {
    <a asp-route="@RouteNames.Dashboard_Get" asp-route-employerAccountId="@Model.EmployerAccountId" esfa-automation="link-back" class="govuk-back-link">Return to your applications</a>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Create an apprenticeship advert
        </h1>
        <ol class="das-task-list">
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(1, "Advert summary", Model.TaskListStates.SectionOneState))" />
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(true, "Advert title", initialRoute, Model.RouteDictionary))"/>
                    <partial asp-show="@(Model.AccountLegalEntityCount > 1)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.NameOfOrganisationEditable, "Name of organisation", RouteNames.Employer_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.TrainingCourseEditable, "Training course", RouteNames.Training_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.TrainingProviderEditable, "Training provider", RouteNames.TrainingProvider_Select_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.ApprenticeshipSummaryEditable, "Summary of the apprenticeship", RouteNames.ShortDescription_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.WhatWillTheyDoAtWorkEditable, "What the apprentice will do at work", RouteNames.VacancyWorkDescription_Index_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.HowWillTheyTrainEditable, "How the apprentice will train", RouteNames.VacancyHowTheApprenticeWillTrain_Index_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(2, "Employment details", Model.TaskListStates.SectionTwoState))" />
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.ClosingAndStartDatesEditable, "Closing and start dates", RouteNames.Dates_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.DurationAndWorkingHoursEditable, "Duration and working hours", RouteNames.Duration_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.PayRateAndBenefitsEditable, "Wage and company benefits", RouteNames.Wage_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.NumberOfPositionsEditable, "Number of positions", RouteNames.NumberOfPositions_Get, Model.RouteDictionary))"/>
                    <esfaFeatureEnabled name="@FeatureNames.MultipleLocations">
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.LocationsEditable, "Locations", RouteNames.MultipleLocations_Get, Model.RouteDictionary))"/>
                    </esfaFeatureEnabled>
                    <esfaFeatureDisabled name="@FeatureNames.MultipleLocations">
                        <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.LocationsEditable, "Address", RouteNames.MultipleLocations_Get, Model.RouteDictionary))"/>
                    </esfaFeatureDisabled>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(3, "Requirements and prospects", Model.TaskListStates.SectionThreeState))" />
                <ul class="das-task-list__items">
                    @* Foundation *@
                    <partial asp-show="@(Model.ApprenticeshipType is ApprenticeshipTypes.Foundation)" name="_TaskListTextItem" model="@(new TaskListTextItemViewModel("Foundation apprenticeships do not require the applicants to have specific skills or qualifications before applying."))" />
                    <partial asp-show="@(Model.ApprenticeshipType is ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Skills (not required)"))"/>
                    <partial asp-show="@(Model.ApprenticeshipType is ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Qualifications (not required)"))"/>
                    @* -------------- *@
                    
                    @* Non Foundation *@
                    <partial asp-show="@(Model.ApprenticeshipType is not ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.SkillsEditable, "Skills", RouteNames.Skills_Get, Model.RouteDictionary))"/>
                    <partial asp-show="@(Model.ApprenticeshipType is not ApprenticeshipTypes.Foundation)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.QualificationsEditable, "Qualifications", RouteNames.Qualifications_Get, Model.RouteDictionary))"/>
                    @* -------------- *@
                    
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.FutureProspectsEditable, "After this apprenticeship", RouteNames.FutureProspects_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.OtherThingsToConsiderEditable, "Other requirements", RouteNames.Considerations_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(4, "About the employer", Model.TaskListStates.SectionFourState))" />
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.NameOfEmployerOnAdvertEditable, "Name of employer on advert", RouteNames.EmployerName_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.EmployerInformationEditable, "Employer information", RouteNames.AboutEmployer_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.ContactDetailsEditable, "Contact details", RouteNames.EmployerContactDetails_Get, Model.RouteDictionary))"/>
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.WebsiteForApplicationsEditable, "Website for applications", RouteNames.ApplicationProcess_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(5, "Application questions", Model.TaskListStates.SectionFiveState))" />
                <ul class="das-task-list__items">
                    <partial asp-show="@(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)" name="_TaskListTextItem" model="@(new TaskListTextItemViewModel("You do not need to review this section because you’re using your own application website."))" />
                    <partial asp-show="@(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)" name="_TaskListItem" model="@(new DisabledTaskListItemViewModel("Application questions on Find an apprenticeship (not required)"))"/>
                    <partial asp-hide="@(Model.ApplicationMethod == ApplicationMethod.ThroughExternalApplicationSite)" name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.AdditionalQuestionsEditable, "Application questions on Find an apprenticeship", RouteNames.AdditionalQuestions_Get, Model.RouteDictionary))"/>
                </ul>
            </li>
            <li>
                <partial name="_TaskListHeader" model="@(new TaskListHeaderViewModel(6, "Check and submit your advert", Model.TaskListStates.SectionSixState))" />
                <ul class="das-task-list__items">
                    <partial name="_TaskListItem" model="@(new TaskListItemViewModel(Model.TaskListStates.CheckYourAnswersEditable, "Check your answers and submit your advert", RouteNames.EmployerCheckYourAnswersGet, Model.RouteDictionary, IsTaskList: false))"/>
                </ul>
            </li>
        </ol>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <p class="govuk-heading-s">No longer need this advert?</p>
        <a asp-route="@RouteNames.DeleteVacancy_Get" asp-all-route-data="@Model.RouteDictionary" class="govuk-button govuk-button--warning" esfa-automation="delete-button">Delete advert</a>
    </div>
</div>